<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Additional Information</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                Additional Information
            </li>
            <li class="active">
                <strong>Virtual Sensor</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div ibox title="Download & Configure virtual sensor">
        <div content-block message="Download & Configure virtual sensor" name="configure-virtual-sensor">
          <p>Virtual sensor program is designed to simulate publishing of continuous random temperature sensor data over the topic <b>sensors/temperature/data</b>. This can be useful in scenarios where it is required to test/debug some infrastructure/connections/code without use of actual sensors.</p>
          <p>The virtual sensor program has two versions, one is the <b>virtual-sensor.js</b> and another is <b>virtual-sensor-secure.js</b>. The secure version uses MQTT connection with TLS & SSL components. You can use secure version if you are using MQTT with TLS/SSL in your project.</p>
          <p>Follow the below steps to download and run virtual sensors</p>
          <p>Open a ssh terminal to your NUC gateway, at the root directory download and run virtual sensor program using the below commands</p>
          <pre><code>git clone https://github.com/SSG-DRD-IOT/virtual-sensor.git</code></pre>
          <pre><code>cd virtual-sensor</code></pre>
          <pre><code>npm install</code></pre>
          <p>
            Notice the options for the virtual sensor.
          </p>
          <pre><code>node virtual-sensor.js --help</code></pre>
          <p>
            Run the virtual sensor with --tls and --verbose enabled.
          </p>
          <pre><code>node virtual-sensor.js --tls --verbose</code></pre>
          <p>You should start seeing sensor data being published like below</p>
          <pre><code>{"sensor_id": "temperature", "value": 25, "timestamp": 1486163433176}</code></pre>
        </div>
      </div>

      <div ibox title="Subscribe to the sensor data published">
        <div content-block message="Subscribe to the sensor data published" name="configure-virtual-sensor">
          <p>Using mosquitto_sub utility we will subscribe to the data being published (using either JavaScript, Node-Red flows or Virtual Sensor program)</p>
          <p>Open another ssh terminal to your NUC gateway and give the following command:</p>
          <pre><code>mosquitto_sub -t sensors/temperature/data --cafile /etc/mosquitto/certs/server.crt -p 8883 --tls-version tlsv1</code></pre>
          <p>Note here we are listening on the secure port 8883 with the TLS version specified. If you use port 1883 it will refuse the connection</p>
          <p>You should start receiving messages as below which are getting published for the topic /sensors/temperature/data depending on whether you are using JavaScript, Node-Red or virtual-sensor-secure program to publish it</p>
          <pre><code>{"sensor_id": "temperature", "value": 25, "timestamp": 1486163433176}</code></pre>
          <p>If the sensor data is not getting published or you are facing issues check debugging options available under Additional Information->Debugging MQTT</p>
        </div>
      </div>
    </div>
  </div>
</div>
