<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel IoT Gateway Developer Hub</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Intel IoT Gateway Developer Hub</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

            <!-- Objectives -->
            <div ibox title="Objectives">
                <div content-block name="read-objectives" message="Read the Objectives">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <labels gateway windows apple/>
                    <p> The Intel® IoT Developer Hub is a web-based service running on the gateway that allows you to have a hands-on sensor-to-cloud experience in a very short time period. It has built-in tutorials to teach you about tools like the
visual programming interface called Node-RED* and the Wind River Helix App Cloud, including sample code to develop the app in the cloud.
The Intel® IoT Developer Hub provides ways to easily manage the administrative settings of the gateway.
The Intel® IoT Developer Hub lets you, as the developer, add packages and
develop your apps. When development is complete, you can save a hardened OS image onto a USB flash drive.</p>

                  <p>By the end of this module, you should be able to:</p>

                    <ul>
                        <li>Connect gateway with Helix App Cloud which is cloud based IDE</li>
                        <li>Create graphical view of Sensor data </li>
                        <li>Access repositories and manage packages on gateway</li>
                        <li>Access Gateway Administration tools and resources</li>
                        <li>Getting Familiar with Cloud Commander</li>
                    </ul>
                </div>
              </div>

<!--   Introduction to Intel IoT Dev Hub ---->
              <div ibox title="Introduction">

                  <div content-block name="intro-dev-hub" message="Introduction to Intel Iot Dev Hub">
                      <h2 class="labHidden">Introduction to Intel Iot Dev Hub</h2>
                      <p>Intel® IoT Developer Hub gives you these advantages: </p>
                  </div>
              </div>

<!--  Helix App Cloud ---->
              <div ibox title="Helix App Cloud">

                  <div content-block name="helix-app-cloud" message="Helix App Cloud">
                      <h2 class="labHidden">Helix App Cloud</h2>

                  </div>
              </div>

<!--   Package Management ---->
              <div ibox title="Package Management">

                  <div content-block name="package-management" message="Package Management">
                      <h2 class="labHidden">Download the Intel XDK Introduction</h2>

                  </div>
              </div>

  <!---   Gateway Administration Tools and Resources ---->
              <div ibox title="Gateway Administrative Tools and Resources">

                  <div content-block name="gateway-administrative-tools" message="Gateway Administrative Tools and Resources">
                      <h2 class="labHidden">Gateway Administrative Tools and Resources</h2>

                  </div>
              </div>

<!---   Cloud Commander ---->
              <div ibox title="Cloud Commander">

                  <div content-block name="cloud-commander" message="Cloud Commander">
                      <h2 class="labHidden">Cloud Commander</h2>

                  </div>
              </div>




    </div>
  </div>
</div>
