<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel IoT Gateway Developer Hub</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Intel IoT Gateway Developer Hub</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

            <!-- Objectives -->
            <div ibox title="Objectives">
                <div content-block name="read-objectives" message="Read the Objectives">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <labels gateway windows apple/>
                    <p> The Intel® IoT Developer Hub is a web-based service running on the gateway that allows you to have a hands-on sensor-to-cloud experience in a very short time period. It has built-in tutorials to teach you about tools like the
visual programming interface called Node-RED* and the Wind River Helix App Cloud, including sample code to develop the app in the cloud.
The Intel® IoT Developer Hub provides ways to easily manage the administrative settings of the gateway.
The Intel® IoT Developer Hub lets you, as the developer, add packages and
develop your apps. When development is complete, you can save a hardened OS image onto a USB flash drive.</p>

                  <p>By the end of this module, you should be able to:</p>

                    <ul>
                        <li>Connect Grove Kit sensors and actuators to your Arduino 101.</li>
                        <li>Use the JavaScript UPM libraries to control actuators and read data from sensors.</li>
                        <li>Create a NodeJS server to configure and analyze the Grove components as "edge devices" — devices triggered over a network instead of directly on the board.</li>
                    </ul>
                </div>
              </div>




    </div>
  </div>
</div>
