<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Page Overview</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li>
            <a>Labs</a>
         </li>
         <li class="active">
            <strong>Remote Management Overview</strong>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-12">
         <div ibox title="Remote Management Overview">
            <div content-block name="read-objectives" message="Read the Page Overview">
               <h2 class="labHidden">Remote Management Overview</h2>
               <p>Remote Management section is intended to demonstrate the extended power of Intel&reg; vPro technology which is an umbrella marketing term used by
                  Intel for a large collection of computer hardware technologies, including Hyperthreading, Turbo Boost 3.0, VT-x, VT-d,
                  Trusted Execution Technology (TXT), and Intel&reg; Active Management Technology (AMT).
               </p>
               <p>Why Remote Management using Intel&reg; vPro?
               <p>
               <p>Intel&reg; vPro platform is the sum of hardware, BIOS extensions and applications that deliver solutions for a robust and reliable retail applications.</p>
               <p>This section gives hands on experience to enable Intel&reg; AMT, browse through Intel&reg; vPro Environment and modes, how to manage remote systems using a desktop tool like Intel&reg; Mesh Commander and open source cloud based solution like Mesh Central.</p>
            </div>
         </div>
      </div>
   </div>
</div>
