<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>The Helix Device Cloud</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>The Helix Device Cloud</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">

      <div ibox title="Objectives">
        <p>Install Helix Device Cloud (HDC) on your NUC platform</p>
        <p>Learn how HDC can be used as a device management platform for Intel NUC Gateway</p>
        <p>Go through some basic features of HDC</>
        <p>Communicate and control your NUC gateway from your HDC login</p>
        <div content-block name="" message="Read the Objectives">
          <h2 class="labHidden">Read the Objectives</h2>
          <labels gateway window apple linux/>

              <!-- <div>
                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// The trigger condition function is a predicate function which returns a TRUE or FALSE.
  (
    function( temperature ) {
      return stash["temperature"] &gt; 27;
    }
  )</pre></ui-codemirror>
              </div> -->

        </div>
      </div>

      <div ibox title="Steps to Install HDC">
        <p>1. Insert the USB drive to your NUC and copy the top level folder "hdc_2.2_conf_files" to /root folder and go to that folder</p>
        <pre><code>cd /root&#13;&#10;cp -r /media/sda1/hdc_2.2_conf_files&#13;&#10;cd /root/hdc_2.2_conf_files</code></pre>
        <p>2. Run the shell script</p>
        <pre><code>./hdc_2.2.0_install.sh</code></pre>
        <p>3. Wait for the script to complete, at the end it will reboot the gateway</p>
        <div content-block name="" message="Install HDC">
          <h2 class="labHidden">Read the Objectives</h2>
          <labels gateway window apple linux/>
        </div>
      </div>


    <!-- Device Configuration -->
    <div ibox title="Device Configuration and HDC deployment">
      <div content-block name="" message="Check the target device (in our case Intel NUC) boots up fine." image-link="./views/labs/hdc/images/1.png">
        <h2 class="labHidden">Boot the target device</h2>
        <p>Once the target device (in our case Intel NUC) boots up, ensure that it is connected to network and has an assigned IP address</p>
        <p>The HDC agent and configuration files are now deployed on to your NUC</p>
      </div>

      <div content-block name="" message="Study the Agent Connection Diagram" image-link="./views/labs/hdc/images/2.png">
        <h2 class="labHidden">Study the Agent Connection Diagram</h2>
        <p>The following figure shows the components in the end-to-end IoT solution and the basic device-side software architecture. The Wind River Host Tools enable you to develop your application on your host computer</p>

        <p>The device initiates the connection with the server and sends device registration information, capabilities, and configuration to the server. The configuration information enables two-way authentication between the server and the device. The server response provides acknowledgment of the device to a specified tenant account. Devices can reregister to advertise updated device capabilities.</p>

        <p>The agent on the device communicates with the server using the DXL (Data Exchange Layer) publish and subscribe message protocol secured with TLS 1.2.</p>

      </div>

      <div content-block name="" message="Check for the HDC Agent Files">
        <h2 class="labHidden">Check for the HDC Agent Files</h2>

        <p>To ensure the right components are on your device go to folder /opt/intel/ccg/bin and check contents there. You should see following files there:</p>
        <ul>
          <li>agentguid.bin</li>
          <li>dxlpolicy.bin</li>
          <li>startup.bin</li>
        </ul>
      </div>

      <div content-block name="" message="Helix Device Cloud Configuration" image-link="./views/labs/hdc/images/3.png">
        <h2 class="labHidden">Helix Device Cloud Configuration</h2>

        <p>Log on to https://www.helixdevicecloud.com/ with below credentials.</p>
        <pre><code>Login: lab_user&#13;&#10;Password: intel123</code></pre>
        <ul>
          <li>Verify your device is registered in HDC UI – use MAC address to locate your device</li>
          <li>Edit the device details to assign a friendly name as shown in the figure</li>
          <li>Make sure that the device shows online in Status (a tick mark in green)</li>
          <li>Click on the Device ID to get more details on the device properties like the Firmware version, OS version, the telemetry metrics it supports etc. This can be useful during debugging.</li>
        </ul>
      </div>


    <div ibox title="Monitor">
      <div content-block name="" message="Objectives" image-link="./views/labs/hdc/images/5.png">
        <h2 class="labHidden">Monitor Device Status</h2>
        <li>Monitor the status of the device from HDC</li>
        <li>Perform any diagnostic actions if required to ensure device connectivity to the cloud</li>
      </div>

      <div content-block name="" message="Monitor Device Status" image-link="./views/labs/hdc/images/6.png">
        <h2 class="labHidden">Monitor Device Status</h2>

        <li>Initiate remote login sessions from the HDC Portal. You can also connect to the device through a ssh session using it’s IP address.</li>
        <li>To connect to remote login select your device in “DEVICES” tab and then go to “CUSTOM ACTIONS” and select “Remote Login”. This should open another browser where you will see your device prompt.</li>

        <p>Monitor agent traffic</p>
        <pre><code>journalctl -u iot -n</code></pre>
        <pre><code>% ^c (ctrl + c) to exit</code></pre>
        <p>Diagnostic Options</p>
        <p>In case the device connectivity is lost, make sure that "iot" and "ccg" services are running.The output of below commands should show active(running)</p>
        <pre><code>systemctl status iot</code></pre>
        <pre><code>systemctl status ccg</code></pre>
        <p>If either service is not running, start the affected service and verify it starts properly</p>
        <pre><code>systemctl start serviceName</code></pre>
        <pre><code>systemctl status serviceName</code></pre>
        <p>If the services are running but device is still not connected, check connectivity to server by running the above command again</p>
        <pre><code>journalctl -u iot -n</code></pre>
        <p>If the output shows Waiting for Mosquitto and the ccg service is running, the device may not be connected to network or there might be network connectivity issue</p>
      </div>
    </div>

    <div ibox title="Service">
      <div content-block name="" message="Objectives" image-link="./views/labs/hdc/images/14.png">
        <h2 class="labHidden">Objectives</h2>
        <p>We can perform a number of services on the device. To understand how device and cloud can interact in various ways, we will go through the following:</p>
        <ul>
          <li>Telemetry Data and Actions</li>
          <li>Setup alerts on HDC based on the data received from Device</li>
          <li>File transfers between device and cloud</li>
        </ul>
      </div>
    </div>

    <div ibox title="Telemetry Data and Actions">
      <div content-block name="" message="Understand about Telemtry Data and Actions">
        <h2 class="labHidden">Monitor Device Status</h2>
        <p>This session explains how to send Telemetry and expose device actions on the cloud.</p>
        <p>We will run one of the sample apps "iot-app-simple-telemetry" which is included as one of the sample HDC apps in /usr/bin</p>
        <p>This app registers 13 telemetry metrics and an action to start and stop transmitting telemetry data to the cloud.</p>
        <p>Later we will use one of the telemetry data (temp) to set up alert rules</p>
      </div>

      <div content-block name="" message="Run the sample telemetry application to begin generating data" image-link="./views/labs/hdc/images/hdc_app.png">
        <h2 class="labHidden">Run the sample telemetry application to begin generating data</h2>
        <p>Run the sample app either from a ssh session to the device or from the remote login as shown in figure</p>
        <pre><code>/usr/bin/iot-app-simple-telemetry</code></pre>
      </div>

      <div content-block name="" message="turn ON telemetry data from HDC" image-link="./views/labs/hdc/images/hdc_tel.png">
        <h2 class="labHidden">turn ON telemetry data from HDC</h2>
        <p>To start seeing the telemetry data on HDC, go to your NUC device page and in "CUSTOM ACTIONS" tab select "telemetry_ON_OFF" as highlighted in figure</p>
        <p>This will allow HDC to start receiving telemetry data. The highlighted part in Device Details will show this in "Available actions" and "Available Telemetry Metrics"</p>
        <p>This may take a little while to reflect, to refresh the device data click the icon on left side as shown in figure</p>
      </div>

      <div content-block name="" message="Observe the telemetry data from HDC" image-link="./views/labs/hdc/images/hdc_tel_data.png">
        <h2 class="labHidden">Observe the telemetry data from HDC</h2>
        <p>Telemetry data for your device can be observed by clicking on "Telemetry data" tab at the bottom of the page in Device Details as shown in figure</p>
        <p>In case of our example all the sample telemetry metrics can be seen as individual entries</p>
        <p>Each entry can be expanded further to see a graph of values over a period of time as shown in figure</p>
      </div>
    </div>


    <div ibox title="Helix Device Cloud Rules and Alerts">
      <div content-block name="" message="Objectives and Prerequisites to create a rule">
        <h2 class="labHidden">Objectives</h2>
        <p>We will learn how to create a rule and generate an alert in HDC using another sample app iot-app-complete</p>
        <ul>
          <li>One of the telemetry data that this app publishes is random values of temperature (temp). We will set up a rule to generate an alert when this temp value crosses a certain limit</li>
          <li>Make sure your app is running on the device before you start creating the rule.</li>
          <li>Stop the earlier app (exit the app) from command line and start "iot-app-complete" app from /usr/bin folder on your device command line</li>
          <li>Next make sure you turn it on by selecting "telemetry_ON_OFF" from "CUSTOM ACTIONS" tab of your device to start receiving data</li>
          <li>You will see the telemetry data in "Telemetry data" tab under "complete-app" section for this app. Once you see this data you are ready to set up rules for it</li>
          <li>Now we will create a simple rule to generate an alert when temperature crosses 35</li>
        </ul>
      </div>
      <div content-block name="" message="Create a New Rule" image-link="./views/labs/hdc/images/8.png">
        <ul>
          <li>Go to “RULES” tab and click on “Create New Rule”</li>
          <li>Give a rule name, for e.g. “temperature alert”</li>
          <li>Choose your device in option “Apply Rule to these devices” – make sure you select only your device</li>
        </ul>
      </div>
      <div content-block name="" message="Add a condition to the rule" image-link="./views/labs/hdc/images/9.png">
        <p>Next in section “Add rule conditions” we will add a condition which in our case is temperature exceeding 35. In “Select a telemetry metric” drop down choose “temp”, in “Select operator” drop down choose “greater than” and enter 35 in “Value” box</p>

        <div class="alert alert-info">
          <p>The “Select a telemetry metric” field will not be available if iot-app-complete app is not running on the device!</p>
        </div>
      </div>
      <div content-block name="" message="Add a response to the rule" image-link="./views/labs/hdc/images/10.png">
        <p>Next in section “Add rule responses” there are multiple options on how to respond to a condition. Here we will select option <b>CREATE AN ALERT</b></p>
        <p>Give Alert Name as “temperature alert”, Priority as P1, "Severity" as "Critical" and Description as “Temperature above threshold!”</p>
        <p>You can also try "SEND AN EMAIL" option which will send you an email when alert gets triggered. For this enter the recepient email address, Subject and Body Text</p>
        <p>Finally click on “SAVE AND ENABLE” to save the Rule.</p>
      </div>
      <div content-block name="" message="View the rule" image-link="./views/labs/hdc/images/11.png">
              <p>The rule which we just created can be seen in “RULES” tab next to “DEVICES” as shown in the figure. It will show the name of the rule, when it was created/modified, affected devices and the actions. Make sure that the Rule Status is “ON”</p>
      </div>
      <div content-block name="" message="Watch for new alerts" image-link="./views/labs/hdc/images/12.png">
        <p>When the temperature goes beyond 35 the Alert gets triggered and you can see in the notification on the top right corner icon as shown in the figure.</p>
        <p>If you have set up email trigger you will also receive an email for the alert</p>
      </div>
      <div content-block name="" message="View the alert history" image-link="./views/labs/hdc/images/13.png">
        <p>Going to the “ALERTS” tab also shows the pending alert notifications as shown in the figure.</p>
      </div>
    </div>


    <div ibox title="File Transfers between device and cloud">
      <div content-block name="" message="Objectives">
        <h2 class="labHidden">Objectives</h2>
        <p>We will demonstrate how to send/receive a file to/from the device to your cloud account</p>
      </div>
      <div content-block name="" message="Send File to device" image-link="./views/labs/hdc/images/15.png">
        <ul>
          <li>To send a dummy file, create a dummy test.txt file on your host machine.</li>
          <li>On the HDC UI main page go to “DEVICES” tab and check your device box</li>
          <li>Then go to “STANDARD ACTIONS” drop down and select “Send Files” option</li>
        </ul>
      </div>
      <div content-block name="" message="Select the dummy test.txt file which you created and upload" image-link="./views/labs/hdc/images/16.png">
        <p>Select the dummy test.txt file which you created and upload it as shown in the figure</p>
      </div>
      <div content-block name="" message="Click Send Files" image-link="./views/labs/hdc/images/17.png">
        <ul>
          <li>Click “SEND FILES” to send the test.txt file to the device</li>
          <li>You will immediately see a notification of “Sending Files…” pop up in your notification</li>
          <li>Then click on the notification icon in right most corner, it should show that the file was transferred successfully to the device</li>
        </ul>
      </div>
      <div content-block name="" message="Check for the presence of the test.txt file">
        <p>To check if the file is present on the device, on the remote shell, go to folder /var/lib/iot/download where you should see the test.txt file</p>
      </div>
      <div content-block name="" message="Receive File from device" image-link="./views/labs/hdc/images/18.png">
        <ul>
          <li>To receive a file from device first put the file, for e.g. sample.txt that needs to be sent to cloud in /var/lib/iot/upload directory. In our case use the vi editor to generate a dummy file sample.txt in this directory</li>

          <li>Make sure that the file has right permission by doing the following:
            <pre><code>chmod 644 sample.txt</code></pre>
          </li>

          <li>Now go to “STANDARD ACTIONS” drop down and select “Retrieve Files” option using which you should be able to receive the file and see in the notification window.</li>

          <li>To download the file to your PC just click on the notification and it will download the tar file. Unzipping it will give the file that you wanted to receive from the device.</li>
        </ul>
      </div>
    </div>



    <div ibox title="Manage the Device from Cloud">
      <div content-block name="" message="Objectives" image-link="./views/labs/hdc/images/19.png">
        <p>Manage the device remotely from cloud</p>
        <ul>
          <li>It is possible to perform few standard actions and also some custom actions on the device from cloud</li>
          <li>We have already inspected in earlier lab couple of standard actions like Send/Retrieve files. You can also perform actions like Shutdown/Restart of the device from “STANDARD ACTIONS” drop down in DEVICES tab after selecting your device.</li>
          <li>To view the list of custom actions for your device select “CUSTOM ACTIONS” drop down in DEVICES tab, one of the actions you will see is “Remote Login”</li>
        </ul>
      </div>
      <div content-block name="" message="Manage the software installed on the device">
        <!-- 4.2	Manage the software installed on the device
        Objective: monitor update traffic between the agent and the cloud -->
        <ul>
          <li>Login to the device either doing a ssh from your host PC or through the “Remote Login” window</li>
          <li>Execute this command: <pre><code>journalctl -u iot -f</code></pre></li>
          <li>Keep this handy for the next exercise</li>
        </ul>

    </div>
  </div>


  <div ibox title="Update the Gateway">
    <div content-block name="" message="Objectives and Prerequisites" image-link="./views/labs/hdc/images/20.png">
      <p>To perform s/w updates to the device remotely from HDC utility</p>
      <p>An update package includes the instructions to install software on the device and if applicable, contains the files to install on the device</p>
      <p>For this section we will do a simple update of transfering a script <b>simple_update.sh</b> and a sample test file <b>test.txt</b> to the device. The script will create a folder and copy the file to that folder</p>
      <p>Copy the <b>simple_update.sh</b> and <b>test.txt</b> from USB drive folder hdc_update_files to your local host PC</p>
    </div>

    <div content-block name="" message="Select the software update package" image-link="./views/labs/hdc/images/hdc-update_1.png">
      <p>Click on the "UPDATE" tab on top of the HDC page</p>
      <p>On the Software Updates page, click "Available Packages" and then click "CREATE NEW UPDATE PACKAGE"</p>
      <p>Give a short name in "Package Name" and a version number in "Version" box as shown in figure. You can put in a description if you want</p>
      <p>Next specify the criteria to select compatible devices. In our case we will chose Firmware version and value as 2.2. This lets you choose which devices you want to update based on the criteria</p>
    </div>

    <div content-block name="" message="Select the Package files and SAVE" image-link="./views/labs/hdc/images/hdc-update_2.png">
      <p>As shown in the figure in the Package Files area, drag the required files into the window. When the file upload completes successfully, the progress bar shows Success</p>
      <p>In the "Install Commands" section enter the below command in "Install Command" area. Leave the Pre-Install, Post-Install and other boxes empty</p>
      <pre><code>sh simple_update.sh</code></pre>
      <p>Click "SAVE"</p>
      <p>Once you save your package it will show in the list of "Available Packages" in the unpublished state and is ready to deploy</p>
    </div>

    <div content-block name="" message="Prepare to Deploy the Package" image-link="./views/labs/hdc/images/hdc-update_4.png">
      <p>On "Available Packages" find your package and click "DEPLOY"</p>
      <p>Give a name to your deployment and a description</p>
      <p>Your package information will be available under "Package Information" section. Note that there will be additional Package Files (update.json and manifest.spec) which the system puts in your package</p>
    </div>

    <div content-block name="" message="Deploy the Package to the NUC" image-link="./views/labs/hdc/images/hdc-update_5.png">
      <p>At the bottom of the page, you will see list of devices compatible for your package. This is based on the criteria we selected earlier for compatible devices, which is the Firmware Version in our case</p>
      <p>You will see all the devices with 2.2 Firmware (it will list all the devices in the workshop since they are based on 2.2)</p>
      <p>Check mark your device based on your ID and MAC address and press "ADD DEVICES". This will then list your device in section "Devices selected for deployment"</p>
      <p>Click "DEPLOY"</p>
    </div>

    <div content-block name="" message="Verify Package was Deployed and Installed" image-link="./views/labs/hdc/images/hdc-update_6.png">
      <p>As shown in the figure you will see your deploy status change from In Progress to Completed</p>
      <p>To verify that our script got installed and all steps completed successfully go to <b>/var/lib/iot/upload</b> directory and view the file <b>iot_install_updates.log</b></p>
      <p>This will give you step by step procedure of how the install happened. In the section "Executing command 'sh simple_update'" you will see the traces that we put in the script</p>
      <p>To verify that it succeeded check if testfolder was created in /root/testfolder and it should also have the file test.txt in there</p>
      <p>This was a simple example, in a similar way a number of scripts and files can be deployed on the device to perform an update</p>
    </div>
  </div>


  <div ibox title="Decommission">
    <div content-block name="" message="Objective" image-link="./views/labs/hdc/images/26.png">
      <p>The device can be decommisioned from HDC</p>
      <p>Once the device is decommisioned it cannot be managed from HDC</p>
    </div>
    <div content-block name="" message="Disable and Shutdown Your Device" image-link="./views/labs/hdc/images/27.png">
      <p>Delete the rules you created:</p>
      <pre><code>Rules -> ‘My Rule’ -> Delete</code></pre>

      <p>The device can be decommissioned by going to “CUSTOM ACTIONS” and selecting decommission_device. After that you will see a notification of success and the device will then reboot.</p>
      <p>On boot up the device will show offline in HDC and none of the operations can be performed on it</p>
    </div>
  </div>










  </div>
</div>
