<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>IoT Protocols: JavaScript</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>IoT Protocols: JavaScript</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

            <!-- Objectives -->
            <div ibox title="Objectives">
              <div content-block name="read-objectives" message="Overview">
                  <h2 class="labHidden">Read the Objectives</h2>
                  <labels arduino windows apple linux/>
                  <p>Now that you've created a sensor and actuator device using a temperature sensor and LCD and the Intel IoT Gateway, this lab will lead you through the process of networking them. By the end of the lab instead of having a single process controlling both the temperature sensor and the LCD, you will decouple them. The temperature sensor will send data to the Intel IoT Gateway over MQTT, and you will write a Restful HTTP server to control the LCD.</p>

                  <p>
                    This allows the Intel IoT Gateway to be the centralized point of management, which makes administering the IoT network much more manageable. By networking the sensors and actuators, you can deploy dozens or even hundreds of sensors and actuators all controlled by a single gateway. The decisions and coordiation of IoT devices is handled by the gateway on the edge network.  The sensors simply report their data over MQTT and the actuators wait for commands via HTTP.
                  </p>
              </div>
              <div content-block name="read-objectives" message="Read the Objectives">
                  <h2 class="labHidden">Read the Objectives</h2>
                  <p>By the end of this module, you should be able to:</p>

                  <ul>
                      <li>Create a NodeJS service that sends temperature data to the gateway via MQTT</li>
                      <li>Create a NodeJS service that implements a Restful HTTP API to control the LCD screen. </li>
                  </ul>
              </div>
            </div>


            <div ibox title="Creating an MQTT Service to Publish the Temperature Sensor Data">
                <div content-block name="read-xdk-intro" message="Plug in the Grove shield, temperature sensor and the LCD" image-link="./views/labs/protocols-javascript/images/temperature-sensors-arduino.jpg">
                    <h2 class="labHidden">Plug in the Grove shield, temperature sensor and the LCD</h2>

                    <p>In the Sensors and Actuators lab, we connected the temperature sensor (Analog) and LCD display (I2C) to your Arduino* 101. We wrote NodeJS code using the Intel® XDK IoT Edition to measure the temperature in Celsius using upm library, convert it to Fahrenheit, then display it on the LCD.</p>

                    <p>
                      You're project should start looking like the picture on the right.
                    </p>

                    <ol>
                        <li>
                            <p>Install the Grove Base Shield onto the Arduino* 101 Arduino expansion board.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A0</strong> of the Grove Base Shield.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove LCD</strong> display to one of the <strong>I2C</strong> pins.</p>
                        </li>
                    </ol>

                </div>

                <div content-block name="read-xdk-intro" message="Start a new project in the Intel® XDK using a blank template." image-link="./views/labs/protocols-javascript/images/new-project.png">
                    <h2 class="labHidden">Start a new project in the Intel® XDK using a blank template.</h2>

                    <ol>
                        <li>
                            <p>Start a new project in the Intel® XDK using a blank template.</p>
                        </li>
                        <li>
                            <p>If you have an Intel® XDK project already open, click on the projects drop down menu in the upper left hand corner, then select <strong>New Project</strong>.</p>
                        </li>
                    </ol>

                    <div class="alert alert-info">
                        <p>This temperature project will be used in all the later labs to supply a steady stream of data.</p>
                    </div>
                </div>

                <div content-block name="read-xdk-intro" message="Select the Blank Template" image-link="./views/labs/protocols-javascript/images/blank_template.png">
                    <h2 class="labHidden">Select the Blank Template</h2>

                    <p>Choose <strong>Blank Template</strong> from the list of templates, then click <strong>Continue</strong>.</p>


                    <p>The Intel® XDK will create and open <span class="icon file">main.js</span> for you.</p>
                </div>

                <div content-block name="read-xdk-intro" message="Start with the Code from the JavaScript Sensors and Actuators Lab">
                    <h2 class="labHidden">Start with the Code from the JavaScript Sensors and Actuators Lab</h2>
                    <p>
                      In the Sensors and Actuators lab, we created a program to read the temperature and display is on the LCD screen. It should look something like this.
                    </p>

                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');
var LCD = require("jsupm_jhd1313m1"); // Create a new instance of a Grove RGB LCD screen

// The Offset is necessary for Firmata
var OFFSET = 512;

// Instantiate the temperature sensor and LCD actuator
var temp = new groveSensor.GroveTemp(0+OFFSET, 0.66); // Create a new instance of a Grove Temperature Sensor
var screen = new LCD.Jhd1313m1(0+OFFSET, 0x3E, 0x62);

// monitor: creates an anonymous function that runs once per second
// The function will get the temperature and display it on the LCD.
function monitor() {
    setInterval(
      function() {
        // Read the temperature sensor
        var celsius = temp.value();

        // Convert it to fahrenheit
        var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);

        // Log it to the console window
        console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");

        // Update the LCD screen
        screen.setCursor(0, 0);
        screen.setColor(255, 255, 255);
        screen.write("Temp: " + celsius + "C or " + fahrenheit + "F");
    }, 1000);
}

// Call the monitor function once
monitor();</pre></ui-codemirror>
                </div>

            <div content-block name="read-xdk-intro" message="Remove the LCD Code">
              <h2 class="labHidden">Write the Code to Read the Temperature Sensor.</h2>

                <p>
                    Now we will remove the LCD code. This is straight forward. Simply remove any line that has a reference to the screen or LCD variables.
                </p>

                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');

// The Offset is necessary for Firmata
var OFFSET = 512;

// Instantiate the temperature sensor and LCD actuator
var temp = new groveSensor.GroveTemp(1+OFFSET, 0.66); // Create a new instance of a Grove Temperature Sensor

// monitor: creates an anonymous function that runs once per second
// The function will get the temperature and display it on the LCD.
function monitor() {
  setInterval(
    function() {
      // Read the temperature sensor
      var celsius = temp.value();

      // Convert it to fahrenheit
      var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);

      // Log it to the console window
      console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");
  }, 1000);
}

// Call the monitor function once
monitor();</pre></ui-codemirror>

            </div>


              <div content-block name="read-xdk-intro" message="Remove the LCD Code">
                <h2 class="labHidden">Write the Code to Read the Temperature Sensor.</h2>

                <p>
                   Next add MQTT as a dependency in your package.json.
                </p>

                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">{
  "name": "xdk-iot-blank-template",
  "description": "Intel® XDK IoT Blank Node.js Template",
  "version": "0.0.0",
  "main": "main.js",
  "engines": {
    "node": ">=0.10.0"
  },
  "license": "BSD-3-Clause",
  "private": true,
  "dependencies": {
      "mqtt" : "latest"
  }
}</pre></ui-codemirror>

              </div>

            <div content-block name="read-xdk-intro" message="Add the MQTT connect code">
              <p>
                The preferred method of connecting to the MQTT broker is over MQTT-TLS. However to start with we will use only MQTT without TLS/SSL configuration. Later in Security lab we will learn how to configure MQTT with TLS/SSL.
              </p>
              <p>
                Add following one line of code for an uncrypted MQTT connection just below the line that creates the temp sensor.
              </p>
              <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Require MQTT and setup the connection to the broker
var mqtt = require('mqtt');
var mqttClient = mqtt.connect("mqtt://localhost/");</pre></ui-codemirror>
            </div>

            <div content-block name="repeat-sensor-reading" message="Add the MQTT code to publish the sensor data">
                <p>
                  Next we will add the code to publish the sensor data over MQTT at the end of the anonymous function.
                </p>
                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Get the current time
var current_time = (new Date).getTime();

/*
  This JSON structure is extremely important
  future labs will assume that every temperature
  reading has a "sensor_id", "value" and "timestamp"
*/
var json = {
  sensor_id : "temperature",
  value : celsius,
  timestamp : current_time
};

// Convert the JSON object to a string
var str = JSON.stringify(json);

// Log the string to the console
console.log(str);

// Publish the temperature reading string on the MQTT topic
mqttClient.publish("sensors/temperature/data", str);</pre></ui-codemirror>
            </div>


                <div content-block name="repeat-sensor-reading" message="See the Debugging MQTT section in the sidebar under Additional Information">
                    <p>
                      You've completed the service that will publish temperature data to the gateway.
                      See the Debugging MQTT section in the sidebar under Additional Information for information on how to verify that MQTT traffic is indeed being published.
                    </p>
                </div>

            </div>

            <div ibox title="Create the Restful HTTP API to Control the LCD Screen">
              <div content-block message="Overview of the Restful LCD API">
                  <h2 class="labHidden">Create the Restful HTTP API to Control the LCD Screen</h2>
                  <p>
                    For this section of the lab, we will be using a JavaScript HTTP library called Express to build a small HTTP server that implements two APIs.
                  </p>

                  <p>
                    The two APIs will control the color of the backlight on the LCD screen and the text that is displayed on the LCD screen. This is what the API will look like:
                  </p>

                  <div class="alert alert-info">
                    <p>The six APIs are defined as follows:</p>
                    <table class="table-mail">
                      <tr><td><b>GET</b></td><td>/lcd/color</td><td>Query the HTTP Server for the current color value displayed on the LCD</td></tr>
                      <tr><td><b>POST</b></td><td>/lcd/color</td><td>Set a new color to display on the LCD</td></tr>
                      <tr><td><b>DELETE</b></td><td>/lcd/color</td><td>Turn the LCD backlight off</td></tr>
                      <tr><td><b>GET</b></td><td>/lcd/text</td><td>Query the HTTP Server for the current color value displayed on the LCD</td></tr>
                      <tr><td><b>POST</b></td><td>/lcd/text</td><td>Set a new color to display on the LCD</td></tr>
                      <tr><td><b>DELETE</b></td><td>/lcd/text</td><td>Clear text on LCD</td></tr>
                    </table>
                  </div>
                </div>

                <div content-block message="Include the Dependencies">
                    <h2 class="labHidden">Include the Dependencies</h2>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// The express library provides a quick and easy way to create on HTTP server
var express = require('express');

// The body-parser library allows us to declare the server will use JSON format
var bodyParser = require('body-parser');</pre></ui-codemirror>
                </div>

                <div content-block message="Instantiate the HTTP server variable named app and the LCD variable.">
                    <h2 class="labHidden">Instantiate the HTTP server variable named app and the LCD variable.</h2>
                    <p>
                      Instantiate the HTTP server variable named app and the LCD variable.
                    </p>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Declare the HTTP server as a variable named "app"
var app = express();

// Declare the LCD variable
var mylcd = new (require("jsupm_i2clcd").Jhd1313m1)(6, 0x3E, 0x62);</pre></ui-codemirror>
                </div>

                <div content-block message="Declare that the HTTP server will serve JSON and add some debugging code to print any requests that are requested by an HTTP client">
                    <h2 class="labHidden">Declare that the HTTP server will serve JSON and add some debugging code to print any requests that are requested by an HTTP client</h2>
                    <p>
                      Declare that the HTTP server will serve JSON and add some debugging code to print any requests that are requested by an HTTP client
                    </p>

                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// parse application/json
app.use(bodyParser.json());

// This function will print the route for each incoming HTTP request
app.use(function (req, res, next) {
  console.log(req.body); // populated!
  next();
});</pre></ui-codemirror>
                </div>


                <div content-block message="Instantiate the HTTP server variable named app   and the LCD variable.">
                    <h2 class="labHidden">Instantiate the HTTP server variable named app and the LCD variable.</h2>
                    <p>
                      Declare two variables to hold the the backlight value and the text that the LCD screen.  At this point, we can also turn the backlight off.
                    </p>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var backlight = {
    r:0,
    g:0,
    b:0
};

var lcdtext = "";
mylcd.setColor(backlight.r,backlight.g,backlight.b);</pre></ui-codemirror>
                </div>

                <div content-block message="Create the routes to GET the LCD text and GET the backlight">
                    <h2 class="labHidden">Create the routes to GET the LCD text and GET the backlight</h2>
                    <p>
                      Create the routes to GET the LCD text and GET the backlight
                    </p>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">app.get('/lcd/backlight/', function (req, res) {
  res.status(200).json(backlight);
});
app.get('/lcd/text/', function (req, res) {
  res.status(200).json(lcdtext);
});</pre></ui-codemirror>
                </div>



                <div content-block message="Create the routes to POST the LCD text and POST the backlight">
                    <h2 class="labHidden">Create the routes to POST the LCD text and POST the backlight</h2>
                    <p>
                      Create the routes to POST the LCD text and POST the backlight
                    </p>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">app.post('/lcd/backlight/', function (req, res) {
   backlight = {
      r:parseInt(req.query.r),
      g:parseInt(req.query.g),
      b:parseInt(req.query.b)
  };
  mylcd.setColor(backlight.r,backlight.g,backlight.b);
  res.status(201).send("Success");
});

app.post('/lcd/text/', function (req, res) {
  lcdtext = req.query.lcdtext;
  mylcd.clear();
  mylcd.write(lcdtext);
  res.status(201).send("Success");
});</pre></ui-codemirror>
                </div>


                <div content-block message="Create the routes to DELETE the LCD text and DELETE the backlight">
                    <h2 class="labHidden">Create the routes to DELETE the LCD text and DELETE the backlight</h2>
                    <p>
                      Create the routes to DELETE the LCD text and DELETE the backlight
                    </p>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">app.delete('/lcd/backlight/', function (req, res) {
  backlight = {r:0,g:0,b:0};
  mylcd.setColor(backlight.r,backlight.g,backlight.b);
  res.status(204).send("Deleted");
});



app.delete('/lcd/text/', function (req, res) {
  mylcd.clear();
  res.status(204).send("Deleted");
});</pre></ui-codemirror>
                </div>

                <div content-block message="Start the HTTP server">
                    <h2 class="labHidden">Start the HTTP server</h2>
                    <p>
                      Start the HTTP server
                    </p>

                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var server = app.listen(3000, function () {
  var host = server.address().address;
  var port = server.address().port;

console.log('Example app listening at http://%s:%s', host, port);
});</pre></ui-codemirror>
                </div>
              </div>

              <div ibox title="Testing Your Restful HTTP API">
                <div content-block name="install-postman" message="Install Postman, a HTTP debugging tool" image-link="./views/labs/protocols-javascript/images/postman_website.png">
                    <h2 class="labHidden">Install Postman, a HTTP debugging tool</h2>
                    <p><img class="labHidden" alt="postman website" data-fid="503944" src="https://software.intel.com/sites/default/files/managed/96/7a/postman_website.png" title="postman website" typeof="foaf:Image"></p>

                    <h5> Install Postman </h5>
                    <p><code>Postman</code> is a developer debugging tool that allows developers to send HTTP requests. If you feel more familar with other tools, such as <code>curl</code>, feel free to use it.</p>
                    <p>To send web requests to the Intel IoT device we will be using Postman, a Chrome app designed to send web requests.</p>

                    <p>To install the app navigate to <a href="https://www.getpostman.com/"> https://www.getpostman.com</a>, Select Chrome App, and install it following the directions given.</p>
                </div>


                <div content-block name="install-postman" message="Use PostMan to send an HTTP request" image-link="./views/labs/protocols-javascript/images/postman.png">
                    <h5>Use Postman to send web request </h5>
                    <p>Once Postman is installed launch it from the Google Apps Launcher.</p>
                    <ul>
                      <li>Select post from the dropdown menu and enter the IP address of your Intel IoT device port 1880 with the URL specified above.</li>
                      <li>Go to "Authorization" tab, select "Basic Auth" from drop down menu. Provide root as Username and enter your gateway password in Password field. </li>
                      <li>The /lcd/color API  can be passed a RGB value like this.
                        <pre><code>http://gateway_ip:port/lcd/color?r=128&g=255&b=255</code></pre>
                      </li>
                    </ul>
                </div>
              </div>

              <div ibox title="Additional Resources">
                <ul>
                  <li><p><a href="http://mqtt.org/">MQTT</a></p></li>
                  <li><p><a href="https://www.npmjs.com/package/express">ExpressJS</a></p></li>
                  <li><p><a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a></p></li>
                </ul>
              </div>
        </div>
    </div>
  </div>
</div>
