<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Introduction to the Intel® NUC and Arudino* 101</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Introduction</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">

            <!-- Overview of Labs: What are we doing and where are we going? -->
            <div ibox title="Overview of Labs: What are we doing and where are we going?">
                <div content-block name="read-objectives" message="Overview of Labs: What are we doing and where are we going?">
                    <h2 class="labHidden">Overview of Labs: What are we doing and where are we going?</h2>
                    <!-- TODO: Create a graphic that represents the end result of the labs -->
                    <labels gateway arduino windows/>
                    <p>The labs in the Intel Commercial IoT Workshop are organized in a progression that will result in each attendee building their own automated and secured, multi-device IoT network.</p>
                </div>
            </div>



            <!-- Objective -->
            <div ibox title="Objectives">
                <div content-block name="read-objectives" message="Read the Objectives">
                    <h2 class="labHidden">Read the Objectives</h2>

                    <labels gateway arduino windows/>
                    <p>Start by making sure your computer, Arduino* 101, and Intel® IoT Gateway are ready for IoT development.</p>

                    <p>By the end of this module, you should be able to:</p>

                    <ul>
                        <li>Unbox and setup your Intel® IoT Gateway and Arduino* 101 Hardware</li>
                        <li>Connect to your Intel® IoT Gateway from your development computer and open a console window</li>
                    </ul>
                </div>
            </div>



            <!-- Login to your Intel IoT Gateway -->
            <div ibox title="Getting Started with Grove* IoT Commercial Development Kit">
                <div content-block name="unbox-kit" message="Unbox Your Grove IoT Commercial Developer Kit" image-link="./views/labs/introduction/images/1.png">
                    <h2 class="labHidden">Getting Started with Grove* IoT Commercial Development Kit</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/1.png"></img>
                    <labels gateway/>

                    <p>The Grove* IoT Commercial Development Kit will provide you with a hardware and software stack to prototype and build Internet of Things services.</p>
                    <p>It comes with a IoT gateway which is an intermediate device between sensors, actuators and your corporate network or the cloud. The gateway allows you to efficiently collect and securely transport data from devices, remote users, and
                        applications to serve your particular IoT application.</p>
                    <p>It also comes with a starter pack of sensors. These sensors were put in the starter kit because they are commonly used in IoT projects. However, there are many other types of sensors that can be used with the Intel® IoT Gateway. The
                        libupm sensor library current supports more than 300 types of sensors and actuators.</p>
                </div>

                <div content-block name="unbox-arduino" message="Unbox Your Ardunio/Genuino 101" image-link="./views/labs/introduction/images/2.png">
                    <h2 class="labHidden">Connect to your Gateway's Wi-Fi Hotspot SSID</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/2.png"></img>

                    <p>The Arduino* 101 board (USA only) and the Genuino 101* board (outside USA) have been designed in collaboration with Intel. We use the Arduino* 101 board because it offers easily-accessible pins for IoT sensors or the Grove Starter Kit,
                        which is described below, and simplifies connection to them—you can easily attach your sensors to the Arduino* 101 board and start communicating with them. The module contains two tiny cores, an x86 (Intel® Quark™ Compute Module)
                        and a 32-bit ARC core, both clocked at 32MHz. The Intel toolchain compiles your Arduino sketches optimally, across both cores, to accomplish the most demanding tasks.</p>
                    <p>The 101 comes with the following:</p>
                    <ul>
                        <li>14 digital input/output pins (four of which can be used as PWM outputs)</li>
                        <li>Six analog inputs</li>
                        <li>A USB connector for serial communication and sketch upload</li>
                        <li>A power jack</li>
                        <li>An ICSP header with SPI signals and I2C dedicated pins</li>
                    </ul>
                </div>

                <div content-block name="connect-base-block" message="Connect Base shield to Arduino* 101" image-link="./views/labs/introduction/images/3.png">
                    <h2 class="labHidden">Connect Base shield to Arduino* 101</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/3.png"></img>

                    <labels gateway windows/>

                    <p>Base shield will be included in the Grove starter kit. Attach Grove base shield with Arduino* 101.</p>
                    <p>The base shield allow you to quickly attach and detach sensors to your device without the need for a breadboard or soldering.</p>
                </div>

                <div content-block name="intro-place-arduino" message="Move Base Shield switch towards 5 Volts" image-link="./views/labs/introduction/images/4.png">
                    <h2 class="labHidden">Move Base Shield switch towards 5 Volts</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/4.png"></img>
                    <p>Move Base Shield switch towards 5 Volts.</p>
                    <p class="alert alert-warning">Some sensors and actuators, such as the LCD screen, will not work properly unless the base shield is set to 5V.</p>
                </div>

                <div content-block name="intro-press" message="Connect LCD and Rotatry Angle to Arduino* 101" image-link="./views/labs/introduction/images/5.png">
                    <h2 class="labHidden">Connect LCD and Rotatry Angle to Arduino* 101</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/5.png"></img>
                    <p>Connect the LCD screen to any of the I2C pins on base shield. Then connect the rotary angle sensor to pin A0 of base shield.</p>
                </div>

                <div content-block name="intro-press" message="Now connect Arduino* 101 with Intel IoT Gateway via USB A-B cable" image-link="./views/labs/introduction/images/6.png">
                    <h2 class="labHidden">Now connect Arduino* 101 with Intel IoT Gateway via USB A-B cable.</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/6.png"></img>

                </div>

                <div content-block name="intro-press" message="Connect Intel IoT gateway with Ethernet cable and Power adapter" image-link="./views/labs/introduction/images/7.png">
                    <h2 class="labHidden">Connect Intel IoT gateway with Ethernet cable and Power adapter</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/7.png"></img>
                </div>

                <div content-block name="intro-press" message="Press Power button to start Gateway" image-link="./views/labs/introduction/images/8.png">
                    <h2 class="labHidden">Press Power button to start Gateway</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/8.png"></img>
                    <p>Press power button to start gateway. After around 2 minutes, it will display the IP address of Gateway on the LCD. Note Down the IP address.</p>
                    <p class="alert alert-warning">If the IP address does not display, this is an indication that the Gateway was unable to connect to the network. Please raise your hand and contact an Intel developer about the problem.</p>
                </div>

                <div content-block name="intro-press" message="Access IoT Developer Hub." image-link="./views/labs/introduction/images/9.png">
                    <h2 class="labHidden">Access IoT Developer Hub.</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/9.png"></img>
                    <ol>
                        <li>Open your browser and enter the IP address noted down in last step to access IoT Developer Hub.</li>
                        <li>Login to the Intel® IoT Gateway Developer Hub using root for both the username and the password.</li>
                        <li>Once you login you should see the home page as shown in the figure. A graphical representation of the Rotary sensor can be seen on the home page. Move the rotary sensor to see change in values</li>
                        <li>Use the Intel® IoT Gateway Developer Hub to explore and extend the basic capabilities of the Gateway.</li>
                    </ol>
                    <p class="alert alert-warning">Please <b>do not</b> install any updates for our labs as it might result in an unkown behavior</p>
                </div>
            </div>



            <!-- SSH to the Intel IoT Gateway for Windows Users -->
            <div ibox title="SSH to the Intel IoT Gateway for Windows Users">
                <div content-block name="Windows-SSH" message="Download Putty" image-link="./views/labs/introduction/images/10.png">
                    <h2 class="labHidden">Download Putty</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/10.png"></img>
                    <labels gateway arduino windows/>

                    <ol>
                        <li>Windows does not come with a built-in terminal emulator so download and use the PuTTY client.</li>
                        <li>Visit the <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">PuTTY download page</a>.</li>
                        <li>Under the "For Windows on Intel x86" heading, click on the "putty.exe" link to download the latest release version to your computer.</li>
                    </ol>
                </div>

                <div content-block name="Windows-SSH" message="Launch Putty and type in Your IP Address to connect" image-link="./views/labs/introduction/images/11.png">
                    <h2 class="labHidden">Launch Putty and type in Your IP Address to connect</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/11.png"></img>

                    <ol>
                        <li>Double-click putty.exe on your computer to launch PuTTY.</li>
                        <li>Enter IP address of the Gateway</li>
                        <li>You can login with the username root and the password root.</li>
                    </ol>
                    <p class="alert alert-warning">Note that your development computer and your NUC device has to be on the same network with same subnet else it will not connect</p>
                </div>
            </div>



            <!-- SSH to the Intel IoT Gateway for Mac Users -->
            <div ibox title="SSH to the Intel IoT Gateway for Mac Users">
                <div content-block name="Windows-SSH" message="Open a Console and use the ssh command to connect" image-link="./views/labs/introduction/images/12.png">
                    <h2 class="labHidden">Open a Console and use the ssh command to connect</h2>
                    <img class="labHidden" src="./views/labs/introduction/images/12.png"></img>

                    <ol>
                        <li>Open Terminal</li>
                        <li>Type $ ssh root@
                            <<IP Address>>. Replace
                                <<IP Address>> to IP address of your gateway. E.g. root@192.168.3.3</li>
                        <li>Enter root as password</li>
                    </ol>
                    <p class="alert alert-warning">Note that your development computer and your NUC device has to be on the same network with same subnet else it will not connect</p>

                </div>
            </div>



            <!-- Change the password of your Intel IoT Gateway -->
            <div ibox title="Change the password of your Intel IoT Gateway">
                <div content-block name="Windows-SSH" message="Change the password of your Intel IoT Gateway">
                    <h2 class="labHidden">Change the password of your Intel IoT Gateway</h2>

                    <p>At the console type the follow:</p>
                    <pre><code>passwd</code></pre>

                    <p>Follow the prompts at change your password.</p>
                </div>
            </div>



            <!-- Lab Conclusion -->
            <div ibox title="Lab Conclusion">
                <div content-block name="Windows-SSH" message="Read about the next lab">
                    <h2 class="labHidden">Read about the next lab</h2>
                    <p>Congratulations! You have successfully setup your Intel Iot Gateway and connected it to the Arduino* 101. In the next section, you will learn how build an IoT device from the starter kit and to develop an IoT application and deploy
                        it to the Intel IoT Gateway.</p>
                </div>
            </div>


            <!-- Lab Conclusion -->
            <div ibox title="Additional Resources">
                <div content-block name="" message="When you finish the lab, take a look at some of the online resources at http://software.intel.com/iot">
                    <h2 class="labHidden">When you finish the lab, take a look at some of the online resources at http://software.intel.com/io</h2>
                    <ul>
                        <li><a href="https://software.intel.com/en-us/iot/journey/basics">IoT Basics</a> - With the help of sensors, devices, the cloud, and your code, everyday objects or "things" can take on new abilities. Plants can let you know they need
                            water, garage doors can be closed remotely, or drones can avoid flying into trees. The Internet of Things (IoT) is how all these objects connect together to create a smart world.</li>
                        <li><a href="https://software.intel.com/en-us/iot/hardware/gateways">Intel® IoT Gateway Technology</a> - the landing page for getting started with Intel® IoT Gateways</li>
                        <li><a href="https://software.intel.com/en-us/articles/what-is-the-gateway-and-why-should-i-care">What Is the Gateway and Why Should I Care?</a></li>
                        <li><a href="https://software.intel.com/en-us/getting-started-with-intel-iot-gateways-and-iotdk">Getting Started with Intel® IoT Gateways with the Intel® IoT Developer Kit
</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
