<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Application Protocols: MQTT and HTTP</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Application Protocols: MQTT and HTTP</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <!-- Objective -->
            <div ibox title="Objective">
                <div content-block name="read-objectives" message="Read the Objectives">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <p>In this lab, we will explore using a visual programming tool named <a href="http://node-red.org">Node-Red</a> to build data flows from the edge sensor to the Intel® IoT Gateway.</p>

                    <p class="alert alert-warning">If you have use sensors in a previous lab or in another Node-Red flow, please disconnect them and remove the Node-Red nodes that communication with the sensors.  <strong>Particularly, please remove any other LCD before continuing this lab</strong>.</p>

                    <ol>
                        <li>Build a data flow that sends information from the temperature sensors to the LCD screen.</li>
                        <li>Build a data flow that sends information from the temperature sensor to an MQTT broker on the gateway</li>
                        <li>Build a data flow that receives Restful HTTP requests and changes the state of the LCD screen</li>
                    </ol>
                </div>
            </div>
            
            <div ibox title="Start node-red before continuing">
    <div content-block name="start-node-red" message="Start node-red before continuing">
        <div class="alert alert-warning"><p>In the previous exercise, we have stopped Node-red. We should now restart it to continue,</p>
            <p>In a terminal connected to your Gateway, type the command `systemctl start node-red-experience`</p>
        </div>
    </div>
        </div>

            <div ibox title="Node-Red Flow: Temperature to LCD">
                <div content-block name="connect-sensors" message="Install the Grove base shield and sensors" image-link="./views/labs/build-nuc/images/temperature-sensors.jpg">
                    <h2 class="labHidden">Install the Grove base shield and sensors</h2>
                    <img class="labHidden" src="https://software.intel.com/sites/default/files/managed/d9/66/image_2.jpg"></img>

                    <ol>
                        <li>
                            <p>Install the <b>Grove Base Shield</b> onto the IoT device expansion board.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A1</strong> of the Grove Base Shield.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove LCD</strong> display to one of the <strong>I2C</strong> pins.</p>
                        </li>
                    </ol>
                </div>

                <div content-block name="first-flow" message="Create a Node-Red Flow that connects your temperature sensor to your LCD" image-link="./views/labs/protocols/images/31.png">
                    <h2 class="labHidden">Create a Node-Red Flow that connects your temperature sensor to your LCD</h2>
                    <p><img class="labHidden" alt="first flow" data-fid="503932" src="https://software.intel.com/sites/default/files/managed/6a/6d/first_flow.png" title="first flow" typeof="foaf:Image"></p>

                    <p>Open the Node-Red Editor</p>

                    <p>Change a Node-Red flow like the one shown here.</p>
                    <ol>
                        <li>Use the existing <b>Grove Temp Sensor</b> node from the previous exercises.</li>
                        <li>Search for the <b>Function</b> node in the function Function section and connect it to the Grove Temp Sensor.</li>
                        <li>Use the existing <b>Grove LCD</b> node and connect it to the Function.</li>
                    </ol>
                    <p>NOTE: The nodes are listed to the left of the workspace and you will have to scroll down to find all the nodes you need..</p>
                </div>

                <div content-block name="first-flow" message="Configure your Grove Temperature Node">
                  <p>Assure your temperature node has the following parameters:</p>
                  <ul>
                    <li>Name:Grove Temperature</li>
                    <li>Platform: Firmata</li>
                    <li>Pin: A1</li>
                    <li>Unit: Celsius</li>
                    <li>Interval(ms): 1000</li>
                  </ul>
                </div>

                <div content-block name="first-flow" message="Customize your Function Node">
                    <h2 class="labHidden">Customize your Function Node</h2>
                    <p>Double click the function node and enter the following code:</p>


<ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var r_val = 0;
var r_val = 0;
var g_val = 0;
var b_val = 0;

// Ask the instructor about a bug in the voltage reading on the temperature sensor
msg.payload = 3/5 * msg.payload

if (msg.payload >= 25) {
  r_val = 255;
  g_val = 0;
  b_val = 0;
} else if (msg.payload <= 20) {
  r_val = 0;
  g_val = 0;
  b_val = 255;
} else {
  r_val = 0;
  g_val = 255;
  b_val = 0;
}

msg.payload = String(Math.round(msg.payload)) + " C"
msg.lcdColor = {
  "r": r_val,
  "g": g_val,
  "b": b_val,
}

msg.lcdCursor = {
    row: 1,
    column: 1,
}

return msg;
</pre></ui-codemirror>

                            <div class="alert alert-warning">
                                <p>Click OK and then click deploy in the top right corner</p>
                            </div>
                </div>

                <div content-block name="first-flow" message="Configure your Grove LCD Node">
                  <p>Configure you LCD node with the following parameters:</p>
                  <ul>

                    <li>Name - Blank</li>
                    <li>Platform - Firmata</li>
                    <li>R,G,B, Cursor Row, Cursor Column - Leave these blank</li>
                  </ul>
                </div>


                <div content-block name="protocol-deploy" message="Click the Deploy button and watch the temperature appear on the LCD screen">
                    <h2 class="labHidden">Click the Deploy button and watch the temperature appear on the LCD screen</h2>
                    <p>Click on the Deploy button and Node-Red will activate the flow that was just built.</p>
                </div>

                <div content-block name="first-flow" message="Learn to export your Node-Red Flow">
                    <h2 class="labHidden">Learn to export your Node-Red Flow</h2>
                    <p>Any flow in Node-RED can be exported / imported as a JSON object. To create the JSON, select the nodes you wish to export, and select Export -> Clipboard from the drop down menu. The code for the above flow is displayed below. To import
                        it into your work space copy the text, hit Ctrl-I in the Node-RED workspace and paste the text in. This method provides a simple way to share your flows with other developers.</p>
                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">[
   {
      "id":"bb262fa2.18c21",
      "type":"upm-grove-temperature",
      "z":"4072485.59502b8",
      "name":"",
      "platform":"512",
      "unit":"F",
      "pin":"1",
      "interval":1000,
      "x":108.5,
      "y":240,
      "wires":[
         [
            "a83804b3.09f158"
         ]
      ]
   },
   {
      "id":"fdb1ed02.95f0f",
      "type":"debug",
      "z":"4072485.59502b8",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":561.5,
      "y":270,
      "wires":[

      ]
   },
   {
      "id":"a83804b3.09f158",
      "type":"function",
      "z":"4072485.59502b8",
      "name":"Switch Color on Temperature",
      "func":"var r_val = 0;\nvar g_val = 0;\nvar b_val = 0;\n\n// Ask the instructor about a bug in the voltage reading on the temperature sensor\nmsg.payload = 3/5 * msg.payload\n\nif (msg.payload >= 25) {\n  r_val = 255;\n  g_val = 0;\n  b_val = 0;\n} else if (msg.payload <= 20) {\n  r_val = 0;\n  g_val = 0;\n  b_val = 255;\n} else {\n  r_val = 0;\n  g_val = 255;\n  b_val = 0;\n}\n\nmsg.payload = String(Math.round(msg.payload)) + \" C\"\nmsg.lcdColor = {\n  \"r\": r_val,\n  \"g\": g_val,\n  \"b\": b_val, \n}\n\nmsg.lcdCursor = {\n    row: 0,\n    column: 0,\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":336.5,
      "y":334,
      "wires":[
         [
            "635f249e.4799dc",
            "fdb1ed02.95f0f"
         ]
      ]
   },
   {
      "id":"635f249e.4799dc",
      "type":"upm-grove-rgb-lcd",
      "z":"4072485.59502b8",
      "name":"",
      "platform":"512",
      "r":0,
      "g":0,
      "b":"0",
      "row":1,
      "column":1,
      "x":640.5,
      "y":465,
      "wires":[

      ]
   }
]</pre></ui-codemirror>

          </div>
        </div>

          <div ibox title="Node-Red Flow: Publish Sensor Data over MQTT ">
            <labels gateway/>


            <!-- <div content-block name="find-ip-address " message="Review useful commands to help you organize your workflow on the Intel IoT Gateway ">
<h2 class="labHidden ">Review useful commands to help you organize your workflow on the Intel IoT Gateway</h2>
              <h5>Setup Screen Window Manager</h5>
              <p>Log into your Intel® Iot Gateway. As a refresher: </p>
              <p>Use Putty or Screen to connect to ip address <b>192.168.1.1</b> and use <b>root</b> as the username and password.</p>
              <p>For more details refer back to the 3rd section of the introduction lab</p>
              <p>Once you log in the Intel® Iot Gateway, start the <code>screen</code> window manager. </p>
              <p><code>$ screen</code></p>

              <p>You can open multiple console windows, name them and switch between them using screen.  There will be many times when you will want to run several processes at the same time and <code>screen</code> will be very useful to launch them in separate windows.  The another alternative is to simply SSH into the server multiple times.  Of course, in production you will want to launch most processes at boot time using Systemd.</p>
              <ul>
                <p>To create a new console type <code>Ctrl-A C</code></p>
                <p>To name the console type <code>Ctrl-A Shift-A</code></p>
                <p>To get a list of all consoles type <code>Ctrl-A &quot;</code></p>
              </ul>

              <h5>Set up the Mosquitto MQTT Broker</h5>
              <ol>
                <li>
                  <p>Create a user for your Mosquitto.</p>
                  <p><code>$ adduser mosquitto</code></p>
                </li>
                <li>
                  <p>For simplicity use <b>root</b> when asked for the UNIX password</p>
                </li>

                <li>
                  <p>Launch the MQTT Broker named mosquitto</p>
                  <p><code>$ mosquitto</code></p>
                </li>
              </ol>
            </div> -->

            <div content-block name="find-ip-address " message="Create a Node-Red flow that will sends the temperature reading to the MQTT broker "
            image-link="./views/labs/protocols/images/mqtt_flow.png ">
              <h2 class="labHidden ">Create a Node-Red flow that will sends the temperature reading to the MQTT broker</h2>
              <p><img class="labHidden" alt="mqtt flow" data-fid="503933" src="https://software.intel.com/sites/default/files/managed/8a/d4/mqtt_flow.png" title="mqtt flow" typeof="foaf:Image"><strong> </strong></p>

              <h5>Create a Node-RED flow</h5>
              <p>Now you will create a new flow in Node-RED in order to send the temperature data up to your MQTT server.<p>
              <p>Use the:
              <ul>
                <li><b>grove temp sensor</b> from the Intel-gpio section connected to:</li>
                <li><b>function</b> node from the function section connected to:</li>
                <li><b>mqtt</b> node from the output section</li>
              </ul>
              <p>This creates a sequence that will send temperature data over MQTT to a broker.</p>

              <p>Use the
              <ul>
                <li><b>mqtt</b> node from the input section connected to the:</li>
                <li><b>debug</b> node from the output section</li>
              </ul>
              <p>This creates a sequence that recives data from a MQTT broker and prints it to the debug console in node-red.</p>
            </div>

            <div content-block name="protocol-assign-pins" message="Configure the nodes">
              <h2 class="labHidden">Configure the nodes in the MQTT flow</h2>
              <ol>
                <li>Double click the temperature node to assign it to pin A0</li>
                <li>Configure <b>both</b> the <b>input mqtt</b> and <b>output mqtt</b> nodes as described below:</li>

                <ul>
                  <li>Select the pencil icon to edit the server settings and enter <b>sensors/temperature/data</b> as the topic:</li>
                  <p><img class="labHidden" alt="mqtt edit" data-fid="503934" src="https://software.intel.com/sites/default/files/managed/4b/6c/mqtt_edit_1.png" title="mqtt edit" typeof="foaf:Image"></p>
                  <li>Enter the ip address of the gateway 192.168.1.1 and 1883 as the port:</li>
                  <p><img class="labHidden" alt="mqtt edit" data-fid="503935" src="https://software.intel.com/sites/default/files/managed/0f/e7/mqtt_edit_2.png" title="mqtt edit" typeof="foaf:Image"></p>
                </ul>

            </div>
            <div content-block name="" message="Take Note of the JSON format that you will need to create for this and future labs.">
              <h2>Configure a Function Node to create the JSON format for the labs</h2>

              <div class="alert alert-info">
                <p>For future labs, it is very important that the JSON that we create has the correct properties.  The JSON format should have 3 properties.</p>
                <ul>
                  <li>sensor_id - a string representing the name of the sensor</li>
                  <li>value - the temperature sensor value</li>
                  <li>timestamp - the time the sensor value was recorded</li>
                </ul>
              </div>
            </div>

            <div content-block name="" message="Configure a Function Node to create the JSON format for the labs">
              <p>Double click the function node and name is <strong>JSONify</strong> and add the following code:</p>
              <ui-codemirror ui-codemirror-opts="editorOptions ">msg.payload = {
    sensor_id: "temperature",
    value: String(Math.floor(msg.payload) * 3/5),
    timestamp: Date.now(),
}
return msg;</pre></ui-codemirror>

            <p>If you connect a debug node to the JSONify function node, you should see a JSON object with the correct properties in the Debug tab.</p>
          </div>

          <div content-block name="" message="Configure a Function Node to parse the JSON from MQTT and format it for the LCD">
            <p>Double click the function node and name is <strong>Switch Color on Temperature</strong> and add the following code:</p>
            <ui-codemirror ui-codemirror-opts="editorOptions ">var r_val = 0;
var g_val = 0;
var b_val = 0;

var json = JSON.parse(msg.payload)

if (json.value >= 25) {
  r_val = 255;
  g_val = 0;
  b_val = 0;
} else if (json.value <= 20) {
  r_val = 0;
  g_val = 0;
  b_val = 255;
} else {
  r_val = 0;
  g_val = 255;
  b_val = 0;
}

msg.payload = json.value + "C              "

msg.lcdColor = {
  "r": r_val,
  "g": g_val,
  "b": b_val,
}

msg.lcdCursor = {
    row: 0,
    column: 0,
}

return msg;</pre></ui-codemirror>

          <p>If you connect a debug node to the "Switch Color on Temperature" function node, you should see a JSON object formated for the LCD in the Debug tab.</p>
        </div>



            <div content-block name="protocol-publish-mqtt " message="Deploy the application"
            image-link="./views/labs/protocols/images/mqtt_flow_connected.png ">
<h2 class="labHidden ">Deploy the application</h2>
<p><img class="labHidden" alt="mqtt flow connected" data-fid="503936" src="https://software.intel.com/sites/default/files/managed/a6/3f/mqtt_flow_connected.png" title="mqtt flow connected" typeof="foaf:Image"></p>

              <p>When you are done configuring the nodes hit deploy</p>
              <p>In the debug tab you should now see temperature readings from the temperature sensor. Take note, the IoT device is publishing the sensor data to the MQTT server on the Gateway and then pulling the sensor data down into the debug window.</p>
                <p> If you do not see the output in the debug window:</p>
                <ul>
                  <li>Make sure the you can see the debug window - you  might have to expand it by dragging the right side of the workspace to the center.</li>
                  <li>Make sure that the debug tab is selected in the upper right</li>
                  <li>Click the tab to the right of the debug node - called msg.payload in your flow</p></li>


            </div>


            <div content-block name="protocol-monitor-mqtt " message="Publish data to the temperature topic ">
              <h2 class="labHidden ">Publish data to the temperature topic</h2>
              <h5>Monitor MQTT Topic on Gateway</h5>
              <p>In order to monitor the MQTT topic on the gateway you will subscribe to the topic using mosquitto.</p>
              <p>In the SSH terminal to the Gateway type:</p>
              <code>mosquitto_sub -t sensors/temperature/data</code>
              <p>You will start to see the data being published to the "temperature" topic.  This is a great way to help you debug a program that uses MQTT</p>
            </div>


                <div content-block name="node-red-flow2-solution" message="Check out the solution to this exercise">
                    <h2 class="labHidden">Check out the solution to this exercise</h2>
                    <h5>Flow Source Code</h5>
                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">[
   {
      "id":"1dc1405c.26a96",
      "type":"mqtt-broker",
      "z":"",
      "broker":"localhost",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "verifyservercert":true,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "willTopic":"",
      "willQos":"0",
      "willRetain":null,
      "willPayload":"",
      "birthTopic":"",
      "birthQos":"0",
      "birthRetain":null,
      "birthPayload":""
   },
   {
      "id":"bb262fa2.18c21",
      "type":"upm-grove-temperature",
      "z":"4072485.59502b8",
      "name":"",
      "platform":"512",
      "unit":"C",
      "pin":"0",
      "interval":1000,
      "x":135.5,
      "y":75,
      "wires":[
         [
            "a83804b3.09f158"
         ]
      ]
   },
   {
      "id":"a83804b3.09f158",
      "type":"function",
      "z":"4072485.59502b8",
      "name":"JSONify",
      "func":"msg.payload = {\n    sensor_id: \"temperature\",\n    value: String(Math.floor(msg.payload) * 3/5),\n    timestamp: Date.now(),\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":366.5,
      "y":103,
      "wires":[
         [
            "9635ab89.d14de8",
            "967b8aa5.9c1bc8"
         ]
      ]
   },
   {
      "id":"635f249e.4799dc",
      "type":"upm-grove-rgb-lcd",
      "z":"4072485.59502b8",
      "name":"",
      "platform":"512",
      "r":0,
      "g":0,
      "b":"0",
      "row":0,
      "column":0,
      "x":683.5,
      "y":290,
      "wires":[

      ]
   },
   {
      "id":"9635ab89.d14de8",
      "type":"mqtt out",
      "z":"4072485.59502b8",
      "name":"",
      "topic":"sensors/temperature/data",
      "qos":"",
      "retain":"",
      "broker":"1dc1405c.26a96",
      "x":655.5,
      "y":166,
      "wires":[

      ]
   },
   {
      "id":"e9563a9b.81e1d8",
      "type":"mqtt in",
      "z":"4072485.59502b8",
      "name":"",
      "topic":"sensors/temperature/data",
      "broker":"1dc1405c.26a96",
      "x":142,
      "y":279,
      "wires":[
         [
            "f58764be.9f3458"
         ]
      ]
   },
   {
      "id":"f58764be.9f3458",
      "type":"function",
      "z":"4072485.59502b8",
      "name":"Switch Color on Temperature",
      "func":"var r_val = 0;\nvar g_val = 0;\nvar b_val = 0;\n\nvar json = JSON.parse(msg.payload)\n\nif (json.value >= 25) {\n  r_val = 255;\n  g_val = 0;\n  b_val = 0;\n} else if (json.value <= 20) {\n  r_val = 0;\n  g_val = 0;\n  b_val = 255;\n} else {\n  r_val = 0;\n  g_val = 255;\n  b_val = 0;\n}\n\nmsg.payload = json.value + \"C              \"\n\nmsg.lcdColor = {\n  \"r\": r_val,\n  \"g\": g_val,\n  \"b\": b_val, \n}\n\nmsg.lcdCursor = {\n    row: 0,\n    column: 0,\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":434,
      "y":289,
      "wires":[
         [
            "635f249e.4799dc"
         ]
      ]
   },
   {
      "id":"967b8aa5.9c1bc8",
      "type":"debug",
      "z":"4072485.59502b8",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":577.5,
      "y":85,
      "wires":[

      ]
   }
]</pre></ui-codemirror>

                </div>
            </div>


<!--
            <div ibox title="Node-Red Flow: RESTful API to control LCD screen">
                <div content-block name="node-red-http-intro" message="Create Node-RED flow that controls the LCD screen with a web request">
                    <h2 class="labHidden">Create Node-RED flow that controls the LCD screen with a web request</h2>
                    <h3>Create Node-RED flow that controls the LCD screen with a web request.</h3>

                    <p>In this exercise, you will create a restful HTTP API to control an actuator (LCD Screen) deployed on an edge network. Use the http node to create a flow that controls the LCD with web requests.</p>
                </div>

                <div content-block name="create-http-flow" message="Create Node-RED flow that controls the LCD screen with a web request" image-link="./views/labs/protocols/images/restful_flow_1.png">
                    <h2 class="labHidden">Create Node-RED flow that controls the LCD screen with a web request</h2>
                    <p><img class="labHidden" alt="restful flow" data-fid="503937" src="https://software.intel.com/sites/default/files/managed/5d/ef/restful_flow_1.png" title="restful flow" typeof="foaf:Image"></p>

                    <h2>Create POST API flow</h2>
                    <p>Create a node-red flow like the one shown here using the:</p>
                    <p>
                        <ul>
                            <li><b>inject</b> node under the input section, configure the node to send a boolean true signal and check the box for "inject once at start". The node name will chage to "true". Connect the output from this node to the:</li>
                            <li><b>function</b> node under the fucntion section. Configure the fucntion node to contain:

                                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">global.set("lcd_r", 0);
global.set("lcd_g", 0);
global.set("lcd_b", 0);
global.set("lcd_text", "");
                                </pre></ui-codemirror>
                            </li>
                        </ul>

                        <p>Now you will create the POST method for the LCD backlight control.</p>
                        <ul>
                            <li><b>http</b> node under the input section. Configure this node to have "POST" as the method and "/lcd/backlight" as the URL. Connect this node to the:</li>
                            <li><b>http response</b> under the output section. Also connect the http node from the previous step to the:</li>
                            <li><b>function</b> node under the function section. Configure this node to contain:
                                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">global.set("lcd_r", msg.payload.r);
global.set("lcd_g", msg.payload.g);
global.set("lcd_b", msg.payload.b);
msg.payload.text = global.get("lcd_text");
return msg;</pre></ui-codemirror>
                                Connect this node to the:
                            </li>
                            <li><b>grove lcd</b> node under the Intel_gpio section</li>
                        </ul>
                    </p>

                    <p>Now you will create the POST method for the LCD text control.</p>
                    <ul>
                        <li><b>http</b> node under the input section. Configure this node to have "POST" as the method and "/lcd/text" as the URL. Connect this node to the:</li>
                        <li><b>http response</b> under the output section. Also connect the http node from the previous step to the:</li>
                        <li><b>function</b> node under the function section. Configure this node to contain:
                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">global.set("lcd_text", msg.payload.text);
msg.payload.r = global.get("lcd_r");
msg.payload.g = global.get("lcd_g");
msg.payload.b = global.get("lcd_b");
return msg;</pre></ui-codemirror>
                            Connect this node to the:
                        </li>
                        <li><b>grove lcd</b> node under the Intel_gpio section</li>
                    </ul>
                    </p>
                </div>


                <div content-block name="protocol-create-GET-API" message="Create GET API" image-link="./views/labs/protocols/images/get_api.png">
                    <h2 class="labHidden">Create GET API</h2>
                    <p><img class="labHidden" alt="GET API" data-fid="503938" src="https://software.intel.com/sites/default/files/managed/70/fa/get_api.png" title="GET API" typeof="foaf:Image"></p>

                    <h2 class="labHidden"> Create GET API </h2>

                    <p>You will now add two GETs that will send the status of the LCD to the requester. Use the to create two the two addiotional node sequences in your flow seen to the right</p>

                    <ul>
                      <li> <b>http</b> node under the input section connected to:</li>
                      <li><b>function</b> node under the function section connected to:</li>
                      <li><b>template</b> node under the function section connected to:
                      <li><b>http response</b> node under the output section</li>
                    </ul>
                </div>

                <div content-block name="protocol-GET-methods" message="Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight." image-link="./views/labs/protocols/images/config_get.png">
                    <h2 class="labHidden">Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight.</h2>
                    <p><img class="labHidden" alt="Config GET" data-fid="503939" src="https://software.intel.com/sites/default/files/managed/90/be/config_get.png" title="Config GET" typeof="foaf:Image"></p>

                    <p>Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight.</p>

                    <p>Next configure the function nodes to assign the global LCD variables to the response message.</p>
                    <p>
                        <h3>For the request coming from <b>/lcd/text</b> use the following function:</h3>
                        <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var payload = global.get("lcd_text");
msg.payload = payload;
return msg;</pre></ui-codemirror>
                        <p>
                            <h3>For the request coming from /lcd/backlight use the following function:</h3>


                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var r_val = global.get("lcd_r");
var g_val = global.get("lcd_g");
var b_val = global.get("lcd_b");
var payload = [r_val,g_val,b_val];
msg.payload = payload;
return msg;</pre></ui-codemirror>

                  <p>The message must have mustache template formatting in order for the http response to properly work.</p>

                  <p>
                  <h3>Configure the template node to format msg.payload with:</h3></p>

                  <p><img class="labHidden" alt="Template" data-fid="503940" src="https://software.intel.com/sites/default/files/managed/cb/96/template.png" title="Template" typeof="foaf:Image"></p>
                </div>


                <div content-block name="protocol-Create-DELETE-API" message="Create the DELETE API" image-link="./views/labs/protocols/images/delete_sequence.png">
                    <h2 class="labHidden">Create the DELETE API</h2>
                    <p><img class="labHidden" alt="delete sequence" data-fid="503941" src="https://software.intel.com/sites/default/files/managed/9f/3b/delete_sequence.png" title="delete sequence" typeof="foaf:Image"></p>

                    <h2> Create DELETE API </h2>

                    <p>The final piece is adding a sequence to deal with DELETE methods. Specifically you will use DELETEs to turn the backlight and text off</p>
                    <p>Use the:
                        <ul>
                            <li><b>http</b> node from the input section connected to the:</li>
                            <li><b>function</b> node from the function section connected to the:</li>
                            <li><b>grove lcd</b> from the Intel-gpio section</li>
                            <li>Connect the <b>http response</b> node from the output section to the <b>http</b> node.</li>
                    </p>
                    </ul>

                    <p> to create the two node sequences to the right </p>

                    <p>Configure the first http request to DELETE /lcd/text and the second to DELETE /lcd/backlight.</p>
                    <p>The function following the DELETE /lcd/text node will overwrite the global lcd text context with blank characters.</p>
                    <p>
                        <h3>Copy the following into the function node connected to /lcd/text: </h3></p>

                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">global.set("lcd_text"," ");
var r_val = global.get("lcd_r");
var g_val = global.get("lcd_g");
var b_val = global.get("lcd_b");
var text = global.get("lcd_text");
msg.payload = {"r": r_val, "g":g_val, "b":b_val, "text":text}
return msg;</pre></ui-codemirror>

                    <p>Similarly the function following DELETE /lcd/backlight will overwrite the global lcd backlight context with 0 for R, G, and B values.</p>
                    <p>
                        <h3>Copy the following into the function node connected to /lcd/backlight:</h3></p>

                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">global.set("lcd_r",0);
global.set("lcd_g",0);
global.set("lcd_b",0);
var text = global.get("lcd_text");
msg.payload = {"r": 0, "g":0, "b":0, "text":text}
return msg;</pre></ui-codemirror>
                </div>

                <div content-block name="protocol-full-restful-api" message="Create the rest of the Restful API" image-link="./views/labs/protocols/images/total_flow.png">
                    <h2 class="labHidden">Create the rest of the Restful API</h2>
                    <p><img class="labHidden" alt="total flow" data-fid="503942" src="https://software.intel.com/sites/default/files/managed/18/18/total_flow.png" title="total flow" typeof="foaf:Image"></p>

                    <h2>Full Restful API</h2>
                    <p>You have now written the complete RESTful API for the LCD screen. The total flow should be like the image to the right:</p>

                    <p>If you had any issues building the flow the source code is provided at the end of this page and can be imported into your flow like in exercise 1</p>
                </div>
                <div content-block name="install-postman" message="Install Postman, a HTTP debugging tool" image-link="./views/labs/protocols/images/postman_website.png">
                    <h2 class="labHidden">Install Postman, a HTTP debugging tool</h2>
                    <p><img class="labHidden" alt="postman website" data-fid="503944" src="https://software.intel.com/sites/default/files/managed/96/7a/postman_website.png" title="postman website" typeof="foaf:Image"></p>

                    <h5> Install Postman </h5>
                    <p><code>Postman</code> is a developer debugging tool that allows developers to send HTTP requests. If you feel more familar with other tools, such as <code>curl</code>, feel free to use it.</p>
                    <p>To send web requests to the Intel IoT device we will be using Postman, a Chrome app designed to send web requests.</p>

                    <p>To install the app navigate to <a href="https://www.getpostman.com/"> https://www.getpostman.com</a>, Select Chrome App, and install it following the directions given.</p>
                </div>

                <div content-block name="install-postman" message="Use PostMan to send an HTTP request" image-link="./views/labs/protocols/images/postman.png">
                    <h2 class="labHidden">Use PostMan to send an HTTP request</h2>
                    <p><img class="labHidden" alt="postman" data-fid="503945" src="https://software.intel.com/sites/default/files/managed/d7/9f/postman.png" title="postman" typeof="foaf:Image"></p>

                    <h5>Use Postman to send web request </h5>
                    <p>Once Postman is installed launch it from the Google Apps Launcher.</p>
                    <ul>
                        <li>Select post from the dropdown menu and enter the IP address of your Intel IoT device port 1880 with the URL specified above. In this case it is <code>10.175.152.15:1880/LCD</code></li>
                        <li>The /lcd/backlight and /lcd/text require specific JSON objects to control the LCD screen. /lcd/backlight requires JSON with:
                            <b>{"r":r_value,"g":g_value,"b":b_value}</b> where r_value, g_value, and b_value are the the r,g,b values from 0-255. /lcd/text requires a JSON with: <b>{"text":"your text here"}</b></li>

                        <li>To have Postman send a request with this syntax slect the "Body" tab, click the "raw" radial button, and select JSON from the dropdown menu. Now enter the JSON specifed above entering the color values and message you wish to display.
                            When you are ready hit "Send". The example to the right shows how to send a r=0,g=255,b=0 color JSON to /lcd/backlight.</li>
                    </ul>
                </div>
                <div content-block name="protocol-use-the-api" message="Test the API" image-link="./views/labs/protocols/images/postman_get.png">
                    <h2 class="labHidden">Test the API</h2>
                    <p><img class="labHidden" alt="Postman get" data-fid="503946" src="https://software.intel.com/sites/default/files/managed/0f/ca/postman_get.png" title="Postman get" typeof="foaf:Image"></p>

                    <h2>Use API</h2>
                    <p>Like in the last step use Postman to test the various web requests.</p>
                    <p><img class="labHidden" alt="postman get" data-fid="503947" src="https://software.intel.com/sites/default/files/managed/95/dd/postman_get.png" title="postman get" typeof="foaf:Image"></p>
                    <p>You can also navigate to your IoT device's IP, port 1880 /lcd/text or /lcd/backlight to get the status of the backlight or text.</p>
                    <p><img class="labHidden" alt="browser get" data-fid="503948" src="https://software.intel.com/sites/default/files/managed/eb/1d/browser_get.png" title="browser get" typeof="foaf:Image"></p>
                </div>

                <div content-block name="protocol-flow-source-code" message="Compare your solution to the code here.">
                    <h2 class="labHidden">Compare your solution to the Node-Red flow below.</h2>
                    <h2>Full RESTful API Flow Source Code:</h2>
                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">



                    </pre></ui-codemirror>
                </div>

              -->
                <div ibox title="Additional Resources">
                    <ul>
                        <li>
                            <p><a href="http://mqtt.org/">MQTT</a></p>
                        </li>
                        <li>
                            <p><a href="https://www.npmjs.com/package/express">ExpressJS</a></p>
                        </li>
                        <li>
                            <p><a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
