<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Application Protocols: MQTT and HTTP</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Application Protocols: MQTT and HTTP</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <!-- Objective -->
            <div ibox title="Objective">
              <div content-block name="read-objectives" message="Read the Objectives">
                <labels edison />
                  <p>In this lab, we will explore the using a visual programming tool named <a href="http://node-red.org">Node-Red</a> to build data flows from the edge sensor to the Intel® IoT Gateway.</p>

                  <ol>
                      <li>Build a data flow that sends information from the temperature sensors to the LCD screen. Dataflow is entirely on the edge device</li>
                      <li>Build a data flow that sends information from the temperature sensor to an MQTT broker on the gateway</li>
                      <li>Build a data flow that receives Restful HTTP requests and changes the state of the LCD screen</li>
                  </ol>
                </div>
              </div>

              <div ibox title="Node-Red Flow: Temperature to LCD">
                <div content-block name="connect-sensors" message="Install the Grove base shield and sensors"
                image-link="./views/labs/protocols/images/image_2.jpg">
                  <ol>
                      <li><p>Install the <b>Grove Base Shield</b> onto the Intel® Edison Arduino expansion board.</p></li>
                      <li><p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A0</strong> of the Grove Base Shield.</p></li>
                      <li><p>Connect <strong>Grove LCD</strong> display to one of the <strong>I2C</strong> pins.</p></li>
                  </ol>
                </div>

                <div content-block name="find-ip-address" message="Login to your Intel Edison and find you IP address">
                  <p>Log into the Intel® Edison over serial.</p>
                  <p>First get the ip address of the Edison:</p>
                  <code>$ ifconfig wlan0</code>
                  <p><img src="./views/labs/protocols/images/ifconfig.png" alt="" ></p>
                  <p>The ip address is the address following inet addr. In the case above it is: <code>10.175.154.190</code>, however yours will be different. Remeber this address for the following step.</p>
                </div>

                <div content-block name="run-node-red" message="Install and run Node-RED">
                    <p>Install Node-Red by running the following command:</p>

                    <p><code>$ npm install -g node-red</code></p>

                    <div class="alert alert-warning">
                      <p>Installing Node Red will take about 5-8 minutes. Often times it seems to fail on the first attempt, but on the second attempt it succeeds.</p>
                    </div>
                </div>

                <div content-block name="run-node-red-modules" message="Install the Intel Edison Node-RED module using NPM">
                    <p>Once Node-RED is installed you will have to add the custom nodes that will be used to interact with
                      the temperature sensor and LCD display</p>

                    <p>To install the Node-RED nodes needed use:</p>
                    <code>$ npm install -g node-red-contrib-grove-sensors-edison </code>

                    <div class="alert alert-warning">
                      If you are on a MacOSX or Linux machine you may need to use the <b>sudo</b> command.
                      <code>$ sudo npm install -g node-red-contrib-grove-sensors-edison </code>
                    </div>

                    <p> You should now run the Node-RED server by typing:</p>
                    <code>$ node-red</code>
                    <p>The Node-Red server will now launch</p>
                </div>
                <div content-block name="open-node-red" message="Open the Node-Red Flow Editor"
                image-link="./views/labs/protocols/images/new_node_red.png">
                    <p>Enter <b>http://{Your-Intel-Edison-IP-Address}:1880</b> into your navigation bar. For example, if your Intel Edison has an IP address of <code>10.175.154.190</code> then enter <code>http://10.175.154.190:1880</code></p>
                    <div class="alert alert-warning">
                      <p>Make sure that your laptop is connected to the same WiFi network as your Edison.</p>
                    </div>
                </div>

                <div content-block name="first-flow" message="Create a Node-Red Flow that connects your temperature sensor to your LCD"
                image-link="./views/labs/protocols/images/first_flow.png">

                    <p>Create a Node-Red flow like the one show here.</p>
                    <ol>
                      <li>Search for the <b>Grove Temp Sensor</b> in the Intel_gpio section and pull one into the workarea.</li>
                      <li>Search for the <b>Function</b> node in the function Function section and connect it to the Grove Temp Sensor.</li>
                      <li>Search for the <b>Grove LCD</b> node in the Intel_gpio and connect it to the Function.</li>
                    </ol>
                </div>
                <div content-block name="first-flow" message="Customize your Function Node">
                    <p> Double click on the Temperature node and assign A0 as the pin and interval as 1000 to take a temperature reading every 1000ms. Double click the function node and enter the following code:</p>
                    <ui-codemirror ui-codemirror-opts="editorOptions">var r_val = 0;
var g_val = 0;
var b_val = 0;

if (msg.payload >= 25) {
  r_val = 255;
  g_val = 0;
  b_val = 0;
} else if (msg.payload <= 20) {
  r_val = 0;
  g_val = 0;
  b_val = 255;
} else {
  r_val = 0;
  g_val = 255;
  b_val = 0;
}

msg.payload = {
  "r": r_val,
  "g": g_val,
  "b": b_val,
  "text": String(msg.payload) + " C"
}
return msg;</ui-codemirror>

    <div class="alert alert-warning">
      <p>Click OK and then click deploy in the top right corner</p>
    </div>
  </div>

  <div content-block name="protocol-deploy" message="Click the Deploy button and watch the temperature appear on the LCD screen">
    <p>Click on the Deploy button and Node-Red will activate the flow that was just built.</p>
  </div>

  <div content-block name="first-flow" message="Learn to export your Node-Red Flow">
      <p>Any flow in Node-RED can be exported / imported as a JSON object. To create the JSON, select the nodes you wish to
          export, and select Export -> Clipboard from the drop down menu. The code for the above flow is displayed below. To import it into your
          work space copy the text, hit Ctrl-I in the Node-RED workspace and paste the text in. This method provides
          a simple way to share your flows with other developers.</p>
      <ui-codemirror ui-codemirror-opts="editorOptions">[{
  "id": "5fe40e38.147d3",
  "type": "grove_temp",
  "z": "f0e0dcd2.5577",
  "name": "Temperature Sensor",
  "pin": "0",
  "interval": "1000",
  "x": 116.5,
  "y": 38,
  "wires": [
    ["c436ec9d.6f12"]
  ]
}, {
  "id": "c436ec9d.6f12",
  "type": "function",
  "z": "f0e0dcd2.5577",
  "name": "Set Threshold Levels",
  "func": "var r_val = 0;\nvar g_val = 0;\nvar b_val = 0;\n\nif (msg.payload >= 25) {\n  r_val = 255;\n  g_val = 0;\n  b_val = 0;\n} else if (msg.payload <= 20) {\n  r_val = 0;\n  g_val = 0;\n  b_val = 255;\n} else {\n  r_val = 0;\n  g_val = 255;\n  b_val = 0;\n}\n\nmsg.payload = {\n  \"r\": r_val,\n  \"g\": g_val,\n  \"b\": b_val,\n  \"text\": String(msg.payload) + \" C\"\n}\nreturn msg;\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 364.5,
  "y": 82,
  "wires": [
    ["77419449.eb2d7c"]
  ]
}, {
  "id": "77419449.eb2d7c",
  "type": "grove-lcd",
  "z": "f0e0dcd2.5577",
  "name": "Grove LCD",
  "x": 608.5,
  "y": 128,
  "wires": []
}]</ui-codemirror>

          <p> NOTE: if the JSON references any custom nodes those will have to be installed first. </p>

          </div>
        </div>

          <div ibox title="Node-Red Flow: Publish Sensor Data over MQTT">
            <labels gateway/>
            <div content-block name="find-ip-address" message="Login to your Intel IoT Gateway">
              <p>The commands in this section will be run on the Intel® Iot Gateway.</p>
            </div>

            <div content-block name="find-ip-address" message="Review useful commands to help you organize your workflow on the Intel IoT Gateway">
              <h5>Setup Screen Window Manager</h5>

              <p>Once you log in the Intel® Iot Gateway, start the <code>screen</code> window manager. </p>
              <p><code>$ screen</code></p>

              <p>You can open multiple console windows, name them and switch between them using screen.  There will be many times when you will want to run several processes at the same time and <code>screen</code> will be very useful to launch them in separate windows.  The another alternative is to simply SSH into the server multiple times.  Of course, in production you will want to launch most processes at boot time using Systemd.</p>
              <ul>
                <p>To create a new console type <code>Ctrl-A C</code></p>
                <p>To name the console type <code>Ctrl-A Shift-A</code></p>
                <p>To get a list of all consoles type <code>Ctrl-A &quot;</code></p>
              </ul>

              <h5>Set up the Mosquitto MQTT Broker</h5>
              <ol>
                <li>
                  <p>Create a user for your Mosquitto.</p>
                  <p><code>$ adduser mosquitto</code></p>
                </li>

                <li>
                  <p>Launch the MQTT Broker named mosquitto</p>
                  <p><code>$ mosquitto</code></p>
                </li>
              </ol>
            </div>

            <div content-block name="find-ip-address" message="Create a Node-Red flow that will sends the temperature reading to the MQTT broker"
            image-link="./views/labs/protocols/images/mqtt_flow.png">
              <h5>Create a Node-RED flow</h5>
              <p>Now you will create a new flow in Node-RED in order to send the temperature data up to your MQTT server.<p>
              <p>Using the "grove temperature sensor", "mqtt" output, "mqtt" input, and "debug" nodes create the following flow:</p>
            </div>

            <div content-block name="protocol-assign-pins" message="Configure the temperature pin"
            image-link="./views/labs/protocols/images/mqtt_setup.png">
              <ol>
                <li>Double click the temperature node to assign it to pin A0</li>
                <li> Double click the mqtt nodes to configure them.</li>
                <li>Use the IP address of the gateway as the server and "temp" as the topic</li>
              </ol>
            </div>

            <div content-block name="protocol-publish-mqtt" message="Deploy the application"
            image-link="./views/labs/protocols/images/mqtt_flow_connected.png">
              <p>When you are done configuring the nodes hit deploy</p>
              <p>In the debug tab you should now see temperature readings from the temperature sensor. Take note, the Edison is publishing the sensor data to the MQTT server on the Gateway and then pulling the sensor data down into the debug window.</p>
            </div>


            <div content-block name="protocol-monitor-mqtt" message="Publish data to the temperature topic">
              <h5>Monitor MQTT Topic on Gateway</h5>
              <p>In order to monitor the MQTT topic on the gateway you will subscribe to the topic using mosquitto.</p>
              <p>In the SSH terminal to the Gateway create a new screen console run the screen command and then type (Ctrl-A C) and switch to it (Ctrl-A ").</p>
              <code>mosquitto_sub -t temperature</code>

              <p>You will start to see the data being published to the "temperature" topic.</p>
            </div>


            <div content-block name="node-red-flow2-solution" message="Check out the solution to this exercise">
              <h5>Flow Source Code</h5>
              <ui-codemirror ui-codemirror-opts="editorOptions">
		  [
   {
      "id":"7b901765.846fe8",
      "type":"grove_temp",
      "z":"b4234423.4bdcb8",
      "name":"",
      "pin":"0",
      "interval":"1000",
      "x":90,
      "y":60,
      "wires":[
         [
            "446460f6.bb9ba"
         ]
      ]
   },
   {
      "id":"446460f6.bb9ba",
      "type":"mqtt out",
      "z":"b4234423.4bdcb8",
      "name":"",
      "topic":"temperature",
      "qos":"",
      "retain":"",
      "broker":"",
      "x":248,
      "y":61,
      "wires":[

      ]
   },
   {
      "id":"8010b7b1.7fef48",
      "type":"mqtt in",
      "z":"b4234423.4bdcb8",
      "name":"",
      "topic":"temperature",
      "broker":"",
      "x":84,
      "y":138,
      "wires":[
         [
            "9921221a.66dee"
         ]
      ]
   },
   {
      "id":"9921221a.66dee",
      "type":"debug",
      "z":"b4234423.4bdcb8",
      "name":"",
      "active":false,
      "console":"false",
      "complete":"false",
      "x":246,
      "y":137,
      "wires":[

      ]
   }]</ui-codemirror>

                </div>
            </div>

            <div ibox  title="Node-Red Flow: RESTful API to control LCD screen">
              <div content-block name="node-red-http-intro" message="Create Node-RED flow that controls the LCD screen with a web request">
                <h3>Create Node-RED flow that controls the LCD screen with a web request.</h3>

                <p>In this exercise, you will create a restful HTTP API to control an actuator (LCD Screen) deployed on an edge network. Use the http node to create a flow that controls the LCD with web requests.</p>
              </div>

              <div content-block name="create-http-flow" message="Create Node-RED flow that controls the LCD screen with a web request" image-link="./views/labs/protocols/images/restful_flow_1.png">
                <h5>Create Node-RED Flow</h5>
                <p>Create a node-red flow like the one shown here using the:</p>
                <p><ul><li><b>inject</b> node under the input section, configure the node to send a boolean true signal and check the box for "inject once at start".
                The node name will chage to "true". Connect the output from this node to the:</li>
                <li><b>function</b> node under the fucntion section. Configure the fucntion node to contain:

                <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",0);
global.set("lcd_g",0);
global.set("lcd_b",0);
global.set("lcd_text","");
			</ui-codemirror>
                </li>
</ul>
<br>
<p>Now you will create the POST method for the LCD control.</p>
<ul>
                <li><b>http</b> node under the input section. Configure this node to have "POST" as the method and "/lcd/backlight" as the URL. Connect this node to the:</li>
                <li><b>http response</b> under the output section. Also connect the http node from the previous step to the:</li>
                <li><b>function</b> node under the function section. Configure this node to contain:
                <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",msg.payload.r);
global.set("lcd_g",msg.payload.g);
global.set("lcd_b",msg.payload.b);
msg.payload.text=global.get("lcd_text");
return msg;

		</ui-codemirror>
		Connect this node to the:
                </li>
                <li><b>grove lcd</b> node under the Intel_gpio section</li>


                </ul></p>
              </div>

              <div content-block name="configure-http-node" message="Configure the HTTP node" image-link="./views/labs/protocols/images/config_post.png">
                <p>Double click the input http node to configure it:</p>
                <p>For this example use POST as the method and /LCD as the URL.</p>
              </div>

              <div content-block name="install-postman" message="Install Postman, a HTTP debugging tool" image-link="./views/labs/protocols/images/postman_website.png">
                <h5> Install Postman </h5>
                <p><code>Postman</code> is a developer debugging tool that allows developers to send HTTP requests. If you feel more familar with other tools, such as <code>curl</code>, feel free to use it.</p>
                <p>To send web requests to the Intel® Edison we will be using Postman, a Chrome app designed to send web requests.</p>

                <p>To install the app navigate to <a href ="https://www.getpostman.com/"> https://www.getpostman.com</a>,
	                      Select Chrome App, and install it following the directions given.</p>
              </div>

                <div content-block name="install-postman" message="Use PostMan to send an HTTP request" image-link="./views/labs/protocols/images/postman.png">
	                  <h5>Use Postman to send web request </h5>
	                  <p>Once Postman is installed launch it from the Google Apps Launcher.</p>
                    <ol>
                      <li>Select post from the dropdown menu and enter the IP address of your Intel® Edison port 1880 with the URL specified above. In this case it is <code>10.175.152.15:1880/LCD</code></li>
                      <li>The Grove LCD node requires a specific message to change the backlight color and display text. The message must be a JSON with the structure: <code>{"r":r_val,"g":g_val,"b":b_bal,"text":"text to print"}</code> where r_val, g_val, and b_val are the red, green and blue color values from 0-255. This structure is also specified in the grove-lcd node info tab.</li>

                      <li>To have Postman send a request with this syntax slect the "Body" tab, click the "raw" radial button, and select JSON from the dropdown menu. Now enter the JSON specifed above entering the color values and message you wish to display. When you are ready hit "Send".</li>
                    </ol>
                </div>

                <div content-block name="install-postman" message="Install Postman, a HTTP debugging tool" image-link="./views/labs/protocols/images/postman.png">
	                  <p><img src="" alt="" ></p>
	                  <p>If everything has worked properly your LCD should change to the color specifed and display your text. Also the debug tag will show the message that was
	                      recieved, or any errors that were encountered. </p>

                    <h3>Overview of Restful API for controlling the LCD Screen</h3>
                    <p>You have created the restful API for:</p>
	                  <p><b>POST /LCD</b> - which allows you to comtrol the text and backlight.</p>
	                  <p>In the following step you will add the following restful APIs:</p>
                    <ul>
                        <li><b>GET /lcd/backlight</b> - Retrieves the current status of the LCD backlight</li>
                        <li><b>DELETE /lcd/backlight</b> - Turns the LCD backlight off</li>
                        <li><b>GET /lcd/text</b> - Retrieves the current status of the LCD text</li>
                        <li><b>DELETE /lcd/text</b> - Turns the LCD text off</li>
                    </ul>
                </div>








































<div content-block name="Node-Red-Flow-GET-and-DELETE-APIs-for-LCD" message="Node-Red Flow: GET and DELETE APIs for LCD"
image-link="./views/labs/protocols/images/global_context.png">
      <h3>Add further restful API functionallity to your LCD</h3>

      <p>In this exercise you will add a GET for retriving the state of the LCD screen and a DELETE
	  to turn the LCD off.</p>

  		<h2> Create Global Context </h2>
	  	<p>In order to read the state of the LCD you will create a global context, or global variable, which will
		contain the LCD state.</p>

	    <p>Starting with the flow from Step 1 add a function node and link it to the POST /LCD node. It is reccomended
	that you name the node something descriptive ("write to global") to make your flow easier to read. Double click
	the function node copy in the following code:</p>

<ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",msg.payload.r);
global.set("lcd_g",msg.payload.g);
global.set("lcd_b",msg.payload.b);
global.set("lcd_text",msg.payload.text);</ui-codemirror>

  	<p>Now when the LCD state is POSTed the global context for r, g, b, and text will be written. </p>
  </div>

  <div content-block name="protocol-create-GET-API" message="Create GET API"
  image-link="./views/labs/protocols/images/get_api.png">
	  <h2> Create GET API </h2>

	  <p>You will now add two GETs that will send the global context to the requester. Use the input http, function, template, and http response nodes to create two addiotional node sequences in your flow:</p>
  </div>

  <div content-block name="protocol-GET-methods" message="Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight." image-link="./views/labs/protocols/images/config_get.png">
  	<p>Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight.</p>

  	<p>Next configure the function nodes to assign the global LCD variables to the response message.</p>
  	<p>For the request coming from /lcd/text use the following function:

  	<ui-codemirror ui-codemirror-opts="editorOptions">var payload = global.get("lcd_text");
  	msg.payload = payload;
  	return msg;</ui-codemirror>

  	<p>For the request coming from /lcd/backlight use the following function:

  	<ui-codemirror ui-codemirror-opts="editorOptions">var r_val = global.get("lcd_r");
  	var g_val = global.get("lcd_g");
  	var b_val = global.get("lcd_b");

  	var payload = [r_val,g_val,b_val];
  	msg.payload = payload;
  	return msg;</ui-codemirror>

  	<p>The message must have mustache template formatting in order for the http response to properly work.</p>
  	<p>To do this configure the template node to format msg.payload with {{payload}}:</p>
  	<p><img src="template.png" alt="" ></p>
  </div>


  <div content-block name="protocol-Create-DELETE-API" message="Create the DELETE API" image-link="./views/labs/protocols/images/delete_sequence.png">
  	<h2> Create DELETE API </h2>

  	<p>The final piece is adding a sequence to deal with DELETE methods. Specifically you will use DELETEs to
  		turn the backlight and text off</p>
  	<p>Use the input http, function, grove-lcd, and http response nodes to create the following two sequences to your flow:</p>

  	<p>Configure the first http request to DELETE /lcd/text and the second to DELETE /lcd/backlight.</p>
  	<p>The function following the DELETE /lcd/text node will overwrite the global lcd text context with blank characters.</p>
  	<p>To do this copy the following into the function node:</p>

  	<ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_text","                             ");

  	var r_val = global.get("lcd_r");
  	var g_val = global.get("lcd_g");
  	var b_val = global.get("lcd_b");
  	var text = global.get("lcd_text");

  	msg.payload = {"r": r_val, "g":g_val, "b":b_val, "text":text}
  	return msg;</ui-codemirror>

  	<p>Similarly the function following DELETE /lcd/backlight will overwrite the global lcd backlight context with 0 for R, G, and B values.</p>
  	<p>Copy the following into the second function node:</p>

    <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",0);
  	global.set("lcd_g",0);
  	global.set("lcd_b",0);

  	var text = global.get("lcd_text");

  	msg.payload = {"r": 0, "g":0, "b":0, "text":text}
  	return msg;</ui-codemirror>
  </div>

  <div content-block name="protocol-full-restful-api" message="Create the rest of the Restful API"
  image-link="./views/labs/protocols/images/total_flow.png">
  	<h2>Full Restful API</h2>
  	<p>You have now written the complete RESTful API for the LCD screen. The total flow should be:</p>
  	<p><img src="total_flow.png" alt="" ></p>
  	<p>If you had any issues building the flow the source code is provided at the end of this page and can be imported into your flow
  	like in exercise 1</p>
  </div>

  <div content-block name="protocol-use-the-api" message="Test the API"
  image-link="./views/labs/protocols/images/postman_get.png">
  	<h2>Use API</h2>
  	<p>Like in the last step use Postman to test the various web requests.</p>
  	<p><img src="./views/labs/protocols/images/postman_get.png" alt="" ></p>
  	<p>You can also navigate to your Edison's IP, port 1880 /lcd/text or /lcd/backlight
  	to get the status of the backlight or text.</p>
  	<p><img src="./views/labs/protocols/images/browser_get.png" alt="" ></p>
  </div>

  <div content-block name="protocol-flow-source-code" message="Compare your solution to the code here.">
	  <h3>Flow Source Code:</h3>
	  <ui-codemirror ui-codemirror-opts="editorOptions">[
   {
      "id":"ead378e7.152c88",
      "type":"http in",
      "z":"b4234423.4bdcb8",
      "name":"",
      "url":"/lcd/text",
      "method":"get",
      "swaggerDoc":"",
      "x":70,
      "y":300,
      "wires":[
         [
            "7941069e.86bef8"
         ]
      ]
   },
   {
      "id":"7941069e.86bef8",
      "type":"function",
      "z":"b4234423.4bdcb8",
      "name":"read text from global",
      "func":"var payload = global.get(\"lcd_text\");\nmsg.payload = payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":291,
      "y":299,
      "wires":[
         [
            "c2e87905.3d1788"
         ]
      ]
   },
   {
      "id":"c2e87905.3d1788",
      "type":"template",
      "z":"b4234423.4bdcb8",
      "name":"template",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "template":"{{payload}}",
      "x":475,
      "y":300,
      "wires":[
         [
            "d10be55a.2ef418"
         ]
      ]
   },
   {
      "id":"d10be55a.2ef418",
      "type":"http response",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":619,
      "y":300,
      "wires":[

      ]
   },
   {
      "id":"3e91312.fc16ece",
      "type":"http in",
      "z":"b4234423.4bdcb8",
      "name":"",
      "url":"/lcd/backlight",
      "method":"get",
      "swaggerDoc":"",
      "x":90,
      "y":400,
      "wires":[
         [
            "6cd0e4f3.932f1c"
         ]
      ]
   },
   {
      "id":"6cd0e4f3.932f1c",
      "type":"function",
      "z":"b4234423.4bdcb8",
      "name":"read rgb from global",
      "func":"var r_val = global.get(\"lcd_r\");\nvar g_val = global.get(\"lcd_g\");\nvar b_val = global.get(\"lcd_b\");\n\nvar payload = [r_val,g_val,b_val];\nmsg.payload = payload; \nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":305,
      "y":399,
      "wires":[
         [
            "a013a513.5fec58"
         ]
      ]
   },
   {
      "id":"a013a513.5fec58",
      "type":"template",
      "z":"b4234423.4bdcb8",
      "name":"template",
      "field":"payload",
      "fieldType":"msg",
      "format":"json",
      "template":"{{payload}}",
      "x":486,
      "y":398,
      "wires":[
         [
            "69b566d4.964a98"
         ]
      ]
   },
   {
      "id":"69b566d4.964a98",
      "type":"http response",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":619,
      "y":398,
      "wires":[

      ]
   },
   {
      "id":"6e7b4fa.f9184b",
      "type":"http in",
      "z":"b4234423.4bdcb8",
      "name":"",
      "url":"/LCD",
      "method":"post",
      "swaggerDoc":"",
      "x":94,
      "y":148,
      "wires":[
         [
            "687f18fb.9780e8",
            "66a140f8.995ec",
            "f31fe208.0ce02",
            "5606a2f2.a9f95c"
         ]
      ]
   },
   {
      "id":"5606a2f2.a9f95c",
      "type":"grove-lcd",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":273,
      "y":125,
      "wires":[

      ]
   },
   {
      "id":"687f18fb.9780e8",
      "type":"http response",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":260,
      "y":223,
      "wires":[

      ]
   },
   {
      "id":"66a140f8.995ec",
      "type":"debug",
      "z":"b4234423.4bdcb8",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":280,
      "y":74,
      "wires":[

      ]
   },
   {
      "id":"f31fe208.0ce02",
      "type":"function",
      "z":"b4234423.4bdcb8",
      "name":"write to global",
      "func":"global.set(\"lcd_r\",msg.payload.r);\nglobal.set(\"lcd_g\",msg.payload.g); \nglobal.set(\"lcd_b\",msg.payload.b); \nglobal.set(\"lcd_text\",msg.payload.text); \n\n",
      "outputs":"0",
      "noerr":0,
      "x":293,
      "y":170,
      "wires":[

      ]
   },
   {
      "id":"2094340b.df6bcc",
      "type":"http in",
      "z":"b4234423.4bdcb8",
      "name":"",
      "url":"/lcd/text",
      "method":"delete",
      "swaggerDoc":"",
      "x":80,
      "y":480,
      "wires":[
         [
            "c88fc03a.37704",
            "38cc77ee.c73388"
         ]
      ]
   },
   {
      "id":"c88fc03a.37704",
      "type":"function",
      "z":"b4234423.4bdcb8",
      "name":"",
      "func":"\nglobal.set(\"lcd_text\",\"                             \"); \n\nvar r_val = global.get(\"lcd_r\");\nvar g_val = global.get(\"lcd_g\");\nvar b_val = global.get(\"lcd_b\");\nvar text = global.get(\"lcd_text\");\n\nmsg.payload = {\"r\": r_val, \"g\":g_val, \"b\":b_val, \"text\":text}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":270,
      "y":480,
      "wires":[
         [
            "fc6d4282.0392c"
         ]
      ]
   },
   {
      "id":"fc6d4282.0392c",
      "type":"grove-lcd",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":430,
      "y":480,
      "wires":[

      ]
   },
   {
      "id":"38cc77ee.c73388",
      "type":"http response",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":430,
      "y":540,
      "wires":[

      ]
   },
   {
      "id":"1d7bd885.e28427",
      "type":"http in",
      "z":"b4234423.4bdcb8",
      "name":"",
      "url":"/lcd/backlight",
      "method":"delete",
      "swaggerDoc":"",
      "x":100,
      "y":620,
      "wires":[
         [
            "a8d173a4.572e9",
            "e8e996ef.171668"
         ]
      ]
   },
   {
      "id":"a8d173a4.572e9",
      "type":"function",
      "z":"b4234423.4bdcb8",
      "name":"",
      "func":"global.set(\"lcd_r\",0);\nglobal.set(\"lcd_g\",0); \nglobal.set(\"lcd_b\",0); \n\nvar text = global.get(\"lcd_text\");\n\nmsg.payload = {\"r\": 0, \"g\":0, \"b\":0, \"text\":text}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":270,
      "y":620,
      "wires":[
         [
            "1253c82f.edac38"
         ]
      ]
   },
   {
      "id":"1253c82f.edac38",
      "type":"grove-lcd",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":430,
      "y":620,
      "wires":[

      ]
   },
   {
      "id":"e8e996ef.171668",
      "type":"http response",
      "z":"b4234423.4bdcb8",
      "name":"",
      "x":430,
      "y":680,
      "wires":[

      ]
   }
]</ui-codemirror>
  </div>
      <div ibox  title="Additional Resources">
        <ul>
            <li><p><a href="http://mqtt.org/">MQTT</a></p></li>
            <li><p><a href="https://www.npmjs.com/package/express">ExpressJS</a></p></li>
            <li><p><a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a></p></li>
        </ul>
      </div>
    </div>
</div>
