<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Application Protocols: MQTT and HTTP</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Application Protocols: MQTT and HTTP</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <!-- Objective -->
            <div ibox title="Objective">
              <div content-block name="read-objectives" message="Read the Objectives">
<h2 class="labHidden">Read the Objectives</h2>
                <labels edison />
                  <p>In this lab, we will explore the using a visual programming tool named <a href="http://node-red.org">Node-Red</a> to build data flows from the edge sensor to the Intel® IoT Gateway.</p>

                  <ol>
                      <li>Build a data flow that sends information from the temperature sensors to the LCD screen. Dataflow is entirely on the edge device</li>
                      <li>Build a data flow that sends information from the temperature sensor to an MQTT broker on the gateway</li>
                      <li>Build a data flow that receives Restful HTTP requests and changes the state of the LCD screen</li>
                  </ol>
                </div>
              </div>

              <div ibox title="Node-Red Flow: Temperature to LCD">
                <div content-block name="connect-sensors" message="Install the Grove base shield and sensors"
                image-link="./views/labs/protocols/images/image_2.jpg">s*
<h2 class="labHidden">Install the Grove base shield and sensors</h2>
<img class="labHidden" src="./views/labs/protocols/images/image_2.jpg"></img>

                  <ol>
                      <li><p>Install the <b>Grove Base Shield</b> onto the Intel® Edison Arduino expansion board.</p></li>
                      <li><p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A0</strong> of the Grove Base Shield.</p></li>
                      <li><p>Connect <strong>Grove LCD</strong> display to one of the <strong>I2C</strong> pins.</p></li>
                  </ol>
                </div>

                <div content-block name="find-ip-address" message="Login to your Intel Edison and find you IP address">
<h2 class="labHidden">Login to your Intel Edison and find you IP address</h2>
                  <p>Log into the Intel® Edison over serial.</p>
                  <p>First get the ip address of the Edison:</p>
                  <code>$ ifconfig wlan0</code>
                  <p><img src="./views/labs/protocols/images/ifconfig.png" alt="" ></p>
                  <p>The ip address is the address following inet addr. In the case above it is: <code>10.175.154.190</code>, however yours will be different. Remeber this address for the following step.</p>
                </div>

                <div content-block name="run-node-red" message="Install and run Node-RED">
<h2 class="labHidden">Install and run Node-RED</h2>
                    <p>Install Node-Red by running the following command:</p>

                    <p><code>$ npm install -g node-red</code></p>
                    <P>The node-red install will throw some warnings as shown below. The installation will work fine despite these.</p>
                      <p><img src="./views/labs/protocols/images/node-red-error.jpg" alt="" ></p>
                    <div class="alert alert-warning">
                      <p>Installing Node Red will take about 5-8 minutes. Often times it seems to fail on the first attempt, but on the second attempt it succeeds.</p>
                    </div>
                </div>

                <div content-block name="run-node-red-modules" message="Install the Intel Edison Node-RED module using NPM">
<h2 class="labHidden">Install the Intel Edison Node-RED module using NPM</h2>
                    <p>Once Node-RED is installed you will have to add the custom nodes that will be used to interact with
                      the temperature sensor and LCD display</p>

                    <p>To install the Node-RED nodes needed use:</p>
                    <code>$ npm install -g node-red-contrib-grove-sensors-edison </code>

                    <p> You should now run the Node-RED server by typing:</p>
                    <code>$ node-red</code>
                    <p>The Node-Red server will now launch</p>
                </div>
                <div content-block name="open-node-red" message="Open the Node-Red Flow Editor"
                image-link="./views/labs/protocols/images/new_node_red.png">s*
<h2 class="labHidden">Open the Node-Red Flow Editor</h2>
<img class="labHidden" src="./views/labs/protocols/images/new_node_red.png"></img>

                    <p>Enter <b>http://{Your-Intel-Edison-IP-Address}:1880</b> into your navigation bar. For example, if your Intel Edison has an IP address of <code>10.175.154.190</code> then enter <code>http://10.175.154.190:1880</code></p>
                    <div class="alert alert-warning">
                      <p>Make sure that your laptop is connected to the same WiFi network as your Edison.</p>
                    </div>
                </div>

                <div content-block name="first-flow" message="Create a Node-Red Flow that connects your temperature sensor to your LCD"
                image-link="./views/labs/protocols/images/first_flow.png">s*
<h2 class="labHidden">Create a Node-Red Flow that connects your temperature sensor to your LCD</h2>
<img class="labHidden" src="./views/labs/protocols/images/first_flow.png"></img>


                    <p>Create a Node-Red flow like the one show here.</p>
                    <ol>
                      <li>Search for the <b>Grove Temp Sensor</b> in the Intel_gpio section and pull one into the workarea.</li>
                      <li>Search for the <b>Function</b> node in the function Function section and connect it to the Grove Temp Sensor.</li>
                      <li>Search for the <b>Grove LCD</b> node in the Intel_gpio and connect it to the Function.</li>
                    </ol>
                    <p>NOTE: The nodes are listen to the left of the workspace and you will have to scroll down to find all the node you need..</p>
                </div>
                <div content-block name="first-flow" message="Customize your Function Node">
<h2 class="labHidden">Customize your Function Node</h2>
                    <p> Double click on the Temperature node and assign A0 as the pin and interval as 1000 to take a temperature reading every 1000ms. Double click the function node and enter the following code:</p>
                    <ui-codemirror ui-codemirror-opts="editorOptions">var r_val = 0;
var g_val = 0;
var b_val = 0;

if (msg.payload >= 25) {
  r_val = 255;
  g_val = 0;
  b_val = 0;
} else if (msg.payload <= 20) {
  r_val = 0;
  g_val = 0;
  b_val = 255;
} else {
  r_val = 0;
  g_val = 255;
  b_val = 0;
}

msg.payload = {
  "r": r_val,
  "g": g_val,
  "b": b_val,
  "text": String(msg.payload) + " C"
}
return msg;</ui-codemirror>

    <div class="alert alert-warning">
      <p>Click OK and then click deploy in the top right corner</p>
    </div>
  </div>

  <div content-block name="protocol-deploy" message="Click the Deploy button and watch the temperature appear on the LCD screen">
<h2 class="labHidden">Click the Deploy button and watch the temperature appear on the LCD screen</h2>
    <p>Click on the Deploy button and Node-Red will activate the flow that was just built.</p>
  </div>

  <div content-block name="first-flow" message="Learn to export your Node-Red Flow">
<h2 class="labHidden">Learn to export your Node-Red Flow</h2>
      <p>Any flow in Node-RED can be exported / imported as a JSON object. To create the JSON, select the nodes you wish to
          export, and select Export -> Clipboard from the drop down menu. The code for the above flow is displayed below. To import it into your
          work space copy the text, hit Ctrl-I in the Node-RED workspace and paste the text in. This method provides
          a simple way to share your flows with other developers.</p>
      <ui-codemirror ui-codemirror-opts="editorOptions">[{
  "id": "5fe40e38.147d3",
  "type": "grove_temp",
  "z": "f0e0dcd2.5577",
  "name": "Temperature Sensor",
  "pin": "0",
  "interval": "1000",
  "x": 116.5,
  "y": 38,
  "wires": [
    ["c436ec9d.6f12"]
  ]
}, {
  "id": "c436ec9d.6f12",
  "type": "function",
  "z": "f0e0dcd2.5577",
  "name": "Set Threshold Levels",
  "func": "var r_val = 0;\nvar g_val = 0;\nvar b_val = 0;\n\nif (msg.payload >= 25) {\n  r_val = 255;\n  g_val = 0;\n  b_val = 0;\n} else if (msg.payload <= 20) {\n  r_val = 0;\n  g_val = 0;\n  b_val = 255;\n} else {\n  r_val = 0;\n  g_val = 255;\n  b_val = 0;\n}\n\nmsg.payload = {\n  \"r\": r_val,\n  \"g\": g_val,\n  \"b\": b_val,\n  \"text\": String(msg.payload) + \" C\"\n}\nreturn msg;\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 364.5,
  "y": 82,
  "wires": [
    ["77419449.eb2d7c"]
  ]
}, {
  "id": "77419449.eb2d7c",
  "type": "grove-lcd",
  "z": "f0e0dcd2.5577",
  "name": "Grove LCD",
  "x": 608.5,
  "y": 128,
  "wires": []
}]</ui-codemirror>

          <p> NOTE: if the JSON references any custom nodes those will have to be installed first. </p>

          </div>
        </div>

          <div ibox title="Node-Red Flow: Publish Sensor Data over MQTT">
            <labels gateway/>
            <div content-block name="find-ip-address" message="Login to your Intel IoT Gateway">
<h2 class="labHidden">Login to your Intel IoT Gateway</h2>
              <p>The commands in this section will be run on the Intel® Iot Gateway.</p>
            </div>

            <div content-block name="find-ip-address" message="Review useful commands to help you organize your workflow on the Intel IoT Gateway">
<h2 class="labHidden">Review useful commands to help you organize your workflow on the Intel IoT Gateway</h2>
              <h5>Setup Screen Window Manager</h5>
              <p>Log into your Intel® Iot Gateway. As a refresher: </p>
              <p>Use Putty or Screen to connect to ip address <b>192.168.1.1</b> and use <b>root</b> as the username and password.</p>
              <p>For more details refer back to the 3rd section of the introduction lab</p>
              <p>Once you log in the Intel® Iot Gateway, start the <code>screen</code> window manager. </p>
              <p><code>$ screen</code></p>

              <p>You can open multiple console windows, name them and switch between them using screen.  There will be many times when you will want to run several processes at the same time and <code>screen</code> will be very useful to launch them in separate windows.  The another alternative is to simply SSH into the server multiple times.  Of course, in production you will want to launch most processes at boot time using Systemd.</p>
              <ul>
                <p>To create a new console type <code>Ctrl-A C</code></p>
                <p>To name the console type <code>Ctrl-A Shift-A</code></p>
                <p>To get a list of all consoles type <code>Ctrl-A &quot;</code></p>
              </ul>

              <h5>Set up the Mosquitto MQTT Broker</h5>
              <ol>
                <li>
                  <p>Create a user for your Mosquitto.</p>
                  <p><code>$ adduser mosquitto</code></p>
                </li>
                <li>
                  <p>For simplicity use <b>root</b> when asked for the UNIX password</p>
                </li>

                <li>
                  <p>Launch the MQTT Broker named mosquitto</p>
                  <p><code>$ mosquitto</code></p>
                </li>
              </ol>
            </div>

            <div content-block name="find-ip-address" message="Create a Node-Red flow that will sends the temperature reading to the MQTT broker"
            image-link="./views/labs/protocols/images/mqtt_flow.png">s*
<h2 class="labHidden">Create a Node-Red flow that will sends the temperature reading to the MQTT broker</h2>
<img class="labHidden" src="./views/labs/protocols/images/mqtt_flow.png"></img>

              <h5>Create a Node-RED flow</h5>
              <p>Now you will create a new flow in Node-RED in order to send the temperature data up to your MQTT server.<p>
              <p>Use the:
                <ul>
                  <li> <b>grove temp sensor</b> from the Intel-gpio section connected to:</li>
                  <li><b>function</b> node from the function section connected to:</li>
                  <li><b>mqtt</b> node from the output section</li>
                </ul>
                <p> This creates a sequence that will send temperature data over MQTT to a broker.</p>

                  <p>Use the
                    <ul>
                      <li><b>mqtt</b> node from the input section connected to the:</li>
                      <li><b>debug</b> node from the output section</li>
                    </ul>
                     <p>This creates a sequence that recives data from a MQTT broker and prints it to the debug console in node-red.</p>
            </div>

            <div content-block name="protocol-assign-pins" message="Configure the nodes"
            >
<h2>Configure the nodes in the MQTT flow</h2>
              <ol>
                <li>Double click the temperature node to assign it to pin A0</li>
                <li>Configure <b>both</b> the <b>input mqtt</b> and <b>output mqtt</b> nodes as described below:</li>

                <ul>
                  <br>
                  <li><h3>Select the pencil icon to edit the server settings and enter <b>sensors/temperature/data</b> as the topic:</h3></li>
                  <br>
                  <p><img src="./views/labs/protocols/images/mqtt_edit_1.png" alt="" ></p>
                  <br>
                  <li><h3>Enter the ip address of the gateway 192.168.1.1 and 1883 as the port:</h3></li>
                  <br>
                  <p><img src="./views/labs/protocols/images/mqtt_edit_2.png" alt="" ></p>
                  <br>
                </ul>
                <li><h3>Double click the function node and add the following code:</h3></li>
              </ol>
              <br>
              <p>
              <ui-codemirror ui-codemirror-opts="editorOptions">var temp = msg.payload
msg.payload = {};
msg.payload.sensor_id = "grove_temp";
msg.payload.time = Date.now();
msg.payload.sensor_value = temp;
return msg;
		  </ui-codemirror>
</p>


            </div>

            <div content-block name="protocol-publish-mqtt" message="Deploy the application"
            image-link="./views/labs/protocols/images/mqtt_flow_connected.png">s*
<h2 class="labHidden">Deploy the application</h2>
<img class="labHidden" src="./views/labs/protocols/images/mqtt_flow_connected.png"></img>

              <p>When you are done configuring the nodes hit deploy</p>
              <p>In the debug tab you should now see temperature readings from the temperature sensor. Take note, the Edison is publishing the sensor data to the MQTT server on the Gateway and then pulling the sensor data down into the debug window.</p>
                <p> If you do not see the output in the debug window:</p>
                <ul>
                  <li>Make sure the you can see the debug window - you  might have to expand it by dragging the right side of the workspace to the center.</li>
                  <li>Make sure that the debug tab is selected in the upper right</li>
                  <li>Click the tab to the right of the debug node - called msg.payload in your flow</p></li>


            </div>


            <div content-block name="protocol-monitor-mqtt" message="Publish data to the temperature topic">
<h2 class="labHidden">Publish data to the temperature topic</h2>
              <h5>Monitor MQTT Topic on Gateway</h5>
              <p>In order to monitor the MQTT topic on the gateway you will subscribe to the topic using mosquitto.</p>
              <p>In the SSH terminal to the Gateway create a new screen console run the screen command and then type (Ctrl-A C) and switch to it (Ctrl-A ").</p>
              <code>mosquitto_sub -t temperature</code>

              <p>You will start to see the data being published to the "temperature" topic.</p>
            </div>


            <div content-block name="node-red-flow2-solution" message="Check out the solution to this exercise">
<h2 class="labHidden">Check out the solution to this exercise</h2>
              <h5>Flow Source Code</h5>
              <ui-codemirror ui-codemirror-opts="editorOptions">[
   {
      "id":"f8e20475.ec4178",
      "type":"mqtt-broker",
      "z":"92444f4a.3f6fb",
      "broker":"192.168.1.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "verifyservercert":true,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "willTopic":"",
      "willQos":"0",
      "willRetain":null,
      "willPayload":"",
      "birthTopic":"",
      "birthQos":"0",
      "birthRetain":null,
      "birthPayload":""
   },
   {
      "id":"9ccab42f.f5e138",
      "type":"mqtt-broker",
      "z":"92444f4a.3f6fb",
      "broker":"192.168.1.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "verifyservercert":true,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "willTopic":"",
      "willQos":"0",
      "willRetain":null,
      "willPayload":"",
      "birthTopic":"",
      "birthQos":"0",
      "birthRetain":null,
      "birthPayload":""
   },
   {
      "id":"8a51fc7b.d2649",
      "type":"grove_temp",
      "z":"92444f4a.3f6fb",
      "name":"",
      "pin":"0",
      "interval":"1000",
      "x":115,
      "y":131,
      "wires":[
         [
            "c2552eb3.e9cb2"
         ]
      ]
   },
   {
      "id":"c2552eb3.e9cb2",
      "type":"function",
      "z":"92444f4a.3f6fb",
      "name":"Create JSON",
      "func":"var temp = msg.payload\n\nmsg.payload = {};\nmsg.payload.sensor_id = \"grove_temp\";\nmsg.payload.time = Date.now();\nmsg.payload.value = temp;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":347.5,
      "y":132,
      "wires":[
         [
            "cadc53b7.e6bf7"
         ]
      ]
   },
   {
      "id":"cadc53b7.e6bf7",
      "type":"mqtt out",
      "z":"92444f4a.3f6fb",
      "name":"",
      "topic":"sensors/temperature/data",
      "qos":"",
      "retain":"",
      "broker":"9ccab42f.f5e138",
      "x":566,
      "y":131,
      "wires":[

      ]
   },
   {
      "id":"eb754d1a.894cd",
      "type":"mqtt in",
      "z":"92444f4a.3f6fb",
      "name":"",
      "topic":"sensors/temperature/data",
      "broker":"f8e20475.ec4178",
      "x":172,
      "y":302,
      "wires":[
         [
            "63fa67a9.bf1ad8"
         ]
      ]
   },
   {
      "id":"63fa67a9.bf1ad8",
      "type":"debug",
      "z":"92444f4a.3f6fb",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":382,
      "y":303,
      "wires":[

      ]
   },
   {
      "id":"562c38c.89818c8",
      "type":"comment",
      "z":"92444f4a.3f6fb",
      "name":"Read Temperature",
      "info":"\n",
      "x":157.5,
      "y":72,
      "wires":[

      ]
   },
   {
      "id":"bab528e3.f8c4a8",
      "type":"comment",
      "z":"92444f4a.3f6fb",
      "name":"Create JSON",
      "info":"",
      "x":347.5,
      "y":74,
      "wires":[

      ]
   },
   {
      "id":"5e9ad648.207ea8",
      "type":"comment",
      "z":"92444f4a.3f6fb",
      "name":"Send to MQTT",
      "info":"",
      "x":521,
      "y":76,
      "wires":[

      ]
   },
   {
      "id":"1b4fe7dc.bff108",
      "type":"comment",
      "z":"92444f4a.3f6fb",
      "name":"Read from MQTT",
      "info":"",
      "x":141,
      "y":237,
      "wires":[

      ]
   },
   {
      "id":"c823f643.d4e018",
      "type":"comment",
      "z":"92444f4a.3f6fb",
      "name":"Print to debug ",
      "info":"",
      "x":384,
      "y":232,
      "wires":[

      ]
   }
]</ui-codemirror>

                </div>
            </div>

            <div ibox  title="Node-Red Flow: RESTful API to control LCD screen">
              <div content-block name="node-red-http-intro" message="Create Node-RED flow that controls the LCD screen with a web request">
<h2 class="labHidden">Create Node-RED flow that controls the LCD screen with a web request</h2>
                <h3>Create Node-RED flow that controls the LCD screen with a web request.</h3>

                <p>In this exercise, you will create a restful HTTP API to control an actuator (LCD Screen) deployed on an edge network. Use the http node to create a flow that controls the LCD with web requests.</p>
              </div>

              <div content-block name="create-http-flow" message="Create Node-RED flow that controls the LCD screen with a web request" image-link="./views/labs/protocols/images/restful_flow_1.png">s*
<h2 class="labHidden">Create Node-RED flow that controls the LCD screen with a web request</h2>
<img class="labHidden" src="./views/labs/protocols/images/restful_flow_1.png"></img>

                <h2>Create POST API flow</h2>
                <p>Create a node-red flow like the one shown here using the:</p>
                <p><ul><li><b>inject</b> node under the input section, configure the node to send a boolean true signal and check the box for "inject once at start".
                The node name will chage to "true". Connect the output from this node to the:</li>
                <li><b>function</b> node under the fucntion section. Configure the fucntion node to contain:

                <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",0);
global.set("lcd_g",0);
global.set("lcd_b",0);
global.set("lcd_text","");
			</ui-codemirror>
                </li>
</ul>
<br>
<p>Now you will create the POST method for the LCD backlight control.</p>
<ul>
                <li><b>http</b> node under the input section. Configure this node to have "POST" as the method and "/lcd/backlight" as the URL. Connect this node to the:</li>
                <li><b>http response</b> under the output section. Also connect the http node from the previous step to the:</li>
                <li><b>function</b> node under the function section. Configure this node to contain:
                <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",msg.payload.r);
global.set("lcd_g",msg.payload.g);
global.set("lcd_b",msg.payload.b);
msg.payload.text=global.get("lcd_text");
return msg;

		</ui-codemirror>
		Connect this node to the:
                </li>
                <li><b>grove lcd</b> node under the Intel_gpio section</li>
                </ul></p>

                <p>Now you will create the POST method for the LCD text control.</p>
                <ul>
                                <li><b>http</b> node under the input section. Configure this node to have "POST" as the method and "/lcd/text" as the URL. Connect this node to the:</li>
                                <li><b>http response</b> under the output section. Also connect the http node from the previous step to the:</li>
                                <li><b>function</b> node under the function section. Configure this node to contain:
                                <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_text",msg.payload.text);
msg.payload.r=global.get("lcd_r");
msg.payload.g=global.get("lcd_g");
msg.payload.b=global.get("lcd_b");
return msg;

                		</ui-codemirror>
                		Connect this node to the:
                                </li>
                                <li><b>grove lcd</b> node under the Intel_gpio section</li>
                                </ul></p>
              </div>


  <div content-block name="protocol-create-GET-API" message="Create GET API"
  image-link="./views/labs/protocols/images/get_api.png">s*
<h2 class="labHidden">Create GET API</h2>
<img class="labHidden" src="./views/labs/protocols/images/get_api.png"></img>

	  <h2> Create GET API </h2>

	  <p>You will now add two GETs that will send the status of the LCD to the requester. Use the:

      <ul>
        <li> <b>http</b> node under the input section connected to:</li>
        <li><b>function</b> node under the function section connected to:</li>
        <li><b>template</b> node under the function section connected to:
        <li><b>http response</b> node under the output section</li>
         to create two the two addiotional node sequences in your flow seen to the right</p>
  </div>

  <div content-block name="protocol-GET-methods" message="Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight." image-link="./views/labs/protocols/images/config_get.png">s*
<h2 class="labHidden">Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight.</h2>
<img class="labHidden" src="./views/labs/protocols/images/config_get.png"></img>

  	<p>Configure the first input http node to GET methods to /lcd/text and second to handle GET methods to /lcd/backlight.</p>

  	<p>Next configure the function nodes to assign the global LCD variables to the response message.</p>
    <br>
  	<p><h3>For the request coming from <b>/lcd/text</b> use the following function:</h3>
      <br>
  	<ui-codemirror ui-codemirror-opts="editorOptions">var payload = global.get("lcd_text");
  	msg.payload = payload;
  	return msg;</ui-codemirror>
    <br>
  	<p><h3>For the request coming from /lcd/backlight use the following function:</h3>
      <br>

  	<ui-codemirror ui-codemirror-opts="editorOptions">var r_val = global.get("lcd_r");
  	var g_val = global.get("lcd_g");
  	var b_val = global.get("lcd_b");

  	var payload = [r_val,g_val,b_val];
  	msg.payload = payload;
  	return msg;</ui-codemirror>


  	<p>The message must have mustache template formatting in order for the http response to properly work.</p>
    <br>
    <p><h3>Configure the template node to format msg.payload with:</h3></p>
    <br>
  	<p><img src="./views/labs/protocols/images/template.png" alt="" ></p>
  </div>


  <div content-block name="protocol-Create-DELETE-API" message="Create the DELETE API" image-link="./views/labs/protocols/images/delete_sequence.png">s*
<h2 class="labHidden">Create the DELETE API</h2>
<img class="labHidden" src="./views/labs/protocols/images/delete_sequence.png"></img>

  	<h2> Create DELETE API </h2>

  	<p>The final piece is adding a sequence to deal with DELETE methods. Specifically you will use DELETEs to
  		turn the backlight and text off</p>
  	<p>Use the:
<ul>
  <li><b>http</b> node from the input section connected to the:</li>
  <li><b>function</b> node from the function section connected to the:</li>
  <li><b>grove lcd</b> from the Intel-gpio section</li>
  <li>Connect the <b>http response</b> node from the output section to the <b>http</b> node.</li></p>
</ul>

  <p> to create the two node sequences to the right </p>

  	<p>Configure the first http request to DELETE /lcd/text and the second to DELETE /lcd/backlight.</p>
  	<p>The function following the DELETE /lcd/text node will overwrite the global lcd text context with blank characters.</p>
  	<p><h3>Copy the following into the function node connected to /lcd/text: </h3></p>

  	<ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_text","                             ");

  	var r_val = global.get("lcd_r");
  	var g_val = global.get("lcd_g");
  	var b_val = global.get("lcd_b");
  	var text = global.get("lcd_text");

  	msg.payload = {"r": r_val, "g":g_val, "b":b_val, "text":text}
  	return msg;</ui-codemirror>

  	<p>Similarly the function following DELETE /lcd/backlight will overwrite the global lcd backlight context with 0 for R, G, and B values.</p>
  	<p><h3>Copy the following into the function node connected to /lcd/backlight:</h3></p>

    <ui-codemirror ui-codemirror-opts="editorOptions">global.set("lcd_r",0);
  	global.set("lcd_g",0);
  	global.set("lcd_b",0);

  	var text = global.get("lcd_text");

  	msg.payload = {"r": 0, "g":0, "b":0, "text":text}
  	return msg;</ui-codemirror>
  </div>

  <div content-block name="protocol-full-restful-api" message="Create the rest of the Restful API"
  image-link="./views/labs/protocols/images/total_flow.png">s*
<h2 class="labHidden">Create the rest of the Restful API</h2>
<img class="labHidden" src="./views/labs/protocols/images/total_flow.png"></img>

  	<h2>Full Restful API</h2>
  	<p>You have now written the complete RESTful API for the LCD screen. The total flow should be like the image to the right:</p>

  	<p>If you had any issues building the flow the source code is provided at the end of this page and can be imported into your flow
  	like in exercise 1</p>
  </div>
  <div content-block name="install-postman" message="Install Postman, a HTTP debugging tool" image-link="./views/labs/protocols/images/postman_website.png">s*
<h2 class="labHidden">Install Postman, a HTTP debugging tool</h2>
<img class="labHidden" src="./views/labs/protocols/images/postman_website.png"></img>

    <h5> Install Postman </h5>
    <p><code>Postman</code> is a developer debugging tool that allows developers to send HTTP requests. If you feel more familar with other tools, such as <code>curl</code>, feel free to use it.</p>
    <p>To send web requests to the Intel® Edison we will be using Postman, a Chrome app designed to send web requests.</p>

    <p>To install the app navigate to <a href ="https://www.getpostman.com/"> https://www.getpostman.com</a>,
            Select Chrome App, and install it following the directions given.</p>
  </div>

    <div content-block name="install-postman" message="Use PostMan to send an HTTP request" image-link="./views/labs/protocols/images/postman.png">s*
<h2 class="labHidden">Use PostMan to send an HTTP request</h2>
<img class="labHidden" src="./views/labs/protocols/images/postman.png"></img>

        <h5>Use Postman to send web request </h5>
        <p>Once Postman is installed launch it from the Google Apps Launcher.</p>
        <ul>
          <li>Select post from the dropdown menu and enter the IP address of your Intel® Edison port 1880 with the URL specified above. In this case it is <code>10.175.152.15:1880/LCD</code></li>
          <li>The /lcd/backlight and /lcd/text require specific JSON objects to control the LCD screen. /lcd/backlight requires  JSON with:
          <b>{"r":r_value,"g":g_value,"b":b_value}</b> where r_value, g_value, and b_value are the the r,g,b values from 0-255.
        /lcd/text requires a JSON with: <b>{"text":"your text here"}</b></li>

          <li>To have Postman send a request with this syntax slect the "Body" tab, click the "raw" radial button, and select JSON from the dropdown menu. Now enter the JSON specifed above entering the color values and message you wish to display. When you are ready hit "Send".
             The example to the right shows how to send a r=0,g=255,b=0 color JSON to /lcd/backlight.</li>
        </ul>
    </div>
  <div content-block name="protocol-use-the-api" message="Test the API"
  image-link="./views/labs/protocols/images/postman_get.png">s*
<h2 class="labHidden">Test the API</h2>
<img class="labHidden" src="./views/labs/protocols/images/postman_get.png"></img>

  	<h2>Use API</h2>
  	<p>Like in the last step use Postman to test the various web requests.</p>
  	<p><img src="./views/labs/protocols/images/postman_get.png" alt="" ></p>
  	<p>You can also navigate to your Edison's IP, port 1880 /lcd/text or /lcd/backlight
  	to get the status of the backlight or text.</p>
  	<p><img src="./views/labs/protocols/images/browser_get.png" alt="" ></p>
  </div>

  <div content-block name="protocol-flow-source-code" message="Compare your solution to the code here.">
<h2 class="labHidden">Compare your solution to the code here.</h2>
	  <h2>Full RESTful API Flow Source Code:</h2>
	  <ui-codemirror ui-codemirror-opts="editorOptions">[
   {
      "id":"660ce9c5.663588",
      "type":"http in",
      "z":"a11d17fa.6787e8",
      "name":"",
      "url":"/lcd/text",
      "method":"get",
      "swaggerDoc":"",
      "x":119,
      "y":585,
      "wires":[
         [
            "4189eace.2f7db4"
         ]
      ]
   },
   {
      "id":"4189eace.2f7db4",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"read text from global",
      "func":"var payload = global.get(\"lcd_text\");\nmsg.payload = payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":340,
      "y":584,
      "wires":[
         [
            "fea4d149.df6ad"
         ]
      ]
   },
   {
      "id":"fea4d149.df6ad",
      "type":"template",
      "z":"a11d17fa.6787e8",
      "name":"template",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"{{payload}}",
      "x":524,
      "y":585,
      "wires":[
         [
            "562ce19f.352"
         ]
      ]
   },
   {
      "id":"562ce19f.352",
      "type":"http response",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":668,
      "y":585,
      "wires":[

      ]
   },
   {
      "id":"fc4844b1.078a08",
      "type":"http in",
      "z":"a11d17fa.6787e8",
      "name":"",
      "url":"/lcd/backlight",
      "method":"get",
      "swaggerDoc":"",
      "x":137,
      "y":706,
      "wires":[
         [
            "d8a0622d.b1e1d"
         ]
      ]
   },
   {
      "id":"d8a0622d.b1e1d",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"read rgb from global",
      "func":"var r_val = global.get(\"lcd_r\");\nvar g_val = global.get(\"lcd_g\");\nvar b_val = global.get(\"lcd_b\");\n\nvar payload = [r_val,g_val,b_val];\nmsg.payload = payload; \nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":352,
      "y":705,
      "wires":[
         [
            "b3607840.4e9678"
         ]
      ]
   },
   {
      "id":"b3607840.4e9678",
      "type":"template",
      "z":"a11d17fa.6787e8",
      "name":"template",
      "field":"payload",
      "fieldType":"msg",
      "format":"json",
      "template":"{{payload}}",
      "x":533,
      "y":704,
      "wires":[
         [
            "bde4b25c.71ec6"
         ]
      ]
   },
   {
      "id":"bde4b25c.71ec6",
      "type":"http response",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":666,
      "y":704,
      "wires":[

      ]
   },
   {
      "id":"ecaf0154.01fd2",
      "type":"http in",
      "z":"a11d17fa.6787e8",
      "name":"",
      "url":"/lcd/backlight",
      "method":"post",
      "swaggerDoc":"",
      "x":149,
      "y":250,
      "wires":[
         [
            "4b02345a.a57e3c",
            "9ac1b793.ce9dd8"
         ]
      ]
   },
   {
      "id":"e2c52952.92e9b8",
      "type":"grove-lcd",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":571,
      "y":249,
      "wires":[

      ]
   },
   {
      "id":"4b02345a.a57e3c",
      "type":"http response",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":330,
      "y":304,
      "wires":[

      ]
   },
   {
      "id":"9ac1b793.ce9dd8",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"write to global",
      "func":"global.set(\"lcd_r\",msg.payload.r);\nglobal.set(\"lcd_g\",msg.payload.g); \nglobal.set(\"lcd_b\",msg.payload.b); \nmsg.payload.text=global.get(\"lcd_text\");\nreturn msg;",
      "outputs":"1",
      "noerr":0,
      "x":371,
      "y":249,
      "wires":[
         [
            "e2c52952.92e9b8"
         ]
      ]
   },
   {
      "id":"d625b863.698498",
      "type":"http in",
      "z":"a11d17fa.6787e8",
      "name":"",
      "url":"/lcd/text",
      "method":"delete",
      "swaggerDoc":"",
      "x":138,
      "y":839,
      "wires":[
         [
            "285423ff.9f2f5c",
            "dbe5f6c4.e35838"
         ]
      ]
   },
   {
      "id":"285423ff.9f2f5c",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"",
      "func":"\nglobal.set(\"lcd_text\",\"                     \"); \n\nvar r_val = global.get(\"lcd_r\");\nvar g_val = global.get(\"lcd_g\");\nvar b_val = global.get(\"lcd_b\");\n\n\nmsg.payload = {\"r\": r_val, \"g\":g_val, \"b\":b_val, \"text\":\"                   \"}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":328,
      "y":839,
      "wires":[
         [
            "58d1d7d.471df28"
         ]
      ]
   },
   {
      "id":"58d1d7d.471df28",
      "type":"grove-lcd",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":488,
      "y":839,
      "wires":[

      ]
   },
   {
      "id":"dbe5f6c4.e35838",
      "type":"http response",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":488,
      "y":899,
      "wires":[

      ]
   },
   {
      "id":"17b68414.3ab23c",
      "type":"http in",
      "z":"a11d17fa.6787e8",
      "name":"",
      "url":"/lcd/backlight",
      "method":"delete",
      "swaggerDoc":"",
      "x":158,
      "y":979,
      "wires":[
         [
            "a977ffd8.0a757",
            "e7bd7376.69e8"
         ]
      ]
   },
   {
      "id":"a977ffd8.0a757",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"",
      "func":"global.set(\"lcd_r\",0);\nglobal.set(\"lcd_g\",0); \nglobal.set(\"lcd_b\",0); \n\nvar text = global.get(\"lcd_text\");\n\nmsg.payload = {\"r\": 0, \"g\":0, \"b\":0, \"text\":text}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":328,
      "y":979,
      "wires":[
         [
            "7f7b7dee.ebc7c4"
         ]
      ]
   },
   {
      "id":"7f7b7dee.ebc7c4",
      "type":"grove-lcd",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":488,
      "y":979,
      "wires":[

      ]
   },
   {
      "id":"e7bd7376.69e8",
      "type":"http response",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":488,
      "y":1039,
      "wires":[

      ]
   },
   {
      "id":"a2d94126.e2c43",
      "type":"inject",
      "z":"a11d17fa.6787e8",
      "name":"",
      "topic":"",
      "payload":"true",
      "payloadType":"bool",
      "repeat":"",
      "crontab":"",
      "once":true,
      "x":124.5,
      "y":138,
      "wires":[
         [
            "3f69358f.ea879a"
         ]
      ]
   },
   {
      "id":"3f69358f.ea879a",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"write to global",
      "func":"global.set(\"lcd_r\",0);\nglobal.set(\"lcd_g\",0); \nglobal.set(\"lcd_b\",0); \nglobal.set(\"lcd_text\",\"\"); \n\n",
      "outputs":"0",
      "noerr":0,
      "x":322,
      "y":138,
      "wires":[

      ]
   },
   {
      "id":"2985e439.f4e53c",
      "type":"http in",
      "z":"a11d17fa.6787e8",
      "name":"",
      "url":"/lcd/text",
      "method":"post",
      "swaggerDoc":"",
      "x":125,
      "y":421,
      "wires":[
         [
            "7809336b.efd21c",
            "17c1fe06.b73b32"
         ]
      ]
   },
   {
      "id":"41d4623a.5c97ec",
      "type":"grove-lcd",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":557,
      "y":420,
      "wires":[

      ]
   },
   {
      "id":"7809336b.efd21c",
      "type":"http response",
      "z":"a11d17fa.6787e8",
      "name":"",
      "x":316,
      "y":475,
      "wires":[

      ]
   },
   {
      "id":"17c1fe06.b73b32",
      "type":"function",
      "z":"a11d17fa.6787e8",
      "name":"write to global",
      "func":"global.set(\"lcd_text\",msg.payload.text);\nmsg.payload.r=global.get(\"lcd_r\");\nmsg.payload.g=global.get(\"lcd_g\");\nmsg.payload.b=global.get(\"lcd_b\");\nreturn msg;",
      "outputs":"1",
      "noerr":0,
      "x":357,
      "y":420,
      "wires":[
         [
            "41d4623a.5c97ec"
         ]
      ]
   },
   {
      "id":"50234d86.fe19a4",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"Write initial LCD state  ",
      "info":"",
      "x":159,
      "y":86,
      "wires":[

      ]
   },
   {
      "id":"d204c8f5.db8278",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"post LCD backlight color",
      "info":"",
      "x":167,
      "y":207,
      "wires":[

      ]
   },
   {
      "id":"41bfdfbf.e236c",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"post LCD text",
      "info":"",
      "x":124,
      "y":374,
      "wires":[

      ]
   },
   {
      "id":"fcb02c60.336c4",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"get LCD text",
      "info":"",
      "x":122,
      "y":535,
      "wires":[

      ]
   },
   {
      "id":"dab1eda9.4f5dc",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"get LCD backlight color",
      "info":"",
      "x":149,
      "y":661,
      "wires":[

      ]
   },
   {
      "id":"f378e276.7743d",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"delete LCD text",
      "info":"",
      "x":128,
      "y":767,
      "wires":[

      ]
   },
   {
      "id":"6b830102.7a293",
      "type":"comment",
      "z":"a11d17fa.6787e8",
      "name":"delete LCD backlight",
      "info":"",
      "x":156,
      "y":928,
      "wires":[

      ]
   }
]</ui-codemirror>
  </div>
      <div ibox  title="Additional Resources">
        <ul>
            <li><p><a href="http://mqtt.org/">MQTT</a></p></li>
            <li><p><a href="https://www.npmjs.com/package/express">ExpressJS</a></p></li>
            <li><p><a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a></p></li>
        </ul>
      </div>
    </div>
</div>
