@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?80231704');
    src: url('./font/fontello.eot?80231704#iefix') format('embedded-opentype'),
    url('./font/fontello.woff?80231704') format('woff'),
    url('./font/fontello.ttf?80231704') format('truetype'),
    url('./font/fontello.svg?80231704#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}