<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel® AMT</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <a>Remote Management</a>
            </li>
            <li class="active">
                <strong>Intel&reg; Active Management Technology</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
      <div class="row">
        <div class="col-lg-12">
            <div ibox title="Objectives">
                <div content-block name="AMT_init-objectives" message="Complete Objectives">
                  <p>This guide is intended to be a starting point for testing your Intel &reg; vPro&trade; technology systems within
                     your environment.</p>
                   <p>It will guide you through setting up a "Sandbox" test environment using your own
                     network environment so that you can test your specific use cases on Intel vPro technology that
                     ultimately will help reduce overall support costs and costly service/truck rolls.</p>
                </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
            <div ibox title="Step 1: Configure the USB Drive">
                <div content-block name="step1" message="Check after completion of this section">
                  <labels nuc/><p>On the host system:</p>
                  <ol>
                    <li>Insert the empty USB drive in the USB port on the host system.</li>
                    <li>Goto <b>C:\Users\&lt;username&gt;\Desktop\Retail\02-RemoteManagement\Configurator_download_package_11.1.0.75\ACU_Wizard folder</b></li>
                    <li>Right-click ACUWizard.exe and select <b>Run as administrator.</b></li>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT003.png"></div>
                    <p>The Intel&reg; AMT Configuration Utility appears.</p>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT004.png"></div>
                    <li>Select <b>Create Settings to Configure Multiple Systems.</b></li>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT005.png"></div>
                    <p>The following screen appears</p>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT006.png"></div>
                    <li>Click the <b>Tools</b> drop-down menu and select <b>Prepare a USB Key for Manual Configuration</b></li>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT007.png"></div>
                    <p>The following screen appears</p>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT008.png"></div>
                    <li>Select the type of Intel vPro system that you will be configuring: <b>Mobile Systems</b> or <b>Desktop Systems</b>.</li>
                    <p><b>Note</b>: Some Small Form Factor (SFF) desktops use mobile chipsets. For example, QM87 is a mobile
                     Intel vPro chipset noted by the "M," whereas the desktop equivalent chipset is the Q87.
                    <li>Select <b>All systems are version 7.0 and higher.</b></li>
                    <div content-block image-link="../views/labs/remote-configamt/images/AMT009.png"></div>
                    <li>In the Configuration Settings section:</li>
                  <div content-block image-link="../views/labs/remote-configamt/images/AMT010.png">
                    <ul>
                    <li><p>Old Intel MEBX Password: <b>admin</b></p>
                      <p>Intel SCS always puts the default password of unconfigured systems ("admin") in this field.</p>
                      <p>For the present workshop new MEBX password is "Intel@1234"</p>
                      <p>If this is not the password currently defined in Intel MEBX, enter the correct password. </p>
                      <div class="alert alert-warning">Note: If you have lost your Intel MEBX password, you will need to consult the OEM manual for clearing the CMOS battery to reset the password to "admin".</div></li>
                    <li>New Intel MEBX Password: <strong>Intel@1234 (password is case sensitive).</strong> </li>
                    <li>Leave the power states and user consent settings as is.</li>
                  </ul>
                  </div>
                  <li>In the USB Drive section, browse to the USB drive.</li>
                  <div content-block image-link="../views/labs/remote-configamt/images/AMT011.png"></div>
                  <li>Click <b>OK</b>.</li>
                  <p>The following warning appears.</p>
                  <div content-block image-link="../views/labs/remote-configamt/images/AMT012.png"></div>
                  <li>Click <b>Yes</b> if you are sure you want to continue.</li>
                      <p>Ignore the error message shown while configuring the USB</p>
                  <p>The following dialog box appears.</p>
                  <div content-block image-link="../views/labs/remote-configamt/images/AMT013.png"></div>
                  <li>Click <b>OK</b>.</li>
                  <p>You are now ready to configure the Intel vPro system.</p>
                </ol>
                </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
            <div ibox title="Step 2: Configure the Intel vPro System">
                  <ol>
                    <li>Re-start your system.</li>
                    <li>The system will read the USB drive if it is enabled to do so in the BIOS. If the system does not read</li>
                    the USB drive, check the BIOS.</li>
                    <li>While the system is reading the USB drive, select <b>Y</b> when prompted to provision the system.</li>
                    <div class="alert alert-warning">Note: Provisioning might take about 15 seconds.</div>
                  </ol>
            </div>
        </div>
      </div>

      <div class="row">
              <div class="col-lg-12">
                  <div ibox title="Step 3: Configure a Browser to Connect">
                    <div content-block message="Check after finishing this section">
                      <p>
                        To configure a browser to connect, follow these steps:
                      </p>
                      <ol>
                        <li>
                          Go to command prompt and type ipconfig.
                        </li>

                        <li>
                          Note down the ip address of your NUC machine.
                        </li><li>
                          Go to next step to connect to your NUC from your laptop.
                        </li>
                      </ol>
                    </div>
                </div>
              </div>
            </div>

              <div class="row">
                  <div class="col-lg-12">
                      <div ibox title="Step 4: Connect and Explore (In your personal LAPTOPS)" message="Connect and Explore (In your personal LAPTOPS)">

                          <p>
                            Now you are ready to start a web browser.<p><labels laptop/></p>
                          </p>
                          <ol>
                            <li>
                              Point the web browser to the address. You may not able to access your own machine. Hence, try to connect to your neibour and see the result.
                            </br>http://192.168.__.__:16992
                            </li>
                            <li>
                              <p>When prompted for username/password, type admin for username and Intel@1234 as the password</p>
                              <div content-block image-link="../views/labs/remote-configamt/images/002-Intel-AMT-Web-Browser-Login-Screen.jpg">
                              </div>
                            </li>
                            <li>
                              <p>You are now connected. Please explore different sections.</p>
                              <div content-block image-link="../views/labs/remote-configamt/images/003-Intel-AMT-Web-Browser-Screen.jpg" message="Connect and Explore (In your personal LAPTOPS)">
                              </div>
                            </li>
                          </ol>

  </div>
</div>
</div>
</div>
