<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Security</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Security</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
      <div class="row">
        <div class="col-lg-12">



            <div ibox  title="Objectives">
                <div content-block name="security-objectives" message="Read the Objectives">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <labels gateway window apple linux/>
                    <p>By the end of this module, you should be able to:</p>

                    <ul>
                        <li>Use McAfee® Embedded Control (MEC) to manage the inventory of executables, its configurations, operation modes and logs.</li>
                        <li>Have an understanding of the core MEC features, including code and application protection, write and read protection and dynamic whitelisting.</li>
                        <!-- <li>Use Grsecurity to learn the "normal" or authorized actions on the gateway and lock your commands down.</li> -->
                        <!-- <li>Ability to execute applications with minimum system level privilege. Protecting System data integrity.</li> -->
                        <li>Ensuring IoT Gateways so that only trusted modules, Files can Read / Write, Modify & execute.</li>
                        <li>Ability to log the IoT gateway usage and changes</li>
                        <li>Learn to configure and lock down system services using Systemd</li>
                    </ul>
                    <p>Also at the end of the lab we will configure the NUC for secure connection using TLS with MQTT</p>
                </div>
            </div>




            <div ibox  title="McAfee® Embedded Control Orientation">
                <div content-block name="security-objectives" message="Complete the McAfee® Embedded Control Exercises">
                    <h2 class="labHidden">Complete the McAfee® Embedded Control Exercises</h2>
                    <h5>Lab Overview</h5>

                    <p>The Intel Iot Gateway provides a McAfee layer that lets you configure McAfee embedded products for the Wind River Linux target platform. McAfee® Embedded Control for the Intel® Security product offering—maintains the integrity of your system by only allowing authorized code to run and only authorized changes to be made to a system. It automatically creates a dynamic whitelist of the “authorized code” on the embedded system. Once the whitelist is created and enabled, the system is locked down to the current, known good baseline and no program or code snippet outside the authorized set can run and no unauthorized changes can be made. McAfee® Embedded Control (MEC) provides the following capabilities in Wind River Linux platforms:</p>

                    <ul>
                        <li>
                            <p>code and application protection, which only lets whitelisted programs (binary executables, scripts) run. Any program that does not appear in the whitelist cannot run. This stops malicious programs from installing and functioning on the system.</p>
                        </li>
                        <li>
                            <p>tamper proofing for whitelisted programs so the files cannot be modified on the disk, directories or volumes</p>
                        </li>
                        <li>
                            <p>dynamic whitelisting, which eliminates the need to manually maintain the inventory list of authorized applications. This features let you manage and update whitelisted files.</p>
                        </li>
                    </ul>
              </div>

              <div content-block name="security-mec-verify" message="Verify setup of McAfee® Embedded Control Exercises">
                <h5>1. Exploring McAfee® Embedded Control</h5>

                <p>In this section you will explore how McAfee® Embedded Control integrates into Wind River Linux and how MEC manages the inventory of executables, configurations, operating modes and logging.</p>

                <p>On the Intel Iot Gateway, open a terminal window and execute the following command to confirm that the McAfee® Embedded Control (MEC) rpm is installed:</p>
                <pre><code>rpm -qa | egrep solidcore&#13;&#10;solidcores3-6.6.0_145-r0.0.intel_baytrail_64</code></pre>
                <p>You should see the name of the Solid Core rpm appear. This verifies that it is installed.</p>
              </div>

              <div content-block name="security-features-list" message="Verify features of McAfee® Embedded Control Exercises">

                    <p>Next let's verify which version of McAfee® Embedded Control is installed on your gateway</p>
                    <pre><code>sadmin license list&#13;&#10;MEC Essential</code></pre>
                    <p class="alert alert-info">If you see MEC Essential installed, then you have the minimal McAfee® Embedded Control installation.  This version has a reduced feature set and is available with the free version of your Wind River Linux operating system.</p>

                    <p>Next let's next verify which features are enabled with your version of McAfee® Embedded Control</p>
                    <pre><code>sadmin features list&#13;&#10;checksum&#9;&#9;Enabled&#13;&#10;integrity&#9;&#9;Enabled</code></pre>

                    <p>Note the following aspect of the MEC features:</p>
                    <ul>
                      <li>
                          <p>The feature <strong>integrity</strong> Based on your setup, Embedded Control gives you the flexibility to configure access to the protected systems. You can lock down systems to prevent even administrators from changing what is authorized to run on a system, unless presented with an authentication key.</p>
                      </li>
                      <li>
                          <p><strong>checksum</strong> With this release, we have added support for SHA256 to calculate checksum values of inventory items. SHA256 offers improved security as compared to SHA1. Although we continue to support SHA1, checksum values of inventory items will be calculated using SHA256. If you use SHA256 as the hash algorithm, we compute both SHA1 and SHA256 values while creating the whitelist. However, decision making is primarily based on SHA256 values.</p>
                      </li>
                      <li>
                          <p>The feature <strong>script-auth</strong> is like deny-exec, but for scripts - only whitelisted scripts file can execute.</p>
                      </li>
                      <li>
                          <p>The feature <strong>deny-write</strong> provides tamper-proofing to protect data file ( for example configuration file). Unlike the deny-exec and script-auth features (which rely on a whitelist), the deny-write feature is rules-based. The MEC configuration file (solidcore.conf) records the rules.</p>
                      </li>
                      <li>
                          <p>The feature <strong>deny-read</strong> provides tamper-proofing to prevent reading of critical files. The feature <strong>deny-read</strong> is also rule based (like deny-write) - The MEC configuration file (solidcore.conf)
                              records the rules. The feature is disabled by default.</p>
                      </li>
                    </ul>
                  </div>

                  <div content-block name="security-mec-help" message="Observe the list of possible commands in the help of McAfee® Embedded Control ">
                    <p>Execute the following command to display the help menu:</p>
                    <pre><code>sadmin help</code></pre>
                    <img src="./views/labs/security-nuc/images/sadmin-help.png" alt="image alt text" />
                  </div>

                  <div content-block name="security-mec-status" message="Find the current status of McAfee® Embedded Control" image-link="./views/labs/security-nuc/images/sadmin-status.png">
                    <p>As the MEC administrators, execute the following command to check the status of the McAfee® Embedded Control on your target:</p>
                    <pre><code>sadmin status</code></pre>
                    <img class="labHidden" alt="" src="./views/labs/security-nuc/images/sadmin-status.png">
                          <p>Observe that the status is Unsolidified.</p>

                          <p>The following table describes the fields and their meaning.</p>
                          <table>
                              <tr>
                                  <th style="width: 140px;">Field</th>
                                  <th>Description</th>
                              </tr>
                              <tr>
                                  <td>McAfee Solidifier</td>
                                  <td>specifies the operation mode of the application control</td>
                              </tr>
                              <tr>
                                  <td>McAfee Solidifier on reboot</td>
                                  <td>specifies the operation mode of the application control after a system restart</td>
                              </tr>
                              <tr>
                                  <td>ePO Managed</td>
                                  <td>displays the connectivity status of application control with McAfee ePO. In a standalone configuration, this status is No.</td>
                              </tr>
                              <tr>
                                  <td>Local CLI Access</td>
                                  <td>displays the statue (lockdown or recovered) of the local CLI. In standalone configuration, this status is Recovered.</td>
                              </tr>
                              <tr>
                                  <td>fstype</td>
                                  <td>displays the supported file systems for a volume</td>
                              </tr>
                              <tr>
                                  <td>status</td>
                                  <td>displays the current whitelist status for all the supported volumes on a system. If a volume name is specified, only the whitelist status for the volume displays.</td>
                              </tr>
                              <tr>
                                  <td>driver status</td>
                                  <td>displays whether the application control driver is loaded on a volume. If the driver is loaded, the status is attached; otherwise the status is unattached.</td>
                              </tr>
                              <tr>
                                  <td>volume</td>
                                  <td>displays the volume name</td>
                              </tr>
                          </table>
                        </div>

                        <div content-block name="security-mec-status" message="Look at the SolidCore log files for  McAfee® Embedded Control">

                            <p>Execute the following command to display the log file:</p>
                            <pre><code>cat /usr/local/mcafee/solidcore/log/solidcore.log</code></pre >
                        </div>

                        <div content-block name="security-mec-status" message="Look at the configurations files for McAfee® Embedded Control">
                          <p>Execute the following command to display the configuration file:</p>
                          <pre><code>less /etc/mcafee/solidcore/solidcore.conf</code></pre>
                          <p>Observe that the file includes the following rules and configurations:</p>
                          <ul>
                              <li>
                                  <p>the run-time mode</p>
                              </li>
                              <li>
                                  <p>the run-time mode on next reboot</p>
                              </li>
                              <li>
                                  <p>the license</p>
                              </li>
                              <li>
                                  <p>the features installed</p>
                              </li>
                              <li>
                                  <p>the features enabled</p>
                              </li>
                              <li>
                                  <p>write protect, read protect, and monitoring rules</p>
                              </li>
                              <li>
                                  <p>the installation directory</p>
                              </li>
                              <li>
                                  <p>the log file directory</p>
                              </li>
                          </ul>
                        </div>
                      </div>






                <div ibox  title="McAfee® Embedded Control Generating the White List">
                  <div content-block name="security-objectives" message="Run the solidfy command on the directories that you wish to protect.">
                    <h5>Enabling McAfee® Embedded Control</h5>

                    <p>In this section you will generate an initial whitelist, enable MEC, and restart the McAfee solidifier service.</p>

                    <p>Dynamic whitelisting is a core feature of MEC. The whitelist (or inventory) enumerates the set of programs (called authorized or solidified program code) that are allowed to run on the host computer. Any programs not in the whitelist are considered unauthorized - they cannot execute, and MEC logs their failed attempt to execute. Whitelisting does not change the files listed in the inventory.</p>

                    <p>As the MEC administrator, execute the following command to create the initial whitelist.</p>
                    <pre><code>sadmin solidify /bin /boot /etc /lib /lib64 /opt /root /sbin /usr /www</code></pre>
                    <p>This command may take a few minutes to complete.</p>

                    <p>As the MEC administrator, execute the following command to confirm that MEC created the initial whitelist. The application control component stores a whitelist for each volume at volume</p>
                    <pre><code>ls -l /.solidcore/scinv</code></pre>
                    <img alt=""  src="./views/labs/security-nuc/images/solidcore-index.png">
                  </div>

                  <div content-block name="security-test-restart" message="Run 'sadmin status' and observe the results.">
                    <p>Execute the following command to check the status of McAfee® Embedded Control.</p>
                    <pre><code>sadmin status</code></pre>
                    <img alt=""  src="./views/labs/security-nuc/images/sadmin-status-solidify-enabled.png"/>
                    <p>Observe that the status of the ext4 drive has changed to Solidified.</p>
                  </div>

                  <div content-block name="security-test-restart" message="Restart the McAfee® Embedded Control service to enable MEC">
                    <p>As the MEC administrator, execute the following command to enable MEC.</p>
                    <pre><code>sadmin enable</code></pre>
                    <p>McAfee Solidifier will be enabled on service restart.</p>
                    <p>As the MEC admin, execute this command to restart the McAfee service</p>
                    <pre><code>systemctl restart scsrvc</code></pre>
                    <img alt=""  src="./views/labs/security-nuc/images/systemctl-status.png"/>
                  </div>

                  <div content-block name="security-test-restart" message="Enable MEC">
                    <p>Now enable MEC with below command</p>
                    <pre><code>sadmin enable</code></pre>
                    <img alt=""  src="./views/labs/security-nuc/images/sadmin-enable2.png"/>
                  </div>
                </div>





                    <!-- <h5>3. Verifying MEC Code and Application Protection</h5>

                    <p>In this section you will create a script and observe how MEC code and application protection works.</p>

                    <p>MEC only lets whitelisted programs (binaries, executables, or scripts) run - any program not in the whitelist cannot run.</p>

                    <ol>

                        <li>
                            <p>Create the script by typing</p>
                            <pre><code>vi /root/test_script.sh</code></pre>
                            <p>Type "i" to enter insert mode and then type</p>
                            <pre><code>#!/bin/bash
                  echo "Hello, World"
                </code></pre>
                            <p><b>Then press "ESC" and type “:wq”  This will save and quit the vi editor.</b></p>
                        </li>

                        <li>
                            <p>Give the script execute permissions</p>
                            <pre><code>$ chmod +x /root/test_script.sh</code></pre>
                            <p>Then try to execute the script.</p>
                            <pre><code>$ /root/test_script.sh</code></pre>
                            <p><img alt="" data-fid="504132" src="https://software.intel.com/sites/default/files/managed/25/9c/image_8.png" typeof="foaf:Image"></p>
                            <p>Note the response Permission denied - MEC did not allow the script to run.</p>
                        </li>

                        <li>
                            <p>Review the log by typing</p>
                            <pre><code>cat /usr/local/mcafee/solidcore/log/solidcore.log | tail -n 1</code></pre>
                            <p><img alt="" data-fid="504133" src="https://software.intel.com/sites/default/files/managed/e9/67/image_9.png" typeof="foaf:Image"></p>
                            <p>This response indicates that MEC prevented the script from executing.</p>
                            <ol>
                                <li style="list-style-type:lower-latin;">
                                    <p>Check if the script is on the whitelist</p>
                                    <pre><code>sadmin list-solidified | grep /root/test_script.sh</code></pre>
                                    <p>Not out displays - this confirms that test_script.sh is not on the whitelist.</p>
                                </li>
                                <li>
                                    <p>Add test_script.sh to the whitelist</p>
                                    <pre><code>sadmin so /root/test_script.sh</code></pre>
                                    <p><img alt="" data-fid="504134" src="https://software.intel.com/sites/default/files/managed/b7/27/image_10.png" typeof="foaf:Image"></p>
                                </li>
                                <li>
                                    <p>Execute the command again.</p>
                                    <pre><code>/root/test_script.sh
                      Hello, World</code></pre>
                                </li>
                                <li>
                                    <p>Check the MEC log. The script was allowed to execute.</p>
                                    <p><img alt="" data-fid="504135" src="https://software.intel.com/sites/default/files/managed/c8/10/image_11.png" typeof="foaf:Image"></p>
                                </li>
                            </ol>
                        </li>

                    </ol>
                  </div>

                    <h5>4. Verifying MEC Write/Read Protection</h5>

                    <p>In this section you will implement write and read protection to the file /root/test_script.sh</p>

                    <p>MEC not only protects executable files, but also data files (including configuration files). The MEC write/read protection feature provides tamper-proofing for all kinds of files. Unlike the code and application protection feature
                        is rule-based, with the rules recorded in the MEC configuration file).</p>

                    <ol>

                        <li>
                            <p>Execute the following command to set write protection for the file.</p>
                            <pre><code>sadmin wp -i /root/test_script.sh</code></pre>
                        </li>

                        <li>
                            <p>As the MEC administrator, execute the following command to review the MEC configuration file and confirm that you added a rule to write-protect <strong>/root/test_script.sh</strong></p>
                            <pre><code>cat /etc/mcafee/solidcore/solidcore.conf | more</code></pre>
                            <p><img alt="" data-fid="504136" src="https://software.intel.com/sites/default/files/managed/93/44/image_14.png" typeof="foaf:Image"></p>
                        </li>

                        <li>
                            <p>Now try to modify the file by executing the following command.</p>
                            <pre><code>touch /root/test_script.sh</code></pre>
                            <p><img alt="" data-fid="504137" src="https://software.intel.com/sites/default/files/managed/cd/d1/image_15.png" typeof="foaf:Image"></p>
                        </li>

                        <li>
                            <p>Execute the following command to review the messages in the log file solidcore.log so you can determine the reason for the Permission denied.</p>
                            <pre><code>cat /usr/local/mcafee/solidcore/log/solidcore.log | tail -n 1</code></pre>
                            <p><img alt="" data-fid="504138" src="https://software.intel.com/sites/default/files/managed/d6/17/image_16.png" typeof="foaf:Image"></p>
                        </li>

                        <li>
                            <p>Execute the following command to enable deny-read and then review the status of the MEC features.</p>
                            <pre><code>sadmin features enable deny-read</code></pre>
                            <p><img alt="" data-fid="504140" src="https://software.intel.com/sites/default/files/managed/5c/74/image_17.png" typeof="foaf:Image"></p>
                            <p>The response indicates that the deny-read feature.</p>
                        </li>

                        <li>
                            <p>Execute the following command to set read protection for the file.</p>
                            <pre><code>sadmin rp -i /root/test_script.sh</code></pre>
                        </li>

                        <li>
                            <p>Execute the following command to review the MEC configuration file and confirm that you added read protection for the file /root/test_setup.sh</p>
                            <pre><code>cat /etc/mcafee/solidcore/solidcore.conf | more</code></pre>
                            <p><img alt="" data-fid="504141" src="https://software.intel.com/sites/default/files/managed/ad/89/image_19.png" typeof="foaf:Image"></p>
                        </li>

                        <li>
                            <p>Now attempt to read the file by printing to the console.</p>
                            <p><img alt="" data-fid="504142" src="https://software.intel.com/sites/default/files/managed/0d/13/image_20.png" typeof="foaf:Image"></p>
                        </li>

                        <li>
                            <p>Execute the following command to review the messages in the log file solidcore.log so you can determine the reason for the <strong>Permission denied error</strong>.</p>
                            <p><img alt="" data-fid="504144" src="https://software.intel.com/sites/default/files/managed/0d/54/image_21.png" typeof="foaf:Image"></p>
                        </li>

                    </ol>
                    -->




      <div ibox  title="McAfee® Embedded Control - Configure Checksum Calculation">
        <div content-block name="security-objectives" message="Determine which Hashing Algorithm is used in Integrity Calculations" image-link="./views/labs/security-nuc/images/sadmin-config-show.png">
          <p>McAfee® Embedded Control can be configured to use a variety of algorithms to verify the integrity of solidified system files.</p>
          <p>Type the following to find which algorithm is currently being used:</p>
          <pre><code>sadmin config show</code></pre>
          <p>Or if you'd like a less cluttered view then type:</p>
          <pre><code>sadmin config show | egrep HashAlgorithm</code></pre>
          <img src="./views/labs/security-nuc/images/sadmin-config-show-egrep.png" alt="" />
        </div>

        <div content-block name="security-objectives" message="Configure the Hashing Algorithm">
          <p>To change the hash algorithm used to calculate checksum, first make sure the software is in Disabled mode. This can be checked with below command</p>
          <pre><code>sadmin status</code></pre>
          <p class="alert alert-info">If the software is not in Disabled mode, type the # sadmin disable command and reboot the system.</p>

          <p>Configure checksum calculation.</p>
          <pre><code>sadmin config set HashAlgorithm=SHA256 </code></pre>
          <p>"sha value" represents the hash function to use for checksum calculation and can be SHA1 or SHA256.</p>
          <p>If you are switching from SHA1 to SHA256, the command might take a few minutes to compute new checksum values.</p>

          <p class="alert alert-warning">Notice that with the McAfee Essentials license the <strong>sadmin config set</strong> command is not available. In fact, if you type <strong>sadmin help config</strong> you will notice that the only config command available is the <strong>sadmin config show</strong> command.</p>

          <p>Enable the software.</p>
          <pre><code>sadmin enable</code></pre>
          <p>Restart the McAfee Solidifier service.</p>
          <pre><code>systemctl restart scsrvc</code></pre>
        </div>
      </div>




      <div ibox  title="McAfee® Embedded Control - Configure Checksum Calculation">
        <div content-block name="security-objectives" message="Verify that authorized applications can run">
          <p>On a protected system, only authorized applications or programs are allowed to run.</p>

          <p>To verify that authorized application can run, run any application. For example you can simple run the <strong>ls</strong> application.</p>
          <pre><code>ls</code></pre>

          <p>You can get a list of all authorized applications and shared libraries by typing:</p>
          <pre><code>sadmin ls</code></pre>
        </div>


        <div content-block name="security-objectives" message="Verify that unauthorized applications can't run">
          <p>To verify that an unauthorized application is not able to run, we need to first create an unauthorized application.<p>
          <pre><code>cp /bin/ls /bin/myls</code></pre>
          <p>Now try to run the new program.</p>
          <pre><code>/bin/myls</code></pre>
          <p>The application will not run and you will get a "Permission denied" error</p>
        </div>

        <div content-block name="security-objectives" message="Verify that the unauthorized binary fails to run">
          <p>Verify that the modification attempt fails by reviewing the solidcore.log file placed in the /usr/local/mcafee/solidcore/log directory. This command will let you view the last line of the log file.</p>
          <pre><code>tail -n 1 /usr/local/mcafee/solidcore/log/solidcore.log</code></pre>
          <p>This entry is added to the log file:</p>
          <pre><code>U.16951.16994: Sep 25 2016:16:38:27.659:   ERROR: evt.c: 1240: McAfee Solidifier prevented unauthorized execution of '/bin/myls' by process sh (Process Id: 17583, User: root).</code></pre>
        </div>

      </div>


<div ibox  title="McAfee® Embedded Control Updating A Solidified Box">
  <div content-block name="security-objectives" message="Set McAffee Embedded Control Into Update Mode" image-link="./views/labs/security-nuc/images/sadmin-bu.png">
    <h5>Using the Update Mode</h5>

    <p>When MEC is in update mode it allows all changes on a protected system. You can use update mode to complete maintenance tasks, such as installing patches or upgrading software and data files.</p>

    <p>Type this command to cause MEC to go into update mode.</p>
    <pre><code>sadmin bu</code></pre>
    <p>Notice that McAfee is now in Update mode.</p>
    <p>Run the unauthorized command that we created in the previous section: </p>
    <pre><code>/bin/myls</code></pre>
    <p>This command will now run without any errors in update mode</p>

  </div>

  <div content-block name="security-objectives" message="When you are done with the Update Mode switch back to protected mode" image-link="./views/labs/security-nuc/images/sadmin-eu.png">
    <p>This command ends the Update mode.</p>
    <pre><code>sadmin eu</code></pre>
  </div>

<div content-block name="security-objectives" message="Disable the MEC feature to return your target to the standard configuration" image-link="./views/labs/security-nuc/images/sadmin-disable.png">
    <h5>Disable Application Control</h5>

    <p>In this section, you will disable the MEC feature to return your target to the standard configuration.</p>

    <p>As the MEC administrator, execute the following command to switch EC to disabled mode to deactivate the features of MEC application control.</p>
    <pre><code>sadmin disable</code></pre>
    <p>Reboot your board for this to take effect</p>

  </div>
</div>


<div ibox title="How To Use Systemctl to Manage Systemd Services and Units">
  <div content-block name="" message="Introduction to Service Management">
    <p>Wind River Linux uses Systemd to manage the Intel IoT Gateway system services. Systemd is a widely used in the Linux community and understanding how it works is essential for securing your gateway for deployment.</p>
    <p>In this lab, you will be using the systemctl command, which is the administrative command line tool for controlling the init system. You will cover how to disable unused services, check statuses, change system states, and modify configuration files.</p>
    <p>Systemd labels services that it controls as "units".  A unit configuration file that describes how to manage a system resource.  Systemd defines a number of types of services. In this lab, you will be managing services with the aim of reducing the attack surface of your gateway.</p>
  </div>
  <div content-block name="" message="Starting and Stopping Services" image-link="./views/labs/security-nuc/images/systemctl-start.png">
    <p>To start a service use the <strong>start</strong> command.  You will need to be the root user or use the sudo command.</p>
    <p>Try starting the <strong>node-red-experience</strong></p>
    <pre><code>systemctl start node-red-experience.service</code></pre>
    <p>or you can simply drop the <strong>.service</strong> and type:
    <pre><code>systemctl start node-red-experience</code></pre>
    <p>Try stopping the <strong>node-red-experience</strong></p>
    <p>Likewise, you can stop a system service by typing:</p>
    <pre><code>systemctl stop node-red-experience</code></pre>
  </div>
  <div content-block name="" message="Restarting and Reloading" image-link="./views/labs/security-nuc/images/system-status.png">
    <p>Restarting a currently running service is simple with the <strong>restart</strong> command. This will terminate the process and then relaunch it.</p>
    <pre><code>systemctl restart node-red-experience</code></pre>
    <p>If the service is able to reload its configuration files without terminating first, then you can use the <strong>reload</strong> command.</p>
    <pre><code>systemctl reload node-red-experience</code></pre>
    <p>If you are unsure whether the service is able to reload its own configuration files, you can use the <strong>reload-or-restart</strong> command. This will reload the configuration if possbile. Otherwise, it will restart the service.</p>
    <pre><code>systemctl reload-or-restart node-red-experience</code></pre>
    <p>You can check the status of your service <strong>node-red-experience</strong> with following command, it will display current status as shown in figure.</p>
    <pre><code>systemctl status node-red-experience</code></pre>
  </div>
  <div content-block name="" message="Enabling and Disabling Services" image-link="./views/labs/security-nuc/images/systemctl-enable-disable.png">
    <p>Enabling and disabling refers to whether a service is started at boot (enabled) or not (disabled).</p>
    <p>If you want a service to start when the system next boots type the follow:</p>
    <pre><code>systemctl enable node-red-experience</code></pre>
    <p>To make sure that the system does not start a service at boot, type the following:</p>
    <pre><code>systemctl disable node-red-experience</code></pre>
  </div>
  <div content-block name="" message="Checking the Status of Services" image-link="./views/labs/security-nuc/images/systemctl-is-active.png">
    <p>The <strong>status</strong> command will report whether the service is running or not and if there is a failure condition.</p>
    <p>Let's see if what the current status is of the <strong>node-red-experience</strong>.
    <pre><code>systemctl status node-red-experience</code></pre>
    <p>There are functions which determine the current status of a service</p>
    <pre><code>systemctl is-active node-red-experience</code></pre>
    <p>This will return the current unit state, which is usually active or inactive. The exit code will be "0" if it is active, making the result simpler to parse programatically.</p>
    <pre><code>systemctl is-enabled node-red-experience</code></pre>
    <pre><code>systemctl is-failed node-red-experience</code></pre>
  </div>
  <div content-block name="" message="System State Overview" image-link="./views/labs/security-nuc/images/systemctl-list-units.png">
    <p>The next set of commands will help to determine the state of the entire system.</p>
    <pre><code>systemctl list-units</code></pre>
    <p>This command will show you a list of all of the units on the system whether they are active or not.</p>
    <pre><code>systemctl list-units --all</code></pre>

    <p>The output has the following columns:</p>
    <ul>
      <li>UNIT: The name of the systemd </li>
      <li>LOAD: This value is true if systemd parse the configuration files for this unit</li>
      <li>ACTIVE: A summary state about whether the unit is active.</li>
      <li>SUB: This is a level state that indicates more detailed information about the unit. This often varies by unit type, state, and the actual method in which the unit runs.</li>
      <li>DESCRIPTION: A short description of the unit.</li>
    </ul>
    <p>You can also display all units in the inactive state</p>
    <pre><code>systemctl list-units --all --state=inactive</code></pre>
    <p>Lastly, it's very useful to filter the results to include only the <strong>service</strong> type.
    <pre><code>systemctl list-units --type=service</code></pre>
  </div>
  <div content-block name="" message="Unit Management - Displaying a Unit File" image-link="./views/labs/security-nuc/images/systemctl-cat.png">
    <p>The cat command will display the unit file that was used to configure a given process.</p>
    <pre><code>systemctl cat node-red-experience.service</code></pre>
  </div>
  <div content-block name="" message="Displaying Dependencies" image-link="./views/labs/security-nuc/images/systemctl-list-deps.png">
    <p>To display the heirarchy of units that must successfully become active before a given unit can run.</p>
    <pre><code>systemctl list-dependencies node-red-experience.service</code></pre>
    <p>To show the units that list a given unit as a dependency type:</p>
    <pre><code>systemctl list-dependencies --reverse node-red-experience.service</code></pre>
    <pre><code>systemctl show node-red-experience.service -p Conflicts</code></pre>
  </div>
  <div content-block name="" message="Masking and Unmasking Units" image-link="./views/labs/security-nuc/images/systemctl-mask.png">
    <p>Earlier we showed you how to stop a service. Systemd has another mechanism for stopping a service from running called <strong>masking</strong>. When masking a service systemd creates a symlink between the service's configuration files in /etc/systemd/ and /dev/null.  This stops the service from being triggered as a dependency of another service.  It also prevents the service from being activated manually.</p>
    <pre><code>systemctl mask nginx</code></pre>
    <p>You can see a list of masked units by typing the following:</p>
    <pre><code>systemctl list-unit-files</code></pre>
    <p>To unmask the service so that it is enabled again type the following</p>
    <pre><code>systemctl unmask nginx</code></pre>
    <p>You can see that this service is enable again when you check the list</p>
    <pre><code>systemctl list-unit-files</code></pre>
  </div>
</div>

<div ibox title="Configure Secure MQTT connection with SSL & TLS">
  <div content-block message="Objectives" name="configure-secure-mqtt">
    <ul>
      <p><li>We will see how to configure  NUC gateway for secure MQTT connection with SSL & TLS</li></p>
      <p>TLS (Transport Layer Security) and SSL (Secure Sockets Layer) provide a secure communication channel between a client and server</p>
      <p><li>Since we are using SSL encryption we will generate certificates which will be used for authentication. MQTT uses port 8883 for secure connection hence we will make some changes in MQTT broker (mosquitto in our case) configuration file</li></p>
      <p><li>To validate the secure connection we will use a virtual-sensor program that will generate random temperature values and publish this data on a secure MQTT port</li></p>
      <p><li>Finally we will listen for this data using mosquitto_sub tool</li></p>
    </ul>
  </div>
</div>

<div ibox title="Generate Server Certificate Authority, Certificate and Key">
  <div content-block message="Generate Server Certificate Authority, Certificate and Key" name="telegraf-certs">
    <p>First, we will need to generate a server certificate authority, certificate and key. These will be used to authenticate and encrypt the MQTT sensor data.</p>

    <p>Run these commands on the gateway console.</p>
    <div class="alert alert-warning">
      <p>It is important to note that while generating these, the “Common Name” parameter in step 1 above and step 3 should specify the server address, “localhost”. Otherwise it will not authenticate correctly.</p>
    </div>
    <pre><code>openssl req -new -x509 -days 365 -extensions v3_ca -keyout ca.key -out ca.crt
openssl genrsa -out server.key 2048
openssl req -out server.csr -key server.key -new
openssl x509 -req -in server.csr -CA ca.crt -CAkey ca.key -CAcreateserial -out server.crt -days 365
</code></pre>
  </div>

  <div content-block message="Move the CA, Certificate and Key files to the mosquitto configuration directory" name="telegraf-setup-configuration">
    <p>Now move the CA, Certificate and Key file to the MQTT broker's configuration directories</p>
    <div class="alert alert-warning">
      <p>Note: If the directories <b>ca_certificates</b> and <b>certs</b> are not there manually create them</p>
    </div>
    <pre><code>mv ca.crt ca.key ca.srl /etc/mosquitto/ca_certificates
mv server.crt server.csr server.key /etc/mosquitto/certs</code></pre>
  </div>
</div>

<div ibox title="Configure Mosquitto to use MQTT over TLS">
  <div content-block message="Configure the MQTT Broker to use TLS" name="telegraf-mqtt-tls">
    <p>Be sure that your Mosquitto configuration file has all of these options set, particularly the <b>port number 8883, the cafile, and certfile and the keyfile.</b></p>
    <pre><code>vim /etc/mosquitto/mosquitto.conf</code></pre>
<ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure"># Place your local configuration in /etc/mosquitto/conf.d/

bind_address 127.0.0.1
port 8883

cafile /etc/mosquitto/ca_certificates/ca.crt
certfile /etc/mosquitto/certs/server.crt
keyfile /etc/mosquitto/certs/server.key

tls_version tlsv1
</ui-codemirror>
   <p>Make sure to stop and start mosquitto service after this change</p>
    <pre><code>systemctl stop mosquitto</code></pre>
    <pre><code>systemctl start mosquitto</code></pre>
  <p>Check to make sure mosquitto service is running properly with below command. The status should be "active (running)"</p>
    <pre><code>systemctl status mosquitto</code></pre>
  </div>
</div>

<div ibox title="Download & Configure virtual sensor">
  <div content-block message="Download & Configure virtual sensor" name="configure-virtual-sensor">
    <p>Open a ssh terminal to your NUC gateway, at the root directory download and run virtual sensor program using the below commands</p>
    <pre><code>git clone https://(virtual sensor path)</code></pre>
    <pre><code>cd virtual-sensor</code></pre>
    <pre><code>npm install</code></pre>
    <pre><code>node virtual-sensor-secure.js</code></pre>
    <p>You should start seeing sensor data being published like below</p>
    <pre><code>{"sensor_id": "temperature", "value": 25, "timestamp": 1486163433176}</code></pre>
    <p>Keep this running in a separate shell as we will use this to capture this data in Data Analytics lab too</p>
  </div>
</div>

<div ibox title="Subscribe to the sensor data published">
  <div content-block message="Subscribe to the sensor data published" name="configure-virtual-sensor">
    <p>Using mosquitto_sub utility we will subscribe to the data being published</p>
    <p>Open another ssh terminal to your NUC gateway and give the following command:</p>
    <pre><code>mosquitto_sub -t sensors/temperature/data --cafile /etc/mosquitto/certs/server.crt -p 8883 --tls-version tlsv1</code></pre>
    <p>Note here we are listening on the secure port 8883 with the TLS version specified. If you use port 1883 it will refuse the connection</p>
    <p>You should start receiving messages as below which we are publishing for the topic /sensors/temperature/data using virtual-sensor-secure program</p>
    <pre><code>{"sensor_id": "temperature", "value": 25, "timestamp": 1486163433176}</code></pre>
  </div>
</div>




            <!-- <div ibox title="Exercise 2: Role Based Security and Memory Protection with GrSecurity">
                <div content-block name="grsecurity-objectives" message="Exercise 2: Role Based Security and Memory Protection with GrSecurity">
                    <h2 class="labHidden">Exercise 2: Role Based Security and Memory Protection with GrSecurity</h2>

                    <h5>Lab Overview</h5>

                    <p><b>GRSecurity</b> is a set of software patches released under the GNU GPL for the Linux kernel to enhance the system security. It allows the system administrator to, among other things, define a minimum privilege policy for the system,
                        in which every process and user have only the lowest privileges necessary to function. GRSecurity has 2 primary features, the RBAC (Rules Based Access Control) and the PaX.</p>
                    <p><b>gradm</b>, the administration utility for the role-based access control system, is a powerful tool that parses your ACLs (Access Control Lists), performs the enforcement of a secure base policy, optimizes the ACLs, as well as handles
                        parsing of the learning logs, merges them with your ACL set and outputs the final ACLs.</p>


                    <h5>Disable McAfee® Embedded Control</h5>

                    <p>By design, <b>McAfee® Embedded Control</b> will protect your system from changes. So let's turn it off now.</p>
                    <pre><code>sadmin disable</code></pre>

                    <h5>The gradm command</h5>
                    <p>gradm is the grsecurity RBAC administration and policy analysis utility. It allows you to configure and administrate the grsecurity system.</p>
                    <p>To display all available command-line switches, run gradm --help.</p>
                    <pre><code>gradm</code></pre>
                    <pre><code>gradm</code> <img alt="" data-fid="504152" src="https://software.intel.com/sites/default/files/managed/85/2c/gr1.png" typeof="foaf:Image"></p>


                    <h5>Setting up a Role-Based Access</h5>
                    <p>Here we will create three roles <b>root</b>, <b>admin</b>, <b>shutdown</b>. Each of these roles will have unique abilities that will be constrained by the by RBAC. You can use any password that you like for each role.</p>
                    <pre><code>gradm -P</code></pre>
                    <p><img alt="" data-fid="504153" src="https://software.intel.com/sites/default/files/managed/cb/2b/gr0.png" typeof="foaf:Image"></p>

                    <pre><code>gradm -P admin</code></pre>
                    <p><img alt="" data-fid="504154" src="https://software.intel.com/sites/default/files/managed/d6/9b/gr2.png" typeof="foaf:Image"></p>
                    <pre><code>gradm -P shutdown</code></pre>
                    <p><img alt="" data-fid="504155" src="https://software.intel.com/sites/default/files/managed/b2/31/gr3.png" typeof="foaf:Image"></p>

                    <h5>Enable Learning Mode</h5>
                    <p>Learning Mode for Role based access – RBAC requires policy to be created to ensure that system is aware of known execution, this can be done by enabling GR-SEC in learning mode or manually updating the policy file.</p>
                    <p>Grsecurity's learning mode can be used on a per-subject or per-role basis, as well as system-wide. When using the learning mode on a single process or role, the rest of the system remains protected as defined by the policy. The learning
                        mode can learn all things that the RBAC system supports: files, capabilities, resources, what IP addresses make use of each role, and socket usage. The learning system performs intelligent reduction of filesystem and network access
                        to reduce policy size, increase readability, and reduce the amount of manual tweaking needed later. Furthermore, the learning system enforces a secure base that is configurable. Once it learning mode GR-sec will log all the activities
                        of system.</p>
                    <p>To enable full system learning, run gradm as root with the following options:</p>
                    <p>Please run few commands. In actual environment learning mode is usually 24-48 hours.</p>
                    <pre><code>gradm –S
                # gradm –F –L /etc/grsec/learning.logs

                # ls
                # pwd
                # date
                # gradm –D
                # gradm –F –L /etc/grsec/learning.logs –O /etc/grsec/learning.roles</code></pre>
                    <p><img alt="" data-fid="504156" src="https://software.intel.com/sites/default/files/managed/75/0c/gr4.png" typeof="foaf:Image"></p>

                    <p>You've now created a set of commands that are allowed by grsecurity. Let's now enabled grsecurity and test to see if the learned commands are allowed and all other commands are disallowed.</p>

                    <h5>Enabling Grsecurity with Learned Rules</h5>

                    <p>First backup the current policy file.</p>
                    <pre><code>cp /etc/grsec/policy /etc/grsec/policy.bak
                  # cp /etc/grsec/learning.roles /etc/grsec/policy</code></pre>

                    <p>Now enable grsecurity.</p>
                    <pre><code>gradm -E</code></pre>

                    <h5>Test the Learned Rules</h5>
                    <pre><code>ls
                    # pwd
                    # cat
                    # ifconfig
                    # date
                    # gradm -D</code></pre>

                </div>
            </div>


  <div ibox title="Exercise 3: Node-RED with HTTPS">
      <div content-block name="grsecurity-objectives" message="Read the Introduction and Objectives">
          <h2 class="labHidden">Exercise 3: Node-RED with HTTPS</h2>
          <p>HTTPS provides SSL encyption for all data passed between client and server. Below you will learn how to secure your Node-RED server, and all web requests to it, with HTTPS. More info can be found at <a href="https://nodejs.org/api/https.html">https://nodejs.org/api/https.html</a>                        </p>
      </div>

      <div content-block name="grsecurity-objectives" message="Generate and Install HTTPS Certificates in Node-Red" image-link="./views/labs/security-nuc/images/openssl-create-key.png">
          <p>First you will generate a private key and certificate using openssl.</p>
          <p>Open a console on the Intel IoT Gateway and enter in the following commands:</p>
          <pre><code>$ cd /home/gwuser/.node-red/ </code></pre>
          <pre><code>$ openssl req -newkey rsa:2048 -nodes -keyout privatekey.pem -x509 -days 365 -out certificate.pem </code></pre>

          <p>Answer the prompts with your info, or hit enter to leave as blank.</p>
          <p>you now have a private key and certificate in your home directory. </p>
      </div>

      <div content-block name="grsecurity-objectives" message="Edit Node-RED Settings to include the HTTPS Certificates" image-link="./views/labs/security-nuc/images/node-red-settings-https.png">
        <p>In order to enable HTTPS on your Node-RED server you must edit the settings file.</p>
        <p>Edit settings.js in user Node-RED user directory:</p>
        <pre><code>$ vi /home/gwuser/.node-red/settings.js</code></pre>

        <ul>
          <li>Hit "i" to enable editing</li>
          <li>On line 19 remove the "//" to uncomment the line.that says, var fs = require("fs")</li>
          <li>On lines 107-110 remove the "//" at the start of each line to uncomment the lines.</li>
          <li>Hit Esc, type :wq, and hit enter to save and exit vi.</li>
        </ul>
      </div>

      <div content-block name="grsecurity-objectives" message="Restart the Node-Red Experience" image-link="./views/labs/security-nuc/images/restart-node-red.png">
        <h5>Run Node-RED server</h5>
        <p>Now that you have finished configuring your Node-Red server to include HTTP certificates, you need to restart Node-Red.</p>

        <pre><code>$ systemctl restart node-red-experience</code></pre>
      </div>

      <div content-block name="grsecurity-objectives" message="Restart the Node-Red Experience"  image-link="./views/labs/security-nuc/images/ssl-warning.png">
        <p>Navigate to the Node-RED server in your browser at https://gateway-ip:1880 , note that you must replace gateway-ip with the actual ip address of your Arduino* 101.</p>

        <p>Since the SSL certifiacte you are using is self signed your browser will throw a warning. Click advanced and select "Proceed to xx.xx.xx (unsafe)"</p>

        <p>Your Node-RED server now uses TLS 1.2 to secure the connection.</p>
      </div>

       -->

        <div ibox title="References">
          <ul>
              <li>
                  <p><a href="https://www.openssl.org/">https://www.openssl.org/</a></p>
                  <p><a href="http://www.intel.com/content/dam/support/us/en/documents/motherboards/server/sb/g21682003_tpm_hwug.pdf">Trusted Platform Technology</a></p>
              </li>
          </ul>
        </div>


      </div>
  </div>

        </div>
    </div>
</div>
