<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Publishing Sensor Data with MQTT in JavaScript</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <a>Protocols</a>
            </li>
            <li class="active">
                <strong>Publishing Sensor Data with MQTT in JavaScript</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

          <!-- Objectives -->
          <div ibox title="Objectives">
            <div content-block name="read-objectives" message="Overview" image-link="./views/labs/protocols-javascript-mqtt/images/lab3.png">
              <h2 class="labHidden">Read the Objectives</h2>
              <labels arduino windows apple linux/>
              <p>Now that you've created a sensor and actuator device using a temperature sensor and LCD and the Intel® IoT Gateway, this lab will lead you through the process of networking them. By the end of the lab instead of having a single process controlling both the temperature sensor and the LCD, you will decouple them. The temperature sensor will send data to the Intel® IoT Gateway over MQTT, and you will write a Restful HTTP server to control the LCD.</p>
              <p>We will use TLS (certificates that we configured in "Setup TLS" lab) to secure both MQTT and HTTP data</p>

              <p>
                This allows the Intel® IoT Gateway to be the centralized point of management, which makes administering the IoT network much more manageable. By networking the sensors and actuators, you can deploy dozens or even hundreds of sensors and actuators all controlled by a single gateway. The decisions and coordiation of IoT devices is handled by the gateway on the edge network.  The sensors simply report their data over MQTT and the actuators wait for commands via HTTP.
              </p>
            </div>
            <div content-block name="read-objectives" message="Read the Objectives">
              <h2 class="labHidden">Read the Objectives</h2>
              <p>By the end of this module, you should be able to:</p>

              <ul>
                  <li>Create a NodeJS service that sends temperature data to the gateway via MQTT</li>
                  <li>Create a NodeJS service that implements a Restful HTTP API to control the LCD screen. </li>
              </ul>
            </div>
          </div>


          <div ibox title="Creating an MQTT Service to Publish the Temperature Sensor Data">
            <div content-block name="mqtt-lab" message="Plug in the Grove shield, temperature sensor and the LCD" image-link="./views/labs/protocols-javascript-mqtt/images/temperature-sensors-arduino.jpg">
              <h2 class="labHidden">Plug in the Grove shield, temperature sensor and the LCD</h2>

              <p>In the Sensors and Actuators lab, we connected the temperature sensor (Analog) and LCD display (I<sup>2</sup>C) to your Arduino 101*. We wrote NodeJS code to measure the temperature in Celsius using upm library, convert it to Fahrenheit, then display it on the LCD.</p>

              <p>
                Your project should start looking like the picture on the right.
              </p>

              <ol>
                <li>
                    <p>Install the Grove Base Shield onto the Arduino 101* Arduino expansion board.</p>
                </li>
                <li>
                    <p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A0</strong> of the Grove Base Shield.</p>
                </li>
                <li>
                    <p>Connect <strong>Grove LCD</strong> display to one of the <strong>I<sup>2</sup>C</strong> pins.</p>
                </li>
              </ol>
            </div>

            <div content-block name="mqtt-lab" message="Create a new Node JS project">
                <h2 class="labHidden">Create a new Node JS project</h2>
                <p>In earlier lab you created a <strong>labs</strong> directory under home directory on your Intel® IoT Gateway. Now create a <strong>protocols</strong> directory under that</p>
                <p>In same way under protocols directory create another directory and name it <strong>mqtt-lab</strong></p>
                <p>Create a <strong>package.json</strong> file and a <strong>main.js</strong> file under mqtt-lab folder</p>
            </div>

            <div content-block name="mqtt-lab" message="Populate the package.json file">
              <h2 class="labHidden">Write the Code to Read the Temperature Sensor.</h2>
              <p>
                 Update package.json you created as shown below. The important component in it is mqtt dependency. You can create your own default package.json file by using command "npm init" and then update the dependencies section with mqtt.
              </p>
              <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">{
"name": "protocol-mqtt",
"description": "Creates a simple service to publish a temperature sensor's data over MQTT",
"version": "0.0.0",
"main": "main.js",
"engines": {
  "node": ">=0.10.0"
},
"license": "BSD-3-Clause",
"private": true,
"dependencies": {
  "mqtt": "latest"
}
}</pre></ui-codemirror>

            </div>

            <div content-block name="mqtt-lab" message="Copy the code from the JavaScript Sensors and Actuators Lab into this new project">
                <h2 class="labHidden">Copy the code from the JavaScript Sensors and Actuators Lab into this new project</h2>
                <p>
                  In the Sensors and Actuators lab, we created a program to read the temperature and display is on the LCD screen. It should look something like code below.
                  Copy this to the newly created <strong>main.js</strong> file.
                </p>
                <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mraa = require("mraa") ;
mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");

// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');
var LCD = require("jsupm_i2clcd"); // Create a new instance of a Grove RGB LCD screen

// The Offset is necessary for Firmata
var OFFSET = 512;

// Instantiate the temperature sensor and LCD actuator
var temp = new groveSensor.GroveTemp(0+OFFSET, 0.66); // Create a new instance of a Grove Temperature Sensor
var screen = new LCD.Jhd1313m1(0+OFFSET, 0x3E, 0x62);

// monitor: creates an anonymous function that runs once per second
// The function will get the temperature and display it on the LCD.
function monitor() {
    setInterval(
      function() {
        // Read the temperature sensor
        var celsius = temp.value();

        // Convert it to fahrenheit
        var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);

        // Log it to the console window
        console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");

        // Update the LCD screen
        screen.setCursor(0, 0);
        screen.setColor(255, 255, 255);
        screen.write("Temp: " + celsius + "C or " + fahrenheit + "F");
    }, 1000);
}

// Call the monitor function once
monitor();</pre></ui-codemirror>
                          </div>

                      <div content-block name="mqtt-lab" message="Remove the LCD Code">
                        <h2 class="labHidden">Write the Code to Read the Temperature Sensor.</h2>

                          <p>
                              Now we will remove the LCD code. This is straight forward. Simply remove any line that has a reference to the screen or LCD variables.
                          </p>

                          <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mraa = require("mraa") ;
mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");

// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');

// The Offset is necessary for Firmata
var OFFSET = 512;

// Instantiate the temperature sensor and LCD actuator
var temp = new groveSensor.GroveTemp(0+OFFSET, 0.66); // Create a new instance of a Grove Temperature Sensor

// monitor: creates an anonymous function that runs once per second
// The function will get the temperature and display it on the LCD.
function monitor() {
  setInterval(
    function() {
      // Read the temperature sensor
      var celsius = temp.value();

      // Convert it to fahrenheit
      var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);

      // Log it to the console window
      console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");
  }, 1000);
}

// Call the monitor function once
monitor();</pre></ui-codemirror>
                      </div>

                      <div content-block name="read-xdk-intro" message="Add the MQTT connect code">
                        <p>
                          The preferred method of connecting to the MQTT broker is over MQTT-TLS. Since we have now setup the SSL certificates we will use TLS configuration in the code.
                        </p>
                        <div class="alert alert-warning">
                            <p>Make sure SSL certificates are installed as per instructions in <strong>Setup TLS</strong> lab</p>
                        </div>
                        <p>
                          Add following lines of code for an encrypted MQTT connection just below the line that creates the temp sensor.
                        </p>
                        <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Require MQTT and setup the connection to the broker
var mqtt = require('mqtt');
var fs = require('fs');
var KEY = fs.readFileSync('/etc/tls-certs/certs/server.key');
var CERT = fs.readFileSync('/etc/tls-certs/certs/server.crt');
var TRUSTED_CA_LIST = [fs.readFileSync('/etc/tls-certs/ca_certificates/ca.crt')];

var PORT = 8883;
var HOST = 'localhost';

var options = {
  port: PORT,
  host: HOST,
  protocol: 'mqtts',
  protocolId: 'MQIsdp',
  keyPath: KEY,
  certPath: CERT,
  rejectUnauthorized : false,
  //The CA list will be used to determine if server is authorized
  ca: TRUSTED_CA_LIST,
  secureProtocol: 'TLSv1_method',
  protocolVersion: 3
};
var mqttClient = mqtt.connect(options);</pre></ui-codemirror>
                      </div>

                      <div content-block name="repeat-sensor-reading" message="Add the MQTT code to publish the sensor data">
                          <p>
                            Next we will add the code to publish the sensor data over MQTT at the end of the anonymous function.
                          </p>
                          <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Get the current time
var current_time = (new Date()).getTime();

/*
  This JSON structure is extremely important
  future labs will assume that every temperature
  reading has a "sensor_id", "value" and "timestamp"
*/
var json = {
  sensor_id : "temperature",
  value : celsius,
  timestamp : current_time
};

// Convert the JSON object to a string
var str = JSON.stringify(json);

// Log the string to the console
console.log(str);

// Publish the temperature reading string on the MQTT topic
mqttClient.publish("sensors/temperature/data", str);</pre></ui-codemirror>
                      </div>

                      <div content-block name="repeat-sensor-reading" message="The complete code to publish the temperature sensor over MQTT">
                          <p>
                            Here is the complete code for this lab.
                          </p>
                          <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mraa = require("mraa") ;
mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");

//Require MQTT and setup the connection to the broker
var mqtt = require('mqtt');
var fs = require('fs');
var KEY = fs.readFileSync('/etc/tls-certs/certs/server.key');
var CERT = fs.readFileSync('/etc/tls-certs/certs/server.crt');
var TRUSTED_CA_LIST = [fs.readFileSync('/etc/tls-certs/ca_certificates/ca.crt')];

var PORT = 8883;
var HOST = 'localhost';

var options = {
  port: PORT,
  host: HOST,
  protocol: 'mqtts',
  protocolId: 'MQIsdp',
  keyPath: KEY,
  certPath: CERT,
  rejectUnauthorized : false,
  //The CA list will be used to determine if server is authorized
  ca: TRUSTED_CA_LIST,
  secureProtocol: 'TLSv1_method',
  protocolVersion: 3
};
var mqttClient = mqtt.connect(options);

// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');
var LCD = require("jsupm_i2clcd"); // Create a new instance of a Grove RGB LCD screen

// The Offset is necessary for Firmata
var OFFSET = 512;

// Instantiate the temperature sensor and LCD actuator
var temp = new groveSensor.GroveTemp(0+OFFSET, 0.66); // Create a new instance of a Grove Temperature Sensor
var screen = new LCD.Jhd1313m1(0+OFFSET, 0x3E, 0x62);
// monitor: creates an anonymous function that runs once per second
// The function will get the temperature and display it on the LCD.
function monitor() {
  setInterval(
    function() {
      // Read the temperature sensor
      var celsius = temp.value();

      // Convert it to fahrenheit
      var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);

      // Log it to the console window
      console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");

        // Get the current time
        var current_time = (new Date()).getTime();

        /*
          This JSON structure is extremely important
          future labs will assume that every temperature
          reading has a "sensor_id", "value" and "timestamp"
        */
        var json = {
          sensor_id : "temperature",
          value : celsius,
          timestamp : current_time
        };
        // Convert the JSON object to a string
        var str = JSON.stringify(json);

        // Log the string to the console
        console.log(str);

        // Publish the temperature reading string on the MQTT topic
        mqttClient.publish("sensors/temperature/data", str);
    }, 1000);
}

// Call the monitor function once
monitor();</pre></ui-codemirror>
          </div>

              <div content-block name="deploy-application" message="Deploy the application">
                  <h2 class="labHidden">Deploy the application</h2>
                  <p>Open a ssh terminal to your Intel® IoT Gateway and go to folder <strong>/home/{user}/labs/protocols/mqtt-lab</strong>. Type following command to install mqtt depenency package</p>
                  <pre><code>npm install</pre></code>
                  <p>Next run your application</p>
                  <pre><code>node main.js</pre></code>
              </div>

              <div content-block name="repeat-sensor-reading" message="See the Debugging MQTT section in the sidebar under Additional Information">
                  <p>
                    You've completed the service that will publish temperature data to the gateway.
                    See the Debugging MQTT section in the sidebar under Additional Information for information on how to verify that MQTT traffic is indeed being published.
                  </p>
              </div>

          </div>


          <div ibox title="Additional Resources">
            <ul>
              <li><p><a href="http://mqtt.org/" target="_blank">MQTT</a></p></li>
              <li><p><a href="https://www.npmjs.com/package/express" target="_blank">ExpressJS</a></p></li>
              <li><p><a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a></p></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
