<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Building Edge Sensors and Actuators</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Building Edge Sensors and Actuators</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">










            <!-- Objectives -->
            <div ibox title="Objectives">
                <div content-block name="read-objectives" message="Read the Objectives">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <labels Arduino 101 windows apple linux/>
                    <p>In this lab you will learn how to use the Intel IoT Developer Kit to developer and deploy software to your Intel IoT Gateway and Arduino 101. You will also learn use the hardware in the starter kit to build stand alone IoT devices.</p>

                    <p>By the end of this module, you should be able to:</p>

                    <ul>
                        <li>Connect Grove Kit sensors and actuators to your Arduino 101.</li>
                        <li>Use the JavaScript UPM libraries to control actuators and read data from sensors.</li>
                        <li>Use the Intel® XDK IoT Edition to deploy an IoT application to your gateway</li>
                    </ul>
                </div>
              </div>




            <div ibox collapse title="Deploy sample application with the Intel® XDK IoT Edition">
                <div content-block name="download-xdk-intro" message="Download the Intel XDK Introduction">
                    <h2 class="labHidden">Download the Intel XDK Introduction</h2>
                    <p>Go to the <a href="https://software.intel.com/en-us/iot/software/ide">Intel® IoT Developer Kit Integrated Development Environments Download Page</a> and download a copy of the Intel XDK IoT Edition.</p>
                </div>

                <div content-block name="read-xdk-intro" message="Read the Intel XDK Introduction" image-link="./views/labs/build-nuc/images/xdk-splash.png">
                    <h2 class="labHidden">Read the Intel XDK Introduction</h2>
                    <p><img class="labHidden" alt="XDK Splash" data-fid="503891" src="https://software.intel.com/sites/default/files/managed/35/a6/xdk-splash.png" title="XDK Splash" typeof="foaf:Image"></p>


                    <p class="subtitle">This initial lesson will enable you to deploy a JavaScript program to the Intel Gateway using any computer OS platform</p>

                    <p>Create and run a Hello Word project (blinking the onboard LED) on your Intel® IoT board based on the "Onboard LED Blink" starter template.</p>

                    <p>The <a href="https://software.intel.com/en-us/iot/downloads#ide">Intel® XDK IoT Edition</a> lets you create and test applications on Intel® IoT platforms. It uses NodeJS to communicate with all the GPIOs, libraries, and packages. The IoT edition also provides NodeJS templates for creating new applications that interact with sensors and actuators, enabling you to get a quick start on developing for the Internet of Things.</p>
                </div>

                <div content-block name="launch-xdk" message="Launch and Sign In to the Intel XDK" image-link="./views/labs/build-nuc/images/image_0.png">
                    <h2 class="labHidden">Launch and Sign In to the Intel XDK</h2>
                    <p><img class="labHidden" alt="Intel XDK" data-fid="503892" src="https://software.intel.com/sites/default/files/managed/4f/a4/image_0.png" title="Intel XDK" typeof="foaf:Image"></p>

                    <p>Begin by launching the Intel XDK</p>

                    <div class="alert alert-warning">
                        Note: To continue using the Intel® XDK, you must sign up for an Intel® XDK account or log in to a pre-existing account within 48 hours. You will need to have an internet connection for that.
                    </div>
                </div>

                <div content-block name="xdk-signup" message="Create an account and sign in to the Intel XDK" image-link="./views/labs/build-nuc/images/image_1.png">
                    <h2 class="labHidden">Create an account and sign in to the Intel XDK</h2>
                    <p><img class="labHidden" alt="" data-fid="503893" src="https://software.intel.com/sites/default/files/managed/9b/68/image_1.png" typeof="foaf:Image"></p>

                    <p>Follow the on-screen instructions to sign up for an Intel® XDK account, or log in to a pre-existing account.</p>
                </div>

                <div content-block name="click-on-templates" message="Click on Templates" image-link="./views/labs/build-nuc/images/image_2.png">
                    <h2 class="labHidden">Click on Templates</h2>
                    <p><img class="labHidden" alt="" data-fid="503894" src="https://software.intel.com/sites/default/files/managed/9b/da/image_2.png" typeof="foaf:Image"></p>

                    <p>Create a project</p>

                    <p>Under the "<strong>Internet of Things Embedded Application</strong>" option in the left hand menu, select "<strong>Templates</strong>".</p>
                </div>

                <div content-block name="select-led-blink-template" message="Select the LED Blink Template" image-link="./views/labs/build-nuc/images/image_3.png">
                    <h2 class="labHidden">Select the LED Blink Template</h2>
                    <p><img class="labHidden" alt="" data-fid="503895" src="https://software.intel.com/sites/default/files/managed/49/28/image_3.png" typeof="foaf:Image"></p>

                    <p>A list of templates for developing Node.js applications will be shown. Select "<strong>Onboard LED Blink</strong>" template, then click "<strong>Continue</strong>".</p>
                </div>

                <div content-block name="create-project" message="Name and then Create the New Project" image-link="./views/labs/build-nuc/images/image_4.png">
                    <h2 class="labHidden">Name and then Create the New Project</h2>
                    <p><img class="labHidden" alt="" data-fid="503897" src="https://software.intel.com/sites/default/files/managed/cb/f7/image_4.png" typeof="foaf:Image"></p>

                    <p>Choose a directory for your project files, and enter a name for your project.</p>
                    <p>Click "<strong>Create</strong>" in the bottom right corner.</p>
                </div>
                <div content-block name="change-io" message="Adjust the code to this setup" image-link="./views/labs/build-nuc/images/image_4.png">
                    <h2 class="labHidden">Adjust the code to this setup</h2>
                    <p><img class="labHidden" alt="" data-fid="503897" src="https://software.intel.com/sites/default/files/managed/cb/f7/image_4.png" typeof="foaf:Image"></p>

                    <p>When working with the Gateway and Arduino 101, "MRAA loads the Arduino 101* board as a subplatform. This means all pin numbers, regardless of IO protocol (GPIO/AIO/PWM/I2C) are offset by a subplatform index, in this case 512".(Source https://github.com/intel-iot-devkit/commercial-developer-kit-getting-started)</p>
                    <p>Note: MRAA is a C/C++ library with bindings to Python, Javascript and Java to interface with the I/O on Galileo, Edison and other platforms, with a structured and sane API where port names/numbering matches the board that you are on</p>
                    <p>Locate the code:</p>
                    <code>var myOnboardLed = new mraa.Gpio(13);</code>
                    <p>And replace it for:</p>
                    <code>var myOnboardLed = new mraa.Gpio(525); </code>
                </div>

                <div content-block name="select-device" message="Select a target IoT device" image-link="./views/labs/build-nuc/images/image_6.png">
                    <h2 class="labHidden">Select a target IoT device</h2>
                    <p><img class="labHidden" alt="" data-fid="503901" src="https://software.intel.com/sites/default/files/managed/51/ab/image_6.png" typeof="foaf:Image"></p>

                    <div class="row">
                        <div class="col-sm-7">
                            <p>The Intel® XDK IoT Edition will automatically detect Intel® IoT devices on your network and display them in the "IoT Device" drop down list.</p>

                            <p>In the bottom left corner of the Intel® XDK, click the "<strong>IoT Device</strong>" drop down list which currently indicates "<strong>- Select a Device -</strong>".</p>

                            <p>Select your target Gateway from the list. If there are multiple devices, choose based on the device name and IP address.</p>
                        </div>
                    </div>
                </div>

                <div content-block name="manually-enter-ip-address" message="If needed you can manually enter the IP address of your Gateway" image-link="./views/labs/build-nuc/images/image09.png">
                    <h2 class="labHidden">If needed you can manually enter the IP address of your Gateway</h2>
                    <p><img class="labHidden" alt="" data-fid="503905" src="https://software.intel.com/sites/default/files/managed/c6/33/image09.png" typeof="foaf:Image"></p>

                    <div class="alert alert-warning">
                        <p><strong>Do not see your device in the "IoT Device" drop down list?</strong></p>
                        <p>From the "IoT Device" menu, instead choose "<strong>Add Manual Connection</strong>".</p>

                        <ul>
                            <li>For <strong>Address</strong>, enter the IP address of your Gateway that you saw in <span class="icon bookmark">Step 3: Login to your Gateway</span>. e.g. 192.168.0.2</li>
                            <li>For <strong>Port</strong>, keep at the default "58888". </li>
                            <li>For <strong>User</strong> Use "root" for name and password.</li>
                        </ul>
                        <p>Click "<strong>Connect</strong>".</p>
                    </div>
                </div>

                <div content-block name="establish-connection" message="Establish the connection to the Gateway and synchronize the clocks between your development system and your Arduino 101" image-link="./views/labs/build-nuc/images/image33.png">
                    <h2 class="labHidden">Establish the connection to the Gateway and synchronize the clocks between your development system and it</h2>
                    <p><img class="labHidden" alt="" data-fid="503907" src="https://software.intel.com/sites/default/files/managed/fe/8f/image33.png" typeof="foaf:Image"></p>

                    <p>
                        Sync your computer's time with the clock on the target board to avoid timing issues. Do this step any time you connect to a new target IoT device or the device has been powered off.
                    </p>
                </div>

                <div content-block name="know-the-toolbar" message="Get to know the Intel XDK Build toolbar." image-link="./views/labs/build-nuc/images/build.png">
                    <h2 class="labHidden">Get to know the Intel XDK Build toolbar.</h2>
                    <p><img class="labHidden" alt="" data-fid="503909" src="https://software.intel.com/sites/default/files/managed/6a/61/build.png" typeof="foaf:Image"></p>

                    <p>In the bottom toolbar, click the "<strong>Manage your daemon/IoT device</strong>" icon.</p>

                    <p>Select "<strong>sync PC time w/ clock on target device</strong>".</p>
                    <p>A message in the console log will appear to confirm the update.</p>
                </div>

                <div content-block name="build-the-xdk-app" message="Build the application" image-link="./views/labs/build-nuc/images/image_10.png">
                    <h2 class="labHidden">Build the application</h2>
                    <p><img class="labHidden" alt="" data-fid="503910" src="https://software.intel.com/sites/default/files/managed/16/d8/image_10.png" typeof="foaf:Image"></p>

                    <p>The Build button will fetch all of the dependecies listed in the package.json file. It will install them on the Gateway. Run build any time you create a new project, or add/remove Node modules from an existing project.</p>

                    <ol>
                        <li>
                            <p>In the bottom toolbar, click the "<strong>Install/Build</strong>" icon.</p>
                        </li>

                        <li>
                            <p>Wait a moment for the packages to download and install. You will see a confirmation message in the console log.</p>
                            <figure>
                                <figcaption>Click the "Toggle console window" icon if you see any messages and the console is not already expanded.</figcaption>
                            </figure>
                        </li>

                    </ol>
                </div>

                <div content-block name="build-the-xdk-app" message="Run the application" image-link="./views/labs/build-nuc/images/run.png">
                    <h2 class="labHidden">Run the application</h2>
                    <p><img class="labHidden" alt="run" data-fid="503911" src="https://software.intel.com/sites/default/files/managed/91/1d/run.png" title="run" typeof="foaf:Image"></li>


                    <p>
                        Upload the project files to the IoT device and run it. Remember that every time you make changes to files and you want to see the changes: (1) save the file, (2) upload, (3) run.
                    </p>

                    <ol>
                        <li>
                            <p>In the bottom toolbar, click the "<strong>Run</strong>"<strong> icon</strong> to run the project.</p>
                        </li>

                        <li>
                            <p>Keep an eye on the console log bar for any runtime errors.</p>
                            <p>Click the "Toggle console window" icon if you see any messages and the console is not already expanded.</p>
                        </li>
                    </ol>
                </div>

                <div content-block name="blink-the-light" message="Congratulations, you just ran your first Intel® XDK application!" image-link="./views/labs/build-nuc/images/image28.jpg">
                    <h2 class="labHidden">Congratulations, you just ran your first Intel® XDK application!</h2>
                    <p><img class="labHidden" alt="" data-fid="503913" src="https://software.intel.com/sites/default/files/managed/61/94/image28.png" typeof="foaf:Image"></p>


                    <p>Look at your Intel® IoT board for a blinking light.</p>
                    <p> The LED is located near the center of the board.</p>

                    <p><strong>Congratulations, you just ran your first Intel® XDK application!</strong></p>

                    <div id="next-steps" class="callout done">
                        <p>You should now be able to build and deploy projects using the Intel® XDK. An LED should be blinking on your Intel® IoT board.</p>
                    </div>

                </div>
            </div>








<div ibox title="Stop node-red before continuing">
    <div content-block name="stop-node-red" message="Stop node-red before continuing">
        <div class="alert alert-warning"><p>To execute this exercise, we need to stop node-red. The reason is node-red is currently blocking access to the temperature sensor and the LCD. To use those with another software, we first need to stop node-red thus freeing the resources.
        </p>
            <p>In a terminal connected to your Gateway, type the command `systemctl stop node-red-experience`</p>
        </div>
    </div>
        </div>


            <div ibox title="Exercise 1: Temperature Sensor and LCD">
                <div content-block name="read-xdk-intro" message="Plug in the Grove shield, temperature sensor and the LCD" image-link="./views/labs/build-nuc/images/temperature-sensors.jpg">
                    <h2 class="labHidden">Plug in the Grove shield, temperature sensor and the LCD</h2>
                    <p><img class="labHidden" alt="temperature sensor" data-fid="503915" src="https://software.intel.com/sites/default/files/managed/21/f9/temperature-sensors.jpg" title="temperature sensor" typeof="foaf:Image"></p>


                    <p>Connect the Temperature sensor (Analog) and LCD display (I2C) to your Arduino 101. Write code for NodeJS using the Intel® XDK IoT Edition. Measure temperature in Celsius using upm library, convert it to Fahrenheit, then display it
                        on the LCD.</p>

                    <ol>
                        <li>
                            <p>Install the Grove Base Shield onto the Arduino 101.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A1</strong> of the Grove Base Shield.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove LCD</strong> display to one of the <strong>I2C</strong> pins.</p>
                        </li>
                    </ol>

                </div>

                <div content-block name="read-xdk-intro" message="Start a new project in the Intel® XDK using a blank template." image-link="./views/labs/build-nuc/images/new-project.png">
                    <h2 class="labHidden">Start a new project in the Intel® XDK using a blank template.</h2>
                    <p><img class="labHidden" alt="new project" data-fid="503916" src="https://software.intel.com/sites/default/files/managed/e1/57/new-project.png" title="new project" typeof="foaf:Image"></p>

                    <ol>
                        <li>
                            <p>Start a new project in the Intel® XDK using a blank template.</p>
                        </li>
                        <li>
                            <p>If you have an Intel® XDK project already open, click on the projects drop down menu in the upper left hand corner, then select <strong>New Project</strong>.</p>
                        </li>
                    </ol>

                    <div class="alert alert-info">
                        <p>This temperature project will be used in all the later labs to supply a steady stream of data.</p>
                    </div>
                </div>

                <div content-block name="read-xdk-intro" message="Select the Blank Template" image-link="./views/labs/build-nuc/images/blank_template.png">
                    <h2 class="labHidden">Select the Blank Template</h2>
                    <p><img class="labHidden" alt="blank template" data-fid="503917" src="https://software.intel.com/sites/default/files/managed/32/d4/blank_template.png" title="blank template" typeof="foaf:Image"></p>

                    <p>Choose <strong>Blank Template</strong> from the list of templates, then click <strong>Continue</strong>.</p>


                    <p>The Intel® XDK will create and open <span class="icon file">main.js</span> for you.</p>
                </div>

                <div content-block name="read-xdk-intro" message="Write the Code to Read the Temperature Sensor.">
                    <h2 class="labHidden">Write the Code to Read the Temperature Sensor.</h2>
                    <h5>Read the temperature sensor</h5>

                    <p>Update <span class="icon file">main.js</span> to read the temperature sensor on program start up and log it to the console.</p>

                    <ol>

                        <li>
                            <p>Include the JS UPM library for the basic Grove sensors.</p>
                            <p><code>var groveSensor = require('jsupm_grove');</code></li>

                        <li>
                          <p>When connecting the Intel Iot Gateway to an Arduino 101, the gateway uses a subplatform called Firmata to communicate GPIO requests to the Arduino 101.</p>
                          <p>Firmata is a generic protocol for communicating with microcontrollers from software on a host computer. It is intended to work with any host computer software package.Basically, this firmware establishes a protocol for talking to the Arduino from the host software.</p>
                          <p class="alert alert-info">However, when communicating to the subplatform all analog, digital and I2C pins require a 512 bit offset.</p>
                        </li>

                        <li>
                          <p>Create a const variable named OFFSET and set it equal to 512</p>
                          <pre><code>const OFFSET = 512</code></pre>
                        </li>
                        <li>
                            <p>Instantiate a <code>GroveTemp</code> Grove Sensor on analog pin 1.</p>
                            <p><code>var temp = new groveSensor.GroveTemp(1 + OFFSET);</code></p>
                        </li>

                        <li>
                            <p>Read the value of the <code>GroveTemp</code> object you just created.</p>
                            <p class="alert alert-warning">There is a BUG in the way the voltage on the temperature sensor is reported.  The LCD screen operates at 5 volts.  However, the temperature sensors is made to operate at 3.3 volts. In this project you must set the voltage to 5V to be able to see the text in the LCD.  However this means that the temperature sensor will over estimate the value of the current temperature. However, this can be fixed in software. Just multiply time 3.3 and divide by 5 to obtain the correct value.</p>
                            <p><code>var wrongValueTemp = temp.value();</code></p>
                            <p><code>var celsius = wrongValueTemp * 3.3 / 5;</code></p>
                        </li>

                        <li>
                            <p>If desired, convert the Celsius value to Fahrenheit using the standard conversion formula.</p>
                            <p><code>var fahrenheit = Math.round(celsius * 9.0/5.0 + 32.0);</code></p>
                        </li>

                        <li>
                            <p>Finally, output the value of the temperature sensor.</p>
                            <p><code>console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");</code></p>
                        </li>

                        <li>
                            <p>The final code should look like this:</p>

                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">/*jslint node:true, vars:true, bitwise:true, unparam:true */
/*jshint unused:true */
var groveSensor = require('jsupm_grove');
var OFFSET = 512;
var temp = new groveSensor.GroveTemp(1 + OFFSET);
var wrongValueTemp = temp.value();
var celsius = wrongValueTemp * 3.3 / 5;
var fahrenheit = Math.round(celsius *
    9.0 / 5.0 + 32.0);
console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");</pre></ui-codemirror>
                        </li>

                        <li>
                            <p>Make sure your changes to <span class="icon file">main.js</span> have been saved and use the buttons at the bottom of the Intel® XDK to:
                                <br> (1) Build your application,
                                <br> (2) Upload it to Arduino 101, and
                                <br> (3) Run the application.</p>
                        </li>

                        <li>
                            <p>If successful, you should see the temperature output in the Intel® XDK console.</p>
                        </li>

                    </ol>
                </div>

                <div content-block name="repeat-sensor-reading" message="Make the sensor reading repeat once per second">
                    <h2 class="labHidden">Make the sensor reading repeat once per second</h2>
                    <p>Currently the temperature sensor is only read on application start. Add a JavaScript <code>setInterval</code> to regularly poll the sensor every second (1000 miliseconds).</p>
                    <p>If you are not familiar with JavaScript, the format should look similar to this:</p>
                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">function monitor() {
    setInterval(function() { // code to repeat goes here
    }, 1000);
}
monitor();</pre></ui-codemirror>
                </div>


                <div content-block name="repeat-sensor-reading" message="Bring the setInterval and sensor reading code together and print the temperature on the console.">
                    <h2 class="labHidden">Bring the SetInterval and Sensor Reading code together and print the temperature on the console.</h2>
                    <ol>

                        <li>
                            <p>Try incorporating the <code>setInterval</code> callback with the code you wrote in <span class="icon bookmark">Read the temperature sensor</span> before scrolling down for the solution.</p>
                        </li>

                        <li>
                            <p>
                                With polling, the exercise code should look like this:</p>
                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var groveSensor = require('jsupm_grove');
const OFFSET = 512;
var temp = new groveSensor.GroveTemp(1 + OFFSET);

function monitor() {
    setInterval(function() {
        var wrongValueTemp = temp.value();
        var celsius = wrongValueTemp * 3.3 / 5;
        var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);
        console.log(celsius +
            "° Celsius, or " + fahrenheit + "° Fahrenheit ");
    }, 1000);
}
monitor();</pre></ui-codemirror>

                        </li>
                    </ol>
                </div>

                <div content-block name="repeat-sensor-reading" message="Add the LCD Screen.">
                    <h2 class="labHidden">Add the LCD Screen.</h2>
                    <p>Next we will add the LCD screen to the project and print the temperature value on it.</p>
                    <p>Update <span class="icon file">main.js</span> to output the value from the temperature sensor to the LCD display.</p>

                    <p>Below are the general steps to complete the exercise.</p>

                    <ol>

                        <li>
                            <p>Similar to using <code>require('jsupm_grove')</code> to include the JavaScript UPM library for the basic Grove components, <strong>include the UPM library for I2C-type LCDs</strong>:</p>
                            <p><code>var LCD = require('jsupm_i2clcd');</code></p>
                        </li>

                        <li>
                            <p>The specific LCD you have is the <strong>JHD1313M1</strong> Grove RBG LCD. <strong>Instantiate a new <code>LCD.Jhd1313m1</code> object.</strong> The constructor accepts 3 parameters in this order:</p>
                            <dl>
                                <dt>I2C bus (Number)</dt>
                                <dd>For the Arduino 101, <strong>use <code>0 + OFFSET</code></strong>.</dd>

                                <dt>lcdAddress (Number)</dt>
                                <dd>The JHD1313M1 has two I2C addreses: this address identifies the LCD display. <strong>Use <code>0x3E</code>.</strong></dd>

                                <dt>rgbAddress (Number)</dt>
                                <dd>The JHD1313M1 has two I2C addreses: this address identifies the RGB backlight. <strong>Use <code>0x62</code>.</strong></dd>
                            </dl>
                        </li>

                        <li>
                            <p>To write to the LCD, you need to:</p>
                            <ol style="list-style-type:lower-roman;">
                                <li>First, <strong>set the cursor position</strong>.
                                    <br> e.g. <code>(0,0)</code> for the top left. The JHD1313M1 has 2 rows (y) and 16 columns (x).</li>
                                <li>Then, <strong>write</strong> a string/message to the screen.
                                    <br> e.g. <code>"Temp: " + celsius + "C or " + fahrenheit + "F"</code></li>
                            </ol>
                            <p>The API documentation for generic I2C LCDs can be found here: <a href="http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods" target="_blank">http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods</a></p>
                        </li>

                        <li>
                            <p>As a bonus, you can <strong>change the LCD backlight color</strong>.
                                <br> e.g. <code>(255,255,255)</code> for white.</p>
                            <p>The API documentation for the specific Grove RBG LCD you have can be found here: <a href="http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods" target="_blank">http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods</a></p>
                        </li>

                        <li>
                            <p>Use the steps and reference links above to output the value from the temperature sensor to the LCD display.</p>
                        </li>

                        <li>
                            <p>Below is an example of the final solution.</p>
                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');
var OFFSET = 512
var temp = new groveSensor.GroveTemp(1 + OFFSET); // Create a new instance of a Grove Temperature Sensor
var LCD = require("jsupm_i2clcd"); // Create a new instance of a Grove RGB LCD screen
var screen = new LCD.Jhd1313m1(0 + OFFSET, 0x3E, 0x62);

function monitor() {
    setInterval(function() { // Read the temperature sensor
        var wrongValueTemp = temp.value();
        var celsius = wrongValueTemp * 3.3 / 5;
        var fahrenheit = Math.round(celsius *
            9.0 / 5.0 + 32.0);
        console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit"); // Update the LCD screen
        screen.setCursor(0, 0);
        screen.setColor(255, 255, 255);
        screen.write("Temp: " + celsius + "C or " + fahrenheit +
            "F");
    }, 1000);
}
monitor();</pre></ui-codemirror>

                        </li>
                    </ol>
                </div>


                <div content-block name="deploy-temperature-sensor" message="Deploy the temperature sensor application">
                    <h2 class="labHidden">Deploy the temperature sensor application</h2>
                    <p>Build and run your application.</p>

                    <div class="alert alert-success">
                        <p>You should now be seeing the temperature displayed on the LCD.</p>
                    </div>

                </div>
            </div>


            <!-- <div ibox title="Exercise 2: Earthquake Detector">
                <div content-block name="earthquake-sensor-intro" message="Read the introduction to the Earthquake Detector Exercise">
                    <h2 class="labHidden">Read the introduction to the Earthquake Detector Exercise</h2>

                    <p> Create a prototype of an earthquake detection system using a 3-axis accelerometer (I2C) and an LCD display (I2C). Write code for the accelerometer to measure vibration and update the LCD display to warn people of a quake occurring.</p>
                </div>

                <div content-block name="earthquake-sensor-plug-in" message="Plug in the Accelerometer" image-link="./views/labs/build-nuc/images/earthquake-detector.jpg">
                    <h2 class="labHidden">Plug in the Accelerometer</h2>
                    <p><img class="labHidden" alt="earthquake detector" data-fid="503918" src="https://software.intel.com/sites/default/files/managed/d6/2d/earthquake-detector.jpg" title="earthquake detector" typeof="foaf:Image"></p>

                    <p>Connect <strong>Grove Accelerometer</strong> to one of the <strong>I2C</strong> pins of the Grove Base Shield.</p>
                    <p>Connect <strong>Grove LCD</strong> display to another <strong>I2C</strong> pin.</p>

                </div>
                <li>
                    <p>In <span class="icon file">main.js</span>, write your code to read values from the accelerometer and detect an earthquake.</p>
                    <p>As a starting point, use the reference links below to view example code for each Grove component in this exercise.</p>
                </li>

                </ol>


                <div id="done-exercise1">

                    <p>
                        Create a prototype of an earthquake detection system using a 3-axis accelerometer (I2C) and an LCD display (I2C). Write code for the accelerometer to measure vibration and update the LCD display to warn people of a quake occurring.
                    </p>

                    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">"use strict";
var accelerometer = require("jsupm_mma7660");
var accel = new accelerometer.MMA7660(0, 76),
    screen = new(require("jsupm_i2clcd").Jhd1313m1)(6, 0x3E, 0x62); // enable 64 samples every 10 seconds accel.setModeStandby();
accel.setSampleRate(10);
accel.setModeActive();

function float() {
    var val = accelerometer.new_floatp(); // define dynamic "getter" for float values: function get() { return accelerometer.floatp_value(this); } Object.defineProperty(val,
    "value", {
        get: get
    });
return val;
}

function warn() {
    screen.setColor(255, 0, 0);
    screen.clear();
    screen.write("Earthquake!");
}

function stop() {
    screen.setColor(255, 255, 255);
    screen.clear();
    screen.write("No Earthquake!");
}

function noAccel() {
    screen.setColor(255, 255, 255);
    screen.clear();
    screen.write("No Accelerometer Detected");
}

function monitor() {
    var x = float(),
        y = float(),
        z = float();
    var prev = false;
    stop();
    setInterval(function() {
        accel.getAcceleration(x, y, z);
        console.log("Values of X Y and z are : " + x.value + " ," + y.value + " ," + z.value);
        if (x.value == 0 && y.value == 0 && z.value == 0) {
            noAccel();
        } else {
            var quake = x.value > 1 || y.value > 1 ||
                z.value > 1;
            if (quake && !prev) {
                warn();
                setTimeout(stop, 15000);
            }
            prev = quake;
        }
    }, 1000);
}

function main() {
    monitor();
}
main();</pre></ui-codemirror>

                </div>
            </div>



            <div ibox title="Exercise 3: Smart Alarm Clock">
                <div content-block name="alarm-intro" message="Read the project introduction">
                    <h2 class="labHidden">Read the project introduction</h2>
                    <p>Create a prototype of a smart alarm clock using a buzzer (Digital), a button (Digital), a rotary angle (Analog), and an LCD display (I2C) with a web server running on the Arduino 101. Set the alarm time using a web page served directly
                        from the gateway itself, using your laptop or mobile phone. When the alarm goes off, the buzzer sounds and the LCD display indicates it’s time to get up. The rotary dial can be used to adjust the brightness of the display.</p>
                </div>

                <div content-block name="alarm-sensors" message="Connect all of the sensors" image-link="./views/labs/build-nuc/images/smartalarm.jpg">
                    <h2 class="labHidden">Connect all of the sensors</h2>
                    <p><img class="labHidden" alt="smart alarm" data-fid="503919" src="https://software.intel.com/sites/default/files/managed/dc/aa/smartalarm.jpg" title="smart alarm" typeof="foaf:Image"></p>

                    <ol>
                        <li>
                            <p>Connect <strong>Grove Buzzer</strong> to digital pin <strong>D5</strong> of the Grove Base Shield.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove Button</strong> to digital pin <strong>D4</strong>.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove LCD</strong> display to any <strong>I2C</strong> pin.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove Rotary Angle</strong> to analog pin <strong>A0</strong>.</p>
                        </li>
                    </ol>
                </div>

                <div content-block name="alarm-sensors" message="Code for the alarm clock is completed.">
                    <h2 class="labHidden">Code for the alarm clock is completed.</h2>
                    <li>
                        <p>To start off, write some code for the hardware in <span class="icon file">main.js</span>:</p>
                        <ul>
                            <li>
                                <p>Create and test functions to make the LCD display blink red, and to stop blinking.</p>
                            </li>
                            <li>
                                <p>Create and test functions to start the buzzer buzzing, and to stop the buzzer.</p>
                            </li>
                            <li>
                                <p>Changes in rotary angle should change the brightness of LCD display.</p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <p>Now, add your server side code in <span class="icon file">main.js</span>:</p>
                        <ul>
                            <li>
                                <p>Create a web server on the Arduino 101 using express in NodeJS.</p>
                            </li>
                            <li>
                                <p>Remember to edit your <span class="icon file">package.json</span> to include the <em>express</em>, <em>moment</em>, and <em>superagent</em> npm modules.</p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <p>Create a new <span class="icon file">index.html</span> file and write your front end code in there.</p>
                        <ul>
                            <li>Create a simple HTML widget to set the time for the alarm clock.</li>
                        </ul>
                    </li>

                    <li>
                        <p>Finally, hook everything up together:</p>
                        <ul>
                            <li>
                                <p>When it’s proper time for alarm to start, LCD display should blink to red and buzzer should start buzzing.</p>
                            </li>
                            <li>
                                <p>When user presses the button: alarm must turn off, LCD must stop blinking, and buzzer should stop buzzing.</p>
                            </li>
                        </ul>
                    </li>

                    </ol>

                </div>
            </div> -->










  <div ibox title="Start Exploring">
    <div content-block name="alarm-sensors" message="Code for the alarm clock is completed.">
      <p>There are many resources available to you on your path towards building products.</p>

      <p>Here is a variety of projects in C++, Java and JavaScript that you can build: <a href="https://github.com/intel-iot-devkit/how-to-code-samples/">How to Code Samples</a></p>

      <ul>
        <li>
          <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/earthquake-detector/javascript">Earthquake Detector</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/air-quality-sensor/javascript">Monitor Your Air Quality</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/alarm-clock/javascript">Build a smart alarm clock</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/doorbell/javascript">Create a smart doorbell system</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/plant-lighting-system/javascript">Plant lighting system in JavaScript</a>
        </li>
      </ul>

      <p>There are also tutorials that integrate the Intel IoT Gateway with 3rd party products and services.</p>
      <ul>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20Nest">Getting Started With Node-RED and the Nest* thermostat</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20LightBlue%20Bean">Getting Started With Node-RED and LightBlue* Bean</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20Philips%20Hue">Getting Started With Node-RED and Philips* Hue</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20RFID">Getting Started With Node-RED and RFID</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20Z-Wave">Getting Started With Node-RED and Z-Wave</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20TI%20SensorTag">Getting Started With Node-RED and TI* SensorTag</a>
        </li>
      </ul>

      <p>Examples that connect the Intel IoT Gateway to a 3rd party cloud provider</p>
      <ul>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20AWS%20IoT">Getting Started with Node-Red and AWS IoT</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20Bluemix">Getting Started with Node-RED and Bluemix</a>
        </li>
        <li>
          <a href="https://github.com/intel-iot-devkit/Intel-IoT-Gateway/tree/master/Getting%20Started%20With%20Node-Red%20and%20Microsoft%20Azure%20IoT%20HubT">Getting Started With Node-Red and Microsoft Azure IoT Hub</a>
        </li>
      </ul>

    </div>
  </div>



            <div ibox title="Additional resources">
                <p>For reference code for any sensor/actuator from the Grove Kit, visit <a href="https://software.intel.com/en-us/iot/hardware/sensors">https://software.intel.com/en-us/iot/hardware/sensors</a></p>

                <h4>Grove Temperature Sensor</h4>

                <ul>
                    <li>
                        <a href="http://www.seeedstudio.com/wiki/Grove_-_Temperature_Sensor_V1.2" target="_blank">Seeed Studio Wiki: Grove Temperature Sensor</a>
                    </li>
                    <li>
                        <a href="http://iotdk.intel.com/docs/master/upm/node/classes/grovetemp.html#methods" target="_blank">UPM API - GroveTemp</a>
                    </li>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovetemp.js" target="_blank">UPM JavaScript example: Grove Temperature Sensor</a>
                    </li>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovetemp.js" target="_blank">UPM JavaScript example: Grove Temperature Sensor</a>
                    </li>
                </ul>

                <h4>Grove LCD RGB Backlight</h4>

                <ul>
                    <li>
                        <a href="http://www.seeedstudio.com/wiki/Grove_-_LCD_RGB_Backlight" target="_blank">Seeed Studio Wiki: LCD RGB Backlight</a>
                    </li>
                    <li>
                        <a href="http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods" target="_blank">UPM API - i2clcd</a>
                    </li>
                    <li>
                        <a href="http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods" target="_blank">UPM API - Jhd1313m1</a>
                    </li>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/jhd1313m1-lcd.js" target="_blank">UPM JavaScript example: RGB LCD</a>
                    </li>
                </ul>

                <h4>Accelerometer</h4>
                <ul>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/mma7660.js">UPM JavaScript example: Accelerometer</a>
                    </li>
                    <li>
                        <a href="http://www.seeedstudio.com/wiki/Grove_-_3-Axis_Digital_Accelerometer(%C2%B11.5g)">Seeed Studio Wiki: 3-Axis Digital Accelerometer</a>
                    </li>
                </ul>

                <h4>Rotary Angle Sensor</h4>
                <ul>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/groverotary.js">UPM JavaScript example: Rotary Angle Sensor</a>
                    </li>
                    <li>
                        <a href="http://www.seeedstudio.com/wiki/Grove_-_Rotary_Angle_Sensor">Seeed Studio Wiki: Rotary Angle Sensor</a>
                    </li>
                </ul>

                <h4>Grove Button</h4>
                <ul>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovebutton.js">UPM JavaScript example: Grove Button</a>
                    </li>
                    <li>
                        <a href="http://www.seeedstudio.com/wiki/Grove_-_Button">Seeed Studio Wiki: Grove Button</a>
                    </li>
                </ul>

                <h4>Grove Buzzer</h4>
                <ul>
                    <li>
                        <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/buzzer.js">UPM JavaScript example: Buzzer</a>
                    </li>
                    <li>
                        <a href="http://www.seeedstudio.com/wiki/Grove_-_Buzzer">Seeed Studio Wiki: Grove Buzzer</a>
                    </li>
                </ul>

                <h4>JavaScript Libraries</h4>
                <ul>
                    <li><a href="http://expressjs.com/starter/hello-world.html">Express Hello World</a></li>
                    <li><a href="http://momentjs.com/docs/">MomentJS</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
