<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Custom Administrative Interfaces</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Custom Administrative Interfaces</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">
      <!-- Objectives -->
      <div ibox title="Lab Overview and Objectives">
        <div content-block name="read-objectives" message="Read the Lab Overview and Objectives" image-link="./views/labs/admin-interface/images/lab5.png">
          <h2 class="labHidden">Lab Overview and Objectives</h2>

          <labels gateway window apple linux/>
          <p>You can monitor the status of your edge network system using NodeJS on the back end and HTML, CSS, and JavaScript on the front end. Write system condition based monitoring triggers, record system errors, and perform edge network analytics.</p>

          <div class="alert alert-info">
            <p>By the end of this module, you should be able to:</p>
            <ul>
                <li>Deploy a web-based administrative interface on your Intel&reg; IoT Gateway.</li>
                <li>Have an understanding of how you could build your own web-based monitoring system.</li>
            </ul>
          </div>
        </div>
      </div>
      <div ibox title="Administration Interface">
          <div content-block message="Install the Custom Administration Interface">
            <h2 class="labHidden">Install and Run the Custom Administration Interface</h2>
              <p>Open a SSH terminal to your Intel&reg; IoT Gateway and go to ~/labs folder</p>
              <pre><code>cd ~/labs</pre></code>
              <p>Download and install administration interface with following commands</p>
              <pre><code>git clone https://github.com/SSG-DRD-IOT/admin-interface.git</pre></code>
              <pre><code>cd admin-interface</pre></code>
              <pre><code>sudo npm install</pre></code>
              <p>Next go to app folder and install bower dependencies listed in bower.json</p>
              <pre><code>cd app</pre></code>
              <pre><code>bower install</pre></code>
              <pre><code>cd ..</pre></code>
            </div>
          </div>

          <div ibox title="Populate the Database with initial data for the administrative interface">
            <div content-block message="Obtain the initdb.js script">
              <p>Before we explore more options let's populate this interface with some static data. Populate this sample interface by running initdb.js script from the lab-solution-monitor-daemon repository downloaded in previous "Databases at the Edge" lab. If you have not yet downloaded it, give the following command to download it from a new SSH terminal on your Gateway</p>
              <pre><code>cd ~/labs</pre></code>
              <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-monitor-daemon.git</code></pre>
              <p>If you already downloaded it, go to the directory directly</p>
              <pre><code>cd ~/labs/lab-solution-monitor-daemon&#13;&#10;cd initialize</pre></code>
              <pre><code>sudo npm install</pre></code>
              <div class="alert alert-warning">
                <p>Before you run this make sure that your mongod service is still running. The "Databases at the Edge" lab describes how to run it.</p>
              </div>
              <pre><code>node initdb.js</pre></code>
              <p>Note that once it runs this initialization script requires you to exit it by pressing <code>Ctrl-C</code>.</p>
              <p>
                This script creates one temperature sensor, one LCD actuator and three automation rules (triggers).  The triggers are as follows:
              </p>
              <ul>
                <li>
                  temperature_greater_than_27 - A rule that is trigger when the temperature sensors go above 27.
                </li>
                <li>
                  temperature_less_than_20 - A rule that is trigger when the temperature sensors go below 20.
                </li>
                <li>
                  temperature_ok - A rule that is trigger when the temperature is between 20 and 27.
                </li>
              </ul>
            </div>
          </div>

          <div ibox message="Open a browser and navigate to the administrative interface">
            <div content-block message="Start the administrative interface">
              <p>Go back to admin-interface folder and run <span class="icon file">server.js</span> as a <strong>Node</strong> process.</p>
              <pre><code>cd ~/labs/admin-interface</code></pre>
              <pre><code>node server.js</code></pre>
              <p>This will start a NodeJS HTTP server that will provide the front end user interface.</p>
            </div>
            <div content-block message="Open a browser and navigate to the administrative interface" image-link="./views/labs/admin-interface/images/dashboard.png">
              <p>Open a web browser and enter your Gateway IP and port as <b>"http://192.168.3.22:5000"</b>, here replace 192.168.3.22 with your IP address</p>
              <p>It will show you in a browser a simple, sample web based interface that will allow you to create, edit and delete automatic actions (triggers)</p>
              <p>Explore the interface for condition based monitoring triggers, record system errors.</p>
              <p>In the next lab, you will write most complex automatic rules and a rules engine to the run these rules on an edge network.</p>
            </div>
          </div>
        </div>
    </div>
</div>
