<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Custom Administrative Interfaces</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Custom Administrative Interfaces</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <!-- Objectives -->
            <div ibox title="Administration Interface">
                <div content-block name="database-objectives" message="Install and Run the Custom Administration Interface">
                    <h2 class="labHidden">Install and Run the Custom Administration Interface</h2>
                    <labels gateway window apple linux/>
                    <p>You can monitor the status of your edge network system using NodeJS on the back end and HTML, CSS, and JavaScript on the front end. Write system condition based monitoring triggers, record system errors, and perform edge network analytics.</p>
                    <p>By the end of this module, you should be able to:</p>

                    <ul>
                        <li>Deploy a web-based administrative interface on your Intel&reg; IoT Gateway.</li>
                        <li>Have an understanding of how you could build your own web-based monitoring system.</li>
                    </ul>

                    <h2>Install the supplied administrative interface</h2>

                    <ol>
                        <li>
                            <p>Download the <a href="https://drive.google.com/open?id=0B2ywC78pxngCWDY5OFhhNlNrbVk">admin-interface.zip</a>.</p>
                        </li>

                        <li>
                            <p>Transfer the archive file to your Intel&reg; IoT Gateway.</p>
                        </li>

                        <li>
                            <p>Use <span class="icon windows">PuTTY</span> to SSH into the Intel&reg; IoT Gateway.</p>
                        </li>

                        <li>
                            <p>Navigate to the directory with the zip file and unzip it.</p>
                            <pre><code>$ unzip admin-interface.zip</code></pre>
                        </li>

                        <li>
                            <p>After the zip file has been uncompressed, go into the resulting folder.</p>
                            <pre><code>cd admin-interface</code></pre>
                        </li>

                        <li>
                            <p>Run <span class="icon file">server.js</span> as a <strong>Node</strong> process.</p>
                            <pre><code>node server.js</code></pre>
                            <p>This will start a NodeJS HTTP server that will provide the front end user interface.</p>
                        </li>

                        <li>
                            <p>Visit "http://{Your Gateway IP address}:3000" in your development computer's web browser.</p>
                        </li>

                        <li>
                            <p>It will show you in a browser a simple, sample web based interface that will allow you to create, edit and delete automatic actions (triggers)</p>
                            <img src="./views/labs/admin-interface/images/dashboard-default.png"/>
                            <p>Before we explore more options let's populate this interface with some static data</p>
                        </li>

                        <li>
                            <p>Populate this sample interface by running initialize-db.js script from the lab-solution-monitor-daemon repository downloaded in previous "Databases at the Edge" lab</p>
                            <p>Open a new console to your Gateway and give the following commands:</p>
                            <pre><code>cd ~/lab-solution-monitor-daemon&#13;&#10;cd initialize</pre></code>
                            <pre><code>npm install</pre></code>
                            <pre><code>node initialize-db.js</pre></code>
                            <p>Note that once it runs this initialization script requires you to exit it by pressing <code>Ctrl-C</code>.</p>
                            <p>This will create an LCD actuator, a temperature sensor and a couple of basic automatic rules. Refresh your browser on your computer to see these on the admin interface web page</p>
                            <img src="./views/labs/admin-interface/images/dashboard.png"/>
                            <p>Explore the interface for condition based monitoring triggers, record system errors.</p>
                            <p>In the next lab, you will write most complex automatic rules and a rules engine to the run these rules on an edge network.</p>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
