<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Additional Information</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                Additional Information
            </li>
            <li class="active">
                <strong>HDC</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div ibox title="Steps to Install HDC">
        <p>HDC should be installed on your Ubuntu Gateway system. In case it is not, follow the below steps to install it</p>
        <div class="alert alert-info">
          <p>Below steps are required only if HDC is not installed. To confirm if HDC files are not there go to /var/lib/iot and check if files agentguid.bin, dxlpolicy.bin and startup.bin are present. If not follow the below install steps.<p>
        </div>
        <p>Download following github repository:</p>
        <pre><code>git clone https://github.com/SSG-DRD-IOT/gateway-setup</code></pre>
        <pre><code>cd gateway-setup</code></pre>
        <p>2. Install the HDC deb package</p>
        <pre><code>apt-get install -y $PWD/conf_files/hdc/hdc-2.3.0-x86_64.deb</code></pre>
        <p>3. Copy the startup.bin to /var/lib/iot</p>
        <pre><code>cp conf_files/hdc/startup.bin /var/lib/iot</code></pre>
        <p>4. Run the iot-control program with startup.bin as its parameter.</p>
        <pre><code>iot-control -c /var/lib/iot/startup.bin</pre></code>
        <div content-block name="" message="Install HDC">
          <h2 class="labHidden">Read the Objectives</h2>
          <labels gateway window apple linux/>
        </div>
      </div>
