<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Intel&reg; Mesh Commander</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Labs</a>
      </li>
      <li>
        <a>Remote Management</a>
      </li>
      <li class="active">
        <strong>Remote Management with Mesh Commander</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div ibox title="Overview">
    <div content-block name="step1" message="Read the Objectives">
      <labels laptop/>
      <h2 class="labHidden">Read the Overview</h2>
      <p>The Mesh Commander is an application that provides an interface for using Intel&reg; Active Management technology. It's purpose is to make hardware configuration easy over Internet.</p>
      <p>MeshCommander is primarily used for peer to peer remote management of devices. Currently supported features include:</p>
      <ul>
        <li>Hardware KVM viewer</li>
        <li>Serial over LAN terminal</li>
        <li>IDE-R support</li>
        <li>Power control</li>
        <li>Event viewer</li>
        <li>Audit log viewer</li>
        <li>Hardware asset</li>
        <li>Account management</li>
        <li>Network settings</li>
        <li>WIFI management</li>
        <li>User consent and control</li>
        <li>Certificate &amp; TLS management</li>
        <li>CIRA(Client Initiated Remote Access) &amp; Environment Detection</li>
        <li>WSMAN browser</li>
      </ul>
    </div>

    <div content-block message="Launch the MeshCommander utility" image-link="../views/labs/remote-configintelmc/images/launch.png">
      <p>The MeshCommander utility should be installed on any other Windows machine such as your personal Laptop.</p>
      <p>Download Link: <a href="http://www.meshcommander.com/meshcommander" target="_blank">meshcommander.msi</a></p>
      <p>Go to the Windows launch bar icon in the lower left of your screen and type <b>Mesh Commander</b>.</p>
    </div>

    <div content-block message="Add An Intel&reg; AMT enabled Computer to MeshCommander" image-link="../views/labs/remote-configintelmc/images/001-Add-AMT-Computer.jpg">
	<ul>
      <li>The first  add a computer to Meshcommander by clicking on a computer. It there are no known computers, get started by adding computers</li>
      <li>After that you can specify a <i>friendly name</i> which is simply a string that allows you to easily identify the system.</li>
      <li>You can use <b>tags</b> that allow you to put several systems together into recognizable categories.</li>
      <li>You'll need to enter either the <b>host name</b> or the <b>IP address</b> of the computer.</li>
      <li>Depending on the way you configured your remote machine, you should chooose the <b>authentication</b></i>. Most common method is Digest/None.</li>
      <li>Lastly, the <b>username and password</b> are the same as username and password that you configured in previous section.</li>
    </ul>
    </div>

    <div content-block message="Connect to your Intel&reg; NUC" image-link="../views/labs/remote-configintelmc/images/003-Click-Connect.jpg">
      <p>Next to each computer that has been added to the mesh commander there is a button labeled connect.</p>
      <p>Click the <b>Connect</b> button to begin communicating with your remote machine.</p>
    </div>

    <div content-block message="Click Remote Desktop" image-link="../views/labs/remote-configintelmc/images/004-Click-Remote-Desktop.jpg">
      <p>After connecting to a system, you'll see the system information on the screen, such as the power state, the unique identifier, Intel&reg; ME version, AMT activation mode and basic settings of the remote machine. Take a moment to browse around and see the different bits of information available to you.</p>
    </div>

    <div content-block message="Click Connect Remote Desktop" image-link="../views/labs/remote-configintelmc/images/005-Click-Connect-Remote-Desktop.jpg">
      <p>To view the screen of the remote computer system, do the following steps:</p>
      <ul>
        <li>Click on the <b>Remote Desktop</b> link in the left sidebar.</li>
        <li>Then click the <b>Connect</b> button as shown in the image</li>
		<li>If user consent was enabled, it will display a code in NUC, which has to be entered in the Mesh Commander interface to proceed further</li>
	    <li>In admin control mode, on clicking "Connect" it will directly give remote access</li>
      </ul>
    </div>

    <div content-block message="Out of band Remote Desktop" image-link="../views/labs/remote-configintelmc/images/006-Out-of-band-Remote-Desktop.jpg">
      <p>You will now see the screen of the remote system.</p>
        <p>Since AMT is out of the band control to remote device, you will be able to see the screen of the remote system even if the remote computer is rebooting, in the BIOS or in a crashed state.</p>
    </div>

    <div content-block message="Power Actions Reset To BIOS" image-link="../views/labs/remote-configintelmc/images/007-Power-Actions-Reset-To-BIOS.jpg">
      <p>Notice the button labelled <b>Power Actions</b>. This button will display a dialog box that allows you to change the state of the system's power. You can start, stop, reboot or choose from other supported power states.</p>
    </div>

    <div content-block message="BIOS Setup Page" image-link="../views/labs/remote-configintelmc/images/008-BIOS-Setup-Page.jpg">
      <p>Intel&reg; AMT is an out of band service, that is at a level lower than the operating system.
	  So it is possible to have a remote view of the display even when viewing the BIOS.</p>
    </div>
  </div>

  <div ibox title="IDE-Redirection">
    <div content-block image-link="../views/labs/remote-configintelmc/images/009-IDE-Redirection.jpg">
      <ul>
        <li>Navigate to Remote Desktop</li>
        <li>Click IDE-R, which opens up Storage Redirection</li>
        <li>Choose any .iso file and .img file</li>
        <li>"IDE-R Session, Connected, 0 in, 0 out" message will be displayed at top</li>
        <li>Click Power Actions and select "Reset to IDE-R CDROM"</li>
        <li>Now observe the top row showing variation in the message "IDE-R Session, Connected, 0 in, ###### out" showing number of packets going out</li>
		<li>By this technique any image can be flashed on the NUC remotely</li>
      </ul>
    </div>

    <div content-block image-link="../views/labs/remote-configintelmc/images/IDER.png" message="IDE-R completed">
      <ul>
        <li>CDROM Image content will be displayed</li>
        <li>Your OS image will be loaded here.</li>
        <li>Click the Disconnect button inside the Remote Desktop</li>
        <li>Click Stop IDE-R Session</li>
        <li>Goto Power Actions then click on Reset option to complete the session</li>
      </ul>
    </div>
  </div>

  <div ibox title="Explore Mesh Commander" message="Explore Mesh Commander">
    <div content-block>
      <p>Mesh commander website has many code samples, documentation and very nice video tutorials on each of Mesh commander features. We would recomment you going through <a href="http://www.meshcommander.com/meshcommander/tutorials" target="_blank">http://www.meshcommander.com/meshcommander/tutorials</a> to learn more.
    </div>
  </div>
</div>
