<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel&reg; Mesh Commander</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <a>Remote Management</a>
            </li>
            <li class="active">
                <strong>Remote Configuration with Intel&reg; Mesh Commander</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
          <div ibox title="Overview">
              <h2 class="labHidden">Read the Overview</h2>
              <labels arduino windows apple linux/>
              <p>The web based Intel AMT management console is now called Mesh Commander. It runs on many operating systems and can be hosted in a web server.</p>
              <p>With HTML5 being very capable, it's a lot easier for administrators to use  web applications that interact with Intel AMT within a browser, making the local installation of tools a thing of the past in some cases.</p>
          </div>
        </div>
    </div>

    <div ibox title="Mesh Commander Installation">

        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 1: Add AMT Computer</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/001-Add-AMT-Computer.jpg" alt="001-Add-AMT-Computer" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 2: AMT Entry Screen</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/002-AMT-Entry-Screen.jpg" alt="002-AMT-Entry-Screen" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 3: Click Connect</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/003-Click-Connect.jpg" alt="003-Click-Connect" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 4: Click Remote Desktop</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/004-Click-Remote-Desktop.jpg" alt="004-Click-Remote-Desktop" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 5: Click Connect Remote Desktop</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/005-Click-Connect-Remote-Desktop.jpg" alt="005-Click-Connect-Remote-Desktop" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 6: Out of band Remote Desktop</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/006-Out-of-band-Remote-Desktop.jpg" alt="006-Out-of-band-Remote-Desktop.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 7: Power Actions Reset To BIOS</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/007-Power-Actions-Reset-To-BIOS.jpg" alt="007-Power-Actions-Reset-To-BIOS" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 8: BIOS Setup Page</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/008-BIOS-Setup-Page.jpg" alt="008-BIOS-Setup-Page" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 9: SQL Express Server Configuration</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/009-IDE-Redirection.jpg" alt="009-IDE-Redirection" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Step 10: Mesh Commander's System Defense panel</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <img src="../views/labs/remote-configintelmc/images/010-MeshCommanderMatchingRules.jpg" alt="010-MeshCommanderMatchingRules" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
