<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h4>Data Analytics</h4>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Data Analytics</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

            <!-- Objectives -->
            <div ibox title="Objectives">
                <div content-block name="cloud-objectives" message="Read the Objectives" image-link="./views/labs/cloud/images/dashboard_ex.png">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <p>This lab instructs the reader to setup an open source charting and analytics tool named Grafana, an open-source project at <a href="http://grafana.org/">http://grafana.org/</a>. Grafana is a graphical interface with InfluxDB as the data source and Telegraf as the agent that reads data. This is to read the sensor
                        data from device through gateway and mqtt broker, store it in InfluxDB and display it through the Grafana graphical interface</p>
                    <p>In this lab, you will do the following:</p>
                    <ul>
                        <li>Set up a timeseries database named InfluxDB</li>
                        <li>Configure it to injest the temperature sensor data</li>
                        <li>Then visualize the data using Grafana, an open source analytics platform.</li>
                    </ul>
                </div>
            </div>

            <!-- Install a timeseries database name InfluxDB -->
            <div ibox title="Verify InfluxDB is running on your system">
                <div content-block name="influx-db-download" message="Verify influxdb program is running">
                    <h2 class="labHidden">Install a timeseries database name InfluxDB</h2>
                    <labels gateway window apple linux/>

                    <p>Confirm that influxdb is already running on your system</p>
                    <pre><code>ps aux | grep influx</code></pre>
                    <p>This should show influxd program already running</p>

                </div>
              </div>

        <!-- Install the data collector named Telegraf -->
        <div ibox title="Download and Install Telegraf">
            <div content-block message="Download 64-bit pre-compiled Telegraf binaries" name="telegraf-download">
              <p>Telegraf is an open source agent written for collecting metrics and data on the system it's running on or from other services. Telegraf writes data it collects to InfluxDB in the correct format.</p>
              <p>We will be downloading Telegraf and configuring the MQTT over TLS. This will gather sensor data over MQTT TLS and store it in the InfluxDB database.</p>
              <p>Download the pre-compiled 64-bit binary distribution of Telegraf in a <strong>new SSH terminal</strong> and unarchive it.</p>
              <pre><code>wget https://dl.influxdata.com/telegraf/releases/telegraf-0.13.1_linux_amd64.tar.gz
</code></pre>
              <pre><code>tar zxvf telegraf-0.13.1_linux_amd64.tar.gz</code></pre>
              <div class="alert alert-warning">
                <p>If you are running from an external drive and see an error try below command:</p>
                <p><code>tar zxvf telegraf-0.13.1_linux_amd64.tar.gz --no-same-owner</code></p>
              </div>
            </div>
          </div>

          <div ibox title="Configure Telegraf to use MQTT over TLS">
            <div content-block message="Configure Telegraf to use an MQTT consumer and an InfluxDB output filter" name="telegraf-configure">
              <p>Change directories into the newly unarchived telegraf directory with the telegraf binary.</p>
              <pre><code>cd telegraf-0.13.1-1/usr/bin</code></pre>

              <p>Run this command to generate a configuration file with an MQTT consumer and an InfluxDB output filter.</p>
              <pre><code>./telegraf -sample-config --input-filter mqtt_consumer --output-filter influxdb > telegraf-mqtt.conf</code></pre>
            </div>

            <div content-block message="Configure the MQTT Broker to use TLS" name="telegraf-mqtt-tls">
              <p>Open the telegraf-mqtt.conf file, go to [[inputs.mqtt_comsumer]] and make changes as shown below. There are few changes required here, for e.g. <strong>port no. to 8883, the SSL config, topics and data_config parameter</strong></p>
<ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">###############################################################################
#                            SERVICE INPUT PLUGINS                            #
###############################################################################

# Read metrics from MQTT topic(s)
[[inputs.mqtt_consumer]]
servers = ["localhost:8883"]
qos = 0

## Topics to subscribe to
topics = [
  "telegraf/host01/cpu",
  "telegraf/+/mem",
  "sensors/#",
]

## Optional SSL Config
ssl_ca = "/etc/mosquitto/ca_certificates/ca.crt"
ssl_cert = "/etc/mosquitto/certs/server.crt"
ssl_key = "/etc/mosquitto/certs/server.key"
insecure_skip_verify = true

data_format = "json"</ui-codemirror>

            <p>The topic <b>sensors/#</b> will comsume messages from all sensors/ topics including sensors/temperature/data which is our case. In MQTT, topics are heirarchical.  In the heirarchy here the second level is the sensors unqiue identifier. We've used a '#' symbol which is a wild card in MQTT topics.  So this topic represents all the data from sensors on the local network.</p>
            <p>Next change the data format to "json"</p>
            <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">data_format = "json"</ui-codemirror>

            <p>Here topics should point to what we are subscribing to listen on the mqtt connection. Also important to note here is to change the data_format = “json” since the data that we will publish from the sensors will be in json format. If we keep the default data_format which is influx we will see parsing errors.</p>
          </div>

          <div content-block message="Make sure virtual-sensor is running" name="modify-mqtt-node">
            <p>Before we start telegraf service we need to make sure that <b>sensors/temperature/data</b> topic is being published</p>
            <p>One way is to use the actual sensors and publish data using JavaScript or Node-Red programs we did earlier. Another way is to run virtual-sensor.js which simulates this data</p>
            <p>Here we will run the virtual sensor program. If you have not already downloaded virtual-sensor program, follow below instructions to download and then run it to publish temperature sensor data,
            <p> <strong>Open a new SSH terminal</strong> and execute the below commands</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/virtual-sensor.git</code></pre>
            <pre><code>cd virtual-sensor</code></pre>
            <pre><code>npm install</code></pre>
            <pre><code>node virtual-sensor.js --tls</code></pre>
            <p>You should start seeing sensor data being published like below</p>
            <pre><code>{"sensor_id": "temperature", "value": 25, "timestamp": 1486163433176}</code></pre>
          </div>

          <div content-block message="Start the telegraf service" name="telegraf-start">
            <p>Next go back to the SSH terminal where you configured telegraf and start the telegraf service pointing to this conf file:</p>
            <pre><code>./telegraf -config telegraf-mqtt.conf</code></pre>
          </div>
          <div content-block message="Start the telegraf service" name="telegraf-start" image-link="./views/labs/cloud/images/telegraf-start.png">
            <p>We should start getting the readings if they are getting published from the sensors as shown in the figure</p>
            <p>If telegraf is not getting the data make sure you check the following:</p>
            <ul>
              <li>Sensor topic sensors/temperature/data is being published either using the virtual-sensor.js program or through the Node-red/JavaScript programs with the actual sensor connected</li>
              <li>The mosquitto broker configuration file mosquitto.conf in path /etc/mosquitto/ has the right TLS & SSL configuration as explained in Setup TLS lab</li>
            </ul>
            <img class='labHidden' src="./views/labs/cloud/images/telegraf-start.png"></src>
          </div>

        </div>

        <!-- Install the data collector named Telegraf -->
        <div ibox title="Configure Grafana">
          <div content-block message="Verify Grafana is running" name="grafana-download">
            <p>Open a new SSH terminal and verify Grafana is running using below command:</p>
            <pre><code>ps aux | grep grafana</code></pre>
          </div>
          <div content-block message="Sign into Grafana" name="grafana-download" image-link="./views/labs/cloud/images/grafana-login.png">

            <p>Start Grafana from browser:</p>
            <pre><code>http://{Your Gateway IP address}:3000</code></pre>

            <div class="alert alert-info">
              <p>You can sign up or just sign in with</p>
              <pre>Login: <b>admin</b>
Password: <b>admin</b></pre>
            </div>
          </div>
          <div content-block message="Setup Database in Grafana" name="grafana-database" image-link="./views/labs/cloud/images/telegraf-database.png">
            <ul>
              <li><p>Click on <b>"Data Sources"</b> on left side panel and <b>"Add new"</b></p></li>
              <li><p>Setup the influxdb data source with parameters as shown in figure. Here are the details:</p></li>
              <li><p>Give any name (for e.g. myInfluxDB) in "Name" and select InfuxDB 0.9.x in "Type"</p></li>
              <li><p>In "Http settings" section give the "Url" parameter as "http://localhost:8086" and keep the rest to default values</p></li>
              <li><p>In "InfluxDB Details" section put "Database" parameter as "telegraf" and give any User name and password (You can give "test" "test")</p></li>
              <li><p>Click <b>Add</b> after which you should see the message "Success: Data Source is working". You can then save the Data Source</p></li>
            </ul>
          </div>
          <div content-block message="Open a new dashboard in Grafana" name="grafana-dashboard" image-link="./views/labs/cloud/images/new_dashboard.png">
            <ul>
              <li><p>Click on <b>"Dashboards"</b> on the left panel</p></li>
              <li><p>Next click on the <b>Home</b> button and click <b>"New"</b></p></li>
            </ul>
          </div>
          <div content-block message="Create a new Graph" name="grafana-dashboard" image-link="./views/labs/cloud/images/new_graph.png">
            <ul>
              <li><p>On the "New dashboard" page click on the small green vertical bar on the page</p></li>
              <div class="alert alert-info">
                <p>Note that the small green bar is on left top corner and not very clearly visible</p>
              </div>
              <li><p>In that select <b>"Add Panel" -> "Graph"</b> which will create a default panel</p></li>
            </ul>
          </div>
          <div content-block message="Setup Dashboard in Grafana" name="grafana-dashboard" image-link="./views/labs/cloud/images/temperature_dashboard.png">
            <ul>
              <li><p>On the new Panel in <b>Metrics</b> tab select your database, in our case <b>"myInfluxDB"</b> instead of default "Grafana"</p></li>
              <li><p>Next set up the Metrics panel by filling up the parameters as shown in figure. Key components are in <b>"select measurement"</b> option to chose <b>mqtt_consumer</b>, then click <b>"+"</b> next to "WHERE" and chose <b>topic</b> and finally in <b>"select tag value"</b> chose <b>sensors/temperature/data</b> </p></li>
              <li><p>To get continous readings click on the top right corner with a clock icon and chose <b>"Refreshing every:"</b> setting as <b>5 s</b> and <b>"Last 30 minutes"</b>. This will ensure continous data on the graph</p></li>
              <li><p>Finally you can play around with other tabs like Axes & Grid, General, Display Styles etc. to change graph properties</p></li>
            </ul>
          </div>

        </div>
  </div>
</div>
