<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Additional Information</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                Additional Information
            </li>
            <li class="active">
                <strong>Debugging Intel&reg; XDK</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div ibox title="Debugging Intel&reg; XDK issues">
        <div content-block name="xdk-issues" message="Error while running a program due to NODE_PATH path not set" image-link="./views/labs/additional-info-xdk/images/run-error.png">
          <h2 class="labHidden">Error while running a program due to NODE_PATH path not set</h2>
          <h4>Error while running a program due to NODE_PATH path not set</h4>
          <li><p>If you see an error as shown in figure while running your XDK program, your NODE_PATH might not be set correctly</p></li>
          <li><p>On your gateway terminal set the path variable as below</li></p>
          <pre><code>export NODE_PATH=/usr/lib/node_modules/</code></pre>
          <li><p>Run the program again from XDK and this error should not come up</p></li>
        </div>
          <div content-block name="xdk-issues" message="Errors due to other instances of XDK or Node-Red running" image-link="./views/labs/additional-info-xdk/images/error_xdk.png">
            <h2 class="labHidden">Errors due to other instances of XDK or Node-Red running</h2>
            <h4>Errors due to other instances of XDK or Node-Red running</h4>
            <li><p>If you see an error as shown in figure while running your XDK program, make sure if you are running another instance of XDK to stop it </li></p>
            <li><p>Also make sure to stop your Node-Red service in case it is running</p></li>
            <li><p>Open a terminal to your Gateway and give following command:</li></p>
            <pre><code>systemctl stop node-red-experience</pre></code>
            <li><p>Check that service has stopped</li></p>
            <pre><code>systemctl status node-red-experience</pre></code>
            <li><p>Follow this same procedure if you also get error like <strong>"ERROR: 'firmata' platform required but not detected: 3 -> Intel DE3815"</strong></li></p>
          </div>
    </div>
