<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Security</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <strong>Security</strong>
            </li>
            <li class="active">
                <strong>Security features on Intel&reg; IoT Gateway</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
      <div class="row">
        <div class="col-lg-12">

            <div ibox title="Security features on Intel® IoT Gateway">
                <div content-block name="security-objectives" message="Objectives" image-link="./views/labs/security-gateway/images/lab6.png">
                    <h2 class="labHidden">Complete the Security features lab</h2>
                    <h5>Lab Overview</h5>

                    <p>The Intel&reg; IoT Gateway provides number of Security features both at hardware and software level to securely execute your IoT applications. In this lab we will go through following features:</p>

                    <ul>
                        <li>
                            <p>Trusted Protection module (TPM)</p>
                        </li>
                        <li>
                            <p>Intel&reg; Software Guard Extensions (Intel&reg; SGX)</p>
                        </li>
                        <li>
                            <p>Software/OS level security on your Intel® IoT Gateway</p>
                        </li>
                    </ul>
                  </div>
              </div>


      <div ibox  title="Software/OS security features">
        <div content-block name="security-objectives" message="Objectives">
          <p>There are several OS level security options that can be utilized on your Intel® IoT Gateway. Ubuntu has several features like AppArmor, home folder encryption during installation, firewalls etc. to protect your content. There are also tools like encfs to encrypt specific folders</p>
          <p>In this lab we will look at some software/OS level tools/option available to secure your IoT applications running on the gateway</p>
        </div>
        <div content-block name="security-objectives" message="Folder encryption using encfs">
          <p>Encfs is an application that allows you to create encrypted directories, any file that is placed in such a directory will be encrypted. To open an encrypted directory you need a correct password.</p>
          <p>It is one of several utilities/options available on Ubuntu for encrypting your content. Follow below steps to set up encfs on your Intel® IoT Gateway</p>
          <ul>
            <li>
              <p>Open a ssh terminal to your device and type:</p>
              <pre><code>sudo apt install encfs</code></pre>
            </li>
            <li>
              <p>You are now ready to create encrypted directory. The application encfs will create one directory which contains the encrypted files and one directory where the files are unlocked and accessible. The syntax for encfs is: "encfs {path to encrypted directory} {path to visible directory}"</p>
              <p>For example, If you wish to have a directory in home directory called visible and another one called encrypted:
              <pre><code>encfs ~/.encrypted ~/visible</code></pre>
              <p>First encfs will ask you to create the selected directories. Simply type 'y'. Then it asks which degree of encryption that should be used, simply press enter to use default encryption-level. At last encfs will ask you for the password that is needed to reach the encrypted information.</p>
              <p>If all goes well and there is no error you can start creating content in this directory</p>
            </li>
            <li>
              <p>Let's create a sample file in the directory. For e.g. we create one file here myfile and save it</p>
              <pre><code>vi ~/visible/myfile</code></pre>
              <p>Save the file with a ":wq" command in vi editor</p>
            </li>
            <li>
              <p>In order to close the ~/visible directory simply type: </p>
              <pre><code>fusermount -u ~/visible</code></pre>
              <p>As long as the directory is closed all the information in ~/visible will seem to have disappeared. The only way to gain access to this information again is by unlocking it</p>
              <p>Now if you browse to directory ~/visible you will not see myfile there.</p>
            </li>
            <li>
              <p>To unlock the directory and have access to content, again type the following command</p>
              <pre><code>encfs ~/.encrypted ~/visible</code></pre>
              <p>Give the password for the directory and then you should see the content of the directory, in our case myfile will be now visible</p>
            </li>
            <li>
              <p>It is also possible to automatically mount the directory at login in a secure way</p>
            </li>
          </ul>
        </div>
      </div>
        <div ibox  title="OS Security feature: AppArmor">
          <div content-block name="security-objectives" message="Learn about AppArmor & Objectives">
            <p>AppArmor is a Mandatory Access Control (MAC) system which is a kernel (LSM) enhancement to confine programs to a limited set of resources. AppArmor's security model is to bind access
              control attributes to programs rather than to users. AppArmor confinement is provided via profiles loaded into the kernel, typically on boot. AppArmor profiles can be in one of two modes:
              <b>enforcement</b> and <b>complain</b>. Profiles loaded in enforcement mode will result in enforcement of the policy defined in the profile as well as reporting policy violation attempts
              (either via syslog or auditd). Profiles in complain mode will not enforce policy but instead report policy violation attempts.
            </p>
            <p>As an example we will create a simple AppArmor security profile, which is a text file containing permission details for Nginx, a popular HTTP server</p>
            <p>For the sake of demonstrating how AppArmor works, we will configure Nginx to serve static files from two directories: <b>/data/www/safe</b> and <b>/data/www/unsafe</b>, and configure AppArmor
               to confine Nginx to /data/www/safe. With this setup, when AppArmor is inactive, an external user will be able to access files from both directories. When AppArmor is active, the user will be
               able to access only the files in /data/www/safe.
            </p>
          </div>

          <div content-block name="security-objectives" message="Install Nginx">
            <p>Install Nginx with following command</p>
            <pre><code>sudo apt-get install nginx</pre></code>
            <p>Your Nginx server is now operational. The default server will be running on port 80. You can test it in a browser by visiting your IP address as the URL: http://gateway-IP:80.
              You should see the default Nginx welcome page.
            </p>
          </div>

          <div content-block name="security-objectives" message="Configure Nginx to Serve Static Files" image-link="./views/labs/security-gateway/images/apparmor1.png">
            <p>Create the directories from which the static files will be served.</p>
            <pre><code>sudo mkdir -p /data/www/safe
sudo mkdir -p /data/www/unsafe</pre></code>
            <p>Add a file to the safe directory using nano:</p>
            <pre><code>sudo nano /data/www/safe/index.html</pre></code>
            <p>Let the file have the following contents:</p>
            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">&lt;html&gt;
    <b>Hello! Accessing this file is allowed.</b>
&lt;/html&gt;</pre></ui-codemirror>
            <br></br>
            <p>Similarly, create another file in <b>/data/www/unsafe</b> named <b>index.html</b>, with the following contents:</p>
            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">&lt;html&gt;
    <b>Hello! Accessing this file is NOT allowed.</b>
&lt;/html&gt;</pre></ui-codemirror>
            <br></br>
            <p>
              Nginx's configuration file is located at /etc/nginx/nginx.conf. Edit this file to create a new server that listens on port <b>8080</b> and serves files from /data/www. Ignoring
              the commented lines, after editing, your file should look like the file shown below. You will need to add a hash mark to comment out the include <b>/etc/nginx/sites-enabled/*</b>;
              line. You will also need to add the entire server block shown below:
            </p>
            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
        worker_connections 768;
        # multi_accept on;
}
http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        # server_tokens off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        ##
        # Logging Settings
        ##

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;
        gzip_disable "msie6";
        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        #include /etc/nginx/sites-enabled/*;

        server {
                listen 8080;
                location / {
                        root /data/www;
                }
        }
}</pre></ui-codemirror>
            <br></br>
            <p>Save your changes, and load the new configuration by executing the following command:</p>
            <pre><code>sudo nginx -s reload</pre></code>
            <p>
              At this point, since AppArmor has not yet been turned on for Nginx, you should be able to visit both <b>http://gateway-IP:8080/safe/index.html</b> and <b>http://gateway-IP:8080/unsafe/index.html.</b>
              The safe page should say: <b>"Hello! Accessing this file is allowed."</b> as shown in figure
            </p>
          </div>

          <div content-block name="security-objectives" message="Create a new AppArmor profile for Nginx">
            <p>List all available profiles by executing this command:</p>
            <pre><code>sudo apparmor_status</pre></code>
            <p>
              You should see quite a few profiles. Some will be in enforce mode, and some in complain mode. When an application's profile is in complain mode, AppArmor logs the activities of the application
              without restricting it in any manner. Once there's something to log, you'll find the log files for the Nginx server in the /var/log/nginx directory.
              AppArmor restricts what an application can do only when its profile is in enforce mode.
              There is no profile present for the Nginx server. We'll create one in the next step.
            </p>
            <p>Install Apparmor utils with following command:</p>
            <pre><code>sudo apt-get install apparmor-utils</pre></code>
            <p>
              You are now ready to start profiling the activities of Nginx. Use the <b>aa-autodep</b> command to create a new blank profile. The profile will be created in <b>/etc/apparmor.d.</b>
            </p>
            <pre><code>cd /etc/apparmor.d/
sudo aa-autodep nginx</pre></code>
            <p>
              Once the profile is created, use aa-complain to put the profile in complain mode.
            </p>
            <pre><code>sudo aa-complain nginx</pre></code>
            <p>Restart Nginx.</p>
            <pre><code>sudo service nginx restart</pre></code>
            <p>
              Open a browser, and visit http://gateway-IP:8080/safe/index.html. This will trigger the normal entries for accessing the safe website to appear in your Nginx logs.
              Go back to the terminal. Now we'll use an AppArmor utility to go through the Nginx logs and approve or disapprove each action it finds there.
            </p>
            <pre><code>sudo aa-logprof</pre></code>
            <p>
              This command scans the log files and updates the AppArmor Nginx profile. You will be prompted several times to allow or deny a capability. Assuming your server is not under an attack
              currently, you can press <b>A</b> every time, since all the capabilities requested are necessary for Nginx to work correctly. Finally, when prompted to save the changes, press <b>S</b>.
            </p>
            <p>This general process for enabling AppArmor for a new application is as follows:</p>
            <ul>
              <li>Create a new blank profile for the application</li>
              <li>Put it into complain mode</li>
              <li>Take normal actions with the application so appropriate entries get added to the logs</li>
              <li>Run the AppArmor utility to go through the logs and approve or disapprove various application actions</li>
            </ul>
          </div>

          <div content-block name="security-objectives" message="Edit AppArmor Nginx Profile">
            <p>
              For Nginx specifically, you will need to make some changes to the auto-generated file for it to work properly. Open the <b>/etc/apparmor.d/usr.sbin.nginx</b> file for editing.
            </p>
            <pre><code>sudo nano /etc/apparmor.d/usr.sbin.nginx</pre></code>
            <p>You should make at least the following changes:</p>
            <ul>
              <li>Add the #include &lt;abstractions/apache2-common&gt; line - yes, the hash mark is intentional</li>
              <li>Add the capability setgid line</li>
              <li>Add the capability setuid line</li>
              <li>Update the /data/www/safe/ line to include the entire directory with an asterisk (*)</li>
              <li>Add the deny /data/www/unsafe/* r, line, including the comma</li>
              <li>Make sure Nginx can write to the error log by setting w for /var/log/nginx/error.log</li>
            </ul>
            <p>
              The apache2-common include lets Nginx listen on various ports. The new capability lines allow Nginx to start new processes. The deny rule allows us to block Nginx from accessing
              the /data/www/unsafe/ directory.
            </p>
            <p>One working profile looks like this:</p>
            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">#include &lt;tunables/global&gt;

/usr/sbin/nginx {
 #include &lt;abstractions/apache2-common&gt;
 #include &lt;abstractions/base&gt;
 #include &lt;abstractions/lxc/container-base&gt;

 capability setuid,
 capability setgid,

 /data/www/safe/* r,
 deny /data/www/unsafe/* r,
 /etc/group r,
 /etc/nginx/conf.d/ r,
 /etc/nginx/mime.types r,
 /etc/nginx/nginx.conf r,
 /etc/nsswitch.conf r,
 /etc/passwd r,
 /etc/ssl/openssl.cnf r,
 /usr/sbin/nginx mr,
 /var/log/nginx/error.log w,
}</pre></ui-codemirror>
          <p>Your profile might look a bit different, since it was generated based on your log file</p>
          <p>The AppArmor Nginx profile is now ready. Use the aa-enforce to put the profile in enforce mode.</p>
          <pre><code>sudo aa-enforce nginx</pre></code>
          <p>It is recommended that you reload all profiles and restart Nginx to be sure that the latest changes are in effect. Type in the following:</p>
          <pre><code>sudo /etc/init.d/apparmor reload
sudo service nginx restart</pre></code>
          </div>

          <div content-block name="security-objectives" message="Check AppArmor status for Nginx" image-link="./views/labs/security-gateway/images/apparmor2.png">
            <p>Check AppArmor's status:</p>
            <pre><code>sudo apparmor_status</pre></code>
            <p>You should see Nginx processes running in enforce mode.</p>
            <p>
              Go back to the browser and visit <b>http://gateway-IP:8080/safe/index.html</b>. You should be able to see the page. Then visit <b>http://gateway-IP:8080/unsafe/index.html</b>
              You should see an error page like the one shown in figure. This proves that our profile is working as expected.
            </p>
          </div>
        </div>

        <div ibox title="References">
          <ul>
              <li>
                  <p><a href="https://www.openssl.org/">https://www.openssl.org/</a></p>
                  <p><a href="http://www.intel.com/content/dam/support/us/en/documents/motherboards/server/sb/g21682003_tpm_hwug.pdf">Trusted Platform Technology</a></p>
              </li>
          </ul>
        </div>


      </div>
  </div>

        </div>
    </div>
</div>
