<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Page Overview</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li>
            <a>Labs</a>
         </li>
         <li class="active">
            <strong>Video Analytics Overview</strong>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-12">
         <div ibox title="Video Analytics Overview">
            <div content-block name="read-objectives" message="Read the Page Overview">
               <h2 class="labHidden">Video Analytics Overview</h2>
               <p>Video Analytics section provides simple tutorials using <a href="https://opencv.org/" target="_new">OpenCV</a> for 
                  performing some of the basic retail specific video analytics scenarios.</p>
               <p>In the video performance section, we have seen the performance enhancement by using Intel &reg; Media Server Studio and Intel&reg; Integrated Graphics. By moving video playack payload GPU, we were able to free up CPU by 60-70%, which
                  we can leverage to performance video analytics explained in this section.
                 There are few common video analytics usecases in Visual Retail. They are Motion Detection and Face Detection and tracking. In this section, we will explore 
                  the usage of these two techniques of opencv to count the number of people in front of our digital signage. 
                  These may be used for initial evaluation, but there is definately a scope for improving the accuracy.</p>
            </div>
         </div>
      </div>
   </div>
</div>
