<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Page Overview</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li>
            <a>Labs</a>
         </li>
         <li class="active">
            <strong>Video Analytics Overview</strong>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-12">
         <div ibox title="Video Analytics Overview">
            <div content-block name="read-objectives" message="Read the Page Overview">
               <h2 class="labHidden">Video Analytics Overview</h2>
               <labels linux/>
               <p>Video Analytics section is intended to demonstrate how multiple SDKs can be used together to improve performance for Video Analytic workloads</p>
               <p>It provides simple tutorials using <a href="https://opencv.org/">OpenCV</a> and explain how the upcoming optimized Intel Computer Vision SDK could work with real code examples</p>
               <p>Also includes end-to-end samples of real use cases like Motion Detection and Face Detection to showcase performance. These may be used for initial evaluation, and possibly as an advanced reference.</p>
            </div>
         </div>
      </div>
   </div>
</div>
