<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sensors and Actuators</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Sensors and Actuators</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

            <!-- Objectives -->
            <div ibox title="Objectives">
                <div content-block name="read-objectives" message="Read the Objectives" image-link="./views/labs/sensors-javascript/images/lab2.png">
                    <h2 class="labHidden">Read the Objectives</h2>
                    <labels gateway arduino windows apple linux/>
                    <p>To learn how to build stand alone IoT devices with Arduino 101*. Learn to use sensors and actuators to gather and respond to data. The devices built during this lab will be extended in later labs to send their data to the Intel&reg; IoT
                        Gateway and to the cloud</p>

                  <div class="alert alert-info">
                    <p>By the end of this module, you should be able to:</p>

                    <ul>
                      <li>Connect Grove* IoT Commercial Developer Kit sensors and actuators to your Arduino 101*.</li>
                      <li>Use the JavaScript UPM libraries to control actuators and read data from sensors.</li>
                    </ul>
                  </div>
                </div>
            </div>


            <div ibox title="Deploy LED application to Intel® IoT Gateway">
              <div content-block name="Create a LED blink project" message="Create a LED blink project">
                <h2 class="labHidden">Create a LED blink project</h2>
                <p>In your home directory (/home/{user}) on your Intel® IoT Gateway create a <strong>labs</strong> directory. We will put all our labs program here.</p>
                <p>Under lab directory create another directory and name it <strong>sensors</strong></p>
                <p>Similarly create <strong>LEDBlink</strong> directory under sensors and finally create file <strong>index.js</strong> in it. We will write the LED blink program to it</p>
              </div>

              <div content-block name="Write LED blink program" message="Write LED blink program">
                <p>Update <strong>index.js</strong> with following changes</p>
                <ol>
                    <li>
                        <p>Add below lines to include the FIRMATA subplatform for MRAA. The Arduino 101* is accessed via ttyACM0 port</p>
                        <p><code>var mraa = require("mraa");</code></p>
                        <p><code>mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");</code></p>
                    </li>
                    <li>
                        <p>Create an offset var of 512. This offset is required since we use Firmata to connect Arduino 101* with Intel® IoT Gateway which needs this conversion for all the I/O pins</p>
                        <p><code>var OFFSET = 512;</code></p>
                    </li>
                    <li>
                        <p>Instantiate a <code>Gpio</code> object on GPIO pin 13 which is connected to LED and add the offset</p>
                        <p><code>var io = new mraa.Gpio(OFFSET + 13);</code></p>
                    </li>
                    <li>
                      <p>Create a loop that will call a function to blink LED with the JavaScript setInterval() function</p>
                    </li>
                    <li>
                        <p>The final code should look like this:</p>

                        <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mraa = require("mraa") ;
mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");

var OFFSET = 512;
var io = new mraa.Gpio(OFFSET + 13);
io.dir(mraa.DIR_OUT);                  // configure the LED gpio as an output

console.log("Using LED pin number: " + '13') ;

// now we are going to flash the LED by toggling it at a periodic interval
var ledState ;
var periodicActivity = function() {
    ledState = io.read();                  // get the current state of the LED pin
    io.write(ledState?0:1);                // if the pin is currently 1 write a '0' (low) else write a '1' (high)
    process.stdout.write(ledState?'0':'1');    // and write an unending stream of toggling 1/0's to the console
} ;
var intervalID = setInterval(periodicActivity, 1000);  // start the periodic toggle</li>
                  </ol>
              </div>

              <div content-block name="disable-node-red" message="Disable Node-Red service">
                <p><b>  Disable Node-Red service running on your Gateway</b></p>
                <ul>
                  <li><p>The IP address that you see on the LCD screen is a Node-Red flow running on boot, since Node-Red uses the device resources through ttyACM0 node it is required to stop it before we run our Node JS programs</li></p>
                  <li><p>Open a ssh terminal to your Gateway and give following command:</li></p>
                  <pre><code>sudo systemctl stop node-red-experience</pre></code>
                  <li><p>Check that service has stopped</li></p>
                  <pre><code>sudo systemctl status node-red-experience</pre></code>
                </ul>
              </div>

              <div content-block name="blink-the-light" message="Run your LED blink program" image-link="./views/labs/sensors-javascript/images/image_arduino_led.png">
                  <h2 class="labHidden">Run your LED blink program</h2>
                  <p><img class="labHidden" alt="" data-fid="503913" src="https://software.intel.com/sites/default/files/managed/61/94/image_arduino_led.png" typeof="foaf:Image"></p>
                  <p>Open a SSH terminal to your Intel® IoT Gateway and go to your <strong>LEDBlink</strong> folder. Type the following command to run your JS application</p>
                  <p><code>node index.js</code></p>
                  <p>This should execute your program and you should see LED blinking on your Arduino 101* board.The LED is located near the center of the board as shown in the figure</p>
              </div>
            </div>

            <div ibox title="Setup the temperature sensor and LCD screen">
                <div content-block name="temperature-sensor" message="Plug in the Grove shield, temperature sensor and the LCD" image-link="./views/labs/sensors-javascript/images/temperature-sensors.jpg">
                    <h2 class="labHidden">Plug in the Grove shield, temperature sensor and the LCD</h2>
                    <p><img class="labHidden" alt="temperature sensor" data-fid="503915" src="https://software.intel.com/sites/default/files/managed/21/f9/temperature-sensors.jpg" title="temperature sensor" typeof="foaf:Image"></p>


                    <p>Connect the Temperature sensor (Analog) and LCD display (I<sup>2</sup>C) to your Arduino 101*. Write code for NodeJS and measure temperature in Celsius using upm library, convert it to Fahrenheit, then display it
                        on the LCD.</p>

                    <ol>
                        <li>
                            <p>Install the Grove Base Shield onto the Arduino 101* Arduino expansion board.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A0</strong> of the Grove Base Shield.</p>
                        </li>
                        <li>
                            <p>Connect <strong>Grove LCD</strong> display to one of the <strong>I<sup>2</sup>C</strong> pins.</p>
                        </li>
                    </ol>

                </div>

                <div content-block name="temperature-sensor" message="Create a temperature sensor project">
                    <h2 class="labHidden">Create a temperature sensor project</h2>

                    <ul>
                        <li>
                            <p>On your Intel® IoT Gateway under <strong>labs/sensors</strong> folder create another folder <strong>temperature-sensor</strong></p>
                        </li>
                        <li>
                            <p>In the labs/sensors/temperature-sensor folder create a <strong>index.js</strong> file</p>
                        </li>
                    </ul>

                </div>

                <div content-block name="temperature-sensor" message="Write the Code to Read the Temperature Sensor.">
                    <h2 class="labHidden">Write the Code to Read the Temperature Sensor.</h2>
                    <h5>Read the temperature sensor</h5>

                    <p>Update <span class="icon file">index.js</span> to read the temperature sensor on program start up and log it to the console.</p>

                    <ol>
                        <li>
                            <p>Add below lines to include the FIRMATA subplatform for MRAA. The Arduino 101* is accessed via ttyACM0 port</p>
                            <p><code>var mraa = require("mraa");</code></p>
                            <p><code>mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");</code></p>
                        </li>
                        <li>
                            <p>Create an offset var of 512. This offset is required since we use Firmata to connect Arduino 101* with Intel® IoT Gateway which needs this conversion for all the I/O pins</p>
                            <p><code>var OFFSET = 512;</code></p>
                        </li>

                        <li>
                            <p>Include the JS UPM library for the basic Grove sensors.</p>
                            <p><code>var groveSensor = require('jsupm_grove');</code></p>
                        </li>

                        <li>
                            <p>Instantiate a <code>GroveTemp</code> Grove Sensor on analog pin 1 and add the offset. Here 0.60 is a scaling factor, the grove temp sensor is designed to read value at 3.3V however since we are using 5V we need this conversion factor</p>
                            <p><code>var temp = new groveSensor.GroveTemp(0+OFFSET, 0.60);</code></p>
                        </li>

                        <li>
                          <p>Create a loop that will call a function to get the temperature once per second with the JavaScript setInterval() function</p>

                        </li>

                        <li>
                            <p>The final code should look like this:</p>

                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mraa = require("mraa") ;
mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");

var OFFSET = 512;
var groveSensor = require('jsupm_grove');
var temp = new groveSensor.GroveTemp(0+OFFSET, 0.60);

function monitor() {
    setInterval(function() {
        var celsius = temp.value();
        var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);
        console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");
    }, 1000);
}
monitor();</li>

                        <li>
                            <p>Make sure your changes to <span class="icon file">index.js</span> have been saved and now from a ssh terminal go to the temperature-sensor folder and type following to run it:</p>
                            <p><code>node index.js</code></p>
                        </li>

                        <li>
                            <p>If successful, you should see the temperature output on the console.</p>
                        </li>
                    </ol>
                </div>

                <div content-block name="repeat-sensor-reading" message="Add the LCD Screen">
                    <h2 class="labHidden">Add the LCD Screen</h2>
                    <p>Update <span class="icon file">index.js</span> to output the value from the temperature sensor to the LCD display.</p>

                    <p>Below are the general steps to complete the exercise.</p>
                    <ol>
                        <li>
                            <p>Similar to using <code>require('jsupm_grove')</code> to include the JavaScript UPM library for the basic Grove components, <strong>include the UPM library for I<sup>2</sup>C-type LCDs</strong>:</p>
                            <p><code>var LCD = require('jsupm_i2clcd');</code></p>
                        </li>

                        <li>
                            <p>The specific LCD you have is the <strong>JHD1313M1</strong> Grove RBG LCD. <strong>Instantiate a new <code>LCD.Jhd1313m1</code> object.</strong> The constructor accepts 3 parameters in this order:</p>
                            <dl>
                                <dt>I<sup>2</sup>C bus (Number)</dt>
                                <dd>For Gateway and Arduino101*, <strong>use <code>0</code></strong> with an offset of <strong><code>512</code></strong>.</dd>

                                <dt>lcdAddress (Number)</dt>
                                <dd>The JHD1313M1 has two I<sup>2</sup>C addreses: this address identifies the LCD display. <strong>Use <code>0x3E</code>.</strong></dd>

                                <dt>rgbAddress (Number)</dt>
                                <dd>The JHD1313M1 has two I<sup>2</sup>C addreses: this address identifies the RGB backlight. <strong>Use <code>0x62</code>.</strong></dd>
                            </dl>
                        </li>

                        <li>
                            <p>To write to the LCD, you need to:</p>
                            <ol style="list-style-type:lower-roman;">
                                <li>First, <strong>set the cursor position</strong>.
                                    <br> e.g. <code>(0,0)</code> for the top left. The JHD1313M1 has 2 rows (y) and 16 columns (x).</li>
                                <li>Then, <strong>write</strong> a string/message to the screen.
                                    <br> e.g. <code>"Temp: " + celsius + "C or " + fahrenheit + "F"</code></li>
                            </ol>
                            <p>The API documentation for generic I<sup>2</sup>C LCDs can be found here: <a href="http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods" target="_blank">http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods</a></p>
                        </li>

                        <li>
                            <p>As a bonus, you can <strong>change the LCD backlight color</strong>.
                                <br> e.g. <code>(255,255,255)</code> for white.</p>
                            <p>The API documentation for the specific Grove RBG LCD you have can be found here: <a href="http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods" target="_blank">http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods</a></p>
                        </li>

                        <li>
                            <p>Use the steps and reference links above to output the value from the temperature sensor to the LCD display.</p>
                        </li>

                        <li>
                            <p>Below is an example of the final solution.</p>
                            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mraa = require("mraa");
mraa.addSubplatform(mraa.GENERIC_FIRMATA, "/dev/ttyACM0");

// Include the JavaScript UPM libraries
var groveSensor = require('jsupm_grove');
var LCD = require("jsupm_i2clcd"); // Create a new instance of a Grove RGB LCD screen

// The Offset is necessary for Firmata
var OFFSET = 512;

// Instantiate the temperature sensor and LCD actuator
var temp = new groveSensor.GroveTemp(0+OFFSET, 0.60); // Create a new instance of a Grove Temperature Sensor
var screen = new LCD.Jhd1313m1(0+OFFSET, 0x3E, 0x62);

// monitor - creates an anonymous function that runs once per second
// The function will get the temperature and display it on the LCD.
function monitor() {
    setInterval(
      function() {
        // Read the temperature sensor
        var celsius = temp.value();

        // Convert it to fahrenheit
        var fahrenheit = Math.round(celsius * 9.0 / 5.0 + 32.0);

        // Log it to the console window
        console.log(celsius + "° Celsius, or " + fahrenheit + "° Fahrenheit");

        // Update the LCD screen
        screen.setCursor(0, 0);
        screen.setColor(255, 255, 255);
        screen.write("Temp: " + celsius + "C or " + fahrenheit + "F");
    }, 1000);
}

// Call the monitor function once
monitor();</pre></ui-codemirror>

                        </li>
                    </ol>
                </div>


                <div content-block name="deploy-temperature-sensor" message="Deploy the temperature sensor application">
                    <h2 class="labHidden">Deploy the temperature sensor application</h2>
                    <p>Run your application from ssh terminal of your Intel® IoT Gateway by going to the folder temperature-sensor with command</p>
                    <pre><code>node index.js</code></pre>
                    <div class="alert alert-success">
                        <p>You should now see the temperature displayed on the LCD.</p>
                    </div>

                </div>
            </div>

            <div ibox title="Solution">
              <div content-block message="Download code from Github">
              <h3 class="labHidden">Download code from Github</h3>
                <p>If you have not followed the steps given above then you can download the sensor code directly from github following below steps.</p><br>
                <pre><code>$ git clone https://github.com/SSG-DRD-IOT/lab-sensors-javascript.git</code></pre>
                <pre><code>$ cd lab-sensors-javascript</code></pre>
                <pre><code>$ npm install</code></pre>
                <pre><code>$ node index.js</code></pre>
              </div>
            </div>


            <div ibox title="Sample Exercises">
              <div content-block name="exercise1" message="Exercise 1: Alarm Clock">
                <p><b>Exercise 1: Alarm Clock</b></p>
                <p>Take a look at the javascript <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/alarm-clock/javascript" target="_blank">alarm clock </a>sample code, there might be few additional changes required for NUC with Arduino 101* which is explained in the README</p>
              </div>
              <div content-block name="exercise2" message="Exercise 2: Earthquake Detector">
                <p><b>Exercise 2: Earthquake Detector</b></p>
                <p>Take a look at the javascript <a href="https://github.com/intel-iot-devkit/how-to-code-samples/tree/master/earthquake-detector/javascript" target="_blank">earthquake detector </a>sample code, refer to the README for connections and few additional changes required for NUC with Arduino 101*</p>
              </div>
              <div class="alert alert-warning">
                <p>There are a number of additional examples available for reference as <a href="https://github.com/intel-iot-devkit/how-to-code-samples" target="_blank">how-to-code-samples </a> on git hub</p>
              </div>
            </div>

            <div ibox title="Additional resources">
                <p>Information, community forums, articles, tutorials and more can be found at the <a href="https://software.intel.com/iot"  target="_blank">Intel Developer Zone</a>.</p>
                <p>For reference code for any sensor/actuator from the Grove* IoT Commercial Developer Kit, visit <a href="https://software.intel.com/en-us/iot/hardware/sensors"  target="_blank">https://software.intel.com/en-us/iot/hardware/sensors</a></p>

                <h4>Sensors and Actuators APIs - UPM API Doxygen Reference</h4>
                <ul>
                  <li><a href="https://iotdk.intel.com/docs/master/upm/" target="_blank">C++ Sensor/Actuator API libmraa (v1.5.1) and UPM (v1.0.2)</a></li>
                  <li><a href="https://iotdk.intel.com/docs/master/upm/java/" target="_blank">Java Sensor/Actuator API libmraa (v1.5.1) and UPM (v1.0.2)</a></li>
                  <li><a href="https://iotdk.intel.com/docs/master/upm/python/" target="_blank">Python Sensor/Actuator API libmraa (v1.5.1) and UPM (v1.0.2)</a></li>
                  <li><a href="https://iotdk.intel.com/docs/master/upm/node/" target="_blank">NodeJS Sensor/Actuator API libmraa (v1.5.1) and UPM (v1.0.2)</a></li>
                </ul>


                <h4>Grove Temperature Sensor</h4>
                <ul>
                  <li><a href="http://www.seeedstudio.com/wiki/Grove_-_Temperature_Sensor_V1.2" target="_blank">Seeed Studio Wiki: Grove Temperature Sensor</a></li>
                  <li><a href="http://iotdk.intel.com/docs/master/upm/node/classes/grovetemp.html#methods" target="_blank">UPM API - GroveTemp</a></li>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/c%2B%2B/grovetemp.cxx" target="_blank">UPM C++ example: Grove Temperature Sensor</a></li>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovetemp.js" target="_blank">UPM JavaScript example: Grove Temperature Sensor</a></li>
                </ul>

                <h4>Grove LCD RGB Backlight</h4>
                <ul>
                  <li><a href="http://www.seeedstudio.com/wiki/Grove_-_LCD_RGB_Backlight"  target="_blank"``>Seeed Studio Wiki: LCD RGB Backlight</a></li>
                  <li><a href="http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods"  target="_blank">UPM API - i2clcd</a></li>
                  <li><a href="http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods"  target="_blank">UPM API Doxygen - Jhd1313m1</a></li>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/c%2B%2B/jhd1313m1-lcd.cxx"  target="_blank">UPM API - Jhd1313m1</a></li>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/jhd1313m1-lcd.js"  target="_blank">C++ example: RGB LCD</a></li>
                </ul>
            <!--
                <h4>Accelerometer</h4>
                <ul>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/c%2B%2B/mma7660.cxx">UPM C++ example: Accelerometer</a></li>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/mma7660.js">UPM JavaScript example: Accelerometer</a></li>
                  <li><a href="http://www.seeedstudio.com/wiki/Grove_-_3-Axis_Digital_Accelerometer(%C2%B11.5g)">Seeed Studio Wiki: 3-Axis Digital Accelerometer</a></li>
                </ul>

                <h4>Rotary Angle Sensor</h4>
                <ul>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/groverotary.js">UPM JavaScript example: Rotary Angle Sensor</a></li>
                  <li><a href="http://www.seeedstudio.com/wiki/Grove_-_Rotary_Angle_Sensor">Seeed Studio Wiki: Rotary Angle Sensor</a><li>
                </ul> -->

                <h4>Grove Button</h4>
                <ul>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovebutton.js" target="_blank">UPM JavaScript example: Grove Button</a></li>
                  <li><a href="http://www.seeedstudio.com/wiki/Grove_-_Button" target="_blank">Seeed Studio Wiki: Grove Button</a></li>
                </ul>

                <!-- <h4>Grove Buzzer</h4>
                <ul>
                  <li><a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/buzzer.js">UPM JavaScript example: Buzzer</a></li>
                  <li><a href="http://www.seeedstudio.com/wiki/Grove_-_Buzzer">Seeed Studio Wiki: Grove Buzzer</a></li>
                </ul> -->
            </div>        </div>
    </div>
  </div>
</div>
