<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Additional Information</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                MediaSDK Sample
            </li>
            <li class="active">
                <strong>Build simple Video Decoder using Media SDK Samples</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Objective" >
                <div content-block name="xdk-issues" message="Objective"  image-link="./views/labs/videoperformance-mediasdksamples/images/psuedocode.png">
                  <p>We will build a custom Console application which performs decoding of elementary compressed video stream and renders them on the screen:
                    <ul>
                      <li>Setup parameter to decode pipeline</li>
                      <li>Initialize decoder</li>
                      <li>Decode frame by frame</li>
                  </ul>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
        <div class="col-lg-12">
            <div ibox title="Download empty Visual Studio solution">
                <div content-block name="xdk-issues" message="Download empty Visual Studio solution">
                  <P>Please download empty solution from <a href="../views/labs/videoperformance-mediasdksamples/downloads/solution.zip" target="_blank">here</a>. We have done all the necessary library linking in this solution.
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>
<!--
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Header files for inclusion">
                <div content-block name="xdk-issues" message="Check after completing this section">
                  <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
TODO: Hemanth
//Create a skeleton of decode.cpp file and start laying the outline. In step 1 only give outline methods. Then start filling them with actual values.
//Refer PrintHelp method from original sample_decode for command line flags and its meaning.
//For example
//pParams->memType = D3D11_MEMORY;
//Above line is an interpretation of below flag
//[-d3d11]            - work with d3d11 surfaces
//We will write a code flow like
//write to d3d11 surfaces
pParams->memType = D3D11_MEMORY;
//render decoded data in a separate window
pParams->mode = MODE_RENDERING;

//Similarly udpate other flags. Based on that, update InputSetup description. Currently I have only few parameters.. add few more.
//we will follow MARS method. They have registered those sample_pipelines and used them directly in the proram.
//We will also use  CDecodingPipeline class and make calls accordingly as I did in my example.
//REMOTE CDecodingPipeline class code from this document.
                </ui-codemirror>

              </div>
            </div>
        </div>
    </div>
!-->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Outline">
                <div content-block name="xdk-issues" message="Check after completing this section">
                    <ul>
                      <li>In this example we are decoding an AVC (H.264) stream.</p>
                      <li>Inclusions</li>
                      <li>Input Processing</li>
                      <li>Decoding pipeline</li>
                      <li>Output Processing</li>
                      <li>Main decoding loop</li>
                      <li>Error Handling</li>
                      <li>Finish decoding</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Inclusions">
                <div content-block name="xdk-issues" message="Check after completing this section">
                  <pre><code>
                    #include "pipeline_decode.h"
                    #include &ltsstream&gt
                </code></pre>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Input Processing">
                <div content-block name="xdk-issues" message="Check after completing this section">
                  <p>Define a method <b>InputSetup()</b> that accepts the sInputParams array defined from main program.</p>
                  <p>This method first checks the input array for consistency.</p>
                  <p>Then sets the video type, memory type, hardware acceleration, asynchronous depth factor, mode, etc.,</p>
                  <p>It also writes the input h264 file path to parameter list</p>
                  <p>Finally returns the MFX error status.</p>
                  <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
                    mfxStatus InputSetup(sInputParams* pParams)
                    {
                        MSDK_CHECK_POINTER(pParams, MFX_ERR_NULL_PTR);

                    	pParams->videoType = MFX_CODEC_AVC;
                    	msdk_opt_read(MSDK_STRING("output.h264"), pParams->strSrcFile);
                    	pParams->memType = D3D11_MEMORY; // D3D9_MEMORY;
                    	// set default implementation
                    	pParams->bUseHWLib = true;
                    	pParams->nAsyncDepth = 4;
                    	pParams->mode = MODE_RENDERING;
                        return MFX_ERR_NONE;
                    }
                </ui-codemirror>
                </br><p>Set the following parameters in the main program</p>
                <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
                  sInputParams        Params;   // input parameters
                  CDecodingPipeline   Pipeline; // pipeline for decoding, includes input file reader, decoder and output file writer
                  mfxStatus sts = MFX_ERR_NONE; // return value check

                  //Setup your input parameters.
                  sts = InputSetup(&Params);
                  MSDK_CHECK_PARSE_RESULT(sts, MFX_ERR_NONE, 1);
                </ui-codemirror>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Decoding Pipeline">
                <div content-block name="xdk-issues" message="Check after completing this section">
                </br><p>Continue coding in the main program</p>
                  <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
                    //Initialise the Decode pipeline
                    sts = Pipeline.Init(&Params);
                    MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
                </ui-codemirror>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Output Processing">
                <div content-block name="xdk-issues" message="Check after completing this section">
                  </br><p>Continue coding in the main program</p>
                  <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
                    //print stream info
                    Pipeline.PrintInfo();

                    msdk_printf(MSDK_STRING("Decoding started\n"));
                </ui-codemirror>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Main Decoding Loop">
                <div content-block name="xdk-issues" message="Check after completing this section">
                  </br><p>Continue coding in the main program</p>
                  <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
                    for (;;)
                    {
                        //Decode frame by frame
                        sts = Pipeline.RunDecoding();

                        if (MFX_ERR_INCOMPATIBLE_VIDEO_PARAM == sts || MFX_ERR_DEVICE_LOST == sts || MFX_ERR_DEVICE_FAILED == sts)
                        {
                            if (MFX_ERR_INCOMPATIBLE_VIDEO_PARAM == sts)
                            {
                                msdk_printf(MSDK_STRING("\nERROR: Incompatible video parameters detected. Recovering...\n"));
                            }
                            else
                            {
                                msdk_printf(MSDK_STRING("\nERROR: Hardware device was lost or returned unexpected error. Recovering...\n"));

                                //Reset device in case of hardware error
                                sts = Pipeline.ResetDevice();

                                MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
                            }

                            //Clear all decode buffer and move to next frame.
                            sts = Pipeline.ResetDecoder(&Params);
                            MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
                            continue;
                        }
                        else
                        {
                            MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
                            break;
                        }
                    }

                    msdk_printf(MSDK_STRING("\nDecoding finished\n"));
                </ui-codemirror>
              </div>
            </div>
        </div>
    </div>
</div>
