<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Build Simple Video Decoder</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li>
            <a>Labs</a>
         </li>
         <li>
            Intel &reg; MSS Sample
         </li>
         <li class="active">
            <strong>Build Simple Video Decoder</strong>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
   <div ibox title="Objectives">
      <div content-block name="xdk-issues" message="Check after completing the Objectives" image-link="./views/labs/videoperformance-mediasdksamples/images/psuedocode.png">
         <b>Introduction</b>
         <p>We will build a custom console application, which performs decoding of elementary compressed video stream and renders them on the screen:</p>
         <p>Video Decoding Process</p>
         <ul>
            <li>Setup parameter to decode pipeline</li>
            <li>Initialize decoder</li>
            <li>Decode frame by frame</li>
            <li>Once end of stream is reached, release all memory allocations</li>
         </ul>
         <b>Observation</b>
         <p>Pass different parameters associated with "sInputParams" parameter and observe the differences.</p>
         <b>Learning Outcome</b>
         <p>By the end of this module, your would get the basic understanding of building a video decode solution using Intel&reg; Media Server Studio</p>
      </div>
   </div>
   <div ibox title="Building new sample">
      <div content-block name="xdk-issues" message="Check after creating new sample">
        <p>We will modify an existing Media Server Studio decode example just to avoid cmake steps.</p>
         <p>Navigate to workshop/msdk_samples/samples directory</p>
         <div class="alert alert-warning">
            <p>$cd /home/[user]/Documents/workshop/msdk_samples/samples</p>
         </div>
         <p>Copy and paste the sample_decode folder by renaming it to custom_decode</p>
         <div class="alert alert-warning">
            <p>$sudo cp -R sample_decode custom_decode</p>
         </div>
         <p>Delete the sample_decode.cpp and CMakeLists.txt files in this custom_decode project</p>
         <div class="alert alert-warning">
            <p>$cd custom_decode</p>
            <p>$cd src</p>
            <p>$sudo rm -rf sample_decode.cpp CMakeLists.txt</p>
         </div>
         <p>Create new custom_decode.cpp file to enter your custom decoding program</p>
         <p>$sudo gedit custom_decode.cpp. You can also use any of your favorite text editor here.</p>
      </div>
      <p>Save this custom_decode.cpp using Ctrl+S</p>
   </div>
   <div ibox title="Header file Includes">
      <div content-block name="xdk-issues" message="Check after including Header files">
         <p>Open <u>custom_decode.cpp</u> file to complete the steps with the code given in the following steps:</p>
         <p> Include the pipeline_decode.h and sstream headers. pipeline_decode has CDecodingPipeline class which does all the critical tasks associated with decode process. </p>
         <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
		 #include "pipeline_decode.h"
		 #include &lt;sstream&gt;
         </ui-codemirror>
      </div>
   </div>
   <div ibox title="Input Processing">
      <div content-block name="xdk-issues" message="Check after completing Input processing">
         <p>Define a method <b>InputSetup()</b> that accepts the sInputParams structure as parameter.</p>
         <p>This method first checks the input structure for consistency.</p>
         <p>Then you can set the video type, memory type, hardware acceleration, asynchronous depth factor, mode, etc.,</p>
         <p>Other possible parameter values are commented in the code block below. Try different option by changing the paramter values.</p>
         <p>It also writes the input h264 file path to parameter list</p>
         <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
            mfxStatus InputSetup(sInputParams* pParams)
            {
            //Check the pParams pointer
            MSDK_CHECK_POINTER(pParams, MFX_ERR_NULL_PTR);
            //Set the Video type:
            //MFX_CODEC_AVC for H264 codec
            //MFX_CODEC_JPEG for JPEG codec
            pParams->videoType = MFX_CODEC_AVC;
            msdk_opt_read(MSDK_STRING("/opt/intel/mediasdk/samples/content/test_stream.h264"), pParams->strSrcFile);
            //Set the memory type:
            //D3D11_MEMORY for Directx11
            //D3D9_MEMORY for Directx9
            //SYSTEM_MEMORY for System Memory
            pParams->memType = D3D9_MEMORY;    //For VAAPI
            //set hardware implementation as default
            //Software implementation can be tried by setting this to false.
            pParams->bUseHWLib = true;
            //Depth of asynchronous pipeline, this number can be tuned to achieve better performance.
            pParams->nAsyncDepth = 4;
            //Set the eWorkMode from:
            //MODE_PERFORMANCE = enable performance mode,
            //MODE_RENDERING = Render output on the display,
            //MODE_FILE_DUMP = Dump the output to a file.
            pParams->mode = MODE_RENDERING;
            pParams->libvaBackend = MFX_LIBVA_X11;
            //Some other parameters which can be explored further are:
            /*bIsMVC ; // true if Multi-View Codec is in use
            bLowLat; // true if low latency mode needs to be enabled
            nMaxFPS; //maximum of frames per second that can be rendered
            */
            return MFX_ERR_NONE;
            }
         </ui-codemirror>
         </br>
         <p>Initialize variable for CDecodingPipeline which is primarily responsible for initializing the Media SDK context, reading the input file, decoding and so on.</p>
         <p>Then setup the input parameters and perform error checking.</p>
         <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
            int main()
            {
            // input parameters
            sInputParams        Params;
            // pipeline for decoding, includes input file reader, decoder and output file writer
            CDecodingPipeline   Pipeline;
            // return value check
            mfxStatus sts = MFX_ERR_NONE;
            //Setup your input parameters.
            sts = InputSetup(&Params);
            MSDK_CHECK_PARSE_RESULT(sts, MFX_ERR_NONE, 1);
         </ui-codemirror>
      </div>
   </div>
   <div ibox title="Decoding Pipeline">
      <div content-block name="xdk-issues" message="Check after completion of Decoding pipeline">
         <p>Initialise the decoding pipeline and check the error status.</p>
         <p>Continue coding in the main function</p>
         <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
            //Initialise the Decode pipeline
            sts = Pipeline.Init(&Params);
            MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
            //print stream info
            Pipeline.PrintInfo();
            msdk_printf(MSDK_STRING("Decoding started\n"));
         </ui-codemirror>
      </div>
   </div>
   <div ibox title="Main Decoding Loop">
      <div content-block name="xdk-issues" message="Check after completion of Main decoding loop">
         <p>Now let us loop through all the frames in the video to decode them using <b>Pipeline.RunDecoding()</b></p>
         <p>Every method in MSS returns a status. These statuses could be incompatible video parameters, lost device, failed device, etc., </p>
         <p>You act according to the return message of each function execution. If it asks for more sufaces you provide more surface, if it asks for more frame, then you provide mode frame</p>
         <p>Reset the device using <b>Pipeline.ResetDevice</b> in case of hardaware error.
         <p>If there are no errors, it will set the flag to <b>MFX_ERR_NONE</b></p>
         <p>Finally clear all decode buffer and move to the next frame using <b>Pipeline.ResetDecoder(&Params);</b></p>
         <p>Continue following coding in the main function</p>
         <ui-codemirror ui-codemirror-opts="editorOptions" id="topic-configure">
            for (;;)
            {
            //Decode frame by frame
            sts = Pipeline.RunDecoding();
            if (MFX_ERR_INCOMPATIBLE_VIDEO_PARAM == sts || MFX_ERR_DEVICE_LOST == sts || MFX_ERR_DEVICE_FAILED == sts)
            {
            if (MFX_ERR_INCOMPATIBLE_VIDEO_PARAM == sts)
            {
            msdk_printf(MSDK_STRING("\nERROR: Incompatible video parameters detected. Recovering...\n"));
            }
            else
            {
            msdk_printf(MSDK_STRING("\nERROR: Hardware device was lost or returned unexpected error. Recovering...\n"));
            //Reset device in case of hardware error
            sts = Pipeline.ResetDevice();
            MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
            }
            //Clear all decode buffer and move to next frame.
            sts = Pipeline.ResetDecoder(&Params);
            MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
            continue;
            }
            else
            {
            MSDK_CHECK_RESULT(sts, MFX_ERR_NONE, 1);
            break;
            }
            }
            msdk_printf(MSDK_STRING("\nDecoding finished\n"));
            return 0;
            }// End of main
         </ui-codemirror>
         </br>
         </br>
         <P>Save the file by CTRL+S</p>
      </div>
   </div>
   </div>
   <div ibox title="Configure and generate solution">
      <div content-block name="xdk-issues" message="Check after configuring and generating the solution">
         <p>Navigate to custom_decode directory and create CMakeLists file</p>
         <div class="alert alert-warning">
            <p>$cd /home/[user]/Documents/workshop/msdk_samples/samples/custom_decode</p>
            <p>$sudo gedit CMakeLists.txt</p>
         </div>
         <p>Make sure your CMakeLists.txt file contents matches the below ones:</p>
         <div class="alert alert-warning">
            <p>include_directories (</p>
            <p>${CMAKE_CURRENT_SOURCE_DIR}/../sample_common/include</p>
            <p>${CMAKE_CURRENT_SOURCE_DIR}/../sample_misc/wayland/include</p>
            <p>${CMAKE_CURRENT_SOURCE_DIR}/include</p>
            <p>)</p>
            <p>list( APPEND LIBS_VARIANT sample_common )</p>
            <p>set(DEPENDENCIES libmfx dl pthread)</p>
            <p>make_executable( shortname universal "nosafestring" )</p>
            <p>install( TARGETS ${target} RUNTIME DESTINATION ${MFX_SAMPLES_INSTALL_BIN_DIR} )</p>
         </div>
         <p>Generate, clean and build the project using build.pl script as follows:</p>
         <div class="alert alert-warning">
		 <p>cd /home/[user]/Documents/workshop/msdk_samples/samples/</p>
		 <p>$perl build.pl --cmake=intel64.make.debug --build --clean</p>
		 <p>$make -j4 -C __cmake/intel64.make.debug</p>
		 </div>
         <p>End result should say <b>state: ok</b></p>
         <p>New folder named __cmake will have executables. Navigate to the same as follows:</p>
         <div class="alert alert-warning">$cd __cmake/intel64.make.debug/__bin/debug/</div>
         <p>Execute the custom_decode:</p>
         <div class="alert alert-warning">$./custom_decode</div>
		 <p>It should show the video rendered on the screen with settings enabled in custom decoding</p>
      </div>
   </div>
</div>
<div ibox title="Complete Solution">
   <div content-block name="xdk-issues" message="Check after Downloading complete solution">
      <P>If you have problems in executing your code, you can see the complete custom_decode source code from below link</p>
      <u><a href="views/labs/videoperformance-mediasdksamples/downloads/custom_decode.cpp">custom_decode.cpp</a></u></p>
      <p>Regenerate, clean and rebuild the code using build.pl script as discussed in previous section</p>
   </div>
</div>

<div ibox title="Execution">
   <div content-block name="xdk-issues" message="Check after running the sample">
      <div class="alert alert-warning"><span style="color:#A52A2A">./custom_decode</span></div>
      </br>
      <p>This example demonstrates hardware based video decoding with output rendered on the screen and details printed in the terminal</p>
   </div>
</div>
<div ibox title="Lesson learnt">

   <div content-block name="xdk-issues" message="Check after completion of lesson">
      <p>Decoding the H.264 stream and exploring supported input parameters from Intel&reg; Media SDK</p>
   </div>
</div>
</div>
