<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel&reg; Media Server Studio Samples</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                video performance
            </li>
            <li class="active">
                <strong>Explore Intel&reg; Media Server Studio Samples</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
          <div ibox title="Objectives">
              <div content-block name="xdk-issues" message="Check after completion of Objectives">
              <b>Introduction</b>
              <p>Intel&reg; Media Server Studio is a set of libraries, tools, header and sample code files that define cross-platform API for developing consumer
                 and professional grade media applications on Intel platforms. Providing an access to Intel&reg; Quick Sync Video, hardware accelerated codecs
                 in Intel Graphics Processor, Media Server Studio allows application developer to speed up video playback, encoding, processing and media conversion.
                 Intel&reg; Media Server Studio for Windows helps to deliver desktop applications, such as video players, editors and video conferencing clients,
                 while Intel&reg; Media Server Studio for Embedded Linux enables digital security and surveillance and connected car manufacturers to deliver smart cameras
                 and infotainment or cluster display solutions. Hardware acceleration in Linux is supported by VA-API.</p>
                 <p>Video Acceleration API (VA API) is a royalty-free API as well as its implementation as free and open-source library (libVA) distributed under the MIT License.
                   The VA API interface is to be implemented by device drivers to offer end-user software, such as VLC media player or GStreamer, access to available video acceleration hardware,
                   such as PureVideo (through the libva-vdpau driver, which implements VA API in terms of VDPAU) or Unified Video Decoder. The API enables and provides access to
                   hardware-accelerated video processing, using hardware such as graphics processing units (GPU) to accelerate video encoding and decoding by offloading processing from the central processing unit (CPU).
                   The VA API specification was originally designed by Intel for its GMA (Graphics Media Accelerator) series of GPU hardware with the specific purpose of eventually replacing the XvMC standard as the default Unix multi-platform equivalent of Microsoft Windows DirectX Video Acceleration (DxVA) API, but today the API is no longer limited to Intel-specific hardware or GPUs.
                   Other hardware and manufacturers can freely use this open standard API for hardware accelerated video processing with their own hardware without paying a royalty fee.
                 </p>

              <b>Exploration</b>
              <p>This lab starts with exploring and understanding the Media Server Studio related packages installed in your Intel&reg; NUC.
                 Then understand the customized applications such as sample decoder and video wall bundled with installation. </p>
              <b>Observation</b>
                <p>Performance monitoring using system performance monitoring tool; before and after hardware acceleration.</p>
              <b>Learning Outcome</b>
              <p>By the end of this module, the participant is expected to understand the Intel&reg; Media Server Studio, installation structure,
                 hardware acceleration and performance enhancement of selected applications.</p>
              </div>
            </div>

          <div ibox title="View the packages installed on your NUC">
            <div content-block name="xdk-issues" message="Check after viewing the packages installed on your NUC">
                    <ul>
                        <li><b>Media Server Studio installer</b>
                            <p>Intel&reg; Media Server Studio Professional 2017 by default installs at
                              <span style="color:#A52A2A"> /opt/intel/mediasdk/</span></p>
                        </li>
                        <li><b>Media Sample applications</b>
                            <p>Pre built Media Server Studio samples are available in
                              <span style="color:#2554C7">/opt/intel/mediasdk/samples/_bin/ </span>
                              <p>for 64-bit architecture</p>
                        </li>
                        <li><b>Media Server Studio Documentation directory </b>
                            <p><span style="color:#A52A2A">/opt/intel/mediasdk/doc/</span></p>
                        </li>
                    </ul>
            </div>
          </div>

            <!--<div ibox title="Understand the packages">
                <div class="alert alert-warning">Go to <span style="color:#A52A2A">/opt/intel/mediasdk/</span>
                    <span>and understand the Package Contents</span>
                </div>
                  <div content-block name="xdk-issues" message="Check after opening the packages" image-link="../views/labs/videoperformance-mediasdk/images/img001.JPG"></div>
                  <div content-block name="xdk-issues" message="Check after understanding the prackage contents">

                  <ul>
                              <li>
                                <p><b>lib</b> folder will have 64-bit runtime library for Media Server Studio basic capabilities.</p>
                                <p>E.g., <i>libmfx.a</i> is the general software library for IA-64 architecture</p>
                              </li>
                              <li>
                                <p><b>doc</b> folder has documentation for raw, audio, image, video, etc., media types. It also provide Media Server Studio user manual and developer reference manuals</p>
                                <p>Use kde-open &lt;pdf filename&gt;</p>
                              </li>
                              <li>
                                <p><b>include</b> folder has several header files supporting Intel&reg; Media Server Studio program development</p>
                              </li>
                              <li>
                                <p><b>lib64</b> folder has 64-bit static libraries </p>
                                <p><i>libmfxsw64.so</i> for media function encoding and decoding using software</p>
                                <p><i>libmfxhw64.so</i> for media function encoding and decoding using hardware</p>
                                <p><i>libmfxhw64-p.so.&lt;mj&gt;.&lt;mn&gt;</i> is the platform specific implementation consumend by dispatcher.</p>
                                  <p><b>P</b> stands for Production build of the library, &lt;mj&gt; - major version of the library's API, .&lt;mn&gt; - minor version of the library's API</p>
                              </li>
                              <li>
                                <p><b>open source</b> folder has SDK dispatcher.
                                  The dispatcher is a layer that lies between applications and SDK implementations.
                                  Upon initialization, the dispatcher locates the appropriate platform-specific SDK implementation.
                                  If there is none, it will select the software SDK implementation.
                                  The dispatcher will redirect subsequent function calls to the same functions in the selected SDK implementation.
                                </p>
                              </li>
                              <li>
                                  <p><b>tools</b> folder has metrics_monitor and tracer.
                                  <p><b><u>1. MediaSDK Tracer:</u></b></p>
                                  <p>This tool will capture the basic call information from Media Server Studio API functions.
                                    It will generate a full log of interaction between the application and the SDK library including per-frame processing.</p>
                                  <p><b><u>2. MediaSDK Metrics Monitor:</u></b></p>
                                  <p>This tool provides access to a set of GPU metrics on Linux Server systems</p>
                                  <div class="alert alert-info">We are not running this tool in the workshop.</div>
                                </li>
                            </ul>
            </div>
          </div>
-->
            <div ibox title="System Analyzer">
              <div content-block message="Check after running System Analyzer" image-link="../views/labs/videoperformance-mediasdk/images/SystemAnalyzer.JPG">
              <p>Download the python script named <a href="views/labs/videoperformance-mediasdk/downloads/sys_analyzer_linux.py">sys_analyzer_linux.py</a></p>
              <b>Features</b>

                <p>When executed, the tool reports back</p>
                <ul>
                <li>Platform readiness: check if processor has necessary GPU components</li>
                <li>OS readiness: check if OS can see GPU, and if it has required glibc/gcc level</li>
                <li>Install checks for Intel(R) Media Server Studio/Intel(R) SDK for OpenCL Applications components</li>
                <li>Results from runs of small smoke test programs for Media Server Studio and OpenCL</li>
              </ul>

              <b>System Requirements</b>

              <p>The tool is based on Python 2.7.  It should run on a variety of systems with or without necessary components to run GPU applications.
                However, it is still a work in progress so it may not always exit cleanly when software components are missing.</p>
              <b>Run</b>
              <div class="alert alert-warning">python sys_analyzer_linux.py</div>
            </div>
          </div>
            <div ibox title="1. Sample Decoder">
                <div content-block name="xdk-issues" message="Check after opening system monitor tool" image-link="../views/labs/videoperformance-mediasdk/images/system_monitor.png">
                        <p>Go to <span style="color:#2554C7">/opt/intel/mediasdk/samples/_bin/ </span></p>
                        </br>
                        <p>Open the Performance monitoring tool by running "top" command or system monitor gui to compare the CPU performance of the below two cases.</p>
                        <p>Also run the command "intel_gpu_top" from terminal to see the GPU utilization.</p>
                        <div class="alert alert-info">
                          Note: If you are running any other programs, their process will be added to the CPU & memory utilization.
                          So try closing all other programs. Then observe the Sample_decode process performance from system monitor tool.
                        </div>
                </div>
                <div content-block name="xdk-issues" message="Check after completion of sample decoding">

                      <ol>
                        <li>Case 1: Execute the below command for software implementation:
                        </br>
                                </br>
                                    <div class="alert alert-warning"><span style="color:#A52A2A">./sample_decode h264 -i ../content/test_stream.h264 -o output_sw.yuv -sw</span></div>
                                    <p>Output & Performance:</p>
                                    <img src="../views/labs/videoperformance-mediasdk/images/MSDK_SW.jpg" />
                                  </br>
                                </br>
                        </li>
                        <li>Case 2: Execute the below command for hardware acceleration:
                        </br>
                                </br>
                                    <div class="alert alert-warning"><span style="color:#A52A2A">./sample_decode h264 -i ../content/input.h264 -o output_hw.yuv -vaapi -hw</span></div>
                                    <p>Output & Performance:</p>
                                    <img src="../views/labs/videoperformance-mediasdk/images/MSDK_HW.jpg" />
                                  </br>
                                </br>
                        </li>
                        <li>Just type sample_decode and explore other command line switches:
                            </br>-o : output to file in RAW formats
                            </br>-r: Present (only if there is a supported player installed)
                            </br>-f : change rendering frame rate
                            </br>-w and –h : changing the resolution
                        </li>
                    </ul>
                </div>

            <!--<div ibox title="2. Video Wall">
                <div content-block name="xdk-issues" message="Check after completion of Video Wall">
                    <ul>
                      <li>Go to <b>Desktop &gt; Retail &gt; 03-MediaSDK &gt;</b> folder</li>
                        </br>
                        <li>Open the command prompt and provide the below command-
                        </br></br>
                        <div class="alert alert-warning"><span style="color:#A52A2A">sample_video_wall.bat C:\input.h264</span></div>
                        </li>
                      <li>Observe the video projected on the wall divided into channels as specified in the batch file</li>
                  </ul>
                        <div class="alert alert-info">Note: Open the batch file from the Wordpad and observe the effect of changing the following parameters:</div>
                        <p>- No. of channels (i.e VerticalCells and HorizontalCells) can be edited in sample_video_wall.bat file.</p>
                        <p>- Change MediaSDKImplementation to sw and hw.</p>
                </div>
            </div>
-->

<div ibox title="1. Sample Encoder">
    <div content-block name="xdk-issues" message="Check after completion of Sample Encoder">
        <ul>
            <li>Go to <span style="color:#2554C7">/opt/intel/mediasdk/samples/_bin/ </span></li>
            <li>Open the Performance monitoring tool by running "top" command or system monitor gui tool to compare the CPU performance of the below two cases.
              <div class="alert alert-info">Note: If you are running any other programs, their process will be added to the CPU & memory utilization.
                  So try closing all other programs. Then observe the Sample_encode process performance from task manager.</div>
            </li>
            <li>Case 1: Execute the below command for software implementation:
            </br></br>
                        <div class="alert alert-warning"><span style="color:#A52A2A">./sample_encode h264 -i ../content/test_stream_176x96.yuv -o output_sw.h264 -w 720 -h 480 -b 10000 -f 30 -u quality -sw</span></div>
                        <!--<p>Output & Performance:</p>
                        <img src="../views/labs/videoperformance-mediasdk/images/MSDK_SW.jpg" /> -->
            </li>
            <li>Case 2: Execute the below command for hardware acceleration:
            </br></br>
                        <div class="alert alert-warning"><span style="color:#A52A2A">./sample_encode h264 -i ../content/test_stream_176x96.yuv -o output_sw.h264 -w 720 -h 480 -b 10000 -f 30 -u quality -hw</span></div>
                        <!-- <p>Output & Performance:</p>
                        <img src="../views/labs/videoperformance-mediasdk/images/MSDK_HW.jpg" /> -->
            </li>
            <li>Just type sample_encode and explore other command line switches:
                </br>-o : output to file in RAW formats
                </br>-r: Present (only if there is a supported player installed)
                </br>-f : change rendering frame rate
                </br>-w and –h : changing the resolution
            </li>
        </ul>
    </div>
</div>

            <div ibox title="Lessons learnt">
                <div content-block name="xdk-issues" message="Check after completion of lesson">
                <ul>
                <li>Intel&reg; Media Server Studio's libraries, tools, header and sample code files.</li>
                <li>speed up in video playback, encoding, processing and media conversion.</li>
                <li>Performance monitoring</li>
              </div>
            </div>
</div>
