<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel&reg; Media Server Studio Samples</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                video performance
            </li>
            <li class="active">
                <strong>Explore Intel&reg; Media Server Studio Samples</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
          <div ibox title="Objectives">
              <div content-block name="xdk-issues" message="Check after completion of Objectives">
              <ul>
              <li>Understand the performance differences between hardware and software based encoding/decoding</li>
              <li>Observe the performance difference between various Media SDK operations using system performance monitoring tool. </li>
              <li>Observe the utilization of GPU and CPU in software and hardware acceleration modes.</li>
              </ul>
              <b>Learning Outcome</b>
              <p>By the end of this module, you would get a basic understanding of Intel&reg; Media Server Studio, installation structure,
                 and performance enhancement of selected applications.</p>
              </div>
            </div>

          <div ibox title="View the packages installed on your machine">
            <div content-block name="xdk-issues" message="Packages installed on your machine">
                    <ul>
                        <li>Media Server Studio:
                            <p>Intel&reg; Media Server Studio by default installs at
                              <span style="color:#2554C7"> /opt/intel/mediasdk/</span></p>
                        </li>
                        <li>Media Server Studio Sample applications:
                            <p>Pre built Media Server Studio samples will be available in <span style="color:#2554C7">/opt/intel/mediasdk/samples/ </span>for 64-bit architecture</p>
                        </li>
                        <li>Media Server Studio documentation: <span style="color:#2554C7">/opt/intel/mediasdk/doc/</span>
                        </li>
                      </ul>
                          <p><b>Commands:</b></p>
                          <div class="alert alert-warning">
                            $ls /opt/intel/mediasdk/
                          </br>
                            $ls /opt/intel/mediasdk/samples/
                          </br>
                            $ls /opt/intel/mediasdk/doc/
                          </div>
            </div>
          </div>
            <div ibox title="System Analyzer">
              <div content-block message="Running System Analyzer" image-link="../views/labs/videoperformance-mediasdk/images/SystemAnalyzer.JPG">
               System Analyzer tool reports back following information about CPU, GPU and Intel &reg; Media Server studio components.</p>
                <ul>
                <li>Platform readiness: check if processor has necessary GPU components</li>
                <li>OS readiness: check if OS can see GPU, and if it has required glibc/gcc level</li>
                <li>Check for successful installation of Intel&reg; Media Server Studio/Intel&reg; SDK for OpenCL Applications components</li>
                <li>Run smoke test programs and validate Intel&reg; Media Server Studio and OpenCL</li>
              </ul>

              <b>Run</b>
              <div class="alert alert-warning">
                <p>$cd /home/intel/workshop </p>
                <p>$python sys_analyzer_linux.py</p>
                </div>
            </div>
          </div>

          <div ibox title="Perfromance Monitoring">
          <div content-block name="xdk-issues" message="Perfromance Monitoring tools" image-link="../views/labs/videoperformance-mediasdk/images/system_monitor.png">
                  <p>We would need few performance monitoring tools before we proceed with Intel&reg; Media Server Studio  sample programs. </p>
                  <p>Open the Performance monitoring tool as shown in the picture
                  <p> This tool is used to compare the CPU performance of software and hardware decode process of Intel&reg; Media Server Studio.</p>
                  <div class="alert alert-info">
                    Note: If you are running any other programs alongside the decode program below, their process would be added to the CPU, GPU &amp; memory utilization.
                    <br />Hence, this might give your right results. Hence, please try close all other programs before running this test.
                    Then observe the sample_decode process performance from system monitor tool.
                  </div>
          </div>
        </div>

            <div ibox title="Decode a raw video">
                <div content-block name="xdk-issues" message="Decoding example completed">
                  <p>Intel&reg; Media Server Studio ships with few basic samples to try various functinalities. Here we are using a console application which performs decoding of elementary compressed video stream to raw frames.</p>
                  <p>Make sure to review the performance parameters while running these samples. Above said tools can help to understand the difference between software and hardware acceleration modes.</p>
                  <p>Open new terminal and change the directory</p>
                  <div class="alert alert-warning">
                    $cd /opt/intel/mediasdk/samples/
                  </div>
                                    <div content-block name="xdk-issues" message="Software implementation" image-link="../views/labs/videoperformance-mediasdk/images/MSDK_SW.png">
                                      <p>Case 1: Execute the below command for <u>software implementation</u>:</p>
                                      <p>In this example -sw stands for Software base Acceleration, -r is for rendering the output.
                                    <div class="alert alert-warning">$./sample_decode h264 -i ../content/test_stream.264 -sw -r</div>
                                    <div class="alert alert-info">Note: These are very small video clips, they may close down before you notice. Try to download bigger H264 files and try this application. </div>
                                    </div>
                                    <div content-block name="xdk-issues" message="Hardware implementation" image-link="../views/labs/videoperformance-mediasdk/images/MSDK_HW.png">
                                      <p>Case 2: Execute the below command for <u>hardware acceleration</u>:</p>
                                      <p>In this example, we are instructing the application to use vaapi memory type.
                                        If you don't specify, then application will take system memory as default.
                                        <br />-hw stands for hardware Acceleration.
                                                  <div class="alert alert-warning">$./sample_decode h264 -i ../content/test_stream.264 -vaapi -hw -r</div>
                                                  <p>If you wish to see all the available options for decode, then type ./sample_decode</p>
                                                  </div>
                </div>
              </div>

<div ibox title="Encode raw video frames">
    <div content-block name="xdk-issues" message="Check after completion of Sample Encoder">
      <p>sample_encode is another console application which performs encoding of raw video frames into elementary compressed stream</p>
            <p>Case 1: Execute the below command for <u>software implementation</u>:</p>
            <p>We are passing an input raw video stream and converting it to h264 formatted elementary stream.</p>
            <p>We specify width, height and framerate for this conversion. You can review all the available switches by typing ./sample_encode at the terminal</p>
			                  <div class="alert alert-warning">$./sample_encode h264 -nv12 -i /home/intel/Videos/test_stream.yuv -o /home/intel/Videos/sw_out.h264 -w 176 -h 96 -f 60 -sw</div>

            <p>Observe the CPU utilization from System Monitor as described before</p>
            <p>Case 2: Execute the below command for <u>hardware acceleration</u>:</p>
                        <div class="alert alert-warning">$./sample_encode h264 -nv12 -i /home/intel/Videos/test_stream.yuv -o /home/intel/Videos/hw_out.h264 -w 176 -h 96 -f 60 -hw</div>

            <p>To view the converted h264 file, run the decoding sample as follows:</p>
            <div class="alert alert-warning">$./sample_decode h264 -i /home/intel/Videos/hw_out.h264 -vaapi -hw -r</div>

    </div>
</div>

            <div ibox title="Lessons learnt">
                <div content-block name="xdk-issues" message="Check after completion of lesson">
                <ul>
                <li>Explored Intel&reg; Media Server Studio sample applications.</li>
                <li>Performance monitoringing of video decoding and encoding processes.</li>
              </div>
            </div>
</div>
