<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Databases at the Edge</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Labs</a>
      </li>
      <li class="active">
        <strong>Databases at the Edge</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">

      <!-- Database Lab: Objectives -->
      <div ibox title="Database Lab: Objectives">
        <!-- Objectives -->
        <div content-block name="database-objectives" message="Read the Objectives">
          <h2 class="labHidden">Read the Objectives</h2>
          <labels gateway windows apple linux/>
          <p>Write a NodeJS server that listens to all the MQTT sensor traffic on the network and writes it to a database on the gateway.</p>
          <p>The steps to write the MQTT to database service are as follows:</p>
          <ul>
            <li>Install MongoDB and the MongooseJS database bindings</li>
            <li>Write a NodeJS server that listens to all sensor traffic over MQTT</li>
            <li>Write the collected sensor information to the database.</li>
          </ul>
        </div>
      </div>

      <!-- Install MongoDB -->
    <!--
    <div ibox title="Install MongoDB">
        <div content-block name="" message="Insert and Mount Your USB Drive" image-link="./views/labs/databases/images/df.png">
          <h2 class="labHidden">Insert and Mount Your USB Drive</h2>

          <p>This Intel IoT Gateway comes with a reduced partition on it's internal SDD. Therefore, we will add disk space my installing the MongoDB data files on an external USB Drive.</p>

          <p>Be sure that you insert it in the USB3 slot which is blue and on the front of your Intel IoT Gateway.</p>

          <p>To check if the USB drive is mounted, type:</p>
          <pre><code>df -h | egrep sda</code></pre>
          <p>You should see this.</p>
          <pre><code>/dev/sda1       29G   11M   29G   1% /media/sda1</code></pre>
          <p>If you don't see any text output from the previous command then you will need to mount the USB drive manually.</p>
          <pre><code>mkdir -p /media/sda1; mount /dev/sda1 /media/sda1</code></pre>
          <p>Now you are ready to download and install MongoDB.</p>
        </div>
-->
  <div ibox title="Install MongoDB">
        <div content-block name="" message="Download and Install MongoDB" image-link="./views/labs/databases/images/mongodb.png">
          <h2 class="labHidden">Download and Install MongoDB</h2>
          <p>Then download MongoDB.</p>
          <pre><code>wget https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-3.2.9.tgz</code></pre>
          <p>Unarchive the downloaded file and change directories into the newly created mongodb directory.<p>
          <pre><code>tar zxvf mongodb-linux-x86_64-3.2.9.tgz&#13;&#10;cd mongodb-linux-x86_64-3.2.9</code></pre>

        </div>


        <div content-block name="" message="Create a directory to store the MongoDB data files">
          <p>Create a directory to store the MongoDB data files</p>
          <pre><code>mkdir -p /data/db</code></pre>
        </div>

        <div content-block name="" message="Change directories to the mongod binary and run it with a flag to modify the data path">
          <p>Change directories to the MongoDB server binary.</p>
          <pre><code>cd ~/mongodb-linux-x86_64-3.2.9/bin</code></pre>

          <p>Run the mongod. The mongod process will continue to run while you are working on the rest of the labs.  You may wish to open a new console and run the mongod process there.</p>

          <pre><code>./mongod --dbpath=/data/db</code></pre>
          <p>Wait till below message is displayed. </p>
          <p><code>[initandlisten] waiting for connections on port 27017</code></p>
            <p>Now Mongodb is executed and display all the messages on that terminal. For next step open new SSH terminal.</p>
        </div>





      </div>

      <!-- Create JavaScript Models to represent the Edge Network -->
      <div ibox title="Defining Types for the Edge Network">
        <div content-block name="defining-database-types" message="Read and Understand the types that we will Defining Types for the Edge Network">
          <h2 class="labHidden">Defining Types for the Edge Network</h2>

          <p>As we build our Internet of Things system, we will need to define the objects and events that we want to track on our edge network.</p>
          <p>For this edge network, we will define five types that we will track in the database.</p>

          <ul>
            <li>
              <b>Sensor</b> - this data describes an edge device that publishes data to the Intel Iot Gateway. Examples of sensors include the sensors included in your Intel IoT Developer Kit. For a complete list of supported sensors see the <a href="https://github.com/intel-iot-devkit/upm">libUPM project</a>.
            </li>
            <li>
              <b>Actuator</b> - this data describes an edge device that performs an action and can be triggered by the Intel Iot Gateway. For example, an LCD screen can have text sent to it to be displayed, a servo motor can be told to rotate a certain number of degrees, or a buzzer may be told to activate.  Any device that performs an action is considered an actuator.  Note that actuators usually do not publish sensor data to the network but they may be queried for the current status.
            </li>
            <li>
              <b>Data</b> - the data contained within a single reading from a sensor
            </li>
            <li>
              <b>Trigger</b> - Triggers have a four important aspects: a name, a sensor that it watches, a condition function (a predicate) that returns TRUE or FALSE and a trigger function that performs an action when the predicate function is true. This will be used more in the Automation Lab. It will watch data coming from a temperature sensor. Its predicate function will evaluate if the temperature is greater than 27 degrees, and its action function will send an alert, log a system error and send text to the LCD screen.
            </li>
            <li>
              <b>Error</b> - a text string and a timestamp describing the errors on the edge network.
            </li>
          </ul>

          <div class="alert alert-info">
            <p>Our database will store five types: <b>sensors, actuators, data, trigger and error</b>. We've prepared the MongooseJS schemas that you will need to complete this lab.  Install the NPM package below and then you will be able to import the schemas.</p>
          </div>
        </div>


        <div content-block name="learn-about-mongoosejs" message="Learn about MongooseJS, a library of JavaScript bindings for MongoDB">
          <h2 class="labHidden">Learn about MongooseJS, a library of JavaScript bindings for MongoDB</h2>
          <h4>About MongooseJS</h4>

          <p>MongooseJS is an Object Data Manager that let’s you build JavaScript objects that can create, read, validate, update and remove entries from a MongoDB.</p>

          <p>Read through the documentation on building Mongoose Schemas and Models at <a href="http://mongoosejs.com/docs/guide.html">http://mongoosejs.com/docs/guide.html</a> then start the exercise.</p>

        </div>
      </div>




        <div ibox title="MQTT Sensor Monitoring on the Gateway">
          <div content-block name="read-mqtt-monitoring-intro" message="Read the Introduction to the NodeJS Server Monitoring with MQTT ">
<h2 class="labHidden">Read the Introduction to the NodeJS Server Monitoring with MQTT </h2>
            <p>Now that the database schemas are defined and the sensors are publishing data on the edge network, we can listen to the data and begin to use it to trigger actions or perform edge analytics.</p>
            <p>The purpose of this project is to track new sensors on the edge network and to record their data into the MongoDB database.</p>
          </div>

          <div content-block name="about-topics" message="Read the Overview on MQTT Topics on the Edge Network">
<h2 class="labHidden">Read the Overview on MQTT Topics on the Edge Network</h2>
            <h4>Overview on MQTT Topics on the Edge Network</h4>

            <div class="alert alert-info">
              <p>Each sensor is publishing to an MQTT topic that has a three level hierarchy. Here is an example of a possible hierarchy that could be used in an IoT Edge Network.</p>
<pre><code>sensor
    | temperature
        | data
        | error
    | light
        | data
        | error
    | vibration
        | data
        | error
    | sound
        | data
        | error
</code></pre>
      <p>The first level which is just the literal "<b>sensor</b>" which denotes that all of the items under this point in the hierarchy are sensors.</p>
      <p>The second level in the hierarchy is the <b>unique ID of the sensor</b>. This could be a randomly generated unique number or the MAC address of the sensor. In our case, we are using the strings "temperature", "light", "vibration" and "sound" because these are unique on our network.  If the IoT network had more than one temperature sensor, which is ususally the case, then the system should have a different method of assigning unique IDs to each sensor.</p>
      <p>The third describes the <b>type of communication</b> that is coming from the sensor.</p>
      </div>
      <p>The server will be listening to two MQTT topics:</p>
      <ul>
        <li>sensors/+/data</li>
        <li>announcements</li>
      </ul>

      <p>Note the <code>+</code> is a wildcard character that matches any alphanumeric string. In this case, we are using it where the sensor name would be.  This lets us receive data from all sensors on the edge network.</p>

      <p>The <code>monitord</code> does this by listening to all MQTT sensor topics 'sensors/+/data' that are published on the edge network. New sensor data is written to the database.</p>
      <p>The <code>monitord</code> also listens to the MQTT <code>announcements</code> topic, which will carry information on new sensors that are deployed on the network.</p>
    </div>

    <div content-block name="monitord-new-project" message="Create a New Project and Import NPM Modules">
      <h2 class="labHidden">Create a New Project and Import NPM Modules</h2>
      <h4><a name="sensorMonitor">Create a New Project and Import NPM Modules</a></h4>
      <p>Create a new project named <b>monitord</b> and change to that directory.</p>
      <pre><code>cd ~&#13;&#10;mkdir monitord&#13;&#10;cd monitord</code></pre>

      <p>Next generate an NPM package file which holds the metadata associated with this project.</p>
      <pre><code>npm init</code></pre>
      <p>You will need to answer a few questions to generate the file. However, the defaults that are provided are excellent and you can, if you wish, just hit enter to move through the questions.</p>
      <p>To install MongooseJS, MQTT and the Mongoose schemas that we've prepared for you, execute the following commands:</p>
      <pre><code>npm install --save mqtt lodash mongoose intel-commercial-edge-network-database-models</code></pre>

      <p>The package.json file should look like this now.</p>

      <p class="label">./package.json</p>
      <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">{
  "name": "monitord",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "intel-commercial-edge-network-database-models": "^1.0.9",
    "lodash": "^4.13.1",
    "mongoose": "^4.5.0",
    "mqtt": "^1.11.0"
  }
}</pre></ui-codemirror>

          <p>You should also change the <strong>main</strong> property to "server.js"</p>

          <p>When you upload your code to the Intel IoT Gateway, you will need to login to the console and run <code>npm install</code> in the top of you project directory. This will install the external NPM dependencies.</p>
      </div>

    <div content-block name="connect-to-broker-and-database" message="Connect to the MQTT Broker and MongoDB">
      <h2 class="labHidden">Connect to the MQTT Broker and MongoDB</h2>
      <h4>Connect to the MQTT Broker and MongoDB</h4>
      <p>Create a file called <code>./server.js</code>.  This will be the main entry point into your monitord.</p>

      <p>After importing the MQTT module, setup a connection to the MQTT broker. Your gateway's IP address is <code>192.168.1.x - Your IP <address>  </address></code> by default.</p>
      <p class="label">./server.js</p>
      <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Require MQTT and setup the connection to the broker
var mqtt = require('mqtt');
var mqttClient = mqtt.connect('mqtt://localhost');</pre></ui-codemirror>

        <p>Likewise, require the MongooseJS module and setup the connection to the MongoDB server.</p>

        <p class="label">./server.js</p>
        <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Require the MongoDB libraries and connect to the database
var mongoose = require('mongoose');
mongoose.connect("mongodb://localhost/iotdemo");
var db = mongoose.connection;

// Report database errors to the console
db.on('error', console.error.bind(console, 'connection error:'));

// Log when a connection is established to the MongoDB server
db.once('open', function(callback) {
  console.log("Connection to MongoDB successful");
});</pre></ui-codemirror>

        <p>Here we are also demonstrating binding a handler to two database events the <code>open</code> and <code>error</code> events.</p>

        <p>Now import and initialize a sensor and a data model.</p>
        <p class="label">./server.js</p>
        <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// Import the Database Model Objects
var DataModel = require('intel-commercial-edge-network-database-models').DataModel;
var SensorModel = require('intel-commercial-edge-network-database-models').SensorModel;</pre></ui-codemirror>

        <p>Now that the dependencies are included and the connection code to the MQTT broker and MongoDB database is written. Proceed to create the main loop of the program.</p>
      </div>





    <div content-block name="mqtt-event-loop" message="Subscribe to MQTT topics">
      <h2 class="labHidden">Subscribe to MQTT topics</h2>
      <h4>The MQTT Event Loop</h4>
      <ol>
          <li>
              <p>In Application Protocol lab, you learned how to create a handler for the MQTT <code>connect</code> event with NodeRed. Here we show how to create such handlers in JavaScript. In this event handler, the handler subscribes to the following MQTT topics:</p>

              <ul>
                  <li><code>announcements</code></li>
                  <li><code>sensors/+/data</code></li>
              </ul>
          </li>
          <li>
            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// MQTT connection function
mqttClient.on('connect', function() {
  console.log("Connected to MQTT server");

  // Subscribe to the MQTT topics
  mqttClient.subscribe('announcements');
  mqttClient.subscribe('sensors/+/data');
});</pre></ui-codemirror>
          </li>
          <li>
            <p>An MQTT message will be sent to the <b>announcements</b> topic if a new network sensor comes online in the edge network. The new sensor will reponsible for sending it's own MQTT message.</p>
          </li>
      </ol>
    </div>

    <div content-block name="decode-incoming-json" message="Decode the incoming JSON message from MQTT">
<h2 class="labHidden">Decode the incoming JSON message from MQTT</h2>
      <li>
        <p>Next, write a handler for the MQTT <code>message</code> event.</p>
        <p>Parse the incoming message using a <code>try-catch</code> block and the <code>JSON.parse</code> function.</p></li>
      <li>
        <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">// A function that runs when MQTT receives a message
mqttClient.on('message', function(topic, message) {
      var json;
      // Parse the incoming data
      try {
        json = JSON.parse(message);
      } catch (e) {
        console.log(e);
      };</pre></ui-codemirror>
      </li>
    </div>



    <div content-block name="is-announcement" message="Log all announcements to the database">
<h2 class="labHidden">Log all announcements to the database</h2>
      <li>
        <p>Decide whether it is a new piece of sensor data or a new announcement. If it is an annoucement then create a new MongoDB sensor object and save it to the database. Handle any database error by printing the error to the console.</p>
          <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">if (topic.match(/announcements/)) {
  var sensor = new SensorModel(json);
  sensor.save(function(err, sensor) {
    if (err)
      console.log(err);
    else
      console.log(topic + ":" + message.toString());
  });
};</pre></ui-codemirror>
      </li>
    </div>

    <div content-block name="is-data" message="Log all sensor readings to the database">
<h2 class="labHidden">Log all sensor readings to the database</h2>
    <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">    if (topic.match(/data/)) {
      var value = new DataModel(json);
      value.save(function(err, data) {
        if (err)
          console.log(err);
        else
          console.log(topic + ":" + message.toString());
      });
    }
  });</pre></ui-codemirror>
      </div>
    </div>

    <div ibox title="Lab Solutions">
    <div content-block name="Clone-the-Solution-from-its-Github-Repository" message="Clone the Solution from it's Github Repository">
        <h2 class="labHidden">Clone the Solution from it's Github Repository</h2>
        <p>You can deploy the solution to this lab exercise by cloning a repository from Github.</p>
        <p>Change to the directory that you would like to download the solution into, and then type:</p>
        <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-monitor-daemon.git</code></pre>
    </div>

    <div content-block name="change-directory" message="Change into the solution's directory and run npm install">
        <h2 class="labHidden">Change into the solution's directory and run npm install</h2>
        <pre><code>cd lab-solution-monitor-daemon</code></pre>
        <pre><code>npm install</code></pre>
    </div>

    <div content-block name="database-start-server" message="Be sure that the sensor is publishing data and MongoDB is running, then start the server.">
        <h2 class="labHidden">Be sure that the sensor is publishing data and MongoDB is running, then start the server.</h2>
        <p>Verify that MongoDB is running. You can do this in two way:</p>
        <ol>
            <li>Type <code>ps aux | egrep mongod</code> at the command and verify that a process is displayed.</li>
            <li>If you are running MongoDB in a screen session, then you can switch to the screen running the MongoDB server by typing <code>Ctrl-a "</code> and selecting the screen that you are running MongoDB in.</li>
        </ol>
        <p>Type start the Sensor Monitor type:</p>
        <pre><code>node server.js</code></pre>
    </div>
</div>
  </div>

<!-- Duplicate Instructions
      <div ibox  title="Lab Solutions">
        <div content-block name="Clone-the-Solution-from-its-Github-Repository" message="Clone the Solution from it's Github Repository">
<h2 class="labHidden">Clone the Solution from it's Github Repository</h2>
          <p>You can deploy the solution to this lab exercise by cloning a repository from Github.</p>
          <p>Change to the directory that you would like to download the solution into, and then type:</p>
          <pre><code>git clone http://github.com/SSG-DRD-IOT/lab-solution-monitor-daemon.git</code></pre>
        </div>

        <div content-block name="change-directory" message="Change into the solution's directory and run npm install">
<h2 class="labHidden">Change into the solution's directory and run npm install</h2>
          <pre><code>cd lab-solution-monitor-daemon</code></pre>
          <pre><code>npm install</code></pre>
        </div>

        <div content-block name="database-start-server" message="Be sure that the sensor is publishing data and MongoDB is running, then start the server.">
<h2 class="labHidden">Be sure that the sensor is publishing data and MongoDB is running, then start the server.</h2>
          <p>Verify that MongoDB is running. You can do this in two way:</p>
          <ol>
            <li>Type <code>ps aux | egrep mongod</code> at the command and verify that a process is displayed.</li>
            <li>If you are running MongoDB in a screen session, then you can switch to the screen running the MongoDB server by typing <code>Ctrl-a "</code> and selecting the screen that you are running MongoDB in.</li>
          </ol>
          <p>Type start the Sensor Monitor type:</p>
          <pre><code>node server.js</code></pre>
        </div>
      </div>
-->
      <div ibox title="Additional Resources">
          <ul>
              <li>
                <a href="http://mongoosejs.com/docs/guide.html">Mongoose</a>
                <a href="http://mqtt.org/">MQTT</a>
                <a href="http://www.w3schools.com/js/js_json.asp">JSON</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
