<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sensors and Actuators Interfaces with Java</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li class="active">
                <strong>Sensors and Actuators Interfaces with Java</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">

          <!-- Objectives -->
          <div ibox title="Objectives">
              <div content-block name="read-objectives" message="Read the Objectives">
                  <h2 class="labHidden">Read the Objectives</h2>
                  <labels gateway windows apple linux/>
                  <p>Learn how to build IoT devices that use sensors and actuators with an Arduino 101*. The devices built during this lab will be extended in later labs to send their data to the Intel&reg; IoT
                      Gateway and to the cloud</p>

                  <p>By the end of this module, you should be able to:</p>
                  <ul>
                      <li>Connect Grove* IoT Commercial Developer Kit sensors and actuators to your Arduino 101*</li>
                      <li>Install Intel&reg; System Studio IoT Edition</li>
                      <li>Use the Intel&reg; System Studio IoT Edition to write software to control actuators and read data from sensors</li>
                  </ul>
              </div>
          </div>

          <div ibox title="Install Intel&reg; System Studio IoT Edition">
            <div content-block name="download-iss-intro" message="Download Intel&reg; System Studio IoT Edition" image-link="./views/labs/sensors-java/images/IoT-ISS-SysStudio.png">
              <h2 class="labHidden">Download Intel&reg; System Studio IoT Edition</h2>
              <p>Go to the <a href="https://software.intel.com/en-us/iot/software/ide" target="_blank">Intel&reg; IoT Developer Kit Integrated Development Environments Download Page</a> and get download a copy of the Intel&reg; System Studio IoT Edition.</p>

              <div class="alert alert-warning">
                <p>Intel&reg; System Studio IoT Edition has several dependencies. Please be sure to install these before lauching the Intel System Studio installer.</p>
                <ul>
                  <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank">Oracle Java 8 SDK</a></li>
                  <li>Docker Tools</li>
                </ul>
              </div>
              <div class="alert alert-warning">
                <p>There are some prerequisites for installing Docker and Intel System Studio explained in below link. Please make sure you go through the Docker installation so that it is running properly before your Intel System Studio installation else you will get errors<p>
                  <ul>
                    <li><a href="https://software.intel.com/en-us/installing-the-intel-system-studio-iot-edition" target="_blank">Docker and Intel&reg; System Studio Installation Prerequisites</a>
                  </ul>
              </div>
            </div>

            <div content-block name="iss-images" message="Select the Intel&reg; IoT Gateway 64-bit image" image-link="./views/labs/sensors-java/images/iss-images.png">
                <h2 class="labHidden">Select the Intel&reg; IoT Gateway 64-bit image</h2>
                <p>Your Intel&reg; IoT Gateway is has a 64-bit processor and operating system. Please be sure to install the Intel&reg; IoT Gateway 64-bit image.</p>
                <p>This operating system image is installed locally to your development computer and run within a Docker container. Intel&reg; System Studio IoT Edition will compile against.
            </div>

            <div content-block name="launch-xdk" message="Complete the Installation of Intel&reg; System Studio IoT Edition" image-link="./views/labs/sensors-java/images/iss-install-done.png">
                <h2 class="labHidden">Complete the Installation of Intel&reg; System Studio IoT Edition</h2>
                <p>If you have problems with the installation please raise you hand and let one of the instructors know.</p>
            </div>
          </div>

          <div ibox title="Connect the Hardware for your IoT Device">
            <div content-block name="connect-sensors" message="Install the Grove base shield and sensors" image-link="./views/labs/sensors-java/images/temperature-sensors.jpg">
              <h2 class="labHidden">Install the Grove base shield and sensors</h2>

              <ol>
                <li>
                    <p>Install the <b>Grove Base Shield</b> onto the IoT device expansion board.</p>
                </li>
                <li>
                    <p>Connect <strong>Grove Temperature Sensor</strong> to analog pin <strong>A1</strong> of the Grove Base Shield.</p>
                </li>
                <li>
                    <p>Connect <strong>Grove LCD</strong> display to one of the <strong>I<sup>2</sup>C</strong> pins.</p>
                </li>
              </ol>
            </div>
            <div content-block name="connect-sensors" message="Disable Node-Red service">
              <p><b>Disable Node-Red service running on your Gateway</b></p>
              <ul>
                <li><p>In previous lab we were executing few Node-Red flows which made use of system resources like (sensors, GPIOs, I<sup>2</sup>C etc.). Since in this lab we will be using the same resources to avoid any contention we will disable the node-red service during this exercise</li></p>
                <li><p>Open a terminal to your Gateway and give following command:</li></p>
                <pre><code>systemctl stop node-red-experience</pre></code>
                <li><p>Check that service has stopped</li></p>
                <pre><code>systemctl status node-red-experience</pre></code>
              </ul>
            </div>
          </div>

          <div ibox title="Create the Temperature on LCD sample in the Intel&reg; System Studio IoT Edition">
            <div content-block name="iss-new-project" message="Create a new Intel IoT Project" image-link="./views/labs/sensors-java/images/iss-new-project.png">
              <p>Open Intel System Studio and click on New -> Intel Project for IoT</p>
            </div>

            <div content-block name="iss-new-project-64" message="Select the Intel Gateway 64-Bit" image-link="./views/labs/sensors-java/images/iss-new-project-64.png">
              <p>Select the Intel Gateway 64-Bit as the target development board</p>
            </div>

            <div content-block name="iss-new-project-64" message="Select the Windriver Systems 64-Bit" image-link="./views/labs/sensors-java/images/iss-new-project-wrs.png">
              <p>Select the Windriver Systems 64-Bit as the target operating system</p>
            </div>

            <div content-block name="iss-new-project-64" message="Select Intel IoT Java Maven project" image-link="./views/labs/sensors-java/images/java-iss-new-project.png">
              <p>Select the Intel IoT Java Maven Project</p>
            </div>

            <div content-block name="iss-new-project-ip" message="Select Intel IoT C/C++ project" image-link="./views/labs/sensors-c/images/iss-new-project-ip.png">
              <p>Enter the IP address or the hostname of you Intel&reg; IoT Gateway.</p>
            </div>

            <div content-block name="iss-new-project-64" message="Select the sample temperature on LCD application" image-link="./views/labs/sensors-java/images/iss-new-project-sample.png">
              <p>Select the sample temperature on LCD application and click finish.  This will create a project with the code to get the temperature and display it on the LCD screen.</p>
            </div>

            <div content-block name="iss-new-project-64" message="Explore the Intel System Studio Environment" image-link="./views/labs/sensors-java/images/iss-temperature-sample.png">
              <p>Intel System Studio has now created the temperature on LCD application and compiled it.</p>
              <p>Notice the different windows that are available for you to help you write code productively.</p>
            </div>

            <div content-block name="iss-add-platform-check" message="Modify the sample program to include a platform check for the Intel&reg; IoT Gateway" image-link="./views/labs/sensors-java/images/iss-add-gateway-platform-check.png">
              <p>Notice that this example checks to be sure on you running on a known platform.  Please update this by <b>replacing lines 137-144</b> with this new code.</p>

              <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">        Platform platform = mraa.getPlatformType();
        if (platform != Platform.INTEL_GALILEO_GEN1 &&
                platform != Platform.INTEL_GALILEO_GEN2 &&
                platform != Platform.INTEL_EDISON_FAB_C &&
                platform != Platform.INTEL_DE3815) {
            System.err.println("Unsupported platform, exiting");
            return;
        }<pre></ui-codemirror>
            </div>

            <div content-block name="iss-new-project-64" message="Modify example to use Firmata Offset" image-link="./views/labs/sensors-java/images/iss-java-offset.png">
              <p>If you are using an Arduino 101* that is attached to an Intel&reg; IoT Gateway with a USB cable then you are using Firmata and we need to modify this the GPIO pins with an offset.</p>
            </div>

            <div content-block name="iss-new-project-64" message="Click on the Problems tab and then open the Errors in the table displayed." image-link="./views/labs/sensors-java/images/iss-temperature-sample-errors.png">
              <p>Notice that there are some unresolved linker dependencies.  <b>This is because the UPM library is divided into smaller libraries, usually one library will correspond with a single sensor or actuator.</b></p>

              <p>UPM supports more than 300 types of sensors and actuators and it is an active open source project available on Github.</p>

              <p>Here is the link to the source code for <a href="https://github.com/intel-iot-devkit/upm">UPM on Github</a>.</p>
              <p class="alert alert-warning">The UPM source code repository has many <a href="https://github.com/intel-iot-devkit/upm/tree/master/examples">examples</a> for many sensors and actuators. Examples are given in C, C++, JavaScript, Java and Python.</p>
            </div>

            <div content-block name="iss-new-project-64" message="Go to the Project Properties" image-link="./views/labs/sensors-java/images/iss-new-project-properties.png">
              <p>Click on Project --> Properties</p>
            </div>

            <div content-block name="iss-new-project-64" message="Add the LCD Driver library to the project" image-link="./views/labs/sensors-java/images/iss-new-project-add-lib-after.png">
              <ol>
                <li>Go to <b>C/C++ General</b> --> <b>Paths and Symbols</b></li>
                <li>Then click on the <b>Libraries</b> tab.</li>
                <li>Click on the Add button that is to the right and type <b>upm-jhd1313m1</b></li>
                <li>Next, be sure to delete the upm-i2clcd driver</li>
                <li>Press <b>OK</b> until you are back at the main interface</li>
              </ol>
            </div>

            <div content-block name="iss-new-project-64" message="Clean and Build the Project" image-link="./views/labs/sensors-java/images/iss-new-project-build.png">
              <p>Clean and Build the Project</p>
            </div>

            <div content-block name="iss-new-project-64" message="Run the Temperature on LCD application" image-link="./views/labs/sensors-java/images/iss-new-project-run.png">
              <p>Click on the menu <b>Run --> Run</b></p>
            </div>

            <div content-block name="iss-new-project-64" message="Read the current temperature from you LCD screen" image-link="./views/labs/sensors-java/images/iss-new-project-lcd.jpg">
              <p>You now should have a program deployed to your Intel&reg; IoT Gateway.</p>
            </div>
          </div>

          <div ibox title="Additional resources">
              <p>For reference code for any sensor/actuator from the Grove* IoT Commercial Developer Kit, visit <a href="https://software.intel.com/en-us/iot/hardware/sensors">https://software.intel.com/en-us/iot/hardware/sensors</a></p>

              <h4>Grove Temperature Sensor</h4>

              <ul>
                  <li>
                      <a href="http://www.seeedstudio.com/wiki/Grove_-_Temperature_Sensor_V1.2" target="_blank">Seeed Studio Wiki: Grove Temperature Sensor</a>
                  </li>
                  <li>
                      <a href="http://iotdk.intel.com/docs/master/upm/node/classes/grovetemp.html#methods" target="_blank">UPM API - GroveTemp</a>
                  </li>
                  <li>
                      <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovetemp.js" target="_blank">UPM JavaScript example: Grove Temperature Sensor</a>
                  </li>
              </ul>

              <h4>Grove LCD RGB Backlight</h4>

              <ul>
                  <li>
                      <a href="http://www.seeedstudio.com/wiki/Grove_-_LCD_RGB_Backlight" target="_blank">Seeed Studio Wiki: LCD RGB Backlight</a>
                  </li>
                  <li>
                      <a href="http://iotdk.intel.com/docs/master/upm/node/classes/lcd.html#methods" target="_blank">UPM API - i2clcd</a>
                  </li>
                  <li>
                      <a href="http://iotdk.intel.com/docs/master/upm/node/classes/jhd1313m1.html#methods" target="_blank">UPM API - Jhd1313m1</a>
                  </li>
                  <li>
                      <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/jhd1313m1-lcd.js" target="_blank">UPM JavaScript example: RGB LCD</a>
                  </li>
              </ul>

              <h4>Accelerometer</h4>
              <ul>
                  <li>
                      <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/mma7660.js">UPM JavaScript example: Accelerometer</a>
                  </li>
                  <li>
                      <a href="http://www.seeedstudio.com/wiki/Grove_-_3-Axis_Digital_Accelerometer(%C2%B11.5g)">Seeed Studio Wiki: 3-Axis Digital Accelerometer</a>
                  </li>
              </ul>

              <h4>Rotary Angle Sensor</h4>
              <ul>
                  <li>
                      <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/groverotary.js">UPM JavaScript example: Rotary Angle Sensor</a>
                  </li>
                  <li>
                      <a href="http://www.seeedstudio.com/wiki/Grove_-_Rotary_Angle_Sensor">Seeed Studio Wiki: Rotary Angle Sensor</a>
                  </li>
              </ul>

              <h4>Grove Button</h4>
              <ul>
                  <li>
                      <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/grovebutton.js">UPM JavaScript example: Grove Button</a>
                  </li>
                  <li>
                      <a href="http://www.seeedstudio.com/wiki/Grove_-_Button">Seeed Studio Wiki: Grove Button</a>
                  </li>
              </ul>

              <h4>Grove Buzzer</h4>
              <ul>
                  <li>
                      <a href="https://github.com/intel-iot-devkit/upm/blob/master/examples/javascript/buzzer.js">UPM JavaScript example: Buzzer</a>
                  </li>
                  <li>
                      <a href="http://www.seeedstudio.com/wiki/Grove_-_Buzzer">Seeed Studio Wiki: Grove Buzzer</a>
                  </li>
              </ul>

              <h4>JavaScript Libraries</h4>
              <ul>
                  <li><a href="http://expressjs.com/starter/hello-world.html">Express Hello World</a></li>
                  <li><a href="http://momentjs.com/docs/">MomentJS</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
