<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Page Overview</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li>
            <a>Labs</a>
         </li>
         <li class="active">
            <strong>Video Performance Overview</strong>
         </li>
      </ol>
   </div>
</div>
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-12">
         <div ibox title="Video Performance Overview">
            <div content-block name="read-objectives" message="Read the Page Overview">
               <h2 class="labHidden">Video Performance Overview</h2>
               <p>Video Performance section is intended to demonstrate the enhancement of Video Performance using Intel&reg; tools and technologies.</p>
               <p>Why Video Performance Enhancement?
               <p>
               <p>Video Processing pipeline will have at least decode, pre-processing, post-processing, encode, etc., which are data and compute intensive tasks.
                  To improve the overall Video Processing performance, the individual subsystems have to leverage the complete computing capabilities of underlying hardware and related software.
                  Intel has come up with Hardware and Software optimizations. This section intends to use
                  <a href="https://software.intel.com/en-us/intel-media-server-studio">Intel&reg; Media Server Studio</a>
                  for Video Performance enhancement for visual retail use case.
               </p>
               <p>Intel&reg; Media Server Studio is a set of libraries, tools, header and sample code files that define cross-platform API for developing consumer
                  and professional grade media applications on Intel platforms. Providing an access to Intel&reg; Quick Sync Video, hardware accelerated codecs
                  in Intel&reg; Graphics Processor, Intel&reg; Media Server Studio allows application developer to speed up video playback, encoding, processing and media conversion.
                  Intel&reg; Media Server Studio for Windows helps to deliver desktop applications, such as video players, editors and video conferencing clients,
                  while Intel&reg; Media Server Studio for Embedded Linux enables digital security and surveillance and connected car manufacturers to deliver smart cameras
                  and infotainment or cluster display solutions.
               </p>
               <p>Hardware acceleration in Linux is supported by VA-API. Video Acceleration API (VA API) is a royalty-free API as well as its implementation as free and open-source library (libVA) distributed under the MIT License.
                  The VA API interface is to be implemented by device drivers to offer end-user software, such as VLC media player or GStreamer, access to available video acceleration hardware,
                  such as PureVideo (through the libva-vdpau driver, which implements VA API in terms of VDPAU) or Unified Video Decoder. The API enables and provides access to
                  hardware-accelerated video processing, using hardware such as graphics processing units (GPU) to accelerate video encoding and decoding by offloading processing from the central processing unit (CPU).
                  The VA API specification was originally designed by Intel for its GMA (Graphics Media Accelerator) series of GPU hardware with the specific purpose of eventually replacing the XvMC standard as the default Unix multi-platform equivalent of Microsoft Windows DirectX Video Acceleration (DxVA) API, but today the API is no longer limited to Intel-specific hardware or GPUs.
                  Other hardware and manufacturers can freely use this open standard API for hardware accelerated video processing with their own hardware without paying a royalty fee.
               </p>
               <p>This section starts with exploring and understanding the Media Server Studio related packages installed in your computer.
                  Then understand the customized applications such as sample decoder bundled with installation. </p>
               <p>By leveraging the power of Intel&reg; Media Server Studio, the data intensive computations are automatically executed in GPU thereby providing 60-70% performance enhancement.
                  This enchancement will be utilized further for Video Analytics in last section.
            </div>
         </div>
      </div>
   </div>
</div>
