<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Intel Commercial IoT Workshop Presentations</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <a>Presentations</a>
      </li>
    </ol>
  </div>

</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-6">

      <div class="ibox">
        <div class="ibox-title">
          <h5>Setup Development Environment</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <iframe src="https://docs.google.com/presentation/d/1XZ0b01kZLDNP4Z2bYaQXV5O3Xa1fDU_AkTCS0R1SStQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="ibox-footer">
            <!-- <span class="pull-right">
                The righ side of the footer
            </span>-->
            Learn how to Setup Your Development Environment to deploy IoT applications.
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Building Edge Sensors and Actuators</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <iframe src="https://docs.google.com/presentation/d/1cIjERQz-jS9ucSOgysO4u7CL9OGfiyty2xRCHWshdoc/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="ibox-footer">
            <!-- <span class="pull-right">
                The righ side of the footer
            </span>-->
            MRAA and UPM open source sensor and actuator libraries
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Protocols</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <iframe src="https://docs.google.com/presentation/d/1VlC6Vsdap21HEpFIueJEsGKeECyGesFvELJlRj0Sqy4/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Databases</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <iframe src="https://docs.google.com/presentation/d/1LSJvZNv7oi_UZz89S2PsRSPXyKgOAzsfPGf3d4DS8K4/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Automation</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <iframe src="https://docs.google.com/presentation/d/1i3Ky0e2zIYClRufxBb7ZH3WKh9ultS9ayebD05E8tjQ/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Security and the Internet of Things</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <iframe src="https://docs.google.com/presentation/d/1E5to4Az16Q2_FtSESDqwwittqAJf5718uAYlswfroAE/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
