<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel Commercial IoT Workshop Presentations</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <a>Presentations</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-6">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Introduction to the Intel&reg; IoT Gateway</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                  <iframe src="https://docs.google.com/presentation/d/1rEgzcCSUsJ2aIDx9qtZVy03yEpWwYLZIyNwcIy4yRgs/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Building Edge Sensors and Actuators</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                  <iframe src="https://docs.google.com/presentation/d/1cIjERQz-jS9ucSOgysO4u7CL9OGfiyty2xRCHWshdoc/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
                <!-- <div class="ibox-footer"> -->
                <!--     <span class="pull-right"> -->
                <!--         The righ side of the footer -->
                <!--     </span> -->
                <!--     This is simple footer example -->
                <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Databases and the IoT Edge Network</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                  <iframe src="https://docs.google.com/presentation/d/1LSJvZNv7oi_UZz89S2PsRSPXyKgOAzsfPGf3d4DS8K4/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>The Intel&reg; IoT Gateway Developer Hub</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                  <iframe src="https://docs.google.com/presentation/d/1Fbe-gjDHNC9l6LbTdwYz_B734vRcGqrEEnebJsQZ4JI/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
          <div class="ibox">
              <div class="ibox-title">
                  <h5>Application Protocols: MQTT and HTTP</h5>
                  <div ibox-tools></div>
              </div>
              <div class="ibox-content">
                <iframe src="https://docs.google.com/presentation/d/1VlC6Vsdap21HEpFIueJEsGKeECyGesFvELJlRj0Sqy4/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
              </div>
          </div>
      </div>

        <div class="col-lg-6">
          <div class="ibox">
              <div class="ibox-title">
                  <h5>Automation on the Edge Network</h5>
                  <div ibox-tools></div>
              </div>
              <div class="ibox-content">
                <iframe src="https://docs.google.com/presentation/d/1i3Ky0e2zIYClRufxBb7ZH3WKh9ultS9ayebD05E8tjQ/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
              </div>
            </div>
        </div>

    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Security and the Internet of Things</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
              <iframe src="https://docs.google.com/presentation/d/1E5to4Az16Q2_FtSESDqwwittqAJf5718uAYlswfroAE/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>The Helix Device Cloud</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
              <iframe src="https://docs.google.com/presentation/d/1nErBUx85hRGzkRH88Cx58Gvaai7q7tsTxvsrU03IBdA/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
          </div>
      </div>
        <!-- <div class="col-lg-6">
          <div class="ibox">
              <div class="ibox-title">
                  <h5>Data Analytics in the Cloud</h5>
                  <div ibox-tools></div>
              </div>
              <div class="ibox-content">
                <iframe src="https://docs.google.com/presentation/d/1U-E2Azn-eGM0THzuiHpKB-U-_oIgZ_9mk28s5PyxltA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>  </div>
              </div>
        </div> -->
    </div>
</div>

<!--     <div class="col-lg-12"> -->
<!--         <div class="ibox"> -->
<!--             <div class="ibox-title"> -->
<!--                 <h5>Example of constant height with scroll</h5> -->
<!--                 <div ibox-tools></div> -->
<!--             </div> -->
<!--             <div class="ibox-content"> -->
<!--                 <div slim-scroll box-height="160px"> -->
<!--                     <p> -->
<!--                         Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis -->
<!--                         dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, -->
<!--                         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. -->
<!--                         Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis -->
<!--                         dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, -->
<!--                         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. -->
<!--                         Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis -->
<!--                         dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, -->
<!--                         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. -->
<!--                     </p> -->

<!--                     <p> -->
<!--                         Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, -->
<!--                         rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis -->
<!--                         pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. -->
<!--                         Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis -->
<!--                         dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, -->
<!--                         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. -->
<!--                         Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis -->
<!--                         dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, -->
<!--                         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. -->
<!--                         Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis -->
<!--                         dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, -->
<!--                         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. -->
<!--                     </p> -->
<!--                     <p> -->
<!--                         Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, -->
<!--                         rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis -->
<!--                         pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. -->
<!--                     </p> -->
<!--                     <p> -->
<!--                         Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, -->
<!--                         rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis -->
<!--                         pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. -->
<!--                     </p> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->




<!-- <div class="row"> -->
<!--     <div class="col-lg-12"> -->
<!--         <div class="ibox"> -->
<!--             <div class="ibox-title"> -->
<!--                 <h5>Bootstrap Panels <small>Custom background colors.</small></h5> -->
<!--             </div> -->
<!--             <div class="ibox-content"> -->

<!--                 <div class="row"> -->
<!--                     <div class="col-lg-4"> -->
<!--                         <div class="panel panel-default"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 Default Panel -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
<!--                             </div> -->

<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-lg-4"> -->
<!--                         <div class="panel panel-primary"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 Primary Panel -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-lg-4"> -->
<!--                         <div class="panel panel-success"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 Success Panel -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <div class="row"> -->
<!--                     <div class="col-lg-4"> -->
<!--                         <div class="panel panel-info"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 <i class="fa fa-info-circle"></i> Info Panel -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
<!--                             </div> -->

<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-lg-4"> -->
<!--                         <div class="panel panel-warning"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 <i class="fa fa-warning"></i> Warning Panel -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-lg-4"> -->
<!--                         <div class="panel panel-danger"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 Danger Panel with Footer -->
<!--                             </div> -->
<!--                             <div class="panel-body"> -->
<!--                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p> -->
<!--                             </div> -->
<!--                             <div class="panel-footer"> -->
<!--                                 Panel Footer -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->

<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

<!-- <div class="row"> -->
<!--     <div class="col-lg-6"> -->
<!--         <div class="ibox float-e-margins"> -->
<!--             <div class="ibox-title"> -->
<!--                 <h5>Collaps panels</h5> -->
<!--                 <div ibox-tools></div> -->
<!--             </div> -->
<!--             <div class="ibox-content"> -->
<!--                 <div class="panel-body"> -->
<!--                     <div class="panel-group" id="accordion"> -->
<!--                         <div class="panel panel-default"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 <h5 class="panel-title"> -->
<!--                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a> -->
<!--                                 </h5> -->
<!--                             </div> -->
<!--                             <div id="collapseOne" class="panel-collapse collapse in"> -->
<!--                                 <div class="panel-body"> -->
<!--                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                         <div class="panel panel-default"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 <h4 class="panel-title"> -->
<!--                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a> -->
<!--                                 </h4> -->
<!--                             </div> -->
<!--                             <div id="collapseTwo" class="panel-collapse collapse"> -->
<!--                                 <div class="panel-body"> -->
<!--                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                         <div class="panel panel-default"> -->
<!--                             <div class="panel-heading"> -->
<!--                                 <h4 class="panel-title"> -->
<!--                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a> -->
<!--                                 </h4> -->
<!--                             </div> -->
<!--                             <div id="collapseThree" class="panel-collapse collapse"> -->
<!--                                 <div class="panel-body"> -->
<!--                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!--     <div class="col-lg-6"> -->
<!--         <div class="jumbotron"> -->
<!--             <h1>Jumbotron</h1> -->
<!--             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
<!--             <p><a role="button" class="btn btn-primary btn-lg">Learn more</a> -->
<!--             </p> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
