<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Schedule</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Schedule</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Intel Commercial IoT Workshop</h5>

                    <div ibox-tools></div>
                </div>

                <div class="ibox-content labs-timeline">

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-sign-in"></i>
                                8:30 am
                                <br/>
                            </div>
                            <div class="col-xs-7 content no-top-border">
                                <p class="m-b-xs"><strong>Doors open for Registration</strong></p>

                                <p>Register and the front desk and then come on in and enjoy breakfast.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                9:15 am
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Introduction to the Intel® IoT Gateway</strong></p>

                                <p>Learn about the Intel strategy for the Internet of Things market including the market opportunity, creating building blocks for scaling IoT deloyments, and the software developer program that will let you build and deploy custom solutions for your enterprise quickly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                10:00 am
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Building Edge Sensors and Actuators</strong></p>

                                <p>
                                    Go to shop and find some products.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-coffee"></i>
                                10:45 am
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                11:00 am
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Building Edge Sensors and Actuators (part 2)</strong></p>

                                <p>
                                  Create Actuators that are controllable by an Intel IoT Gateway
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-cutlery"></i>
                                11:45 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Lunch</strong></p>

                                <p>

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                12:30 pm
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Application Protocols HTTP and MQTT</strong></p>

                                <p>
                                   An overview of the protocols in common use with Internet of Things devices and deployments.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                2:00 pm
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>The IoT Gateway Developer Hub</strong></p>

                                <p>
                                   Learn and developer with administration interface that comes with the Intel IoT Gateway.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                3:00 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Databases at the Edge</strong></p>

                                <p>Deploy a database on the Intel IoT Gateway and use it to collect sensor data rom the edge network</p>
                            </div>
                        </div>
                    </div>


                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-coffee"></i>
                                3:30 pm
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                4:00 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Free Lab time and Questions</strong></p>
                            </div>
                        </div>
                    </div>


                    <h3>Day 2</h3>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                9:00 am
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Doors Open</strong></p>

                                <p>Come enjoy a light breakfast and get ready to code.</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                9:30 am
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Custom Administrative Interfaces</strong></p>

                                <p>Deploy a sample web application to act at the interface to your IoT system.</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                10:00 am
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Automation on the Edge Network</strong></p>

                                <p>Write a NodeJS based server to listen to MQTT and trigger events on the edge network.</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-cutlery"></i>
                                12:00 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Lunch</strong></p>

                                <p>

                                </p>
                            </div>
                        </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                1:00 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Security and the Internet of Things</strong></p>

                                <p>Learn to lock down your Intel IoT Gateway and ready it for field deployment</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-coffee"></i>
                                2:00 pm
                                <br/>
                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                2:15 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Data Analytics in the Cloud </strong></p>
                                <p>Reduce the data at the edge through intelligent calculations and then send data to the cloud and visualize</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                2:15 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Lab time and Questions</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-graduation-cap"></i>
                                3:30 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Fill out the Survey</strong></p>
                            </div>
                        </div>
                    </div>


                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-globe"></i>
                                4:30 pm
                                <br/>

                            </div>
                            <div class="col-xs-7 content">
                                <p class="m-b-xs"><strong>Finish Up the Day</strong></p>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
