<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Face detection using OpenCV</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <strong>Video Analytics</strong>
            </li>
            <li class="active">
                <strong>Face detection using OpenCV</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
      <div class="row">
        <div class="col-lg-12">

            <div ibox title="Objectives">
                <div content-block name="opencv_motion-objectives" message="Complete Objectives">
                    <h2 class="labHidden"></h2>
                    <h5>Lab Overview</h5>
                    <p>We have done motion detection in our previous module. We will find number of faces associated with that motion
                    </p>
                    <p>We will build upon our motion detection code and add face detection code in this module</p>
                    <p>We will be replacing those two TODOs with following</p>
                    <ul>
                        <li>instantiate a cascade classifier for the face</li>
                        <li>We will identify the faces using Haar cascade method</li>
                        <li>Finally we will count the number of faces in the frame</li>
                        <li>show the video</li>
                        <li>release resources</li>
                    </ul>
              </div>
            </div>
            <div ibox title="Load cascade files">

              <div content-block name="opencv_motion-newfile" message="Load cascade files">
                <h5>Load cascade file</h5>
                  <ol>
                <li>Open motion detection program</li>
                <li>go to first #TODO: Face Detection 1</li>
                <li>Paste the following line</li>
                <li><pre><code># the classifier that will be used in the cascade
faceCascade = cv2.CascadeClassifier('haar_face.xml')
</code></pre></li>
                       </ol>
              </div>
                </div>

            <div ibox title="Main part of the program">

              <div content-block name="opencv_motion-vid_display" message="Main part of the program">
                <h5>Begin the main video loop</h5>
                  <h5>Go to second #TODO: Face Detection 2 and replace with following code</h5>
<ul><li>Begin by reading the capture frame and converting it to grayscale<pre><code>            # the cascade is implemented in grayscale mode
            gray = cv2.cvtColor(frame2, cv2.COLOR_BGR2GRAY)

</code></pre></li>
<li>Now that we have the grayscale frame, we can apply a the Haar cascade to it.
    This is done by using the detectMultiScale method of the faceCascade<pre><code>            # begin face cascade
            faces = faceCascade.detectMultiScale(
                gray,
                scaleFactor=2,
                minSize=(20, 20)
            )
</code></pre></li>
		<li>
            Loop through the faces found by detectMultiScale and count the faces and put this number on video
			<pre><code>            facecount = 0
            # draw a rectangle over detected faces
            for (x, y, w, h) in faces:
                facecount = facecount + 1
                cv2.rectangle(frame2, (x, y), (x+w, y+h), (0, 255, 0), 1)
            cv2.putText(frame2, "No of faces {}".format(facecount), (50, 50), font, 1, (0, 0, 255), 1, cv2.LINE_AA)
</code></pre></li>
</ul>
                  <h5>Here is the complete while loop looks like (including motion detection). </h5>
                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">
while(True):
    _, frame3 = cap.read()
    rows, cols, _ = np.shape(frame3)
    cv2.imshow('dist', frame3)
    dist = distMap(frame1, frame3)

    frame1 = frame2
    frame2 = frame3

    # apply Gaussian smoothing
    mod = cv2.GaussianBlur(dist, (9,9), 0)

    # apply thresholding
    _, thresh = cv2.threshold(mod, 100, 255, 0)

    # calculate st dev test
    _, stDev = cv2.meanStdDev(mod)

    cv2.imshow('dist', mod)
    cv2.putText(frame2, "Standard Deviation - {}".format(round(stDev[0][0],0)), (70, 70), font, 1, (255, 0, 255), 1, cv2.LINE_AA)

    facecount = 0
    if stDev > sdThresh:
            # the cascade is implemented in grayscale mode
            gray = cv2.cvtColor(frame2, cv2.COLOR_BGR2GRAY)

            # begin face cascade
            faces = faceCascade.detectMultiScale(
                gray,
                scaleFactor=2,
                minSize=(20, 20)
            )
            facecount = 0
            # draw a rectangle over detected faces
            for (x, y, w, h) in faces:
                facecount = facecount + 1
                cv2.rectangle(frame2, (x, y), (x+w, y+h), (0, 255, 0), 1)
                cv2.putText(frame2, "No of faces {}".format(facecount), (50, 50), font, 1, (0, 0, 255), 1, cv2.LINE_AA)

</pre></ui-codemirror>
 <ul><li>Save the file</li>
    <li>Save haar cascade file using "Righ click > Save Link as" option <a href="./views/labs/analytics-opencvface/downloads/haar_face.xml" target="_blank">haar cascade file</a> and keep it at the same place as your python file</li><li>Press F5</li></ul></div>
                </div>

            <div ibox title="Here is the final solution">
              <div content-block name="opencv_motion-newfile" message="Here is the final solution">
                <h5>Here is the final code base including motion sensing</h5>
                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">import numpy as np
import cv2
#TODO: Cloud integration 1

cv2.namedWindow('frame')
cv2.namedWindow('dist')

# the classifier that will be used in the cascade
faceCascade = cv2.CascadeClassifier('haar_face.xml')

#capture video stream from camera source. 0 refers to first camera, 1 referes to 2nd and so on.
cap = cv2.VideoCapture(0)


triggered = False
sdThresh = 10
font = cv2.FONT_HERSHEY_SIMPLEX

def distMap(frame1, frame2):
    """outputs pythagorean distance between two frames"""
    frame1_32 = np.float32(frame1)
    frame2_32 = np.float32(frame2)
    diff32 = frame1_32 - frame2_32
    norm32 = np.sqrt(diff32[:,:,0]**2 + diff32[:,:,1]**2 + diff32[:,:,2]**2)/np.sqrt(255**2 + 255**2 + 255**2)
    dist = np.uint8(norm32*255)
    return dist

_, frame1 = cap.read()
_, frame2 = cap.read()
facecount = 0
while(True):
    _, frame3 = cap.read()
    rows, cols, _ = np.shape(frame3)
    cv2.imshow('dist', frame3)
    dist = distMap(frame1, frame3)

    frame1 = frame2
    frame2 = frame3

    # apply Gaussian smoothing
    mod = cv2.GaussianBlur(dist, (9,9), 0)

    # apply thresholding
    _, thresh = cv2.threshold(mod, 100, 255, 0)

    # calculate st dev test
    _, stDev = cv2.meanStdDev(mod)

    cv2.imshow('dist', mod)
    cv2.putText(frame2, "Standard Deviation - {}".format(round(stDev[0][0],0)), (70, 70), font, 1, (255, 0, 255), 1, cv2.LINE_AA)


    if stDev > sdThresh:
            # the cascade is implemented in grayscale mode
            gray = cv2.cvtColor(frame2, cv2.COLOR_BGR2GRAY)

            # begin face cascade
            faces = faceCascade.detectMultiScale(
                gray,
                scaleFactor=2,
                minSize=(20, 20)
            )
            facecount = 0
            # draw a rectangle over detected faces
            for (x, y, w, h) in faces:
                facecount = facecount + 1
                cv2.rectangle(frame2, (x, y), (x+w, y+h), (0, 255, 0), 1)
            cv2.putText(frame2, "No of faces {}".format(facecount), (50, 50), font, 1, (0, 0, 255), 1, cv2.LINE_AA)
    #TODO: Cloud integration 2
    cv2.imshow('frame', frame2)

    if cv2.waitKey(1) & 0xFF == 27:
        break

cap.release()
cv2.destroyAllWindows()

</pre></ui-codemirror>
              </div>
            </div>

        <div ibox title="References">
          <ul>
              <li>
                  <p><a href="http://docs.opencv.org/3.0-beta/doc/py_tutorials/py_tutorials.html" target="_blank">OpenCV-Python Tutorials</a></p></li><li>
                  <p><a href="https://pythonprogramming.net/loading-images-python-opencv-tutorial/" target="_blank">Opencv with Python</a></p>
              </li>
          </ul>
        </div>


      </div>
  </div>

        </div>
    </div>
</div>
