<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Introduction to the Intel® IoT Gateway</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Labs</a>
      </li>
      <li class="active">
        <strong>Introduction</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">

      <!-- Objective -->
      <div ibox collapse title="Objectives">
        <div content-block name="read-objectives" message="Read the Objectives">
          <p>Get off to a good start by making sure your computer, Intel® Edison, and Intel® IoT Gateway are ready for IoT development.</p>

          <p>By the end of this module, you should be able to:</p>

          <ul>
            <li>Connect to your Intel® IoT Gateway from your development computer</li>
            <li>Unbox and setup your Intel® Edison Hardware</li>
            <li>Connect to your Intel® Edison from your development computer using a serial connection.</li>
            <li>Connect your Intel® Edison to your Intel® IoT Gateway's hotspot</li>
            <li>Deploy an application to your Intel® Edison using the Intel® XDK</li>
          </ul>
        </div>
      </div>

      <!-- Login to your Intel IoT Gateway -->
      <div ibox title="Connect to your Intel® IoT Gateway from your development computer">
        <div content-block name="find-mac-address" message="Find your Gateway's MAC address" image-link="./views/labs/intro/gateway-mac-address.jpg">
          <labels edison xdk/>

          <p>Establish an SSH connection and login to your Intel® IoT Gateway using <span class="icon windows">PuTTY</span>.</p>
          <p>Check the side of your Intel® IoT Gateway. There is a tab located just next to the power jack. Pull on the tab to expose the gateway's product numbers and MAC address.</p>

          <div class="alert alert-warning" role="alert">
            <span>The last four characters of the MAC address will be used in the gatway's network SSID</span>
          </div>
        </div>

        <div content-block name="find-gateway-wifi" message="Connect to your Gateway's Wi-Fi Hotspot SSID" image-link="./views/labs/intro/wifi-name.png">

          <p>From your development computer, connect to your Gateway's network hotspot. It will start with the letters <b>IDPDK</b> and then end with the last four characters of your MAC address.</p>

          <div class="alert alert-info" role="alert">
            <p>The default password to your Wi-Fi network is <b>windriveridp</b></p>
          </div>
        </div>

        <div content-block name="find-gateway-wifi" message="Download and connect to your Gateway with a terminal client (PuTTY)" image-link="./views/labs/intro/download-putty.png">

          <labels gateway windows/>

          <div class="alert alert-warning" role="alert">
            <p>Windows does not come with a built-in terminal emulator so download and use the PuTTY client.</p>
          </div>

          <ol>
            <li>Visit the <a href="tp://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">PuTTY download page</a>.</li>
            <li>Under the "For Windows on Intel x86" heading, click on the "putty.exe" link to download the latest release version to your computer.</li>

            <li>Double-click <span class="icon file">putty.exe</span> on your computer to launch <span class="icon windows">PuTTY</span>.</p>
              <p>The IP address of the Intel IoT Gateway is <code>192.168.1.1</code>.</li>

            <li>You can login with the username <b>root</b> and the password <b>root</b>.</li>
          </ol>
        </div>

        <div id="next-steps" class="callout done">
          <p>You should now be logged into the Intel® IoT Gateway.</p>
        </div>
      </div>

      <!-- Unbox and Setup your Intel® Edison Hardware -->
      <div ibox collapse title="Setup your Intel® Edison Hardware">
        <labels edison></labels>

        <div content-block name="assemble-edison" message="Install the Intel Edison on Arudino prototyping board">
          <div class="alert alert-info" role="alert">
            <p>The Intel® Edison module is meant to be used with breakout boards or custom PCBs. You will need to secure your Intel® Edison module to the Arduino expansion board before you can use it.</p>
          </div>

          <ol>
            <li>
              <p>Place the Intel® Edison module within the white outline on the Arduino expansion board, lining up the holes on the Intel® Edison module with the screws on the expansion board.</p>
              <img class="img-responsive img-thumbnail" src="./views/labs/intro/place-edison.png">
            </li>
            <li>
              <p>Press down on the Intel® Edison module just below the words "What will you make?" until you feel a snap.</p>
              <img class="img-responsive img-thumbnail" src="./views/labs/intro/press-edison.png">
            </li>
            <li>
              <p>Use the two hex nuts to secure the module to the expansion board. Hand tighten (but not too tight) the hex nuts onto the two screws that protrude through the board.</p>
              <img class="img-responsive img-thumbnail" src="./views/labs/intro/nut-edison.png">
            </li>
          </ol>
        </div>

        <!-- Install the Spacers -->
        <div content-block name="install-spacers" message="Install the plastic spacers" image-link="./views/labs/intro/spacer.png">

          <p>To add stability to the expansion board and to help avoid accidental short circuits, attach the four plastic spacers supplied in your Intel® Edison box to act as "legs" for the expansion board.</p>

          <ol>
            <li>In one of the four holes in the corner of the Arduino expansion board, insert a screw through the top.</li>
            <li>Twist and tighten one of the white plastic spacers onto the screw. The spacer should be on the bottom of the expansion board to act as legs.</li>
            <li>Repeat for the remaining three screws and spacers.</li>
          </ol>
        </div>

        <div content-block name="connect-edison" message="Connect 2 USB cables between the Intel Edison and your development computer and boot the Intel Edison">

          <p>Connect your development computer to the Intel® Edison using the supplied micro-USB cables.</p>

          <ol>
            <li>
              <p>Connect your Intel® Edison to your computer as described below.</p>
              <img src="./views/labs/intro/connect-edison.png" />
              <ol>
                <li>(1) <strong>microswitch</strong> in "USB device mode" (i.e. toggled <strong><em>down</em></strong> towards the micro-USB ports)</li>
                <li>(2) <strong>device mode micro-USB cable</strong> plugged into your computer</li>
                <li>(3) <strong>UART/serial micro-USB cable</strong> plugged into your computer</li>
                <li>The Arduino expansion board for Intel® Edison can be powered via the DC power jack, the device mode micro-USB port, or both. This setup uses only a micro-USB cable for power.</li>
              </ol>
            </li>
            <li>
              <p>When your computer is plugged in you will see a green light.</p>
              <img src="./views/labs/intro/green-light.png"></img>
            </li>
            <li>
              <p>Wait one minute for the Intel® Edison to finish booting up.</p>
              <div class="alert alert-info" role="alert">
                <p><strong>How do you know when the board is ready?</strong></p>
                <p>You will know that the Intel® Edison is fully initialized when your computer mounts a new drive (much like inserting a SD card into your computer).</p>
              </div>
            </li>
          </ol>
        </div>
      </div>

      <!-- Setup your Intel® Edison Software -->
      <div ibox collapse title="Setup your Intel® Edison Software">
        <labels edison windows></labels>

        <div content-block name="download-software" message="Download the Intel® Edison Software Development Tools" image-link="./views/labs/intro/download-installer.png">
          <p>Go to the <a href="https://software.intel.com/en-us/iot/software/installers">software download page</a> for the Intel® Edison. The developer tools are available for Windows, MacOS and Ubuntu. Select the download that corresponds to your computer.</p>
        </div>

        <div content-block name="start-installer" message="Double-click on the installer file on your computer to begin installation." image-link="./views/labs/intro/installer-splash.png">
          <p>Start the installation process.</p>

          <div class="alert alert-warning">
            <p>Is the "Next" button greyed out?</p>
            <img src="./views/labs/intro/gray-button.png"></img>
            <p>The integrated installer is unable to detect your Intel® Edison. Ensure that the board is powered on and plugged into your computer via the device mode micro-USB port on the expansion board. Otherwise you will need to install the Windows drivers
              manually. Refer to Set Up Your Computer - Windows (manual).</p>
          </div>

        </div>

        <div content-block name="installer-options" message="Select the Intel Edison drivers and the Intel XDK development environment.">
          <p>The default settings can be adjusted to your needs, or leave the defaults as is.</p>
          <img src="./views/labs/intro/config-options.png"></img>
          <p>In the component selection screen, check the options you would like to install:</p>
          <ul>
            <li>Drivers: Installs the Intel® Edison drivers and FTDI serial drivers for Windows.</li>
            <li>Update image: Flashes the latest firmware image directly on your Intel® Edison. (Note: You will not be able to use this option until after you have installed the drivers. Re-run the integrated installer if you wish to use it to flash Intel®
              Edison firmware.)</li>
            <li>
              <div class="alert alert-info" role="alert">
                <p>You have the option to install several development environments. In this workshop, we will be using the Intel XDK.</p>
              </div>
            </li>
            </ol>
            <p>When done, click “Finish” to close the installation wizard.</p>
            <p>If there are any errors during installation, you will need to resolve them manually.</p>
        </div>

        <div content-block name="restart-computer" message="Restart Your Development Computer" image-link="./views/labs/intro/reset.png">
          <p>To ensure driver installation changes take effect, </b>reboot your Windows computer</b> at this point.</p>
          <p>Based on your version of Windows, select the option to fully shut down and restart your computer.</p>
        </div>

        <div content-block name="open-device-manager" message="Open Your Device Manager">
          <div class="row">
            <div class="col-sm-6">
              <p>Windows 7 and below:</p>
              <ol>
                <li>Open Start menu.</li>
                <li>Type “device manager” in the search field.</li>
                <li>Select "Device Manager" under "Control Panel"</li>
              </ol>
              <img src="./views/labs/intro/win7-device-manager.png"></img>
            </div>
            <div class="col-sm-6">
              <p>Windows 8:</p>
              <ol>
                <li>Go into Windows Desktop mode.</li>
                <li>Right-click on the Start menu button.</li>
                <li>Select "Device Manager".</li>
              </ol>
              <img src="./views/labs/intro/win8-device-manager.png"></img>
            </div>
          </div>
        </div>

        <div content-block name="confirm-composite-and-virtual-drivers" message="Confirm Intel Edison USB Composite Device and Intel Edison Virtual Com Port.">
          <p>In Device Manager, locate and toggle open <b>Ports (COM & LPT)</b>.</p>
          <img style="max-width: 400px" src="./views/labs/intro/comport.png"></img>
          <div class="alert alert-info">
            <p>The Intel® Edison drivers for Windows include several USB drivers in one installer package. These drivers enable important features, such as: </p>
            <ul>
              <li>Composite Device Class (CDC) for programming the board via the Arduino IDE,</li>
              <li>Remote Network Driver Interface Spec (RNDIS) for Ethernet over USB, and</li>
              <li>Device Firmware Upgrade (DFU) for updating firmware on devices.</li>
            </ul>
          </div>
          <p>Connect a micro-USB cable to the device mode micro-USB port of the Intel® Edison expansion board, and the other end to your computer.</p>
          <img src="./views/labs/intro/plug-it-in.png"></img>
          <div class="alert alert-success">
            <p>If you see both "Intel Edison USB Composite Device" and "Intel Edison Virtual Com Port" items show up in Device Manager under “Ports (COM & LPT)”, the drivers have been successfully installed.</p>
            <img style="max-width:50%" src="./views/labs/intro/coms.png"></img>
          </div>
        </div>

        <div content-block name="confirm-ftdi-drivers" message="Confirm installation of FTDI serial drivers">
          <p>
            FTDI CDM drivers allow your computer to communicate with USB serial devices, including the Intel® Edison.
          </p>
          <img src="./views/labs/intro/power.png" />
          <p>
            Power the Intel® Edison via the device mode micro-USB port and/or via the power barrel connector.
          </p>
          <img src="./views/labs/intro/plug-it-in2.png" />
          <p>
            Connect a micro-USB cable to the serial micro-USB port of the Intel® Edison and the other end to your computer.
          </p>
          <div class="alert alert-success">
            <p>If you see "USB Serial Port" show up in Device Manager under “Ports (COM & LPT)”, the drivers have been successfully installed.</p>
            <img src="./views/labs/intro/coms2.png" style="max-width: 50%" />
          </div>
        </div>
      </div>

      <!-- Connect to your Intel® Edison from your development computer using a serial connection  -->
      <div ibox collapse title="Connect to your Intel® Edison from your development computer using a serial connection">
        <labels edison windows></labels>
        <div content-block name="connect-edison-intro" message="Read the Introduction to Connecting to the Intel Edison">

          <p>This setup document will guide you through establishing a serial connection to either the Intel® Galileo or the Intel® Edison using a Windows computer. </p>

          <p>If you need to configure your IoT board, you will need to remotely connect to the Intel® Edison or Intel® Galileo. Once connected to your Intel® IoT board, you have access to the Linux-based Yocto operating system running on the board.</p>

          <p>You can then execute special Linux commands such:</p>

          <ol>
            <li>changing the hostname and password,</li>
            <li>setting up Wi-Fi, or</li>
            <li>flashing new firmware.</li>
          </ol>
        </div>

        <div content-block name="establish-a-serial-connection" message="Establish a serial connection and login to the shell">

          <div class="alert alert-info">
            <p>
              Use PuTTY to establish a serial connection to the IoT board using the COM # you noted in the previous Identify the COM port section.
            </p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <p>In PuTTY, double-check that you are in the "Session" screen.</p>
            </div>
            <div class="col-sm-6">
              <img src="./views/labs/intro/session.png" />
            </div>
          </div>

          <ol>
            <li>

            </li>

            <li>
              <p>Select the "Serial" radio button under "Connection type".</p>
              <img src="./views/labs/intro/serial.png" />
            </li>

            <li>
              <p>Specify the destination you want to connect to:</p>
            </li>

            <li>
              <p>Serial Line: use the COM # (e.g. “COM3”) noted in Identify the COM port</p>
              <ol>
                <li>Speed: use "115200" for the baud rate</li>
                <img src="./views/labs/intro/baud.png" />
              </ol>
            </li>

            <li>
              <p>Click “Open” to connect to the board.</p>
              <img src="./views/labs/intro/open.png" />
            </li>

            <li>
              <p>When you see a blank screen, press the Enter key. For Intel® Edison: press the Enter key again (so two times in total).</p>
              <img src="./views/labs/intro/type1.png" />
            </li>

            <li>
              <p>Once connected you will see a login prompt. Type in <b></b>root</b> for the username and press Enter.</p>
              <img src="./views/labs/intro/type2.png" />
            </li>

          </ol>

        </div>

        <div content-block name="run-first-edison-command" message="Run your first command on the Intel Edison">
          <p>You are now logged into your IoT board and can run shell commands.For example, in order to output the version number of the firmware running on your board:</p>
          <code>$ cat /etc/version</code>
        </div>
      </div>

      <!-- Establish serial connection using PuTTY -->
      <div ibox collapse title="Establish serial connection using PuTTY">
        <labels edison windows></labels>

        <ol>
          <li>
            <p>Open <span class="icon windows">Device Manager</span> and scroll down to the "Ports (COM &amp; LPT)" section.</p>
            <div class="side-by-side">
              <div class="left">
                <p><strong>Windows 7 and below:</strong></p>
                <ol>
                  <li>Open <span class="icon windows">Start</span> menu.</li>
                  <li>Start typing "device manager" in the search field. </li>
                  <li>Select "Device Manager" under "Control Panel"</li>
                </ol>
                <p><img src="./views/labs/intro/step3/image00.jpg"></p>
              </div>
              <div class="right">
                <p><strong>Windows 8:</strong></p>
                <ol>
                  <li>Go into <span class="icon windows">Desktop mode</span>.</li>
                  <li>Right-click on the <span class="icon windows">Start</span> menu button.</li>
                  <li>Select "Device Manager".</li>
                </ol>
                <p><img src="./views/labs/intro/step3/image09.png"></p>
              </div>
            </div>
          </li>

          <li>
            <p>Make a note of your <strong>COM #</strong> for the "<strong>USB Serial Port</strong>" device.</p>
            <p><img src="./views/labs/intro/step3/image_1.png"></p>
            <div class="callout warning">
              <p><strong>Do you have the right COM number?</strong></p>
              <p>Use the COM # shown in your <span class="icon windows">Device Manager</span>. In the screenshot, it is "COM3" but <strong>your</strong> computer will have unique COM port number assignments and may be different from the screenshot.</p>
              <p>Do <strong>not</strong> use the COM number for "Intel® Edison USB Composite Device" or "Intel® Edison Virtual Com Port".</p>
            </div>
          </li>

          <li>
            <p>Double-click <span class="icon file">putty.exe</span> on your computer to launch <span class="icon windows">PuTTY</span>.</p>
            <p><img src="./views/labs/intro/step3/image_4.png"></p>
          </li>

          <li>
            <p>In <span class="icon windows">PuTTY</span>, double-check that you are in the "Session" screen.</p>
          </li>

          <li>
            <p><img src="./views/labs/intro/step3/image_6.png"></p>
          </li>

          <li>
            <p>Select the "<strong>Serial</strong>" radio button under "Connection type".</p>
            <p><img src="./views/labs/intro/step3/image_7.png"></p>
          </li>

          <li>
            <p>Specify the destination you want to connect to:</p>
            <ul>
              <li>
                <p><strong>Serial Line</strong>: use the <strong>COM #</strong> noted previously in step #2 by using <span class="icon windows">Device Manager</span></p>
              </li>
              <li>
                <p><strong>Speed</strong>: use "115200" for the baud rate</p>
              </li>
            </ul>
          </li>
          <p><img src="./views/labs/intro/step3/image_9.png"></p>

          <li>
            <p>Click "<strong>Open</strong>" to connect to the board.</p>
            <p><img src="./views/labs/intro/step3/image_10.png"></p>
          </li>

          <li>
            <p>When you see a blank screen, <strong>press the Enter key.</strong></p>
            <p><img src="./views/labs/intro/step3/image_11.png"></p>
          </li>

          <li>
            <p>Once connected you will see a login prompt.</p>
            <p>Type in "<strong>root</strong>" for the username and press <strong>Enter</strong>.</p>
            <p><img src="./views/labs/intro/step3/image_12.png"></p>
          </li>

          <li>
            <p>You are now logged into your IoT board and can run shell commands!</p>
          </li>

        </ol>

      </div>

      <!-- Set Your Hostname and Connect Your Wi-Fi on the Intel® Edison -->
      <div ibox collapse title="Set Your Hostname and Connect Your Wi-Fi on the Intel® Edison">
          <ol>
            <li>
              <p>Set up your board using the <code>configure_edison</code> command with the <code>--setup</code> flag.</p>
              <p>You will use these credentials to connect to the board if you need to re-connect the serial connection, or program the board using the Intel® XDK in the next section of this workshop module.</p>
              <pre><code>configure_edison --setup</code></pre>
            </li>

            <li>
              <p>Follow the prompts to set the device password to be "<strong>intel123</strong>".</p>
            </li>

            <li>
              <p>Then follow the prompts to give your Intel® Edison device an easy to recognize name.</p>
            </li>

            <li>
              <p>When asked if you want to set up wifi, type "<strong>Y</strong>" and press Enter.</p>
            </li>

            <li>
              <p>The Intel® Edison will scan for Wi-Fi networks and display a list of available networks when finished.</p>
              <figure>
                <img class="img-responsive" src="./views/labs/intro/step3/image_13.png">
                <figcaption>If you do not see any networks, try re-scanning by entering "0", or run <code>configure_edison --wifi</code>.</figcaption>
              </figure>
            </li>

            <li>
              <p>Locate your Intel® IoT Gateway SSID in the list and enter the <strong>corresponding number</strong> in the prompt. Press Enter.</p>
              <p>To confirm your entry, type "<strong>Y</strong>" and press Enter.</p>
              <figure>
                <img src="./views/labs/intro/step3/image_14.jpg">
                <figcaption>In this example, to connect to "kafka" use the number “16”.</figcaption>
              </figure>
            </li>

            <li>
              <p>The network in this example requires a password. Your network might require other information. Enter the appropriate network credentials. Press Enter when finished.</p>
              <p><img src="./views/labs/intro/step3/image_15.jpg"></p>
            </li>

            <li>
              <p>The Intel® Edison will attempt to make a connection to the Intel® IoT Gateway.</p>
            </li>

            <li>
              <p>When you see a "Done" message, you are now connected to the Gatewaya Wi-Fi network.</p>
              <p><strong>Note the IP address.</strong> You will need it in <span class="icon bookmark">Deploy sample application with the Intel® XDK IoT Edition</span>.</p>
              <p><img src="./views/labs/intro/step3/image03.png"></p>
            </li>
          </ol>

          <div id="next-steps" class="callout done">
            <p>You should now understand how to gain shell access to your Intel® Edison. And your Intel® Edison should now be connected to your Intel® IoT Gateway.</p>
          </div>

      </div>

      <!-- Additional Resources -->
      <div ibox collapse title="Additional resources">
          <ul>
            <li><a href="putty/index.html">Troubleshooting &amp; Tips - Using PuTTY</a></li>
            <li><a href="xdk/index.html">Troubleshooting &amp; Tips - Intel XDK</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
